[2019-09-24 20:19] desigonz commented on #1924
Title conventions are in the style guide so closing this issue!

[2019-09-24 20:19] #1924 closed

[2019-09-24 20:26] desigonz opened #3041 "Place data model research"
### As a resident, I want information about a City building or site such as location, parking, services offered, and accessibility info, so that can easily navigate to services I need.

We're developing the new place content type (#2966). To develop the content type, we need to understand what the data model will entail, and how we can subgroup places into different categories.

- [ ] @toribr and

[2019-09-24 21:14] desigonz opened #3042 "Send APH pages for translation"
We have about 20 pages approved for publication! Let's get them translated.

[2019-09-24 21:15] desigonz opened #3043 "Draft APH pages in Joplin"
We have ~20 pages approved to publish. Let's draft them in Joplin to prep for publishing!

[2019-09-24 21:17] desigonz opened #3044 "Fit APH pages into the information architecture"
We have ~20 APH pages ready to publish. We need to fit them into the IA!

- [x] connect with @srigdon to develop a workflow for fitting things into the IA

[2019-09-24 21:18] desigonz opened #3045 "Address APH revisions"
We have about 10 pages that APH has done one round of review on. Let's revise them!

[2019-09-24 21:18] robbobfrh84 commented on #3035
Ready for review / debate: https://github.com/cityofaustin/joplin/pull/377

[2019-09-24 21:21] robbobfrh84 commented on #2892
@desi, assigned myself to 👉 #3039

[2019-09-24 21:22] anukandimalla commented on #3025
[Content Audit standardization Ideation](https://docs.google.com/document/d/1OR7upXbaIwLjuPe46NFbRT1FRjsUHxaTn2agvag7Ywo/edit?usp=sharing) Document and [New Audit Template ](https://docs.google.com/spreadsheets/d/1YR9lxL-RyPquYLCVwuBSjCbf9TIukTd-UTYLpYVX2N4/edit?usp=sharing)

[2019-09-25 12:48] desigonz commented on #2892
Hey @robbobfrh84—no need to work on #3039 this sprint, since it's unrelated to the guide content bug (just something I found and logged along the way). You can keep focusing on your sprint goal issues and then we can evaluate what you should pick up.

[2019-09-25 17:04] easherma commented on #3011
Also, it would be nice to clean up our messaging/get rid of the misleading heroku build errors that log on PRs, etc.

[2019-09-25 17:29] easherma opened #3046 "Come up with a plan to periodically audit IT costs for ODD"
I think we don't tend to prioritize cost concerns as a team, which makes sense, but it might also make sense to periodically dedicate a little bit of sprint time to checking on that, maybe every quarter or so.

This could be as simple evaluating what is running and cleaning up stuff that isn't needed or relevant anymore. This would help us stay organized in addition to keeping costs predictable an

[2019-09-25 19:41] ablangworthy27 commented on #2994
This is done

[2019-09-25 19:41] #2994 closed

[2019-09-25 20:21] desigonz commented on #3008
Soolin shared [central preparation facility registration](http://austintexas.gov/page/central-preparation-facility-registration) as an example of a Formstack form embedded in austintexas.gov.

[2019-09-25 20:42] desigonz commented on #2911
this is incorporated in #2668, closing this issue

[2019-09-25 20:42] #2911 closed

[2019-09-25 20:50] toribr commented on #2368
@desigonz Yes, agree that it's the lesser of two evils. :/

[2019-09-25 20:57] desigonz opened #3047 "Make it so timeouts don't break builds"
Timeouts broke builds when we added a lot of pages at a time on Joplin staging. This is going to get worse as we have more data. Let's fix it.

There is a specific page that seems to have broken data that's causing timeouts (https://github.com/cityofaustin/techstack/issues/3048). This will also happen once we have lots of pages.

We should investigate ways in which we can clean up inefficiencies i

[2019-09-25 21:12] briaguya opened #3048 "Make it so data doesn't break builds"
Describe the bug
There is a page with data that causes timeout issues when trying to build. Let's not let broken data do that to us.

URL

To Reproduce
@briaguya's going to try to get the build breaking branch to a point where I at least know what page is causing the issue so the bug is in a better spot for someone to try to fix it in the future.

Current behavior

Expected behavior

Screenshots

[2019-09-25 21:14] desigonz commented on #2996
@briaguya can this go to staging and then production soon?

[2019-09-25 21:30] desigonz opened #3049 "Heading levels in guides"
**Describe the bug**
Headings in guides are problematic—titles for pages that are dynamically getting pulled in are styling as H2, and so is the next heading level down. (See screenshot 3.) This makes sense on a standalone page, but not within a guide, which has two layers of headings above it—the guide title (H1), and the section title (which seems to be styling as an H1 but semantically doesn't

[2019-09-25 21:37] briaguya opened #3050 "Move prod data to staging automagically"
Right now it's not auto and it's not magic, let's make it both.

[2019-09-26 01:08] briaguya commented on #3048
Did a bit of digging, this one is still a bit of a mystery.

In this branch: https://github.com/cityofaustin/joplin/tree/fix-broken-builds
if you:
* load the backup data `RELOAD_DATA=on ./scripts/serve-local.sh`
* publish the page with the title "service with embedded google map"
* run a janis build against local joplin (easy way to do this now is just change the endpoints in the "build-local-ie"

[2019-09-26 10:31] #2897 closed

[2019-09-26 10:45] briaguya opened #3051 "Joplin - Improved copy for global pages checkbox"
https://github.com/cityofaustin/techstack/issues/2862 didn't have clear acceptance criteria for the copy on the global pages checkbox, we should get that cleared up and implement it.

From slack:

[2019-09-26 12:42] desigonz opened #3052 ""Pick up free paint" hyperlink"
**Describe the bug**
Hyperlink at the bottom of "Pick up free paint" doesn't go anywhere, let's fix it!

![image](https://user-images.githubusercontent.com/5839508/65688626-1319fb80-e031-11e9-8134-0de0093901ab.png)

**URL**
https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/recycling-reuse/pickup-free-paint/

[2019-09-26 13:07] briaguya commented on #3052
@desigonz looked at this on joplin prod and it seems like the content is right, but for some reason isn't working. I'm on it

[2019-09-26 13:19] briaguya commented on #3052
looks like the link is coming up as
[code]

my guess is that this somehow came about with the move to the new picker, but that's a hunch at best.

I've updated the link manually for now, I'll test it once Janis redeploys

[2019-09-26 13:34] briaguya opened #3053 "Janis/Joplin - Internal links in rich text fields don't work"
Joplin PR: https://github.com/cityofaustin/joplin/pull/408

Acceptance criteria
- [ ] link works
- [ ] link still works even if you change the topic the page is set to

**Describe the bug**
If we use the link option in a rich text field and set an internal link, the link doesn't work in Janis.

**To Reproduce**
1. Add a link to another page in a rich text field somewhere in Joplin.
2. Build janis

[2019-09-26 13:35] briaguya commented on #3052
fixed the instance in production, created a new issue to address the underlying bug: https://github.com/cityofaustin/techstack/issues/3053

[2019-09-26 13:45] easherma commented on #3051
In general for the long term, I’m not sure it makes sense to add an option to every page that only gets used for very few of them.

[2019-09-26 13:49] briaguya commented on #3051
@easherma it's hidden unless you're a super magic admin person (which we all are right now, but that can change)

[2019-09-26 13:53] desigonz commented on #3052
@briaguya Since this is working in production and you made the new issue, I'm going to close this.

[2019-09-26 13:53] #3052 closed

[2019-09-26 13:56] desigonz commented on #2996
QA complete, ready to go to prod

[2019-09-26 13:56] desigonz commented on #2862
QA complete, ready to go to prod

[2019-09-26 14:47] #2996 closed

[2019-09-26 14:47] #2862 closed

[2019-09-26 14:55] briaguya commented on #2892
looks like this has been in prod since noon yesterday:
@robbobfrh84 - have you done a quick check to make sure everything is working as expected in prod?
@desigonz is there anything else that needs to happen before we can close this out?

[2019-09-26 16:15] desigonz commented on #2892
@briaguya This one is good to close on my end. Not sure we can really check this one on prod because we haven't published a guide yet there.

[2019-09-26 16:15] desigonz commented on #2892
But it looked good in staging

[2019-09-26 16:56] #3018 closed

[2019-09-26 17:56] easherma commented on #2827
https://joplin-pr-2827-edit-page-heade.herokuapp.com/admin/login/ in progress

[2019-09-26 18:09] easherma opened #3054 "Merge language select + content tab"
Edit page header redesign specs required us to merge the functions of the language select with the first content tab

Research options
Try a couple approaches
Solicit feedback

[2019-09-26 19:12] Jo-Dwyer opened #3055 "Create topic page: Healthcare and prevention"
I'm not certain of how to flesh out this issue, but the information page "Basic services at neighborhood centers" will require this topic page.

[2019-09-26 19:48] toribr commented on #1941
![Screen Shot 2019-09-26 at 11 37 59 AM](https://user-images.githubusercontent.com/3790067/65719820-3ada8500-e06c-11e9-8514-8c4923fd166c.png)
I'm thinking the simplest solution would be to add a female/male radio on *the spanish* version only, because it's not needed anywhere but there. Presumably then, the author that was cutting/pasting the spanish translation would also need to make this select

[2019-09-26 20:45] anukandimalla commented on #3025
2nd Iteration of [Standardized Reference document ](https://docs.google.com/document/d/1OR7upXbaIwLjuPe46NFbRT1FRjsUHxaTn2agvag7Ywo/edit?usp=sharing)

[2019-09-26 20:46] #3025 closed

[2019-09-26 21:00] desigonz commented on #2827
Made a video using the new edit page header:
https://drive.google.com/open?id=1fqA9UHM6CipOQ3uIbnbBe7tLDiiCFY4e

Notes from @easherma on Slack:

I turned those into acceptance criteria to measure against:
- [ ] Minimize flash of unstyled content (I don't think I actually saw it though)
- [ ] Background color for language name and dropdown arrow should be the same
  - [ ] Both should be inactive wh

[2019-09-26 21:31] Jo-Dwyer opened #3056 "New topic page doesn't load preview"
**Describe the bug**
I created a new topic page as a draft in prod. Clicked preview; doesn't load. Clicked save as draft and preview; doesn't load.

https://alpha.austin.gov/en/preview/topic/UGFnZVJldmlzaW9uTm9kZToxNjQ4

**To Reproduce**

1. Go to joplin prod
2. Click on 'Chronic disease prevention'
3. Select 'preview'
4. See vast nothingness.

**Current behavior**
Page loads as a white blank page

[2019-09-26 21:33] toribr commented on #2827
You are correct. This prototype i made shows the correct interaction (no styling, tho.)
https://pirijz.axshare.com/#g=1&p=home&c=1
I don't have permission to view the video you made.

I don't think it makes much sense to worry about browser breakpoints with so much refactoring in our future. We should make sure it looks ok on laptops and bigger.

[2019-09-26 22:10] desigonz commented on #2827
Sounds good! @easherma, let me know if there is anything else you have questions about.

[2019-09-26 22:15] #2821 closed

[2019-09-27 02:12] briaguya commented on #2923
@chasechenevert @desigonz moving this to review, if we could get this QA'd here: https://deploy-preview-522--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide that'd be awesome!

dev note: PR here: https://github.com/cityofaustin/janis/pull/522

[2019-09-27 02:38] briaguya commented on #2972
PRs (WIP for now): https://github.com/cityofaustin/janis/pull/504, https://github.com/cityofaustin/joplin/pull/367

[2019-09-27 08:34] briaguya opened #3057 "Error when loading from datadump"
I'm not sure what's causing this, I made a PR (https://github.com/cityofaustin/joplin/pull/382) of a branch from a branch where the datadump gives us an error into one where everything's working.

Error:
[code]

[2019-09-27 08:38] briaguya commented on #2972
Added https://github.com/cityofaustin/techstack/issues/3057 as a blocker on this.

[2019-09-27 09:53] briaguya commented on #2962
@desigonz @toribr before putting time into investigating new scrolling packages right away, I'd like to see if what we have implemented here: https://deploy-preview-522--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide is good enough for MVP and we can put off coming up with a more flexible/complete solution til later.

[2019-09-27 11:30] briaguya commented on #3053
seems like we should probably be using https://docs.wagtail.io/en/v2.6.2/advanced_topics/customisation/rich_text_internals.html#rewrite-handlers for this, but I haven't figured out how to get that working nicely with graphene (it seems like it's not being used at all, although it's possible I just haven't figured out how to make it work yet)

[2019-09-27 13:19] #3042 closed

[2019-09-27 13:42] desigonz commented on #2962
It looks pretty good to be but I want to hear @toribr's opinion. The ease in is oddly slow, could that be made quicker with the existing package.

[2019-09-27 13:48] desigonz commented on #2923
Assigning @chasechenevert to QA on this one. I believe he's out of town today but will be in the office on Monday.

[2019-09-27 13:49] toribr commented on #2962
I have the same question. The carburetor needs adjusting. :)

[2019-09-27 14:32] Jo-Dwyer commented on #2977
This would also be great for "Get a copy of your immunization record"

[2019-09-27 14:41] Jo-Dwyer opened #3058 "Create mapped locations for St Johns and Far South Austin Health Clinics"
## In order to guide users through choosing a location for picking up records, I want to include maps of both locations: St Johns and Far South Austin Clinics.

* One option might be to create two new map options and embed them
* We could also embed a map with multiple locations on it.

[2019-09-27 15:31] robbobfrh84 commented on #2997
I just wanna make sure I didn't miss anything. We don't have any new styles for the Janis side of things. Correct? @desigonz ![Screen Shot 2019-09-27 at 10.30.51 AM.png](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/79cd5a4c-0815-45fe-8b35-60c30b0b7d29)

[2019-09-27 15:42] desigonz commented on #2920
OPO to deliver the rest of docs on Wednesday 10/2. Pushing this to sprint 41.

[2019-09-27 15:46] desigonz opened #3059 "ATD office hours"

[2019-09-27 15:58] desigonz commented on #2995
Waiting on Spanish translations

[2019-09-27 16:00] desigonz commented on #2849
- [ ] @ablangworthy27 to add documentation and then close issue

[2019-09-27 16:13] desigonz commented on #2933
Sara Peralta is working on the audit.

[2019-09-27 16:17] desigonz opened #3060 "Form workshop brainstorming"

[2019-09-27 16:27] #3055 closed

[2019-09-27 16:52] Jo-Dwyer commented on #3044
## Topic pages to create
### These are suggested topic pages to create, more or less.
- [ ] Healthcare and prevention
- [ ] Housing and utilities

[2019-09-27 16:53] desigonz commented on #2997
@robbobfrh84 No new styles, related info should appear as before!

[2019-09-27 17:07] Jo-Dwyer opened #3061 "Create contacts and locations for APH pages to link to"
## In order to guide users to service location, I want to include

### Locations

- [x] St Johns
- [ ] Far South Austin Clinics.

### Contacts

[2019-09-27 17:30] desigonz opened #3062 "Emails for contacts"
Currently, "Email" is a required field for Contacts in Joplin. As I am entering APH contacts, I've run into situations where there isn't an email address for the contact.

For now, I'm using austin311@austintexas.gov as a placeholder. But the whole thing brings up a lot of questions.

Possible solutions:
- Keep using 311 when there is no email
- Make email not required
- Dig in further with stakeh

[2019-09-27 18:54] toribr opened #3063 "Choose a page needs updating to fit current context"
![Screen Shot 2019-09-27 at 1.48.30 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/419c06fc-e32f-437d-b11a-9707656ae642)

Considerations:
- [ ] Label should be changed to match tasks
- [ ] Header should remain between all selections of type
- [ ] This first view of "home" will likely mean little to authors; probably should skip this and show next level down, ie, don't make t

[2019-09-27 19:25] Jo-Dwyer opened #3064 "Preview of new service page only partially loading"
**Describe the bug**
When I try to preview a new service page, only the title of the page displays.

**URL**
https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxNjc4

**To Reproduce**

1. Go to Joplin
2. Click on a service page like "Get tested for Sexually Transmitted Infections"
3. Click preview
4. See error

**Current behavior**
Preview pages partially loads with title, but non

[2019-09-27 19:48] desigonz opened #3065 "Guide anchor links needs slowing down—better solution"
In #2962, @briaguya implemented a CSS solution that creates a scrolling animation that takes user from the guide content they were on to the section they selected. It's okay enough for MVP, but the ease in is oddly slow, and we can't fix that with the existing solution.

Let's look into implementing a new library to achieve the ideal effect.

**Acceptance criteria**
- [ ] Ease in is faster—work wi

[2019-09-27 19:48] desigonz commented on #2962
Just messaged with @briaguya who clarified:

We have a few more pressing dev needs right now (like some of the P3 bugs and the ability to upload documents in Joplin), so let's split these into two issues, with the current CSS implementation as MVP and then the improved library solution (#3065) for next sprint.

[2019-09-27 19:54] #2962 closed

[2019-09-27 19:55] desigonz commented on #3061
We have these locations in Joplin:
![image](https://user-images.githubusercontent.com/5839508/65798257-d2a4a580-e136-11e9-80be-e075c579f6d4.png)

Do you mean creating maps for those?

[2019-09-27 19:56] Jo-Dwyer commented on #3061
It has since been clarified that what I needed was a combination of making and map-making. In this case, yes, I just needed maps and now I know how!

[2019-09-27 20:00] desigonz commented on #3058
Eventually the Places content type will allow us to do this, so I'm marking this as "content debt."  For now I think you have a few options:
- Include two contacts (on the right side of the page), one for each clinic
- Include two maps with our existing map component. The map component is currently less than ideal, though, and takes up a lot of real estate on the page. It might suffice just to hav

[2019-09-27 20:01] #3061 closed

[2019-09-27 20:19] desigonz opened #3066 "Topic page preview and live of same page look very different"
## DEV NOTES
The reason these aren't populated is because we manage topics from the pages, not vice versa. We have a couple of options here:
1. Just using Janis: add queries to get all pages to our getTopicPageRevisionQuery, add custom logic to filter out just the pages based on topic.
2. Using Janis and Joplin: Update Joplin queries for pages to support filtering by topic, add queries that filter

[2019-09-27 20:25] desigonz commented on #3056
Made a gif to illustrate what's happening:
![image](https://user-images.githubusercontent.com/5839508/65800025-113c5f00-e13b-11e9-803f-078481328861.png)

[2019-09-27 20:26] desigonz commented on #3056
oops now it works
![topic-preview](https://user-images.githubusercontent.com/5839508/65800056-2618f280-e13b-11e9-9a92-a63709bb22d5.gif)

[2019-09-27 20:37] Jo-Dwyer opened #3067 "New feature: Assign Info and Service pages to Topic Pages from within the Topic Page editor"
*Make sure to add the label "Content debt." If available, add the appropriate "Content type" or "Feature" label.*

https://joplin.herokuapp.com/admin/pages/203/edit/

**Have you documented this via the author notes field in Joplin?**
- [x] Yes!
- [ ] No, but I'll do it now

**Describe the content debt.**
Might be cool to be able to assign relevant service and info pages to the topic page in same w

[2019-09-27 20:49] desigonz commented on #2686
Something to consider: in #2827 we made it so that the various content drafts are split up by language under a dropdown.

Slugs are a non-content field that are not global, i.e. language-specific. They are housed in the SEO tab.
- [ ] decide how we should display other localization info that might be related to something like SEO

gif that shows english slug and then blank for the spanish slug
![l

[2019-09-27 20:50] desigonz commented on #2686
Note from @toribr:

[2019-09-27 20:53] desigonz opened #3068 "Page settings tab"
When editing a page in vanilla Wagtail, there is a tab that allows you to set when something will publish. We've hidden it for now.

- [ ] Do we want to surface this? Is this coming from a real user need/story?
- [ ] Would we need to add anything?

[2019-09-27 21:03] desigonz commented on #3067
Yes!! That will be covered in #2223

[2019-09-27 21:03] #3067 closed

[2019-09-27 21:56] desigonz opened #3069 "Phone number not appearing in preview"
**Describe the bug**
I made a new contact that includes a phone number and added it to a draft page, then previewed it. The contact shows up but not the phone number.

Not sure if this is an issue with preview (we know there are a lot of preview issues) or with the phone number data model (should I have entered "default" or something for the phone number?)

![image.png](https://images.zenhubuserco

[2019-09-27 22:11] easherma opened #3070 "Make language selection also navigate back to content tab"
Dropdowns do not typically also navigate to other parts of a page, so this is another piece of functionality needed to implement the new edit page header

Hoping to leverage/replicate the functionality that Wagtail already uses to handle tabs

**Acceptance criteria**
- [x] Interaction with dropdown from a non-content tab is as follows:
  1. Go to a non-content tab (ex. Notes)
  2. Click on drop-do

[2019-09-27 22:32] desigonz opened #3071 "Desi broke Janis staging builds 😬"
**Describe the bug**
I think I broke Janis staging builds again on a Friday afternoon 😬 I published the "Chronic disease prevention" topic page without giving a topic collection. Joplin staging still worked and I went back in and added a topic collection. But the Janis builds didn't work for these pages:
![image](https://user-images.githubusercontent.com/5839508/65805740-5c12a280-e14c-11e9-84f1-91

[2019-09-27 22:42] desigonz opened #3072 "Remove options section from info page"
**Describe the bug**
There is an options section on information pages, but it doesn't actually produce options in Janis. Seems like it's actually just the ability to add rich text block via streamfields.

**Acceptance criteria**
- [ ] For now, let's remove the options section. (We can decide to add it later if we find the need for it)
- [ ] We need to make sure no production pages are using the op

[2019-09-27 23:43] briaguya commented on #3071
should be fixed by https://github.com/cityofaustin/janis/pull/528

[2019-09-27 23:45] briaguya commented on #3071
quick rundown on what broke here:
If you add a topic to a topic collection, the topic collection page tries to build a card for it (with the topic title and links to pages under said topic)
We didn't have logic to handle a topic without any pages under it, so it broke.

[2019-09-28 00:01] briaguya commented on #3071
recklessly merged this all the way into prod, closing it

[2019-09-28 00:01] #3071 closed

[2019-09-28 00:08] briaguya opened #3073 "Janis - how to handle topics with no pages"
We had a broken build because we had a topic page with no pages under it (https://github.com/cityofaustin/techstack/issues/3071). This has been fixed so builds don't break, but it means we can't show the topic on the topic collection page unless the topic has pages under it.

I'm not sure that hiding the topic completely is the best course of action here, and we might want to come up with a differ

[2019-09-29 22:52] briaguya commented on #2972
@desigonz ready to get some eyes on this:
Joplin with document management:
http://joplin-pr-2972-change-datadump.herokuapp.com/admin/

Janis OPO docs page (replaced all doc links with temporary hosted doc): https://deploy-preview-504--janis.netlify.com/en/health-safety/police-oversight-2/police-feedback-and-records/official-complaint-and-discipline-documents

[2019-09-30 03:29] briaguya commented on #3037
@desigonz just tested this on prod and looks like everything is working as expected now. I'm moving it to QA and assigning you.

[2019-09-30 03:47] briaguya commented on #3072
Note if we want to add them back in the future: in order to use Janis to produce options in ways similar to "steps with options," we need to have both the "option name" and "option description" as opposed to just a rich text block.

This means we won't be able to benefit from doing a "let's just hide this field from authors, so when we want it back it's really straightforward" plan.

[2019-09-30 03:53] briaguya commented on #3023
not sure where this fits but we have https://github.com/cityofaustin/techstack/issues/2948 in "on deck" but it's blocked by https://github.com/cityofaustin/techstack/issues/2950 which really should include https://github.com/cityofaustin/techstack/issues/1891 so we're looking at a giant chunk of stuff here. This could use some thinking/talking about.

[2019-09-30 03:57] briaguya commented on #3064
I don't see any content here: https://joplin.herokuapp.com/admin/pages/198/edit/

Maybe there's something scarier going on?

[2019-09-30 03:59] briaguya commented on #3066
put a 5 on this because we don't have a good pattern for managing relationships between pages in previews.

we could probably skimp on it a bit and just get some better dummy data in there with a 2 or 3.

[2019-09-30 04:07] #3047 closed

[2019-09-30 04:07] briaguya commented on #3047
I'm closing this one, I'm not sure if timeouts are causing the issue, and it could be a giant timesink.  I think instead of doin a directionless dive into it, we should just focus on https://github.com/cityofaustin/techstack/issues/3048 and make new issues for anything root-causy that we find that could blow the scope on it.

[2019-09-30 04:12] briaguya commented on #3023
sounds like we should talk about this one (https://github.com/cityofaustin/techstack/issues/2843), probably can close it based on chase's comment but let's confirm in sync

[2019-09-30 06:07] briaguya commented on #2831
@desigonz this is on staging now.

[2019-09-30 06:07] briaguya commented on #2844
@desigonz this is on staging now

[2019-09-30 06:56] briaguya commented on #3048
it's on this branch now: https://github.com/cityofaustin/joplin/tree/3048-data-breaks-builds, accidentally deleted the last one and had to do a git fsck to find the dangling commit.

[2019-09-30 11:31] briaguya commented on #2513
Let's talk about building tests for this, I'm thinking:
* Tests around API specifically, when building out the API, we'll be able to define requests and expected responses, then write failing tests for those and make them pass (tdd ftw)
* Full end to end test, we should probably come up with a good dataset for a test db, then spin up joplin with that db and run a janis build against it, and make s

[2019-09-30 11:32] briaguya commented on #3048
I can no longer reproduce this issue. I'm going to close it. We should discuss ways to avoid this in the future, added a note to talk about testing strategies in the clean up models/api meeting.

[2019-09-30 12:45] desigonz commented on #2844
@briaguya Looks great, QA complete

[2019-09-30 12:46] desigonz commented on #2831
@briaguya looks great, QA complete

[2019-09-30 12:54] desigonz commented on #3064
@Jo-Dwyer had you entered any content on that page?

[2019-09-30 12:55] desigonz commented on #3066
@briaguya Interesting. Does this relate to other preview issues (#2473, #3069, #3056) or are they all separate things?

[2019-09-30 13:04] desigonz commented on #3037
@briaguya this is still happening for me:
![3037](https://user-images.githubusercontent.com/5839508/65881372-eaf40a80-e358-11e9-97c3-ac0da882b218.gif)

[2019-09-30 15:08] chasechenevert commented on #2923
This is looking good @briaguya. One thing I'm seeing: for bolded section labels that have at least 1 page within the section, the rule border value should be 0. This helps to relate the section label with the pages within that section.

<img width="683" alt="Screen Shot 2019-09-30 at 10 06 20 AM" src="https://user-images.githubusercontent.com/7027270/65891397-0adffa00-e36a-11e9-98a3-622c1e5f87ca.p

[2019-09-30 15:48] desigonz commented on #3023
@briaguya re: your comment on #2948/#2950/#1891: now that we have the hardcoded privacy policy, I don't see #2950 (content manageable footer links) as a blocker to #2948 (dark nav style). I've updated the dependency. But I'm also going to weigh the priorities on these against other issues.

[2019-09-30 15:48] toribr commented on #3008
Using GA in iframes:
https://support.google.com/analytics/answer/1012049?hl=en

[2019-09-30 15:51] desigonz commented on #3023
@briaguya added #2843 to the list, thanks for bringing it up!

[2019-09-30 16:04] desigonz commented on #2972
@briaguya This looks great. What's our process going to be to get the documents online? I want to manage OPO's expectations on this—so if there's going to be a period when the documents aren't available, I want to let them know what the expect and when we'll have them online.

[2019-09-30 16:08] Jo-Dwyer commented on #3064
@desigonz yes

[2019-09-30 17:02] chasechenevert commented on #2614
## Problem statement
In Spanish, themes with long titles are breaking to 3 lines at responsive breakpoints. This stacking causes the theme bar stretch vertically way, looks awkward next to themes with fewer words in the title.

## Solution
- [ ] Line-spacing from 2.8rem to 2rem
- [ ] 768 < 1080 breakpoint: font-size reduced to 1.4rem. This will at least reduce the number of line breaks.
- [ ] alig

[2019-09-30 17:09] desigonz opened #3074 "Improve GlobalNav leading"
## Problem statement
In Spanish, themes with long titles are breaking to 3 lines at responsive breakpoints. This stacking causes the theme bar stretch too much vertically, and looks awkward next to themes with fewer words in the title.

## Solution
- [x] Line-spacing from 2.8rem to 2rem
- [x] 768 < 1080 breakpoint: font-size reduced to 1.4rem. This will at least reduce the number of line breaks.
-

[2019-09-30 17:11] desigonz commented on #2614
Thanks @chasechenevert! Made #3074 with acceptance criteria for dev. Can you give this issue a size and then close it? Just want to make sure we're properly estimating our effort.

[2019-09-30 17:15] #2614 closed

[2019-09-30 17:34] chasechenevert commented on #2993
[Spreadsheet: Places model research](https://docs.google.com/spreadsheets/d/1CX6g504QM1LPhizY8mQ079RLpGr_14qffMOoFjU-TJw/edit#gid=1920159143)
This is the spreadsheet that we've created to develop an overview of the data types present on these pages. Huge shoutout to @ablangworthy27 for taking the baton; feeling good about what we've got!

[2019-09-30 18:07] desigonz opened #3075 "Neighborhood centers irregular hours"
*Make sure to add the label "Content debt." If available, add the appropriate "Content type" or "Feature" label.*

**What is the URL?**
https://joplin.herokuapp.com/admin/snippets/base/contact/16/
https://joplin.herokuapp.com/admin/snippets/base/contact/15/
https://joplin.herokuapp.com/admin/snippets/base/contact/18/
https://joplin.herokuapp.com/admin/snippets/base/contact/17/

**Have you document

[2019-09-30 18:12] easherma commented on #2930
https://joplin-pr-2827-edit-page-heade.herokuapp.com/  should have no language bracket labels anywhere

[2019-09-30 18:12] easherma commented on #3054
Live in https://joplin-pr-2827-edit-page-heade.herokuapp.com/

[2019-09-30 18:12] easherma commented on #3070
Can be QA'ed as part of https://joplin-pr-2827-edit-page-heade.herokuapp.com/

[2019-09-30 18:26] desigonz opened #3076 "STD clinic irregular hours"
*Make sure to add the label "Content debt." If available, add the appropriate "Content type" or "Feature" label.*

**What is the URL?**
https://joplin.herokuapp.com/admin/snippets/base/contact/13/

**Have you documented this via the author notes field in Joplin?**
- [ ] Yes!
- [ ] No, but I'll do it now
- [x] Can't because it's a snippet!

**Describe the content debt.**
The STD clinic has irregula

[2019-09-30 18:41] chasechenevert opened #3077 "Design pin-up"
## Agenda
- [x] Simple form style requirements #3008
  - [x] Take a look at the examples, do we have any concerns we need to look into, or guidance to provide?
  - [x] Forms in Guides
- [x] Feedback component into Janis 2 #1840
  - [x] Decide on 1. open field, 2. yes/no buttons and open field
- [x] "Places" and Google maps conversation #2993

## Notes
**Simple form style requirements**
For now we

[2019-09-30 18:43] briaguya commented on #3037
ah, @desigonz I  was checking the wrong links, I'll move this back

[2019-09-30 18:43] #2892 closed

[2019-09-30 18:44] easherma commented on #2999
https://github.com/cityofaustin/joplin/pull/371 merged this to staging, and its in prod now (i believe)

[2019-09-30 18:44] #2999 closed

[2019-09-30 18:54] easherma opened #3078 "Control visible tabs with django-feature flags"
as part of edit page header

[2019-09-30 18:59] briaguya commented on #2948
@desigonz just want to confirm, this now just covers:
- [ ] Change styles so it matches XD
- [ ] Hardcode links to socials

[2019-09-30 19:27] easherma commented on #2931
https://joplin-staging.herokuapp.com/admin/snippets/base/theme/1/ <--- see for an example of how snippets function currently when registered as a translations

I haven't done this yet, but I'd want to double check:
* how those fields are exposed in GraphQL and can therefore be used in janis
* what a reverse lookup along those model relationships would like like (this is mostly a dev thing, but und

[2019-09-30 19:30] easherma commented on #2991
Is this assuming we also are narrowing documents down by collections?

We'll need to see what metadata is exposed to the document list template. If we're lucky, this is a field that we have easy access to in the template, in which case its just a matter of overriding default in a similar way we do for pages, which wouldn't take much work at all.

[2019-09-30 19:30] #3057 closed

[2019-09-30 19:32] easherma commented on #2998
Might be good to have some scoping on what we mean by backup, and what risk we are trying to mitigate.

I.E. Is it important to have a copy somewhere besides Amazon s3? Or is it more about preventing accidental deletion of items? Who would have access to the backup? Are there any legal/policy restrictions we need to know about in terms of snapshotting data?

[2019-09-30 19:48] easherma commented on #2929
It sounds like there won't be a _ton_ of use cases for this, and that designating certain fields as non-translatable is still something the dev team will handle (mainly by just not registering them for translations and defining the field on the model where it will be used).

With those assumptions, I agree with what @briaguya said; we should be able to add a classname to those specific fields and

[2019-09-30 19:50] desigonz commented on #3008
- [ ] @desigonz to get embed code from Formstack so we can play around with it

[2019-09-30 19:53] easherma commented on #2581
I think the estimate for this should be higher. We're introducing some non-standard behavior that could mess with Wagtail's routing a bit, and we'll want to make sure we can override parts of the search template without also affecting searches that happen elsewhere, and stuff like the issue Desi mentions above.

[2019-09-30 19:54] easherma commented on #2668
Making them collapsible is easy; making the title of the collapsible area dynamically be the rendered date is going to be harder.

[2019-09-30 19:59] desigonz commented on #3028
https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/household-waste/hazardous-waste-dropoff

[2019-09-30 20:01] desigonz commented on #3008
What happens when a form is in a guide?

[2019-09-30 20:11] easherma commented on #3049
Could we add URLs here for the pages and guides we're using as examples here?

[2019-09-30 20:13] Jo-Dwyer opened #3079 "Only first of multiple contacts are visible on Information page"
**Describe the bug**
In preview mode, only the first contact selected is showing up on the right side of the information page

https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxNzMw

**To Reproduce**

1. Go to 'Job search help at neighborhood cneters'
2. Notice multiple contacts selected
3. Click on 'preview'
4. See only the top contact selection shown on the preview page.

*

[2019-09-30 20:20] #2843 closed

[2019-09-30 20:24] desigonz commented on #1840
- Include browser/device info

[2019-09-30 20:34] annieszot commented on #3059
- [x] Follow-up email to include links to resources mentioned and "Know your user" questions. Closing!

[2019-09-30 20:34] #3059 closed

[2019-09-30 21:11] desigonz commented on #2929
Backlogging because not a lot of use cases for this right now.

[2019-09-30 21:17] #2831 closed

[2019-09-30 21:25] briaguya commented on #2972
note for getting into prod, just uploaded all of the existing OPO docs on prod using document uploads.

Which is which:
[code]

[2019-09-30 21:28] briaguya commented on #3053
gave this an 8 because:
<img width="796" alt="Screen Shot 2019-09-30 at 4 27 42 PM" src="https://user-images.githubusercontent.com/6384156/65918436-447f2800-e39f-11e9-9226-cbd8e93c1021.png">

[2019-09-30 21:31] briaguya commented on #3069
probably some weird preview logic with parsing phones, not sure, worth digging around and seeing if there's something scary causing it

[2019-09-30 21:34] briaguya commented on #3056
looks like an error with building topic pages in preview, maybe a cleandata thing

[2019-09-30 21:35] briaguya commented on #3032
@easherma is this something the generic chooser can help with?

[2019-09-30 21:37] briaguya commented on #3039
put a 5 on this because it looks like they are getting the blue background but IE is terrible with CSS always and it'll possibly lead to a large css refactor job.

[2019-09-30 21:39] briaguya commented on #3074
the styles here might be kinda fragile, so I'm giving it a 3

[2019-09-30 22:06] desigonz opened #3080 "Dev-design sync 10/15"
- [ ] Navigating to guides from pages and topics
  - [ ] designs TK
- [x] #2581 Joplin main page mock. (*I believe Bob picked up this issue—is there anything you want to review with the design team?*)
  - When you sort a column, the page reloads to our listing page, not the search page. That's problematic from a UX perspective. Dev team, how would you size that fix?
  - Let's review acceptance cri

[2019-09-30 22:06] #3023 closed

[2019-09-30 22:15] desigonz commented on #3069
Interesting—it's working in staging for me
![image](https://user-images.githubusercontent.com/5839508/65920831-db4ee300-e3a5-11e9-9cb6-77564c104d12.png)
Janis preview link: https://janis.austintexas.io/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxNjg2
Joplin staging link: http://joplin-staging.herokuapp.com/admin/pages/198/edit/

[2019-09-30 22:17] desigonz commented on #3069
And actually now the contact name isn't appearing 🤦 Not sure if it's the same thing, I can submit a new bug issue if we need to.

![image](https://user-images.githubusercontent.com/5839508/65920896-0f2a0880-e3a6-11e9-86be-fd888bdc2ed1.png)

contact snippet (Joplin): http://joplin-staging.herokuapp.com/admin/snippets/base/contact/11/

[2019-09-30 22:28] easherma opened #3081 "Make parts of edit page wait for javascript before loading"
Right now language filters (and maybe other stuff), runs on the DOM after its loaded. It looks kinda bad and jerky. Perhaps we can have it load more elegantly.

[2019-09-30 22:31] desigonz commented on #2991
Narrowing docs by collection is already happening:

![download-collection-filter](https://user-images.githubusercontent.com/5839508/65921496-04707300-e3a8-11e9-8da2-d04740c40f97.gif)

Let's keep this issue just limited to adding author name.

[2019-09-30 22:31] desigonz commented on #2991
Wondering @Niicck if you could explain why you size this one an 8?

[2019-09-30 22:34] easherma commented on #694
I had an idea about this while customizing the edit page.

We could 'abuse' the expired attribute:
https://github.com/wagtail/wagtail/blob/43cce16b187d54d2051482208d19c60d6969e566/wagtail/core/models.py#L296

This is meant to be used for scheduling, where you can schedule when a page is to be published and unpublished. So you could set an unpublish date to 'archive' something, or we could have a c

[2019-09-30 23:10] briaguya opened #3082 "Janis/Joplin - make guide previews"
looks like we never really implemented this at all, sounds like we should do that.

[2019-10-01 00:40] annieszot commented on #3059
- [x] Follow-up email to include links to resources mentioned and "Know your user" questions

[2019-10-01 02:39] briaguya commented on #2972
this is live and working on prod now

[2019-10-01 02:39] #2972 closed

[2019-10-01 02:40] briaguya commented on #2844
this is on prod now

[2019-10-01 02:40] #2844 closed

[2019-10-01 05:12] briaguya commented on #2923
@chasechenevert updated it, putting this back in QA:
test guide: https://deploy-preview-522--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/test-a-guide/
food vendor guide: https://deploy-preview-522--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/

<img width="365" alt="Screen Shot 2019-09-30 at 11 55 55 PM"

[2019-10-01 06:02] briaguya opened #3083 "Janis - clean up links"
* Reduce copypasta
* Create a reusable wrapper or maybe
* figure out the I18nLink component and see if it can be recycled

This is mostly because I know we have internal links scattered around using i18n link in some spots and react-static link in some other places and some copypasta'd logic to make sure everything works everywhere and it'd be nice to clean up and consolidate.

[2019-10-01 06:16] briaguya commented on #3037
@desigonz fixed on staging, added you for QA

[2019-10-01 10:19] briaguya commented on #2948
@desigonz @chasechenevert adding you to this and moving it to QA.

check it here: https://deploy-preview-532--janis.netlify.com/

[2019-10-01 10:21] #3035 closed

[2019-10-01 11:43] briaguya commented on #3074
@desigonz this is up here: https://deploy-preview-534--janis.netlify.com/

adding you and moving to review

[2019-10-01 12:45] briaguya commented on #3069
@desigonz the contact name isn't appearing here either https://alpha.austin.gov/en/health-safety/police-oversight-2/police-feedback-and-records/file-a-complaint-about-an-austin-police-officer

There's no contact name in XD either https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/ce9e7492-b75b-472c-9dab-98d7bd1843ba/Template-Service-desktop

[2019-10-01 13:11] desigonz commented on #3069
Woahhhh you're so right. I'll double check with design and contact on that one.

[2019-10-01 13:16] desigonz commented on #3074
Assigning @chasechenevert to review. Can you review against your full acceptance criteria? One thing I noticed: Acceptance criteria mentions top alignment but then the mock doesn't show it (my bad for not catching that earlier).

[2019-10-01 13:25] briaguya opened #3084 "Janis/Joplin - Improve previews"
Thoughts:
* There will be quite a bit of preview refactoring work to do when we move to Joplin 3.
* Getting related info from a page revision involves quite a bit of Joplin API work.
* If we build guide previews we'll probably get a better sense of how we're trying to do all this stuff.

[2019-10-01 13:28] briaguya commented on #3066
@desigonz seems like previews are a thing, I made an epic for it and jotted down some thoughts https://github.com/cityofaustin/techstack/issues/3084

[2019-10-01 13:32] briaguya commented on #3056
@desigonz this is up [here](https://deploy-preview-535--janis.netlify.com/en/preview/topic/UGFnZVJldmlzaW9uTm9kZToxNjQ4)

To quote [my PR](https://github.com/cityofaustin/janis/pull/535) -
## What this does
* Make it so topic page previews load, and title/description can be previewed

## What this doesn't do
* Make it so we don't use dummy data to populate page links in the preview

[2019-10-01 13:34] desigonz commented on #2948
@chasechenevert Can you do a quick pass on the visual design, and check for breakpoints?

@briaguya I ran the footer through accessibility tools. For the social icons, thoughts about wrapping them in a `<ul>` and adding `aria-label` for the links?

![image](https://user-images.githubusercontent.com/5839508/65966250-7509a500-e425-11e9-8e2e-424da6b5d0e8.png)

[2019-10-01 13:40] desigonz commented on #3037
@briaguya Ugh sorry, I had never finished filling out acceptance criteria. This is fixed for when you click the name of the topic, but not when you click "learn more." Acceptance criteria above is updated.

![url-topic](https://user-images.githubusercontent.com/5839508/65967382-1e9d6600-e427-11e9-8d87-f16954ec8e77.gif)

[2019-10-01 13:43] desigonz commented on #2923
Looks good! I think it's ready to go.

[2019-10-01 13:48] briaguya commented on #2975
I'm pretty sure this got taken care of with the hosted docs stuff. I'm going to close it, if we run into an issue around where things are going in s3 I think we're in a decently good place to diagnose it.

[2019-10-01 13:48] #2975 closed

[2019-10-01 13:51] #2816 closed

[2019-10-01 14:47] desigonz commented on #3001
From @briaguya:

[2019-10-01 15:27] desigonz commented on #2827
Assigning @toribr to review. Compile feedback here, and then I'll work on dividing feedback into different issues based on what's needed to merge this new feature versus what to do in the coming sprints.

Tori, here are a few things I'm noticing:

The style change for the "Live" and "Draft" buttons is also affecting the buttons on the main content listing page. Left is this new PR branch; right is

[2019-10-01 15:48] #2923 closed

[2019-10-01 15:49] Jo-Dwyer commented on #2331
Text has been added but I cannot for the life of me figure out how to add markdown in order to include the table.

[2019-10-01 15:51] briaguya commented on #3072
@desigonz this is on joplin staging now

[2019-10-01 16:13] #3037 closed

[2019-10-01 17:07] chasechenevert commented on #1840
# Pin-up notes and next steps
Looking at options of 1. an open text field, or 2. a yes/no question and then an open text field, we've decided that we want to **make it as easy as possible for residents to submit any kind of feedback** and we think that a yes/no answer is more useful than none at all. If residents want to provide a more detailed response they'll have the ability to do so, but it wo

[2019-10-01 17:30] toribr opened #3085 "Constraining visibility/access to content by author's department"
### As an author within a particular department, I want to only see content that is relevant to me, so that I can more easily access my content.

- [ ] As a city author, I would only be able to view/edit pages and content (documents/images) that belong to my department.
- [ ] In the case of guides, I need to be able to access pages from other departments via the page picker

Assumptions:
 - [ ] Ea

[2019-10-01 17:33] #3077 closed

[2019-10-01 17:46] chasechenevert commented on #3028
Took a quick look at this to see what the margin/padding/border values are and it's looking like there's a total of 180px of spacing between the steps and the map, and we want to get this down to 60px of spacing between the steps and the map. I'm not sure what the best route would be to achieve this (via bottom margin/padding, top and bottom margin/padding, just margin, just padding, idk).

**Step

[2019-10-01 18:00] toribr commented on #2827
-[  ] remove radius on first tab {border-radius: 3px 3px 0px 0px;}
- [  ] make hover not exceed bar
![Screen Shot 2019-10-01 at 12 53 04 PM](https://user-images.githubusercontent.com/3790067/65987417-5f0edb00-e44b-11e9-98ed-366b8b99abfe.png)

[2019-10-01 18:24] #2987 closed

[2019-10-01 19:32] desigonz commented on #3072
This looks good. I just went through Joplin prod and put any content that was entered via the "options" section into the "Write additional content" section.

[2019-10-01 21:46] briaguya commented on #2948
updated https://deploy-preview-532--janis.netlify.com/

 I added the aria-labels but didn't wrap the social icons in a list. I know if I do that I'll need to fight against some styling, so if it's good enough without the `<ul>` then I'd like to avoid that.

Questions for @desigonz:
* Is wrapping the social links in a `<ul>` required?
* What should the text for each aria-label be?

[2019-10-01 22:04] desigonz commented on #2948
Text for aria-labels can be simply: Facebook, Instagram, LinkedIn, Twitter, YouTube.

I'd not 100% on the `<ul>` for social links—I've gotten that feedback in the past when working with an accessibility consultant on a website redesign, but maybe we don't need it. And honestly I'm not sure who we would run it by to determine the best approach—maybe fellow devs or @chasechenevert?

[2019-10-01 22:09] #3072 closed

[2019-10-01 22:12] desigonz opened #3086 "<ul> for social icons in footer"
Do we need to wrap the social icons in the footer in a `<ul>` for accessibility? Or any other considerations?

[2019-10-01 22:30] desigonz commented on #2853
duplicate of #3084

[2019-10-01 22:30] #2853 closed

[2019-10-01 22:35] desigonz commented on #3084
Brian explained a lot of things to me on Slack and I'm adding here for posterity:

[2019-10-01 22:43] robbobfrh84 commented on #3064
I am only seeing the title of the page with the link provided (https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxNjc4)

When I got to Joplin...

- click "Get tested for..."
- click *Preview*

... here I do get the content in this case.

![Oct-01-2019 17-41-36.gif](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/c33e726a-bb0a-4d56-87fd-39d4c8232a86)

The link from t

[2019-10-01 22:45] desigonz opened #3087 "Style fixes for edit page header"
Follow-up to #2827 where we implemented the redesigned edit page header. Let's fix these style issues:

- [x] Center language name within first tab minus the divider/arrow part (I guess it's currently centering across the whole tab; I would expect it to center between the left most edge of the tab and the divider)
- [x] remove radius on first tab {border-radius: 0px 0px 0px 0px;}
- [x] make button

[2019-10-01 22:49] desigonz commented on #2961
looks great!

[2019-10-01 22:50] robbobfrh84 commented on #3081
I'd like to look into this. What's a good way to reproduce the effect here?

[2019-10-01 22:54] desigonz commented on #2827
Acceptance criteria for pushing this to production:
- [ ] No flash of "content" in the tab before it changes to "English" (see gif above)
- [ ] When page title breaks to two lines, the tab row still displays as expected
- [ ] Share button generates clipboard link as expected

Waiting on @toribr to share thoughts on the new "live" button style, which is also affecting the main page.

Also made this

[2019-10-01 22:55] briaguya commented on #2961
in prod

[2019-10-01 22:55] #2961 closed

[2019-10-01 23:07] briaguya commented on #2827
@desigonz I think the flash of "content" is related to this: https://github.com/cityofaustin/techstack/issues/3081

@easherma confirm?

[2019-10-02 01:46] desigonz commented on #3064
Thanks for the screengrab @robbobfrh84! I'm not able to replicate either. Closing this issue.

[2019-10-02 01:46] #3064 closed

[2019-10-02 04:18] easherma commented on #2827
@briaguya correct! It also happens when we actually filter out the languages, even on prod right now if you watch closely or have a slow loading page, you can see all the language fields before they are hidden.

[2019-10-02 04:38] easherma commented on #3084
+1 to the above
![](https://giphy.com/gifs/WHByqMWMonVMQ/html5)

[2019-10-02 05:40] briaguya commented on #3054
@desigonz are the acceptance criteria for this a part of #2827?

[2019-10-02 05:43] briaguya commented on #3070
@desigonz are the acceptance criteria for this a part of #2827?

[2019-10-02 06:05] briaguya commented on #3087
@desigonz this is up here: http://joplin-pr-3087-stylish-header.herokuapp.com
it includes:
cityofaustin/techstack#2827
cityofaustin/techstack#3078
cityofaustin/techstack#2930

[2019-10-02 13:32] briaguya commented on #3029
might be able to mix this in with https://github.com/cityofaustin/techstack/issues/3053

[2019-10-02 13:33] briaguya commented on #3053
looks like we might be able to override this in drafttail http://docs.wagtail.io/en/v2.6.2/advanced_topics/customisation/extending_draftail.html

[2019-10-02 13:50] desigonz commented on #3070
@briaguya yep!

[2019-10-02 13:50] desigonz commented on #3054
@briaguya yep

[2019-10-02 13:52] desigonz commented on #3087
Hey @briaguya, looks great. The one thing I noticed is that now the arrow section of the language tab doesn't have the hover highlight color. I'm totally cool with that but want to run it by @toribr first.

Tori, let's take a look at it together at the office today.

Here's a GIF comparing the two PR branches:
![3087-button](https://user-images.githubusercontent.com/5839508/66049901-de56ea00-e4f1-

[2019-10-02 14:52] briaguya commented on #2930
@easherma even though we covered some of this, we don't know all the acceptance criteria is covered, so we're putting it back in the backlog for now

[2019-10-02 14:52] #3054 closed

[2019-10-02 14:53] #3070 closed

[2019-10-02 14:57] briaguya commented on #3078
this doesn't seem to break anything in the header redesign branch so I'm closing it out

[2019-10-02 14:57] #3078 closed

[2019-10-02 15:05] Jo-Dwyer opened #3088 "Two-step confirmation for publishing"
### As a content publisher I want a two step confirmation for publishing edits on live pages that I really want to save for review so that I don't accidentally publish it.

**Is your feature request related to a problem? Please describe.**
I made changes on several live pages yesterday and realized later on that I had inadvertently published all of them rather than saving as a draft.

**Describe t

[2019-10-02 16:39] #3056 closed

[2019-10-02 16:59] desigonz opened #3090 ""Meet our director" change on department pages"
**Acceptance criteria**
- [ ] English: Change hardcoded "Meet our director(s)" to "Leadership"
- [ ] Spanish: Change hardcoded "Conozca nuestra directora" to "Liderazgo"

![image](https://user-images.githubusercontent.com/5839508/66064542-351ced80-e50b-11e9-94d7-5bdc95d1e5af.png)

[2019-10-02 17:10] anukandimalla commented on #2524
@desigonz done content inventory and analysis and link for the inventory and analysis
https://docs.google.com/spreadsheets/d/1xAGQjkqeywcH_7gYKREammjoWq8tkt2PK7t47XJ2yJE/edit?usp=sharing

[2019-10-02 17:11] anukandimalla commented on #2524
@desigonz Ready for Review

[2019-10-02 17:13] toribr commented on #3087
@briaguya I'd rather have a misaligned hover than no hover at all.

[2019-10-02 17:27] #2827 closed

[2019-10-02 17:27] #2930 closed

[2019-10-02 17:35] #2331 closed

[2019-10-02 17:55] #3074 closed

[2019-10-02 18:03] #3087 closed

[2019-10-02 20:14] toribr opened #3091 "Navigation header should match navigation"
**Acceptance criteria**
- [ ] [Main content listing page](http://joplin-staging.herokuapp.com/admin/pages/3/) is titled "Pages" (instead of content)

![Screen Shot 2019-10-02 at 12 54 53 PM](https://user-images.githubusercontent.com/3790067/66078374-86d37100-e527-11e9-8de0-06a4fc97b14b.png)
These two titles ("pages" & "content") have gotten out of sync, which is somewhat confusing. Please make "co

[2019-10-03 01:07] briaguya commented on #3048
re-opened this because it just hit on staging

[2019-10-03 01:27] briaguya opened #3092 "Janis build breaks when publishing a guide with a missing page"
**Describe the bug**
Guides can be published with unselected pages, when this happens it breaks the janis build.

**To Reproduce**

1. Go to joplin
2. Make a guide page
3. Add a section without a page
4. Hit publish

**Current behavior**
Page publishes, Jans build breaks.

**Expected behavior**
- [x] Page under section is required to publish and save page
- [ ] Test what happens when:
  1. you add

[2019-10-03 06:55] matthewbarron commented on #2922
This is ready to be closed. My apologies on not looping back to confirm this with you.

[2019-10-03 12:01] #2922 closed

[2019-10-03 12:15] briaguya opened #3093 "Janis - too many pages under any given topic/department breaks the build"
Our logic in static.config.js is leading to out of memory errors as we copy a bunch of page objects around.

This is definitely not an ideal way to handle this. I was able to mitigate a bit of the issue by using [really fast deep clone](https://github.com/davidmarkclements/rfdc) instead of `JSON.stringify(JSON.parse())` in topics, but that didn't fix the issue when it came to departments.

I think

[2019-10-03 12:29] desigonz commented on #3092
@briaguya Can we make adding the first page under a section required (can't save the page without it, with of course error messaging to indicate that)? Would that solve the problem, or no?
![image](https://user-images.githubusercontent.com/5839508/66126650-95fe0180-e5af-11e9-8032-001c3081ee71.png)

Similar to what happens when you try to add an official document without filling out the required fi

[2019-10-03 13:58] briaguya opened #3094 "Janis - Guide page TOC breaks when too tall"
## NOTES FOR QA
PR: https://github.com/cityofaustin/janis/pull/609
App link: https://janis-3094-guide-toc-2.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/#Get-inspected

### In order to work correctly (noted as sometimes/never/always):
 * when a user scrolls:
   * the current section appears "selected" in the TOC (Brian's testing: **sometimes

[2019-10-03 14:00] briaguya opened #3095 "Janis - Topic pages with lots of children look terrible on desktop"
**Describe the bug**
They're tiles and go off the screen for larger screen sizes (breakpoints 1080px and up).

**Acceptance criteria**
- [ ] Matches [mocks](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/19c5f0cc-e878-4ff1-946a-7a8a56b5b637/Template-Topic-desktop)
- [ ] Max 3 tiles in a row, which on mocks occupy the first 10 columns (left to right) or 964px

**URL**
ht

[2019-10-03 14:49] ablangworthy27 commented on #2849
## Digital forms guide

- This guide is more theoretical/best practice than instructional. I have started to think about ways to use this in conjunction with Joplin instructions (for the far future when we have users)

## Orlando Service Design Academy - important takeaways that are currently not being practiced by COA in drupal or PDF forms

- Create intentional dead ends for users who do not qua

[2019-10-03 14:50] #2849 closed

[2019-10-03 14:54] annieszot commented on #3026
Done!
-Next, meet to debrief and make issues for follow-ups. Closing!

[2019-10-03 14:54] #3026 closed

[2019-10-03 14:58] annieszot opened #3096 "Publish Tech Selection Toolkit Medium post"
**To-dos before publishing**

[So, you wanna publish a Medium post?](https://docs.google.com/document/d/1KMFASGEiuEkWKdo4jeOmHZOfc02LKVsPiapxvD3IpkU/edit#heading=h.5zkr43xy0rg3)
<br>**Substance**<br>
Show what we did and how we did it:
- [ ] Lessons learned
- [ ] Research
- [ ] Implications
<br>**Content checklist:**<br>
- [ ] Refers to personas
- [ ] Quotes (1+)
- [ ] Photo or graphic (1+)
<br>**

[2019-10-03 15:02] annieszot opened #3097 "Civic Future Funshop debrief, follow-ups"
- [x] @annieszot schedules debrief meeting
- [x] @annieszot @srigdon @anukandimalla share reflections, takeaways, [questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?usp=sharing_eil&ts=5d97bd4e), and Anu's notes
- [x] @annieszot make issues on follow-ups

Start of follow-up list:
- [x] @annieszot sends follow-up email with survey and deck
- [x] @anniesz

[2019-10-03 15:16] chasechenevert commented on #2596
Here's the default for the MVP. I'm going with a simple line-art style that's simple and clean, and I've added in an accent color to start introducing a little variation within the monochromatic palette we have so far. Long-term I'd like to create something more bespoke for Alpha, and working through this gave me some ideas for the future.

![Guide_default image_draft 1png-24](https://user-images.

[2019-10-03 15:16] #2596 closed

[2019-10-03 15:33] easherma commented on #3092
Gave this a tentative estimate, depending on the underlying cause and acceptance criteria for a fix.

[2019-10-03 15:38] kriskristin opened #3098 "User research CTA page"
### As a resident interested in participating in research with ODD I want an easily findable sign up form so that I can participate in research with ODD.

We will likely be promoting sign ups in Spanish for user research with ODD via video. Currently we gather participant via a google form but the URL will not work for a video segment.

**Ideally we would:**
- Create something similar to [Mass.gov

[2019-10-03 15:40] kriskristin commented on #3098
@srigdon @annieszot Could either of you let me know the process to get a Spanish translation?
Also, what is the usual turn around for translations?

[2019-10-03 15:49] kriskristin commented on #3098
We could also embed the html from the form in the page so we aren't sending people away. See it work in [codepen](https://codepen.io/kriskristin/pen/Rwwbpym). Might look hacky though.

[2019-10-03 15:52] easherma opened #3099 "Feature flags causing a goofy build error"
We added django-flags in https://github.com/cityofaustin/techstack/issues/3078

This is good

But there is a goofy error where migrations for django-flags were being prevented from running when loading data for the first time.

I added some specific error handiling to catch this so it dosen't break builds, so we are good for now.

However, we should investigate, understand the error, and prevent i

[2019-10-03 16:03] desigonz commented on #3095
We'll need this pretty soon—assigning @chasechenevert to clarify design for topic page tile behavior.

[2019-10-03 16:05] desigonz commented on #3094
Assigned @chasechenevert to flesh out expected behavior/acceptance criteria

[2019-10-03 16:08] #2587 closed

[2019-10-03 16:50] annieszot commented on #3098
@kriskristin we have a "[How to get docs translated](https://docs.google.com/document/d/1vGsq17-a1Ho9gjkVBUiTNnPLsrGPkLfWKP7gPv5kpJ8/edit#heading=h.xbik72h24d7a)" doc! Ask questions that you have anytime :)

[2019-10-03 17:04] chasechenevert commented on #1840
I think this is ready for Dev now, but please review and let me know @desigonz
- Mocks for desktop and mobile show the full flow with both answers
- Dev criteria has been updated, but since this flow has a few different states I want to be sure dev has everything they need

[2019-10-03 17:22] desigonz opened #3100 "Help CTM with hiring"
- [x] advise on coding exercise for Drupal 🍝
- [x] review position description

Looking for: Past experience with Drupal and PHP, Drupal transitions, styling (can you write CSS?), do you know about responsive design and accessibility.

Exercise: Make sure they can do something that's responsive. Designs of how this is how it should look like on desktop/tablet/mobile, ask them to make it responsive

[2019-10-03 17:24] kriskristin opened #3101 "Review content for the user research page"
We need this page to go through the editorial process.
[Help test the City of Austin's new website](https://docs.google.com/document/d/1EJYp96A_Taf7A6ncutRIxwcjgDfGNaW6jTaZlOdjVUE/edit?usp=sharing)

Most of this is just copied over from [content I wrote for civiqueso](https://medium.com/civiqueso/help-test-the-city-of-austins-new-website-1d405c660fd4). But as I am looking at it, we might need to m

[2019-10-03 17:25] briaguya opened #3102 "Joplin - POC custom link chooser for rich text fields"
let's prove we can do it!

[2019-10-03 17:37] #2993 closed

[2019-10-03 17:38] chasechenevert commented on #2948
Sorry for this last minute catch, but we need to shift two color values for accessibility compliance.
- Placeholder "Coming soon text should be" `#A3A3A3`
- Link hover color: `#AACDEC`

[2019-10-03 17:39] #2995 closed

[2019-10-03 17:43] desigonz commented on #2908
@briaguya to work with @chasechenevert on figuring out full specs

[2019-10-03 17:46] toribr opened #3103 "Drafts for new "place" page designs: single place view, multiple places page, using content from service page and department page."
Objectives:
- As an resident, I want to be able to easily view where I can obtain a service
- As a resident, I want to be able to see details about a location's accessibility, hours, parking, and other issues which may effect my ability to obtain a service.

Artifacts:
- [ ] Comps using real-world service content for single "places" page
- [ ] Comp using real-world content for mulitple location pl

[2019-10-03 17:46] chasechenevert commented on #2908
More examples:
- https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/compost-food-waste/compost-pickup
- https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/recycling-reuse/trash-recycling-pickup
- https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/recycling-reuse/pickup-free-paint

[2019-10-03 17:46] briaguya commented on #3065
`scroll-behavior: smooth;` is all we have in there rn

[2019-10-03 17:53] desigonz opened #3104 "Prioritize MVP previews"
@desigonz to work with content strategists to determine exactly which preview things we prioritize

[2019-10-03 17:58] toribr opened #3105 "Task label should match user action"
The language used on the button should match the task the author is doing, in this case:

Choose another topic, not Choose another page
![Screen Shot 2019-10-03 at 12.56.16 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/e255be3b-182b-416e-86e2-3366808fbfb2)

(Similarly, if "edit" button does not match, but not-displaying this button is a better solution than changing the but

[2019-10-03 18:01] easherma opened #3106 "Memo for location/place content type"
Did some research on:
Syncing locations with google
How we might split up data related to location and what a POC would look like for alpha

Should put this into a memo or other good form of communication

[2019-10-03 18:19] briaguya commented on #2908
@chasechenevert so for the `<li>` part:

Just make sure we have space below any list items in "Write any additional content describing the service" on service pages.

So we don't run into:
<img width="583" alt="Screen Shot 2019-10-03 at 1 13 32 PM" src="https://user-images.githubusercontent.com/6384156/66152933-26543a80-e5e0-11e9-8ce7-ba25e21c79d1.png">

At this point since we're using lists all o

[2019-10-03 18:43] briaguya commented on #3090
@desigonz this is here: https://deploy-preview-543--janis.netlify.com/en/police-oversight/

[2019-10-03 19:42] robbobfrh84 commented on #2997
PR UP:
- Janis: https://github.com/cityofaustin/janis/pull/541
- Joplin: https://github.com/cityofaustin/joplin/pull/383

- Deployed: https://deploy-preview-541--janis.netlify.com/

NOTE: you'll need to create new `Top Services` and `Department Links`
* Use `alpha.austin.gov` to duplicate what's on prod.

[2019-10-03 19:44] Jo-Dwyer opened #3107 "Consider limiting formatting types in rich text boxes"
## As a content editor I want to limit or control formatting in a rich text box so that I can easily maintain consistency of header use and formatting on the pages I manage.

### Issue description ###
#### Format issues ####
Published pages are showing several layers of formatting which may be holdover formatting from draft pages in other platforms.
#### Control issues ####
Currently an author can

[2019-10-03 20:52] desigonz commented on #3090
Beautiful! QA complete.

[2019-10-03 21:02] desigonz commented on #2908
@briaguya I believe this needs to be across the board for any content from a rich text block— @chasechenevert would you agree? If so, Brian, how would you estimate refactoring those styles?

[2019-10-03 21:04] desigonz opened #3108 "Footer navigation style for a11y"
We missed some accessibility things for the dark footer

**URL**
alpha.austin.gov

**Acceptance criteria**
- [x] Placeholder "Coming soon" text should be `#A3A3A3`
- [x] Link hover color: `#AACDEC`

[2019-10-03 21:05] desigonz commented on #2948
Since this is already in prod, I made a new issue for this: https://github.com/cityofaustin/techstack/issues/3108

Closing this one

[2019-10-03 21:05] #2948 closed

[2019-10-03 21:09] desigonz commented on #3098
Converting this into an epic and will file individual tasks under it!

[2019-10-03 21:25] desigonz opened #3109 "Draft user research CTA page"
### As a resident interested in participating in research with ODD I want an easily findable sign up form so that I can participate in research with ODD.

- [ ] @kriskristin to draft page

Once the page is ready, move this issue into the "review" column.
- [ ] Assign a content strategist for first editorial review. (Feel free to ping the team on Slack and ask someone if they can pick it up. Once t

[2019-10-03 21:27] desigonz opened #3110 "Translate user research CTA page"
### As a resident interested in participating in research with ODD I want an easily findable sign up form so that I can participate in research with ODD.

- [x] Send the page out for translation
- [x] Once translations are back, enter into Joplin

Note: translation tends to take around a week.

"[How to get docs translated](https://docs.google.com/document/d/1vGsq17-a1Ho9gjkVBUiTNnPLsrGPkLfWKP7gPv

[2019-10-03 21:33] #3090 closed

[2019-10-03 21:33] desigonz opened #3111 "User research CTA links on homepage and footer"
### As a resident interested in participating in research with ODD I want an easily findable sign up form so that I can participate in research with ODD.

**Acceptance criteria**
- [x] let's go ahead and expose SEO tab in edit
- [x] due to #3199, let's manually update these slugs
  - [x] English page slug: `/feedback`
  - [x] ~~Spanish page slug: `/realimentacion`~~ backlogging this for now since

[2019-10-03 21:41] desigonz commented on #2508
We presented on this at the 10/3 sprint review. Putting this in the backlog for standardizing later.

[2019-10-03 21:47] #3048 closed

[2019-10-03 21:50] desigonz opened #3112 "Acceptance criteria for style guide"
#2254

[2019-10-03 21:53] desigonz commented on #3044
Per sprint planning, @srigdon and @Jo-Dwyer to meet on 10/7 to talk IA and make some decisions.

[2019-10-03 21:55] desigonz opened #3113 "Triage APH blockers"
**Objective**
Triage APH blockers including preview bugs that are preventing us from sharing APH pages with stakeholders.

**Participants**
@Jo-Dwyer @desigonz

**Agenda**

------
- [x] Schedule meeting
- [ ] Meet
- [ ] Create resulting issues

[2019-10-03 22:02] desigonz opened #3114 "ARR approvals next steps"
**Objective**
Meet with Marni and develop a strategy for ARR approvals next steps

**Participants**

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [ ] ~Create resulting issues~

[2019-10-03 22:03] #2817 closed

[2019-10-03 22:04] briaguya commented on #2908
![Screen Shot 2019-10-03 at 5.04.10 PM.png](https://images.zenhubusercontent.com/5afb42ab4b5806bc2bd34c32/794db188-d892-42f4-97a9-489af9565b23)

another spacing thing

[2019-10-03 22:13] #3093 closed

[2019-10-03 22:14] #2988 closed

[2019-10-03 22:17] desigonz opened #3115 "Navigation research share out"
**Objective**
Share out nav research

**Participants**
@kriskristin and the team

**Agenda**

------
- [x] Schedule meeting
- [ ] Meet
- [ ] Create resulting issues

[2019-10-03 22:19] desigonz commented on #2668
assigning to myself to split up into multiple issues

[2019-10-03 22:19] easherma commented on #2581
Unfortunately, in the case of the admin search view, it looks like content_type is hard-coded as the only available URL parameter: https://github.com/wagtail/wagtail/blob/master/wagtail/admin/views/pages.py#L953

[2019-10-03 22:26] desigonz commented on #3101
@ablangworthy27 can you size this issue?

[2019-10-03 22:27] #3109 closed

[2019-10-03 22:28] desigonz commented on #3033
@chasechenevert please add an estimate!

[2019-10-03 22:29] desigonz commented on #3008
@toribr This is the embed code that Formstack gives me:
`<script type="text/javascript" src="https://cityofaustin.formstack.com/forms/js.php/ni_request_day_laborer"></script><noscript><a href="https://cityofaustin.formstack.com/forms/ni_request_day_laborer" title="Online Form">Online Form - NI Request Day Laborer</a></noscript>`

![image](https://user-images.githubusercontent.com/5839508/66168655-

[2019-10-03 22:31] desigonz commented on #3085
Per sprint planning, we'll be discussing user roles during pin-up this sprint. We'll also talk to the dev team about what's possible 🚀

[2019-10-03 22:34] desigonz opened #3116 "How are other departments aggregating place data?"
Are they? Let's find out.

[2019-10-04 03:38] briaguya opened #3117 "Document chooser tabs look wonky"
**Describe the bug**
Document chooser tabs are styled in a way that's confusing and overlapping

<img width="1524" alt="Screen Shot 2019-10-03 at 10 35 40 PM" src="https://user-images.githubusercontent.com/6384156/66179355-3c88e780-e62e-11e9-8f12-cc5f689b9a4e.png">

[2019-10-04 04:02] briaguya opened #3118 "Preview button is broken"
**Describe the bug**
Hitting preview doesn't do anything

**To Reproduce**
1. Go to joplin
2. Open a page to edit
3. Press "preview"

**Current behavior**
Nothing happens

**Expected behavior**
A new tab opens with a preview

[2019-10-04 04:21] #3117 closed

[2019-10-04 04:21] #3118 closed

[2019-10-04 06:26] briaguya opened #3119 "Publishing before saving draft causes leave site alert"
If you go to joplin, edit a page, and then click "publish" or "update" before saving a draft a leave site alert pops up.

[2019-10-04 07:11] briaguya commented on #2908
Test data up here: http://joplin-pr-2908-test-data.herokuapp.com/admin/pages/3/

[2019-10-04 07:30] briaguya opened #3120 "Removed ordered list options in steps rich text blocks"
PR app: http://joplin-pr-3120-step-ols.herokuapp.com/admin/

**Acceptance criteria**
- [x] No ordered list options in basic steps rich text blocks (on service pages)
- [x] No ordered list options in step with options rich text blocks (on service pages)

-------

## background

**Describe the bug**
If you add an ordered list to a step it shows up as an unordered list

**To Reproduce**

1. Go to a s

[2019-10-04 07:52] briaguya commented on #2908
Made a janis build against test data to make this easier to parse.

[2019-10-04 12:14] #3040 closed

[2019-10-04 12:23] #3036 closed

[2019-10-04 12:23] #2850 closed

[2019-10-04 12:25] #2970 closed

[2019-10-04 13:32] briaguya commented on #3006
accidentally fixed this here: https://github.com/cityofaustin/joplin/pull/399

[2019-10-04 15:08] briaguya opened #3121 "Clean up janis colors"
In janis, we have colors all over the place. Some are magic numbers, some are variables that are used in most places but not all, some are variables that are used in a one-off situation. It'd be cool to clean this up and also remove some unused color values.

[2019-10-04 15:08] briaguya commented on #3108
@desigonz this is in staging now

[2019-10-04 15:39] annieszot commented on #3009
Supporting documents
Strategic Direction 2023
[Community garden resolution ](http://www.austintexas.gov/sites/default/files/files/Parks/communitygardens/resolution.pdf)
[Garden ordinance](http://www.austintexas.gov/sites/default/files/files/Parks/communitygardens/urbanagriculture_ordinance2.pdf) (application and license agreement)
[Garden ordinance](http://www.austintexas.gov/edims/document.cfm?id

[2019-10-04 15:49] toribr commented on #2912
Changed the name from "organize" to include keyword "pagination". I found another page which will require this pattern pretty soon.
![screencapture-joplin-staging-herokuapp-admin-pages-172-edit-2019-10-04-10_36_55](https://user-images.githubusercontent.com/3790067/66221428-902e1c00-e694-11e9-83ba-5b6342139bb1.png)

[2019-10-04 16:17] #3034 closed

[2019-10-04 16:28] chiaberry opened #3122 "Trashy Schedule - Bulk Item pickup Invalid Date"
**Describe the bug**

Some addresses return an `undefined` nextBulkPickupDate which comes out as an Invalid Date. However, i checked some other addresses and they correctly render. I am guessing it's because my next pickup date is in 2020, so far the ones I've seen render are in 2019.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/4f86659b-b6fd-435a-b775-b058fdf01f7e)

[2019-10-04 16:41] briaguya commented on #3049
@desigonz https://deploy-preview-546--janis.netlify.com/en/theme/topic-collection/topic/guide might help us think this one through a bit

[2019-10-04 17:54] easherma commented on #3029
Fix is up at https://joplin-pr-3029-persist-button.herokuapp.com/ , with some bonus css magic

[2019-10-04 17:59] toribr opened #3123 "Automatically assign department to pages according to their user profile"
As an author within a particular department, I don't want to fill out fields with information that the system should already know about me:
- [ ] When creating a new page, "offered by" would automatically be assigned to pages, so no department assignment would need to be made manually.
- [ ] The department selection on page templates remains as is for now. For future versions, we should change the

[2019-10-04 18:03] toribr opened #3124 "Constrain topic and topic collections to authors according to department"
As an author, I only want to see topic and topic collections within my department so I don't have to view topics that aren't relevant to my content.
- [ ] When authors go to select a topic for new pages they should only see topics from their department.

Notes (not synthesized) https://docs.google.com/document/d/154RQ3aIliIjcyk_Wd2MD74wo4OAHq1Xt9GjL8ik4o2Y/edit#
- Re: Topic control from Mass.gov h

[2019-10-05 16:25] taylor-m-cook commented on #3060
For brainstorming, Andrew is out of town, but Chris has some background on forms workshops, Manlin has a view on Service Access, and Stephanie is going to be the Project Coordinator for SDL's Alpha work. Please loop them in.

[2019-10-07 14:55] desigonz commented on #3060
Thanks @taylor-m-cook! Per our Slack discussion, we'll have Chris join for this first meeting, along with Sarah Rodriguez and Daniel Honker.

[2019-10-07 15:03] Jo-Dwyer commented on #3113
- [ ] Can't display multiple contacts #3079 Service pages are allowing only one to be selected; info allows multiple selected. Both only display one.
    - [ ] [Free health services...] (https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxNzYw)
    - [ ] [Get a copy of your immunization...](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxODYx)
    - [ ] [Ne

[2019-10-07 15:05] Jo-Dwyer commented on #3043
Ready for review:
- [ ] https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxODQw
- [ ] https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxODUx
- [ ] https://alpha.austin.gov/en/preview/topic/UGFnZVJldmlzaW9uTm9kZToxNjkz
- [ ] https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxODU0
- [ ] https://alpha.austin.gov/en/preview/information/UG

[2019-10-07 15:09] chasechenevert commented on #2839
Here's draft 1!
https://docs.google.com/document/d/1fqqs7ml0WIp5TCau9kdmQvdm8QpbjndnnSSkoO7If0I/edit#

[2019-10-07 15:09] #2839 closed

[2019-10-07 15:57] desigonz commented on #3043
Thanks for meeting today! As we discuss, I'll work on getting multiple contacts on a page (#3079) into the dev pipeline.

[Chronic disease prevention](https://alpha.austin.gov/en/preview/topic/UGFnZVJldmlzaW9uTm9kZToxNjkz) and [injury prevention](https://alpha.austin.gov/en/preview/topic/UGFnZVJldmlzaW9uTm9kZToxODMw) are topic pages so the preview isn't fully working right now. @Jo-Dwyer I'm think

[2019-10-07 16:27] Jo-Dwyer commented on #3043
Agreed: topic/ topic collection pages won't be sent to APH until they are functional previews.
Fixed:
- [x] Header on [Basic services...](https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxODgy)
- [x] Bold on [Help with childcare...] (https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxODgx)

[2019-10-07 17:03] desigonz commented on #3079
Assigning @chasechenevert to pull a quick mock together for this. Per our conversation, we'll make email not required, and pull in the address + collapsed hours.

These are the pages that will need multiple contacts:
    - [ ] [Free health services...](https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxNzYw)
    - [ ] [Get a copy of your immunization...](https://alpha.austin.g

[2019-10-07 17:21] desigonz commented on #2997
@robbobfrh84 this looks great! I just did QA on the above. Once we push to prod, we'll need to make sure to add the following "Related information" to the [Office of Police Oversight](https://janis.austintexas.io/en/police-oversight):
- [ ] [How we store and use your data](https://janis.austintexas.io/police-oversight/how-we-store-and-use-your-data)
- [ ] [Complaint investigation process](https://

[2019-10-07 17:59] chasechenevert commented on #3079
XD Prototype: https://xd.adobe.com/spec/f81c5f2d-3350-4720-79ff-cd73881cf143-8e2d/

- [ ] Display order is now: LocationName, Address, Hours, Phone, Email. This is a universal change to the component. This is to make the list of locations easier to scan by using the LocationName as a label.
- [ ] Spacing between location details is 20px
- [ ] Spacing between last location detail and the rule line

[2019-10-07 18:16] chasechenevert commented on #3095
This should appear as it does in the mocks for Topics, I'm sure more info is needed, but please let me know: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/19c5f0cc-e878-4ff1-946a-7a8a56b5b637/Template-Topic-desktop

- Max 3 in a row, which on my mock occupies the first 10 columns (left to right) or 964px

[2019-10-07 18:40] chasechenevert commented on #3033
I need to show this for all page types that can be pulled into a guide:
- [ ] Service page
- [ ] Information

I need to iterate on:
- [ ] How the guide tile appears visually at the topic level.

We've talked about various ways that we can distinguish the tile: icon, fill or border colors, placing the guide tile above others, under a small heading....

[2019-10-07 19:27] annieszot opened #3125 ""Prune" Jenga the community gardens outline"
[Current outline draft ](https://docs.google.com/document/d/1qJxOnPWHso7E2RTdtWavCuZmYpzvDgMNdA7AoDcTlEY/edit#)
Including (google docs)
["Find eligible land" service page](https://docs.google.com/document/d/1unRZtWBYI731t_dBXoLAo0r9eGg7APTTEgYLPFDRLPw/edit)
[Community support (info page)](https://docs.google.com/document/d/1o_AD08-5F6WisTZ9HTe03ocMm6dWalog1xhy5MJPaJc/edit)
-Put together steering c

[2019-10-07 19:29] annieszot opened #3126 "Get garden permit application and fact check"

[2019-10-07 19:31] annieszot commented on #3009
Resulting issues #3125 #3126
Closing!

[2019-10-07 19:31] #3009 closed

[2019-10-07 19:45] ablangworthy27 commented on #3101
I added my edits to the doc, and Kristin gave approval. I am now sending to @srigdon for review.

[2019-10-07 19:51] desigonz opened #3127 "Multiple contacts on a page"
### As a resident, I want to see the location and hours information for multiple neighborhood centers on one page, so I can choose the one most convenient to me.

We need the ability to show multiple contacts on one page in Janis. See #3079 for more background.

This is currently a blocker for publishing out Austin Public Health pages, so we're aiming for a smaller solution that solves our needs,

[2019-10-07 20:08] desigonz commented on #2951
According to @Niicck, we hit some roadblocks here. Assigning back to @chasechenevert to review and see what acceptance criteria we're cool with losing.

[2019-10-07 20:28] annieszot opened #3128 "Funshop feedback themes -> patterns"
Themes originally collected on stickies, since recycled.
Going forward, will start from Feedback themes on notes/surveys from
April 2019 Funshop feedback (17 responses)
APH Funshop (September 2019) - notes from Amanda
Civic Futures Funshop (September 2019) - Questions from Anu

While keeping in mind:
[Original Funshop idea doc ](https://docs.google.com/document/d/1AZF2NUgjUijEbo5wjr19g9VsBXMPl2_kr

[2019-10-07 20:36] annieszot opened #3129 "Share insight with the web team"
**Acceptance criteria**
- [ ] Talk about this at design pin-up

We've heard from folks in the Funshops that people in older generations tend to be afraid to share their info via the website. How might we meet this user group’s needs on the website?

From [Civic Futures funshop notes and follow-ups 10.7.19](https://docs.google.com/document/d/1Z-dQsiTR-_zsUgivQxvQvWxZ9FII-2ztmOQWZh7vNF4/edit)

@srig

[2019-10-07 20:37] annieszot opened #3130 "Insert break time "Meet us back at" in Funshop deck"

[2019-10-07 20:37] annieszot opened #3131 "Funshop attendee engagement - introduction and throughout"
Out of [Civic Futures funshop](https://docs.google.com/document/d/1Z-dQsiTR-_zsUgivQxvQvWxZ9FII-2ztmOQWZh7vNF4/edit) notes and follow-ups
- Some people in the beginning weren't engaging, what if we have people randomly introduce their partners to the group throughout the workshop.

[2019-10-07 20:38] annieszot opened #3132 "Incorporate/introduce Joplin/Janis in Funshop"
Build on[ Civic futures deck joplin/janis intro](https://docs.google.com/presentation/d/1X11qt8jEBAbmI86tvLhzCXau2wcKr4APKWx5m-OYQK0/edit#slide=id.p)
Suggestion out of [Civic Futures funshop notes and follow-up](https://docs.google.com/document/d/1Z-dQsiTR-_zsUgivQxvQvWxZ9FII-2ztmOQWZh7vNF4/edit)

[2019-10-07 20:38] desigonz commented on #3108
@briaguya looks great.

[2019-10-07 20:39] annieszot opened #3133 "Contact CPIO"
To answer [questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#) from the Civic Futures Funshop
Is there any method to put search bar to search services(austintexas.gov)?
Follow up: How do I know which services hit top from google?

[2019-10-07 20:39] annieszot opened #3134 "Develop "Know Your Users" Funshop II training"

[2019-10-07 20:40] annieszot opened #3135 "Develop Funshop II Series (topic specific trainings)"

[2019-10-07 20:40] annieszot opened #3136 "Funshop II series and Writing Lab"
@srigdon to ask during 1:1 10/8/2019
@annieszot to ask during 1:1 10/11/2019

[2019-10-07 20:40] annieszot opened #3137 "Document control"
Out of Civic Futures funshop [questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#)
@srigdon @annieszot to develop together

[2019-10-07 20:41] easherma commented on #3032
We exposed this by un-hiding tabs on choosers yay!

[2019-10-07 20:41] desigonz commented on #3032
It looks like this: ![image](https://user-images.githubusercontent.com/5839508/66346968-ec08d700-e918-11e9-907f-ec2eb52499f2.png)

[2019-10-07 20:41] #3032 closed

[2019-10-07 20:43] annieszot opened #3138 "PDF strategy including Funshop II training"
Out of [Civic Futures Funshop pdf questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#)

[2019-10-07 20:44] annieszot opened #3139 "Add to style guide - acronyms and target audience"
Context @Jo-Dwyer follow-up @srigdon will do from Civic Futures Funshop [questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#heading=h.vi63d4cmcjvy):

How to deal with acronyms when writing for specific audience?

[2019-10-07 20:45] annieszot opened #3140 "Add to style guide - embed video content on website"

[2019-10-07 20:46] easherma commented on #3006
https://joplin-pr-2581-pages-listing-s.herokuapp.com/admin/login/

[2019-10-07 20:46] annieszot opened #3141 "Government transparency talking points"
In response to [Civic Futures Funshop question](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#heading=h.vi63d4cmcjvy) and answer session

[2019-10-07 20:48] annieszot opened #3142 "Send plain language resources to Lauren, DellMed"
- [x] digital.gov
- [x] plainlanguage.gov
- [x] See if State of Texas has Plain language guidelines - does but in pdf formats, and summarizes what we cover during funshops
- [x] Share resources from the State of Washington/PH

[2019-10-07 20:49] annieszot opened #3143 "Pipeline: how to route user and/or content testing through ODD?"
Out of [Funshop follow-up/questions at Civic Futures ](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#heading=h.vi63d4cmcjvy)

[2019-10-07 20:50] annieszot opened #3144 "Funshop 10.1.19 Follow-ups"
Docs
[Civic Futures Funshop notes](https://docs.google.com/document/d/1Z-dQsiTR-_zsUgivQxvQvWxZ9FII-2ztmOQWZh7vNF4/edit)
[Questions](https://docs.google.com/document/d/1h0CFV5cX1_kKSYVCxcIoFP2-P0nwOsMHW3hGsnz7nTE/edit?ts=5d97bd4e#heading=h.vi63d4cmcjvy)

[2019-10-07 20:59] annieszot commented on #3130
Linked to in "[How to Funshop](https://docs.google.com/document/d/1-SxmgP09VjtlLcLR4lE4f23Psg7DC-SBGq1-NxXyE44/edit#)" doc
Closing

[2019-10-07 20:59] #3130 closed

[2019-10-07 21:39] desigonz commented on #3127
@chasechenevert, can you add mobile mocks? Thanks!

[2019-10-07 22:38] desigonz commented on #3119
I'm not able to replicate this per your description above. But I swear I've seen errant "leave site" alerts here and there. Can you add a video?

[2019-10-07 22:40] desigonz commented on #3105
duplicate of #2604

[2019-10-07 22:40] #3105 closed

[2019-10-07 22:42] desigonz commented on #3073
@briaguya What are next steps on this one? What decisions need to be made and who needs to be a part of those conversations?

[2019-10-07 22:44] desigonz commented on #3107
@Jo-Dwyer can you share specific examples of "format issues"? Bold in headings is one of the examples I've seen (in screenshot below, both pages are using H2s but the one on the right uses bold as well).
![image](https://user-images.githubusercontent.com/5839508/66327753-f8793980-e8f0-11e9-8ae1-fa19ae8df46c.png)

[2019-10-07 22:47] desigonz commented on #3122
@briaguya is this something we can control? Also I'd want to fact check. It might not be scheduled, or bulk pickup isn't available at that location.

[2019-10-07 22:52] desigonz opened #3145 "Remove email requirement from "contacts""
"Email" is currently a required field for the Contacts snippet. But it turns out tons of services/offices don't have a dedicated email. This forces the content editor to add 311's email for everything even for things that don't really apply, like contacting a clinic. Let's remove this requirement.

**Acceptance criteria**
- [x] Email is not required to save a contact snippet.

[2019-10-07 23:02] desigonz opened #3146 "Add "Unpublish" to edit page header"
PR: https://github.com/cityofaustin/joplin/pull/449
Testing app: https://joplin-pr-3146-edit-page-unpub.herokuapp.com/

### As a content editor, I want to be able to unpublish a public from the individual edit page view, so that I'm assured I'm unpublishing the right thing.

Currently, you can unpublish from the content listing page in Joplin, but not on an individual page level. Let's fix that.

[2019-10-07 23:13] desigonz commented on #3095
Thanks @chasechenevert, removing you. I've updated acceptance criteria above. @briaguya do y'all need further acceptance criteria?

[2019-10-07 23:23] desigonz opened #3147 "Implement feedback component"
We need to re-introduce the ability for users to submit feedback about alpha.

### Resources
- [Feedback component](http://janis-staging.herokuapp.com/storybook/?selectedKind=Forms&selectedStory=Feedback%20Form&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) rendered in Storybook
- XD spec: [desktop](https://xd.adobe.com/spec/a1e17b2e-1b43-40ea-6041-eaf6ba807

[2019-10-07 23:24] desigonz commented on #1840
Thanks! New issue for dev implementation is #3147.

[2019-10-07 23:24] #1840 closed

[2019-10-07 23:30] #2677 closed

[2019-10-07 23:35] desigonz opened #3148 "Implement generic guide image"
Most of the time, authors will add an image to the guide. But if they don't add one, Janis defaults to a generic guide image.

**Acceptance criteria**
- [x] @chasechenevert to verify visual design implementation
- [x] When a content editor doesn't select an image for a guide, Janis displays this image:
![Guide_default image_draft 1png-24](https://user-images.githubusercontent.com/7027270/66139866-

[2019-10-08 11:13] briaguya commented on #3108
in prod

[2019-10-08 11:13] #3108 closed

[2019-10-08 11:13] briaguya commented on #2997
in prod

[2019-10-08 11:13] #2997 closed

[2019-10-08 13:49] briaguya commented on #3127
@desigonz @chasechenevert I've got a WIP branch up, need some feedback:

Info page: https://deploy-preview-550--janis.netlify.com/en/health-safety/health-records-certificates-2/birth-death-certificates/info-page-with-multiple-contacts/
Dept page: https://deploy-preview-550--janis.netlify.com/en/police-oversight
Service page: https://deploy-preview-550--janis.netlify.com/en/housing-utilities/recycl

[2019-10-08 14:10] briaguya opened #3149 "Collapsible contact/location hours"
### Janis
XD Prototype: https://xd.adobe.com/spec/f81c5f2d-3350-4720-79ff-cd73881cf143-8e2d/
- [ ] Icon for down-carrot is named "arrow_drop_down" in the Material icon font we have in Janis, or can be found here: https://material.io/resources/icons/?search=down&icon=arrow_drop_down&style=baseline
  - [ ] Default state should have the arrow facing down
  - [ ] Open state should rotate icon 90 degre

[2019-10-08 14:10] desigonz commented on #3127
@chasechenevert @briaguya Looks like changing the title to "Locations" changes it across the board, which I don't think totally makes sense for single instances or for something like [Get your bulk items collected](https://deploy-preview-550--janis.netlify.com/en/housing-utilities/recycling-trash-and-compost/household-waste/bulk-item-pickup/). I'm in favor of reverting back to "Contact information

[2019-10-08 14:14] desigonz commented on #3127
Another note: I believe we're dropping the location name in the location section.
![image](https://user-images.githubusercontent.com/5839508/66403210-cd9feb80-e9ab-11e9-895b-38cb237687d4.png)

Otherwise it's looking good.

[2019-10-08 14:20] #3041 closed

[2019-10-08 14:30] briaguya commented on #3127
@desigonz updated it to not have the location name in the address portion, as well as set the main heading back to "Contact information"

[2019-10-08 14:38] chasechenevert commented on #3127
Spec updates:
- added mobile
- reverted "Locations" to "Contact information"

[2019-10-08 14:46] briaguya commented on #3127
@chasechenevert I currently have it so the rule line doesn't exist when we only have a single contact, should I add it for that scenario?

[2019-10-08 14:48] chasechenevert commented on #3127
Agreed, Brian. I'll remove it from the spec

[2019-10-08 14:56] chasechenevert commented on #2951
If we can't do the remaining items, then I guess this is done.

[2019-10-08 14:58] briaguya commented on #3029
@desigonz @easherma this should be in prod now

[2019-10-08 15:01] annieszot commented on #3097
Unassigning @srigdon @anukandimalla Thanks for all your collaboration on this! I've got one more task than I'll close :)

[2019-10-08 15:04] briaguya commented on #3127
@chasechenevert the naive implementation I have at the moment just adds a rule line above every contact that isn't the first. This means that:
* If there is one contact, there is no rule line
* For the last contact, there is no rule line at the bottom

Looking to confirm if that's an ok implementation or if I should add a little bit of extra logic for having the bottom rule line

[2019-10-08 15:13] desigonz commented on #3029
cc @Jo-Dwyer—the button save should be in production! yay! Closing this one.

[2019-10-08 15:13] #3029 closed

[2019-10-08 15:25] desigonz commented on #2953
Thanks all for meeting! My next steps are to touch base with @oliver2g about contacting OPO with our recommendations for what to work on next. Closing this issue.

[2019-10-08 15:25] #2953 closed

[2019-10-08 16:09] briaguya commented on #3095
@desigonz I put together a quick fix for this:
Compare [staging](https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/) to [this pr app](https://deploy-preview-551--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention)

[2019-10-08 16:35] desigonz commented on #3095
@briaguya looks beautiful, QA complete.

[2019-10-08 17:34] #3097 closed

[2019-10-08 17:35] srigdon opened #3150 "Figure out a long-term blog strategy for Civiqueso"
Right now, Medium won't let you display more than 25 posts on your publication at a time. We can edit the way publication sections are displayed, but we'll run into the wall on this eventually. Let's figure out a longer term blog strategy.

[2019-10-08 17:42] toribr commented on #2963
May I suggest #3f5880. @desigonz We should move this up. A little dev time in the short run could save a lot of redoing in the long run. :)

[2019-10-08 18:23] annieszot commented on #3096
[Current draft ](https://docs.google.com/document/d/1m1j9HdYT145moy2Q1wjhRNDq105DZYReQ3E-PFi-2uI/edit#heading=h.jnhf5z258iqx)

[2019-10-08 18:30] desigonz commented on #2963
@toribr do you mean move up this issue? or a different one? there's a typo in your issue number above

[2019-10-08 18:31] toribr commented on #2963
@desigonz #3f5880 is my suggestion for color to change it to. :)

[2019-10-08 19:08] chasechenevert commented on #3127
That sounds great to me, Brian!

[2019-10-08 19:11] #3045 closed

[2019-10-08 19:15] toribr commented on #3124
![#3124](https://user-images.githubusercontent.com/3790067/66425803-1d93a800-e9d6-11e9-8d09-8e8791641255.png)

[2019-10-08 19:30] annieszot commented on #2685
Draft [universal recycling ordinance](https://docs.google.com/document/d/18GzFa1tBEZhKft5RffpoKez7KggICPBhIjE3cFuB2qE/edit) as a service page

[2019-10-08 19:46] desigonz commented on #2963
lol duh got it! thanks @toribr

[2019-10-08 19:47] desigonz commented on #2963
@toribr added the acceptance criteria and assigned for dev.

[2019-10-08 19:51] srigdon commented on #3101
Documenting the end goal for posterity: we want to create a user testing pipeline inspired by mass.gov's approach: https://www.mass.gov/guides/user-research-and-product-testing-on-massgov

For now, I did a review pass and everything looks good to go. There might be discrepancy in the form intro copy--if that was already translated before I edited it, feel free to go with the previous version so we

[2019-10-08 19:51] #3101 closed

[2019-10-08 20:32] desigonz commented on #3127
qa comp[lete

[2019-10-08 21:21] annieszot commented on #3114
Met 10.8.19. @wilhitem will ask about ARR engagement with Stephen during 1:1 Friday, Oct. 11
Closing issue!

[2019-10-08 21:21] #3114 closed

[2019-10-09 05:29] #3095 closed

[2019-10-09 05:29] #3127 closed

[2019-10-09 11:30] briaguya commented on #2473
@desigonz I have this working in my guide previews PR app: https://deploy-preview-553--janis.netlify.com/en/preview/guide/UGFnZVJldmlzaW9uTm9kZToxNjgw

I figure the QA checklist for this is something like:
- [ ] Make sure it looks ok in above link
- [ ] once on staging: test preview for service, info, guide, and official document pages (topic pages haven't been included, that can be addressed with

[2019-10-09 11:34] briaguya commented on #3082
@desigonz this is up here: https://deploy-preview-553--janis.netlify.com/en/preview/guide/UGFnZVJldmlzaW9uTm9kZToxNjgw

this is on the same branch as https://github.com/cityofaustin/techstack/issues/2473 and can be tested with it.

Super not-fleshed-out QA checklist:
- [ ] The link ^ looks good
- [ ] On staging: Guide previews work

[2019-10-09 12:17] briaguya opened #3151 "Get all urls for a page from Joplin"
As a Janis query, I'd like to be able to request all urls for any given page from joplin.

[2019-10-09 12:56] #1702 closed

[2019-10-09 13:32] desigonz commented on #2473
Hey @briaguya, this looks great. PR app QA complete.

[2019-10-09 13:39] desigonz commented on #3082
Looks great! Here's the QA list from guide browser testing—we can test against this.
- [x] Intro block—all the following appear
  - [x] Title
  - [x] Description
  - [x] Image
- [x] Content
  - [x] Contact information displays contact name, phone number, and email
  - [x] Section headings
  - [x] Content within each section
    - [ ] Clicking "View this page..." opens in a new tab (note: in order

[2019-10-09 13:46] briaguya commented on #3082
@desigonz the "view this page" on staging plan works for me,

That could balloon out of scope though, as the links will be to published URLs instead of drafts.

I think that might need to spin off into another issue if we want to support using draft URLs for each sub page of a guide.

[2019-10-09 14:28] annieszot commented on #3142
Email sent 10/9/2019

[2019-10-09 14:28] #3142 closed

[2019-10-09 14:46] briaguya opened #3152 "Incremental builds brain dump"
In order to support incremental builds, we need to think through how we're exposing our data via the Joplin API as well as how we're consuming it in Janis.

To support this, I would propose we:
## In Joplin:
- Make a new endpoint in our Joplin API specifically to get page structure
  - This could be updated in the future to only return the parts of the page structure that matter for the incrementa

[2019-10-09 16:15] srigdon opened #3153 "PDF links on official documents page are 404ing"
**Describe the bug**
PDF links on the official documents page are 404ing.

**URL**
https://alpha.austin.gov/en/health-safety/police-oversight-2/police-feedback-and-records/official-complaint-and-discipline-documents/

**To Reproduce**

1. Go to https://alpha.austin.gov/en/health-safety/police-oversight-2/police-feedback-and-records/official-complaint-and-discipline-documents/
2. Click on any PDF l

[2019-10-09 16:51] #3153 closed

[2019-10-09 17:05] anukandimalla commented on #2529
@desigonz Ready for the review and here is the link for the [Equity office inventory](https://docs.google.com/spreadsheets/d/1VqlBOxBvvQRf9Ah-YxiBigBNRLdnAqR9-s-wE4xDdvs/edit?usp=sharing)

[2019-10-09 17:50] briaguya commented on #2473
@desigonz this is live on staging

[2019-10-09 17:50] briaguya commented on #3082
live on staging

[2019-10-09 17:54] desigonz commented on #3082
QA complete! Looks great.

[2019-10-09 18:03] briaguya commented on #3152
did a bit of playing around here https://github.com/cityofaustin/joplin/pull/406

[2019-10-09 19:01] #3082 closed

[2019-10-09 19:15] desigonz opened #3154 "Email alias for user research page"
@ablangworthy27 and @kriskristin have drafted a nifty page to encourage residents to [sign up for user testing](https://joplin.herokuapp.com/admin/pages/241/edit/#tab-content). But we're currently using Kristin's personal email address, which is something we advise against. Let's work with IT to develop a mailbox specifically for user research communications.

[Notes on how to request mailboxes](h

[2019-10-09 19:20] ablangworthy27 commented on #3154
@kriskristin do you want to choose an email and request it? Desi suggested user-research@austintexas.gov but it is really up to you.

Then I can swap it out.

[2019-10-09 19:29] annieszot commented on #3136
- [ ] @annieszot to develop plan with Sarah in tangent with SDL for writing labs and pitch to Desi
for writing labs and document series in [Funshop Engagement Guide](https://docs.google.com/document/d/1jGWdYYquXlK0dXkQbzwXRpfY1zHtqVok7cJl11ofmJg/edit)

[2019-10-09 19:49] desigonz commented on #2951
Thanks @chasechenevert! @chiaberry and @Niicck, where is this in the QA and review process? Our flow is generally:
- If we can fully QA acceptance criteria in a PR app, we do that. You can assign the issue to me, and if I'm not the right person to QA I'll assign to the appropriate person.
- Code review usually can happen simultaneously, unless you think QA will really change up the code (am I righ

[2019-10-09 19:50] anukandimalla commented on #2529
[Here is the link for Forms Service Access Framework](https://docs.google.com/spreadsheets/d/1IVO5yy_yMSyMp0i0S4rIoyal1VRFUB3COqZqdarvBbU/edit?usp=sharing)

[2019-10-09 19:54] desigonz commented on #2529
Thanks @anukandimalla! We'll talk about this at the content audit sync tomorrow, but moving forward, can you ping @Jo-Dwyer when an audit is complete and she'll divvy it up with the content team?

[2019-10-09 20:02] briaguya commented on #3151
closing this, thinking it through here https://github.com/cityofaustin/techstack/issues/3152 instead

[2019-10-09 20:02] #3151 closed

[2019-10-09 20:13] briaguya commented on #2951
@desigonz agreed on simultaneous QA/code review, although there are times when it's nice to get QA eyes on something before cleaning up the code enough for it to be ready for review (especially when doing things with css)

[2019-10-09 20:19] anukandimalla commented on #2529
Thanks @desigonz 👍

[2019-10-09 20:49] Niicck commented on #2951
Right now, the issue has passed Code Review and QA, so I'll press the button to merge it into staging.

[2019-10-09 20:56] desigonz commented on #2951
@Niicck excellent thank you!

and +1 @briaguya.

[2019-10-09 20:56] #2951 closed

[2019-10-09 20:57] Niicck commented on #2951
And deployed to Production

[2019-10-09 20:58] chiaberry commented on #2991
@desigonz I'm not sure if you're the right person to ask, but I realized I just assumed the author column would be titled author and go right between "Collection" and "Uploaded". Are those correct assumptions?
<img width="996" alt="Screen Shot 2019-10-09 at 3 55 53 PM" src="https://user-images.githubusercontent.com/12474808/66519788-93b70e00-eaad-11e9-8567-ab86fdae0321.png">

[2019-10-09 21:04] desigonz commented on #2991
@chiaberry I am the right person to ask! And yes, good assumption and thanks for clarifying. We'll go with the title "Author" to match the column on the content listing page.

![image](https://user-images.githubusercontent.com/5839508/66520254-6d45a280-eaae-11e9-965e-ed2d5d66da70.png)

[2019-10-09 21:12] chiaberry commented on #2991
@desigonz thank you! I put the author's full name in there, but I can easily change it to the last name so it matches the Content page

[2019-10-09 21:55] desigonz commented on #2991
Great question. Looping in @toribr to decide on that. Tori, Chia defaulted to added author full name, which strikes me as a good idea. Thoughts? If so, Chia, feel free to share the PR app whenever it's ready for QA, and I'll make a new issue to change the author to first + last name in other places.

[2019-10-09 21:56] desigonz commented on #3150
Oh yikes. Is it a paywall thing? That seems strange to me.

[2019-10-09 22:05] desigonz commented on #3152
This is brilliant 🤯Let's touch base closer to the end of sprint 40 about how we can start breaking this down into issues

[2019-10-09 22:08] desigonz commented on #3120
I wonder if there's a content/design question here. Steps are already numbered; do we want to allow for ordered (numbered) lists within them? I'll pose this question on the appropriate slack channels.

[2019-10-09 22:15] chiaberry commented on #2991
@toribr Here's the app: https://joplin-pr-2991-author-name-on.herokuapp.com/

[2019-10-09 22:21] #2473 closed

[2019-10-09 22:28] #1941 closed

[2019-10-09 22:28] #3104 closed

[2019-10-10 00:19] annieszot commented on #3126
Email sent requesting copy of permit application on 10/9/2019. Included request for 1:1 meeting with Meredith for an hour within next week.

[2019-10-10 13:49] briaguya commented on #3152
Did some POC stuff:
Joplin PR: https://github.com/cityofaustin/joplin/pull/406
Joplin app: http://joplin-pr-3151-urls-in-api.herokuapp.com
Janis PR: https://github.com/cityofaustin/janis/pull/559
Janis app: https://deploy-preview-559--janis.netlify.com/

Overview:
1. Joplin does some magic to create a site structure, which is just a list of url/page id pairs + some bonus junk I'm not using yet
2.

[2019-10-10 14:02] #3020 closed

[2019-10-10 14:09] briaguya commented on #3066
@desigonz I think this actually fits in well with the stuff I'm doing in https://github.com/cityofaustin/techstack/issues/3152. Not sure exactly how it all works together but basically this falls into a greater: "As Janis, I want to get all of the information needed to build a page when requesting from Joplin by ID" issue.

[2019-10-10 14:12] briaguya commented on #3121
@desigonz moved this to medium/long term backlog because it seems low priority.

[2019-10-10 15:57] briaguya commented on #3152
@desigonz I think it makes sense to turn this into an epic. I'll brain dump here first:

Epic "Implement incremental builds":
- [ ] Set up epic branch staging environment.
  - All PRs related to this epic will go into this branch until we hit MVP to go live.
  - QA will be done on this staging environment.
    - In order to fully test this, we will need to be able to:
      - trigger builds

[2019-10-10 16:20] toribr opened #3155 "Page/topic order within selection modals should be reverse chronological by default"
As a user, it's more likely that I'm using fresher content than working with older content. When I am selecting a page for a guide, or selecting a topic for a page, the view of eligible items should show by newest creation first. (Alternatively, we could allow column level sorts, but in that case would still want most recent content as the default order.)

@desigonz This is probably a small lift f

[2019-10-10 18:25] easherma opened #3156 "Slug for page does not update if title is changed"
This turned out not to be a bug, per se, but it may still need to be thought through or documented.

**Current behavior**
Page slugs are hidden, and never updated. So when a page title is changed, the slug stays the same.

**Expected behavior**
The ability to update page slugs
Or have page slugs update from title
Either way, if we do add the ability to change page slugs, we'd want to handle redire

[2019-10-10 18:45] easherma opened #3157 "Document what needs to change for model changes between janis and joplin, and make this process more nimble, flexible"
---
name: Feature request
about: Suggest an idea for this project

---

### As a [user type] I want [capability] so that [benefit].

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descri

[2019-10-10 18:56] easherma commented on #3053
Janis: https://deploy-preview-556--janis.netlify.com/
Joplin: https://joplin-pr-3053-recursive-objec.herokuapp.com/

To test:
I added two links to this page:
https://joplin-pr-3053-recursive-objec.herokuapp.com/admin/pages/91/
See that they appear in Janis
To test end to end:
Add an internal link on a page in the above joplin
Tell a dev to trigger a build of the above branch of janis
See that it a

[2019-10-10 19:25] easherma opened #3158 "Lets find some time to squash migrations for Joplin"
### As a developer I want migrations to be squashed so that build times improve and changes are easier to manage.

**Is your feature request related to a problem? Please describe.**
We have two years worth of database migrations running on Joplin. Django is very good about handling these, but once we're over around 100 it starts to get a little silly, and we have over 200.

**Describe the solution

[2019-10-10 20:27] Niicck commented on #3152
Thoughts
- Re: "Implement QA-able incremental builds"
  - Here is a great opportunity for us to start doing unit tests. When we delete a page in Joplin, does it delete it from Janis? When we add a page, does it add a page to Janis? When 3 users hit a trigger at the same time, will it properly queue those requests? etc...
- Re: "Create joplin endpoint for incremental builds"
  - This can tie into t

[2019-10-10 20:29] Niicck commented on #3152
Also, I'd like to get an in-person pitch from Brian as to how he envisions the requirements for incremental builds. There are things my brain is missing.

[2019-10-10 20:43] Niicck commented on #3152
Additional Thought about entertaining Server-side rendering.

- Search
  - Is a feature that is coming up soon. This is going to be massive and important. Would server-side rendering be a better approach for supporting search?

Thinking out loud. I'm doing more reading.

[2019-10-10 20:47] easherma opened #3159 "Error with migration-test & LOAD_PROD_DATA results in 'empty' datadump"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
See title

**To Reproduce**

Run LOAD_PROD_DATA=on ./scripts/migrations_test.sh
[code]

[2019-10-10 21:04] easherma commented on #3159
1) The bash script doesn't stop on this error, despite it being pretty significant. Is this a limitation of the bash script or can we add some error handling?
2) I was able to manually do a dump from prod and ran:
[code]

However, when loading this data I got:
[code]

[2019-10-10 21:27] Niicck commented on #3159
Needed `--exclude=wagtailcore.GroupCollectionPermission`

[2019-10-10 21:56] easherma commented on #3156
http://docs.wagtail.io/en/v2.6.2/reference/pages/model_recipes.html#have-redirects-created-automatically-when-changing-page-slug

[2019-10-10 21:58] desigonz commented on #3152
💖to all of this! How does an in-person pitch from @briaguya at the end of Monday's dev sync sound? Or we could set up a separate meeting for this.

[2019-10-10 22:04] annieszot commented on #2542
Looks good! Thanks @anukandimalla!

[2019-10-10 22:08] srigdon opened #3160 "Get search logs or set up search log capture for austintexas.gov"
Toward an [evidence-based](https://www.nngroup.com/articles/search-log-analysis/) search strategy and information architecture, the search logs for austintexas.gov before, during, and after the transition from Drupal 7 to 8 would help us build a search strategy that serves residents the information and services they're looking for.

See also: [nav testing shareout](https://docs.google.com/presenta

[2019-10-10 22:16] Niicck opened #3161 "Create a "Staging" site for content, not code"
### As a content editor on Joplin I want a "staging" site so that I can see my content published on a site, without publishing to production.

**Is your feature request related to a problem? Please describe.**
During the Municipal Court kickoff today, Luz asked if our workflow included a "staging" site to view content drafts on.

This got me thinking what kind of workflow would work for users outs

[2019-10-10 22:20] desigonz commented on #3008
Thanks @toribr! Yes, let's talk in pin-up, I have questions.

Have you tested what the forms look like in mobile? Also, any thoughts on what embedding the forms means for analytics? And finally, is there any frontend work we need to do accessibility-wise for the forms?

[2019-10-10 22:20] briaguya commented on #3152
@Niicck re: Re: "Set up epic branch staging environment"

mostly this is for making "Implement "incremental ready" build process" happen as this can be done without moving to react-static 7.

basically it's a "let's have a good place to test those PRs I made as we flesh them out as best we can" requirement

we can discuss more in person

[2019-10-10 22:36] desigonz commented on #3053
### Test plan
1. Make some links at PR app for Joplin: https://joplin-pr-3053-recursive-objec.herokuapp.com/admin/
2. ask @easherma to trigger a build
3. Test these:
- [ ] Internal link within service page basic step: does it work in Janis?
- [ ] Internal link within service page step option: does it work in Janis?
- [ ] Internal link on a department page rich text block: does it work in Janis?
-

[2019-10-10 22:45] desigonz commented on #3155
@toribr can you clarify—do you want the most recently **edited** at the top, as we do on the main page listing? Or most recently **created**?

[2019-10-10 22:47] desigonz commented on #3066
a Janis user story!!!

[2019-10-10 22:48] desigonz commented on #3066
@briaguya Okay I will short-term backlog this for now—might have a big need arise from content for it but will hold off for now.

[2019-10-10 22:51] easherma commented on #3152
re: search; there are plenty of ways to do that on a static site
extra thought from other thoughts: as part of setting up this infrastructure, we could move some of the logic out of janis and into the publishing infrastructure. thinking specifically about the cleanData stuff and other middleware-esque things that are hard to debug in javascript and would be nice to have more control over what happ

[2019-10-10 22:57] easherma commented on #3152
We should also (perhaps mostly for @desigonz but also so we keep our heads screwed on straight and have a record) document WHY we want to do this and the value we expect to gain, so we have some goals to check progress against.

For instance, if the goal is to save build time, we'll also probably want to look at how long the webpack compiling takes and if that can be optimized.

But that could jus

[2019-10-10 23:05] briaguya commented on #3152
@Easherma incremental scales like mad woah, other things should happen too but building 1 page vs 1000 pages is gonna need to happen.

[2019-10-10 23:07] desigonz commented on #3053
- [ ] On Janis, the link didn't work within a **basic** step (but it did work in a regular rich text field and in a step with options.)
![3053-basic-step](https://user-images.githubusercontent.com/5839508/66612702-54112480-eb88-11e9-9993-3abe6f1c4cf5.gif)

**ALSO:** In this one, I changed the topic for the first link (should be the "File a complaint" page) but it 404s. The URL it goes to is https:

[2019-10-10 23:09] annieszot commented on #3128
Themes, patterns
April 2019 Funshop [feedback](https://docs.google.com/forms/d/1CBO5z7OnB22qRVpmeO5HjAtGVM8-fLbiiyUIGGeQfyU/edit#responses) (17 responses)
Follow-up item from comment: "There needs to be a city-wide initiative that stresses the importance of standardized information management (how we disseminate info, how we organize and update it and how we archive it, and how we train staff to u

[2019-10-10 23:09] #3128 closed

[2019-10-10 23:26] annieszot commented on #3133
Questions submitted to CPIO through Typeform https://cpio.typeform.com/to/kuwa3V 10/10/2019

[2019-10-10 23:26] #3133 closed

[2019-10-10 23:34] desigonz commented on #3099
@easherma Hi! Can you explain to a non-dev why this is important?

[2019-10-10 23:42] annieszot commented on #2989
To create issues tomorrow for:
Universal Recycling Ordinance
Special Events Ordinance
Generation Zero Waste Free
Parse out "documents"
Polish rest of content

[2019-10-11 00:52] easherma commented on #3053
@desigonz the basic steps issue should be addressed

[2019-10-11 02:19] briaguya commented on #3152
@easherma re: not using cleanData all over the place:
[code]

[2019-10-11 14:35] chasechenevert commented on #3094
Are we able to have the lefthand menu scroll with the body content? @toribr does that sound right to you?

[2019-10-11 14:38] desigonz commented on #3119
Can't replicate, closing for now. If we see it again let's file a bug issue with steps to replicate.

[2019-10-11 14:38] #3119 closed

[2019-10-11 14:48] desigonz commented on #3094
I'm able to scroll TOC with my trackpad, but wondering what the experience is like for folks without a trackpad, or using just a keyboard to navigate.

We also haven't done accessibility testing on the guide—making an issue for that!

[2019-10-11 14:50] desigonz opened #3162 "Guide accessibility testing"
We have a guide! But we haven't done accessibility testing for it. Let's test the guide with David Ondich.

- [x] Schedule with David. Ask if it's also possible to test in mobile.
- [x] Draft up list of specific questions
  - Heading levels
  - Mobile navigation
  - Desktop navigation
- [x] Run test with David
- [x] Write up resulting bug issues

[2019-10-11 14:53] desigonz commented on #3094
Here's a video of scrolling with the trackpad
![3094-left-scroll](https://user-images.githubusercontent.com/5839508/66661586-e3f8b200-ec0c-11e9-8eb2-01d9c9128e12.gif)

[2019-10-11 15:02] desigonz commented on #3053
@easherma Great, it works! Whenever you're ready, you can push to staging and I'll do QA step 6.

[2019-10-11 15:18] #3069 closed

[2019-10-11 15:56] toribr commented on #3094
@chasechenevert Yes.

How I envisioned it was that the left rail and right content section should be responsive to one another. So if i were to scroll down in the content, the left rail would also move to show me where I am.

[2019-10-11 17:13] #3043 closed

[2019-10-11 17:14] Jo-Dwyer commented on #2674
Still waiting on Spanish translation.

[2019-10-11 17:26] easherma commented on #2780
Put this as an 8, brain dump:
1) First step would be a python script to get a list of instances and then delete/pause those apps
2) Secondly, it would be nice to revisit the stuff in the Joplin codebase related to Heroku and see if we can avoid those annoying errors where the build fails but then is later pushed by CircleCI
3) Lastly, it would be great to have apps spin down when their associated

[2019-10-11 17:27] desigonz commented on #3156
Incorporated all these thoughts into the epic #2686. Closing this issue!

[2019-10-11 17:27] #3156 closed

[2019-10-11 17:30] Jo-Dwyer commented on #2824
Still waiting on Spanish translation. English is in preview, ready to go.

[2019-10-11 17:38] robbobfrh84 commented on #3006
This issue has been pushed to staging. I'm still not totally clear on our QA flow here... @desigonz ?
- ¿ If i'm the person who merges it to staging, Should I assign a QA person ?

[2019-10-11 17:46] briaguya commented on #3094
@toribr made a terrible imovie mockup gif, something like this?

![Oct-11-2019 12-44-29](https://user-images.githubusercontent.com/6384156/66672873-eebf4100-ec24-11e9-8221-4f236ccae0be.gif)

[2019-10-11 17:51] briaguya commented on #3158
@easherma I'm not too familiar with how migration squashing works. What happens if we have an environment at migration 50 but we squash 25 through 75 and then update the code on that env? Will it break?

[2019-10-11 18:10] easherma commented on #3158
As long as the old migration files are there, that branch will continue to run those because that is what its pointed to.

When you squash migrations normally, it consolidated them all into a new file and the new file references what it was squashed from.

From the django docs:
"These files are marked to say they replace the previously-squashed migrations, so they can coexist with the old migratio

[2019-10-11 18:28] toribr commented on #3094
I kind of want to see more to confirm, but yes? Namely if i scroll down all the way to the bottom, the left hand nav "shows" where I am... both sides track to one another.

[2019-10-11 18:55] briaguya commented on #3094
@toribr I think i was trying to demonstrate the TOC heading locking in with the guide heading, and then scrolling up together and both sticking at the top. I'll see if I can find an example of a page with side nav that does something similar.

[2019-10-11 19:04] robbobfrh84 commented on #3065
Fixed with this PR: https://github.com/cityofaustin/janis/pull/560

[2019-10-11 19:14] toribr commented on #3094
@briaguya I'm looking, too, but it looks like it'd be using a scroll distance detection and then mapping that to active class in the left nav.

[2019-10-11 19:22] robbobfrh84 opened #3163 "Guide Pages are not español friendly"
**Describe the bug**
When toggling English to Español  in Guide pages, we see it does not...
-1- convert the language to español
-2- headings are invisible.

**To Reproduce**

1. Go to https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide
2. Click on `Español`
3. Scroll down to...
4. See error(s)

**Expected behavior**
- [x] When in

[2019-10-11 20:08] briaguya commented on #3006
@robbobfrh84 i generally:
* Move the issue to QA
* assign someone
* add a comment explaining where/how to QA

[2019-10-11 20:40] Niicck commented on #3065
Assigning to Chase to QA. I remember he had an idea of the speed of the scrolling effect, so let's make sure this solution works for him.

[2019-10-11 20:44] Niicck opened #3164 "Guide pages don't load directly onto anchor tag location"
**Describe the bug**
When you refresh or load a guide page that has an anchor (eg: http://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide**#Maintain-or-renew-your-permit-2**), the page will not navigate to that exact anchor.

**URL**
https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vend

[2019-10-11 20:48] Niicck opened #3165 "Guide page media queries are broken"
PR code: https://github.com/cityofaustin/janis/pull/610
PR app: https://janis-3165-guide-page-small-screen.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide

**Describe the bug**
Guide page sections used to be mobile responsive. Now they are not. Sad day.

All the code to make this work should already exist. Something probably changed on the pare

[2019-10-11 20:54] #3005 closed

[2019-10-11 20:55] #3113 closed

[2019-10-11 21:32] easherma commented on #2969
Current process for this is to open a Janis branch that points to a Joplin PR manually, then trigger the netlify rebuild manually.

[2019-10-11 21:46] desigonz commented on #3065
Thanks @Niicck!

@robbobfrh84, can you add the links where Chase can test? (I think you posted on Slack but let's keep them on the issue so it's all in one place.) And in general, when something is ready to QA, you can assign the issue to me and I'll assign to whoever needs it.

[2019-10-11 21:53] robbobfrh84 commented on #3065
This fix is deployed and can be tested here: https://deploy-preview-560--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/#Learn-and-prepare-5

[2019-10-11 21:57] desigonz commented on #3065
It looks really beautiful on my side of things! Let's wait on design for the final word before pushing to staging.

[2019-10-11 23:04] Jo-Dwyer commented on #2529
Looks good! I had to stop myself before I ended up starting a transition strategy... Thanks @anukandimalla

[2019-10-11 23:04] #2529 closed

[2019-10-13 15:53] annieszot commented on #3126
Follow-up email sent, response with permit application (checklist) received 10/11/2019. Scheduled 1:1 meeting for 10/16/19 to clarify, factcheck.
Will respond to email 10/14/2019

[2019-10-13 16:31] annieszot opened #3166 "Publish or redirect Special Events Ordinance information page"

[2019-10-13 16:35] annieszot opened #3167 "Draft Generation Zero information page"
http://austintexas.gov/department/youth-education
Airtable https://airtable.com/tblZogjLILtjQQuaJ/viwEr4exYRsg7mfr0?blocks=hide

[2019-10-13 16:47] annieszot opened #3168 "Edit Save money by changing your cart size page"
- [x] edit [draft](https://docs.google.com/document/d/1fdlppqK4iLnjcWvt27RmmHl7Cna6HQ6svLXNKe15vw4/edit)
- [x] next steps for approval
- [x] draft IA

[2019-10-13 16:50] annieszot opened #3169 "Edit Donate Clothes and Household items page"
- [x] edit [draft](https://docs.google.com/document/d/1MAj_3tlxXUtm4m6IyR4EeW5aWXusr10Z2gN_fLHh--M/edit)
- [x] next steps for approval
- [x] draft IA

[2019-10-13 16:58] annieszot commented on #2989
New issues:
Universal recycling ordinance #2685
Special events ordinance #3166
Generation zero waste free #3167
Parse out "documents" page - link to zero waste content #2133
Polish remainder of zero waste content/waste + businesses for transition #2133 #1725
Trash - save money by changing your cart size #3168
Donate clothes & household items - #3169
Brush - ask ARR if need to include brush content

[2019-10-13 16:58] #2989 closed

[2019-10-13 17:57] annieszot commented on #3136
@annieszot to share revisions to Funshop Engagement guide with @srigdon during 1:1 on 10/14/2019. Will create issues for structures of Funshop II series/topics. Closing!

[2019-10-13 17:57] #3136 closed

[2019-10-13 23:16] annieszot commented on #3168
Draft ready for departmental review, and will be sent when approval process restarts.
Draft IA - Recycling, trash, and compost > Recycling and Reuse

[2019-10-13 23:16] #3168 closed

[2019-10-13 23:42] annieszot commented on #3169
Content ready for departmental review when approval process restarts. LInk to content from zero waste content.

[2019-10-13 23:42] #3169 closed

[2019-10-13 23:56] annieszot commented on #3167
- research more to decide whether it's better as a service page or info page
- [ ] Draft

[2019-10-14 14:14] chasechenevert commented on #3065
This looks great to me! Good work.

[2019-10-14 14:41] desigonz commented on #3065
Excellent! This can go to staging for you to verify before it goes to prod; no need to further QA if it all looks good to you in staging.

[2019-10-14 14:54] desigonz commented on #2989
Thanks @annieszot! Let's review these at backlog grooming.

[2019-10-14 14:59] desigonz commented on #3028
@briaguya @chasechenevert maybe we should look at this today when we're discussing font style implementation!

[2019-10-14 15:10] kriskristin commented on #3115
Final slide deck. [https://docs.google.com/presentation/d/1dREz12U_SNRdUulc75Akg6TAEGLlVjdxcoRiTuL4pe4/edit?usp=sharing]

[2019-10-14 15:10] #3115 closed

[2019-10-14 15:12] kriskristin commented on #2986
@srigdon Are we good to close this? Are all issues documented?

[2019-10-14 15:21] desigonz commented on #2983
This issue is a bit stale—we workshopped the guide as a group (#3009). Closing this now, we're open a new issue when it's ready for review.

[2019-10-14 15:21] #2983 closed

[2019-10-14 15:23] #2697 closed

[2019-10-14 15:29] desigonz commented on #3062
We're making email not required in #3145.

[2019-10-14 15:33] srigdon opened #3170 "Incorporate EHOs' edits into mobile food vendor guide"
- [x] Review feedback and incorporate from environmental health officers (EHOs)
- [x] Send updated copy to Marcel and Don in Environmental Health Services Division for their review + approval

[2019-10-14 15:36] briaguya commented on #2931
@desigonz looks like we need to define exit criteria here:
Super basic implementation that is also broken (https://github.com/cityofaustin/joplin/tree/2931-contact-translations) leads to:
<img width="1120" alt="Screen Shot 2019-10-14 at 10 31 24 AM" src="https://user-images.githubusercontent.com/6384156/66763719-fa517880-ee6d-11e9-8296-359aab8cbb2f.png">
^ what we currently have for snippets trans

[2019-10-14 15:45] #3060 closed

[2019-10-14 15:50] desigonz commented on #2514
@srigdon is emailing Sara Peralta to check in on this. Sara P in OPO now has Joplin access and can update this whenever, so this is in their court.

[2019-10-14 15:50] #2514 closed

[2019-10-14 15:54] desigonz commented on #3110
Went out for translation 10/10, waiting on them :)

[2019-10-14 15:55] desigonz opened #3171 "Municourt content sync"
**Objective**
- Understand what priorities are for municipal court transition based on staff insights
- Decide together what successful transition looks like
- Document an approval process that works for municipal court and ODD staff
- Consider ways to capture municipal court staff feedback as Joplin “beta testers”

**Participants**
@Jo-Dwyer, @annieszot, @desigonz, Amy, Gavin

**Agenda**

------

[2019-10-14 16:12] desigonz commented on #3140
- video accessibility (captions, descriptions)

[2019-10-14 16:15] desigonz commented on #3170
@srigdon to split up issues into smaller steps and assign some for sprint 41 and some for sprint 42

[2019-10-14 16:16] desigonz opened #3172 "Guide page for style guide"
We have a guide content type. Let's write up a style guide section for it.

[2019-10-14 16:18] Niicck opened #3173 "Publish PR App from Joplin"

[2019-10-14 16:21] desigonz opened #3174 "Incorporate fact check edits into garden guide"

[2019-10-14 16:24] desigonz opened #3175 "Forms workshop planning with CTM forms team"
**Objective**
As we start to transition forms to Austin.gov, we’re collaborating with CTM to develop a replicable and scalable form workshop model. The goal of the workshops is to engage stakeholders in revising forms to be accessible and resident-friendly.

**Participants**
Desi, Chris, Amanda, Soolin

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [ ] Create resulting issues

[2019-10-14 16:35] srigdon opened #3176 "Marketing one-pager"
- [x] Meet to discuss marketing one-pager during sprint review 10/16/19.
- [x] Create resulting issues.

[2019-10-14 16:39] desigonz commented on #3100
Moving this acceptance criteria out of this issue:
- [ ] advise on hiring process
future sprints: sit in on interviews

We'll create new issues as they arise.

[2019-10-14 16:39] #3100 closed

[2019-10-14 16:42] desigonz commented on #2931
@briaguya Thanks makes sense, I think! Let's chat about it quickly when you're in the office today.

[2019-10-14 17:05] robbobfrh84 commented on #3006
This issue is now in staging and can be tested by ...
- Run an empty search in janis: now, you'll see a valid return (rather than the error, from ☝️prod above)
- Or, sample link: https://joplin-staging.herokuapp.com/admin/pages/search/?q=

[2019-10-14 17:15] desigonz opened #3177 "Remove implied ability to re-order official documents"
### As a content editor adding official documents, I want an easy and understandable way to manage many document entries within the official document content type.

**Acceptance criteria**
- [ ] Ability to re-order is gone for official document pages (see C in the mock below—remove this!)
- [ ] Previews of official documents pages should show documents in the correct order (most recent at top)
- [

[2019-10-14 17:19] desigonz opened #3178 "Collapse official document entries"
### As a content editor adding official documents, I want an easy and understandable way to manage many document entries within the official document content type.

- [ ] Ability to collapse official document entries
- [ ] When user collapses an entry, the date of the document displays
  - [ ] Date renders as: Month, date, year (see mock)

![#2668](https://user-images.githubusercontent.com/3790067

[2019-10-14 17:24] desigonz opened #3179 "Official documents display order"
### As a content editor adding official documents, I want an easy and understandable way to manage many document entries within the official document content type.

**Acceptance criteria**
- [ ] ~~When user opens an official document edit page that already has entries, there is an empty first instance of the document on the top of the document entries (see A in the mock below)~~
- [ ] Documents al

[2019-10-14 17:26] desigonz commented on #3179
@toribr, I'm splitting up the official doc management into multiple issues with acceptance criteria. For this one, I'm looking at the mock and not sure how a user would add a second entry beyond the empty first instance. Can you specify that?

[2019-10-14 17:28] ablangworthy27 commented on #3111
@desigonz we are going with this for the copy on both:

_Help us improve_

Do you think you can translate since it is so minimal or should I send out? I also question whether the information icon is a little inappropriate since the page is not informational in a larger sense, and really only talks about volunteering for research.

[2019-10-14 17:31] desigonz commented on #2668
Split these into issues #3177, #3178, and #3179

[2019-10-14 17:42] desigonz commented on #3111
Nice! Maybe add "our website"? *Help us improve our website.*

@kriskristin, would love your editorial eye on my translations:
Help us improve = Ayúdenos mejorar.
Help us improve our website = Ayúdenos mejorar nuestro sitio web.

[2019-10-14 17:43] desigonz commented on #3111
Also! We need a short slug, memorable for the page. @ablangworthy27 and @kriskristin, can you specify what you'd like it to be in English?

alpha.austin.gov/**slug-name-here**

[2019-10-14 17:47] ablangworthy27 commented on #3110
These are done and have been added to the page in Joplin.

[2019-10-14 17:49] desigonz commented on #3006
@robbobfrh84 Beautiful! QA complete. This can go to production.

[2019-10-14 17:53] desigonz commented on #3159
Can y'all size this issue?

[2019-10-14 17:54] #3110 closed

[2019-10-14 18:12] desigonz opened #3180 "Implement style guide menu in Joplin (make styleguide iframe TOC match Gitbooks TOC)"
### As a content editor I want the style guide panel in Joplin to display information relevant to the component/content type I am editing so that I can more efficiently find appropriate guidance.

**Is your feature request related to a problem? Please describe.**
The style guide panel in Joplin allows content editors to reference the style guide, but it's only half-way set up.

- [Gitbook syncs](h

[2019-10-14 18:16] desigonz opened #3181 "Add department and official doc pages to the style guide tab"
QA notes:
PR: https://github.com/cityofaustin/joplin/pull/508
PR app: http://joplin-pr-3181-style-guide.herokuapp.com/

### As a content editor I want the style guide panel in Joplin to display information relevant to the component/content type I am editing so that I can more efficiently find appropriate guidance.

**Acceptance criteria**
- [x] When a user edits a department page, the style guide

[2019-10-14 18:17] desigonz commented on #2254
I made issues #3180 and #3181 for next steps on dev implementation. Closing this doozy.

[2019-10-14 18:17] #2254 closed

[2019-10-14 18:55] #3006 closed

[2019-10-14 18:55] #3065 closed

[2019-10-14 18:55] desigonz commented on #3120
From @toribr on Slack:

[2019-10-14 19:19] desigonz commented on #3049
resources from @briaguya: https://www.w3.org/TR/WCAG20-TECHS/ARIA12.html

assigning @briaguya to document his research and maybe do some proof of concept stuff

[2019-10-14 19:33] desigonz commented on #2931
Acceptance criteria updated above, let's go with that.

[2019-10-14 19:40] desigonz opened #3182 "Remove H1 from rich text blocks"
### As a content editor, I want the rich text block to display only the heading levels I need, so that I can publish content within austin.gov content standards.

We've decided that the only H1 on a page should be the page title. Let's get rid of this option from ALL rich text blocks.

**Acceptance criteria**
- [ ] Remove H1 from all rich text block options

Test this on:
- [ ] Service pages addit

[2019-10-14 19:44] desigonz opened #3183 "Lists in Janis"
Let's make lists style consistently and in ways that work beautifully with the rest of the content on a page. Here's where we'll start.

**Acceptance criteria**
- [ ] For both mobile and desktop, entire `<ol>` or `<ul>` should have the following per @chasechenevert's doc:
  - [ ] `Margin-top: 20px`
  - [ ] `Margin-bottom: 20px`
  - [ ] `Margin-left: 20px`
- [ ] Get rid of margin bottom for all `<l

[2019-10-14 19:44] ablangworthy27 commented on #3111
For the slug, my suggestion is alpha.austin.gov/participate-in-research

I'm not sure that adding "our website" fixes the problem with the icon. Especially since the research isn't just for the site, but also services. But maybe I am overthinking it.

@kriskristin I know we landed on _help us improve_but let me know what you think of Desi's suggestion.

[2019-10-14 19:48] desigonz opened #3184 "H1 font weight"
**Acceptance criteria**
- [x] All H1s should have the same `font-weight` of `700`
- [x] The one exception is section headings within guides, which should remain at `500`

![image](https://user-images.githubusercontent.com/5839508/66778558-a48ec780-ee91-11e9-8c43-7b120cfc1d1c.png)

[2019-10-14 19:51] Niicck opened #3185 "Clean up Error Messages from janis_url function in Joplin"
**Describe the bug**
When we navigate to the home page `pages/3` on Joplin there are issues thrown for every page that's queried. They look like this:
[code]

**URL**
http://localhost:8000/admin/pages/3

**To Reproduce**
Go to the page on a local environment. See all the errors.

**Current behavior**
We get many error messages.

**Expected behavior**
We don't want all of those error messages.

[2019-10-14 19:51] desigonz opened #3186 "Steps should appear as ordered lists"
Steps are ordered lists, and they should appear that way to a screenreader—but currently they aren't doing that.

**Acceptance criteria**
- [x] A step appears as an `<ol>` when you inspect element

[2019-10-14 19:52] desigonz commented on #3186
@briaguya Am I missing anything on this acceptance criteria?

[2019-10-14 19:52] desigonz commented on #3111
Oops didn't see your icon comment! Let me touch base with Chase about it.

[2019-10-14 20:06] chasechenevert commented on #3111
@desigonz Let's go with the Material "feedback" icon. Devs will have access to the icon in Janis, but anyone needs a link it's here: https://material.io/resources/icons/?icon=feedback&style=baseline

[2019-10-14 20:15] desigonz commented on #2368
@chiaberry to add links to where we can QA and assign to @desigonz

[2019-10-14 20:18] desigonz commented on #3053
1. @Niicck will finish out staging-style testing on PR apps
2. Then we'll test this one fully

[2019-10-14 20:24] desigonz commented on #2991
@chiaberry to add link to where we can test, then assign to @desigonz

[2019-10-14 20:25] desigonz commented on #3145
@chiaberry to add PR link where to test and assign to @desigonz when ready

[2019-10-14 20:31] robbobfrh84 commented on #3092
Here's the image of how it should look *without* a page in a section...
![Screen Shot 2019-10-14 at 2.44.40 PM.png](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/c3931d08-00c7-4790-a4d7-eeb83018b525)

And.... Here's how it currently looks when you attempt to publish *without* adding a page...

![Screen Shot 2019-10-14 at 2.44.07 PM.png](https://images.zenhubusercontent.com/5d6e8e84

[2019-10-14 20:33] kriskristin commented on #3111
@desigonz Your translation looks great to me.

To be clear we are talking about:

I am not opposed to using "help us improve out website".

@ablangworthy27 @desigonz
I'll give a thumbs up to the slug and whichever option ☝️ fits better in the footer and mega menu.

[2019-10-14 20:37] desigonz commented on #2851
This will get absorbed with incremental builds.

[2019-10-14 20:37] #2851 closed

[2019-10-14 20:41] desigonz commented on #2908
@chasechenevert, @briaguya, and I met today and broke this into these issues: #3183 #3182 #3184 #3186

[2019-10-14 20:42] #2908 closed

[2019-10-14 20:42] srigdon opened #3187 "Translate dates in each official documents content type entry into Spanish"
### As a reader of a given page using the official documents content type in Spanish, I want to read the dates in my preferred language so that I'm not confused by English and Spanish content on the same page.

**Acceptance criteria**
- [ ] In Spanish, each date should appear in this format: `[day] de [month] de [year]`
  - [x] **january:** 9 de enero de 2019
  - [x] **february:** 9 de febrero de

[2019-10-14 20:46] desigonz commented on #3111
@easherma to merge branch with SEO and settings tabs exposed

[2019-10-14 20:47] #3125 closed

[2019-10-14 21:21] desigonz commented on #3028
Per our meeting today, @chasechenevert should make test pages on staging inserting maps wherever we it's possible and review all of the breakpoints.

[2019-10-14 21:26] desigonz commented on #3084
@Niicck @robbobfrh84 @briaguya We decided to backlog this for now, and wait til incremental builds, correct?

[2019-10-14 21:32] #3030 closed

[2019-10-14 21:48] chiaberry commented on #2368
https://joplin-pr-2368-dept-page-place.herokuapp.com/

[2019-10-14 21:48] desigonz commented on #3001
brilliance by @briaguya:

I'll be breaking these down into issues for next few sprints and add them to this epic.

[2019-10-14 21:49] #3002 closed

[2019-10-14 21:50] robbobfrh84 commented on #3092
This has now been review, and merged into staging for QA @desigonz .
- Also, here's a direct example: https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/test-a-guide

[2019-10-14 21:50] desigonz opened #3188 "Implement "incremental ready" build process"
Joplin PR: https://github.com/cityofaustin/joplin/pull/406
Janis PR: https://github.com/cityofaustin/janis/pull/559
Deployed Joplin: https://joplin-pr-3151-urls-in-api.herokuapp.com
Deployed Janis: https://janis-3152-riffin.netlify.com

## QA Notes
* Top links for topics are now managed on topic pages. Topic collection pages rely on this to generate the topic cards. When top links have not been se

[2019-10-14 21:51] desigonz commented on #3152
Awesome, thanks all. @briaguya documented your checkboxes in the incremental builds epic (#3001). Queued up #3188 for next sprint. Closing this issue :)

[2019-10-14 21:51] #3152 closed

[2019-10-14 21:52] chiaberry commented on #2991
ready for QA: https://joplin-pr-2991-author-name-on.herokuapp.com/

[2019-10-14 21:55] desigonz commented on #2991
@chiaberry looks great! Ready to go to code review and/or staging. You can just verify that it's working in staging, no need for a second QA.

[2019-10-14 21:59] desigonz commented on #2368
@chiaberry Looks great! QA complete.

[2019-10-14 22:00] Niicck commented on #3173
Replaced by https://github.com/cityofaustin/techstack/issues/2296

[2019-10-14 22:00] #3173 closed

[2019-10-14 22:00] Niicck commented on #2415
Replaced by https://github.com/cityofaustin/techstack/issues/2296

[2019-10-14 22:00] #2415 closed

[2019-10-14 22:22] chiaberry commented on #3145
link to QA: https://joplin-pr-3145-remove-contacts.herokuapp.com/

[2019-10-15 12:11] toribr commented on #3179
Let's see how dev feels about this:

![#3179](https://user-images.githubusercontent.com/3790067/66830359-eb74cf80-ef1a-11e9-99e3-5318041d6922.png)

[2019-10-15 14:36] desigonz commented on #3145
Looks great, QA complete! Ready to go to staging, no need for another round of QA.

[2019-10-15 15:00] desigonz commented on #3079
We fixed this in #3127

[2019-10-15 15:00] #3079 closed

[2019-10-15 15:01] #2964 closed

[2019-10-15 15:06] desigonz commented on #3162
Related: #3049 heading levels in guides. How does this work on a screenreader? What's best practice?

[2019-10-15 15:31] toribr commented on #3179
@desigonz updated. let's review during design/dev sync.

[2019-10-15 15:39] anukandimalla opened #3189 "Content inventory of Austin Water"
The link for department:  http://www.austintexas.gov/department/water

[2019-10-15 15:42] srigdon opened #3190 "Translate, review, and publish mobile food vendor guide"
Steps left to get this over the finish line:

Once I receive approval from Marcel and Don, assign to two rounds of review by two of our eagle-eyed content strategists. @annieszot I'd love one of those rounds to be by you, as you've got guide experience. Does doing that some time this sprint (42) work for you?

- [ ] Send it off for Spanish translation.
- [ ] Publish the English version, and the Sp

[2019-10-15 15:44] desigonz commented on #3155
During pin-up, landed on **most recently edited**

[2019-10-15 19:03] robbobfrh84 commented on #3148
PR for this up now: https://github.com/cityofaustin/janis/pull/567

Checkout page without a image(*see the placeholder)

Here's one: https://deploy-preview-567--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/test-a-guide
Checkout a page with and image

Here's one: https://deploy-preview-567--janis.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mo

[2019-10-15 19:31] robbobfrh84 commented on #3039
I'm actually not able to replicate this error. I've tested on a couple different guides with IE 11... If y'all could check again and see if it's not just me...
-
It's possible that this was a "collateral-fix" from one of the guide issues I've worked on since then.
-
![Screen Shot 2019-10-15 at 2.28.21 PM.png](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/4885fdf4-3551-4b38-819c-223

[2019-10-15 19:31] toribr opened #3191 "Documents and Images share the same folder names"
As a user, my mental model is that documents and images under two different navigation items are conceptually two different things, and therefore would have unique folder structure for each.

Currently a folder for OPO documents shows under "Images". And folders created specifically for Images shows under "documents." This is contrary to anyone's mental model about how folders work, regardless of

[2019-10-15 19:45] toribr commented on #3008
We want *somehow* for the form rendered in Janis to match our form guidelines, ie, fields aren't stacked, there aren't labels underneath fields, and so forth.

So we need to find out what can be done in formstack to adhere to the form guidelines.

[2019-10-15 19:45] briaguya commented on #3008
Issues to come from this:
@Niicck to look into Joplin/Janis form stuff
@toribr to look into formstack styling

[2019-10-15 20:02] briaguya commented on #3179
As per discussion with @toribr at dev/design sync, we're pushing the empty first document requirement off.

[2019-10-15 20:44] chiaberry commented on #3147
This is on netlify here: https://deploy-preview-568--janis.netlify.com/
It's currently being code reviewed @desigonz , but needs to get checked visually too. One thing I realized was that there is no error handling, if the server goes down and the issue isn't submitted to github, the form just fails quietly.

The github repo with the issues is here: https://github.com/cityofaustin/alpha-feedback/i

[2019-10-15 21:14] desigonz commented on #3179
@briaguya love it, thanks y'all for talking through that!

[2019-10-15 21:18] desigonz commented on #3039
I see it on Browserstack when using IE11 on Windows 7. But also I'm cool to close this.

[2019-10-15 21:18] #3039 closed

[2019-10-15 21:38] desigonz commented on #3147
Assigning @chasechenevert to review the visual design implementation at this [link](https://deploy-preview-568--janis.netlify.com/). Please log your feedback here!

I'm also going to ask the content team an editorial question on Slack and will post the response here.

[2019-10-15 21:44] desigonz commented on #3148
Assigning @chasechenevert to QA this. Chase, I'm noticing white space on the sides of the generic guide graphic but not the page with a non-generic image—thoughts on this?

![image](https://user-images.githubusercontent.com/5839508/66872133-d889eb80-ef6a-11e9-9855-ec7e23f43c81.png)
![image](https://user-images.githubusercontent.com/5839508/66872141-dd4e9f80-ef6a-11e9-8c68-2c60e61014cb.png)

@robbo

[2019-10-15 21:48] desigonz commented on #3190
This issue is very exciting.

[2019-10-15 21:52] briaguya commented on #3178
@desigonz I added Design as a team label to this to reflect that it will require some back and forth as a dev does discovery of different ways to implement collapsable entries (my preference is looking into https://github.com/wagtail/react-streamfield as it could be more fun/easier to extend in the future).

I would consider breaking this down into:
1. dev - Investigate ways to collapse things in

[2019-10-15 22:38] Niicck opened #3192 "Unify publish logic in Joplin"
### As a Content Author I want the same experience publishing on edit/ as pages/ so that I do not miss any information about publishing status.

**Is your feature request related to a problem? Please describe.**
Ok. So you're a content author using Joplin. You can publish from pages/ (the home page) or from an individual page's edit/ page. Right now, those 2 ways of publishing do different things

[2019-10-16 00:10] srigdon commented on #2648
Looking good, @ablangworthy27! See the draft doc for edits in line.

Passing to @Jo-Dwyer for review and implementation. Let me know if you have questions or if I can help put it in the style guide.

[2019-10-16 13:33] desigonz commented on #3163
Thanks @robbobfrh84 for reporting this! With our current translation model, when there's no Spanish content in Joplin, Janis will default to the English, so we should just follow that same convention for now.

Sarah's made an issue for translating mobile food vendor content, but you pointed out some other super important bugs. I've updated the acceptance criteria above.

[2019-10-16 13:39] robbobfrh84 commented on #3148
Hey @desigonz This is in staging now! ready for QA!

[2019-10-16 13:40] desigonz commented on #3165
:( yeah let's fix this

[2019-10-16 14:43] annieszot opened #3193 "PARD Factcheck meeting"
**Objective**
Meet with Meredith at PARD to factcheck the garden permit application

**Participants**

Meredith Gauthier
@annieszot
**[Agenda](https://docs.google.com/document/d/1ZcA2wUvhrA5vtaP31pUPZsE0CNvycMJjLdSH5Qcmu98/edit)**

------
- [x] Schedule meeting Oct. 16 3p.m. at PARD Annex
- [x] Meet
- [x] Create resulting issues - see #3126

[2019-10-16 15:19] #2289 closed

[2019-10-16 15:19] desigonz commented on #2289
Haven't been able to replicate, closing for now.

[2019-10-16 15:21] chiaberry commented on #1925
@easherma do you have a set of rules in mind, or do you want to use the us-forms-systems and see if that works for us?

[2019-10-16 15:54] chasechenevert commented on #3103
We determined that for MVP we'll just focus on creating the individual Place pages, and link to them where locations are currently listed within service pages (or elsewhere)
- Place page: includes all information that the contact snippet has including: phone numbers, fax, email, hours

[2019-10-16 16:14] desigonz commented on #1422
Consolidating thoughts from @Jo-Dwyer from another issue:

## As a content editor I want to limit or control formatting in a rich text box so that I can easily maintain consistency of header use and formatting on the pages I manage.

### Issue description ###
#### Format issues ####
Published pages are showing several layers of formatting which may be holdover formatting from draft pages in other

[2019-10-16 16:15] desigonz commented on #3107
Added these thoughts to epic #1422. Closing this one!

[2019-10-16 16:15] #3107 closed

[2019-10-16 16:16] desigonz commented on #2977
Added this as something to think about with the Places content type.

[2019-10-16 16:24] easherma commented on #2977
This is also interesting from a design perspective, as in this case there is the same contact info/location on the right as there is at the bottom.

Not saying this is a bad idea at all; but we could also potentially link _to_ the places page inside a step, or have an anchor link to a map if its lower on the page.

Just my opinion, but as is the static map takes up a lot of space and I'm not convi

[2019-10-16 16:29] desigonz commented on #3164
Going to backlog for now and review priority once we have a live guide.

[2019-10-16 16:30] briaguya commented on #3073
@desigonz questions to be answered:
- If we have a topic with a description but no pages under it, should we publish it?
  - If yes: what should it look like on a topic collection page, what should the topic page look like?
  - If no: what does this look like for content authors? Does it say "live" on the page listing?

[2019-10-16 16:34] desigonz commented on #3073
@briaguya thanks Brian!

[2019-10-16 16:36] desigonz commented on #3103
@chasechenevert and @toribr: I'm going to make this issue just about the single place page content type (Janis side), and then make a new issue for the Joplin side of the single place page. Later we can make more issues for the multi-view or the view from a service page, etc.

[2019-10-16 16:41] desigonz commented on #3157
Can you add more detail to this issue? Trying to figure out how this fits into the picture of our incremental builds/Joplin 3 issues.

[2019-10-16 16:41] easherma commented on #1925
@chiaberry open to whatever. Airbnb ESLint seems to be the go-to standard.

[2019-10-16 16:45] desigonz opened #3194 "Joplin mocks for single place page content type"
- [ ] Comps for Joplin single place page content type

For MVP we'll be displaying:
- Phone
- Fax
- Email
- Hours
- Physical address

[2019-10-16 16:47] desigonz commented on #2966
Objectives:
- As an resident, I want to be able to easily view where I can obtain a service
- As a resident, I want to be able to see details about a location's accessibility, hours, parking, and other issues which may effect my ability to obtain a service.

Artifacts:
- [ ] Comps using real-world service content for single "places" page
- [ ] Comp using real-world content for mulitple location pl

[2019-10-16 16:47] desigonz commented on #2966
From @chasechenevert:

[2019-10-16 16:49] desigonz opened #3195 "Janis mocks for single place page content type"
- [ ] Comp for Janis single place page content type

For MVP we'll be displaying:
- Phone
- Fax
- Email
- Hours
- Physical address

[2019-10-16 16:52] desigonz commented on #3103
Hey team—I broke these down into the individual tasks (#3194 and #3195), and transferred y'all's notes above to Place content type epic #2966. Once we decide whether we're doing a multi-page for MVP or just changing how multiple locations display on a service or info page, we can create issues for delivering those mocks. Closing this one, but let me know if you have questions!

[2019-10-16 16:52] #3103 closed

[2019-10-16 16:55] easherma commented on #3050
This could vary widely depending on our acceptance criteria. I remember some discussion around concerns of nuking staging data if someone is not aware and was working on a draft. We'll also want to decide what sort of 'magic' we want: will it be time based (on a regular schedule) or condition based (making this up, but say when we merge a PR called ``` Master ----> Prod ``` it runs then.

[2019-10-16 17:07] chasechenevert commented on #3148
The whitespace issue is because of the max width is set differently between the two images. To make these match, lets have the max width: 100% and that should take care of it.

[2019-10-16 17:33] toribr opened #3196 "Formstack styling"
Going to take a look at creating a Janis theme for formstack using custom css within formstack.

[2019-10-16 17:38] kriskristin commented on #3154
@ablangworthy27
either "user-research@austintexas.gov" or "feedback@austintxas.gov" work.
I can go through the process to get one and then let you know when it is set up.

[2019-10-16 17:38] desigonz commented on #3147
Here's the copy update:
- [ ] Change `Feedback received.' to `We have received your feedback.`

I'm going to log error messaging specs in a different issue.

[2019-10-16 17:52] ablangworthy27 commented on #3038
Document has been sent to content team members. Next step is to block off some time to discuss.

[2019-10-16 18:06] desigonz commented on #3154
I like feedback@austintexas.gov!

[2019-10-16 18:07] toribr commented on #3008
![Form - 3008](https://user-images.githubusercontent.com/3790067/66946094-d6309b80-f015-11e9-9813-3b9819c0ccac.png)

[2019-10-16 18:15] oliver2g opened #3197 "Is Austin creating a communication protocol?"
- Deliverable 6: "Final Deliverable 6 (City of Austin): Communication protocol for school and hospital notifications"

- "Deliverables 3 and 6: Two communications protocols, informed by the community engagement
findings, for relevant cross-agency teams in charge of alerts to the public, by Alameda County,
and to schools and hospitals, by Austin."

[2019-10-16 19:05] annieszot opened #3198 "Agenda for Content Pin-Up - 10-22-19"
Last Content Pinup #3036
- rollover - content lead description/implementation @Jo-Dwyer Status update?

🚦Approve agenda

💻 Content sprint goals
Checking in on...anyone need help?
Forms - microcopy
Style guide - official doc publish; Jo to review
Food truck edits - wrap up edits
Pools & Spas - Meet w/ Chris to review feedback; Outline draft
Garden guide - give update on chat 10/21/19

🏁 Roadmap
Wha

[2019-10-16 19:12] kriskristin commented on #3111
after looking over the slug and getting some feedback, I am thinking that we should change it to "feedback"
@desigonz is it too late to make that change?

[2019-10-16 19:50] desigonz commented on #3196
After that cross-team Formstack meeting we had a few sprints ago, @Niicck created a simple Formstack theme based on the Day Labor Form. You can view it here. And it doesn't show the title!! 🎉

https://cityofaustin.formstack.com/forms/ni_request_day_laborer

What we need from design is more fleshed out specs in #3008—closing this one since it's a dupe

[2019-10-16 19:50] #3196 closed

[2019-10-16 19:54] desigonz opened #3199 "Slug won't save"
**Describe the bug**
I'm trying to save the slug for https://joplin.herokuapp.com/admin/pages/241/edit/#tab-seo as `/feedback/` but it doesn't save. Doesn't work for English or Spanish, but for now, let's just fix the English.

**Acceptance criteria**
- [x] Saving a new slug persists in Joplin
- [x] The Janis page appears at the slug indicated in Joplin
- [x] Slug field only appears once

**URL**

[2019-10-16 19:56] desigonz commented on #3111
@kriskristin Not too late, but we did just find a related bug in #3199

[2019-10-16 20:25] desigonz commented on #3008
@toribr and @chasechenevert to pair up over sprint 42 and deliver:
- [ ] CSS specs
- [ ] designs for error message handling

[2019-10-16 20:45] desigonz opened #3200 "Prototype linking to place pages"
### As a resident, I want to see all locations that offer a city service, so that I can find a location that’s most convenient for me.

- [x] MVP designs for how a user navigates from a service/info page to the place page.

[2019-10-16 20:53] desigonz opened #3201 "Turn permissions in Airtable into acceptance criteria"
A long time ago, some ODD flockers thought about user roles: https://airtable.com/tblfRVpVovf232JrH/viwUvdLeGmyC37MUk?blocks=hide

- [x] turn these into acceptance criteria
- [x] schedule meeting to review with content and design team (3223)

[2019-10-16 20:54] easherma commented on #3199
It looks like the slug is appearing twice, and needs to be updated in both fields in order to save.

[2019-10-16 21:19] easherma commented on #3111
@desigonz changing URL page slugs by language isn't currently supported in Janis, do we want to make this happen now, or make it follow the pattern for privacy policy? (content changes, nothing changes in the slug but the language selected

[2019-10-16 21:35] easherma commented on #3111
another issue, looking for some feedback:
https://austininnovation.slack.com/archives/C0WTQUT2Q/p1571260465031600

[2019-10-16 21:37] easherma commented on #3111
Preview up here: https://deploy-preview-569--janis.netlify.com/

[2019-10-16 21:59] desigonz commented on #3111
- [ ] Let's follow what's happening for privacy policy for now. Would you mind opening an issue for the other one?
- [ ] there's a funny double `help us improve`
![image](https://user-images.githubusercontent.com/5839508/66962185-ff612400-f035-11e9-926f-8c4672a4a8f4.png)
- [ ] Need to update the link down here
![image](https://user-images.githubusercontent.com/5839508/66962300-4818dd00-f036-11e9-9

[2019-10-16 22:12] srigdon commented on #3154
I like feedback@austintexas.gov, too!

Steps to set one up:
1. @kriskristin, if you're good with that email address, decide who will have access to it. You'll need to put their names in the help ticket to request it.
2. Submit a ticket through ServiceNow > https://atx.service-now.com/sp

[2019-10-16 22:20] desigonz opened #3202 "Form container content type"
### As a content editor, I want to be able to embed a form onto Austin.gov so that my users can access the form.

This is a new content type that allows a user to embed a form onto an austin.gov page!

- [x] Content team needs to review microcopy for the Joplin mock

**Acceptance criteria**
*dev team: what else do you need to know for acceptance criteria?*
Joplin ([mock](https://user-images.github

[2019-10-16 22:29] desigonz opened #3203 "Dev-design sync 10/22/19"
## Housekeeping
- Let's develop an acceptance criteria handoff checklist for Janis things that keep slipping through the cracks:
  - Mocks for all breakpoints
    - Desktop
    - Tablet
    - Mobile
  - Translations
  - Previews
  - What else?

## Review implementation
- [x] #3147 review implementation of the feedback module

## Review designs
- [x] #3094 Guide page TOC breaks when too tall. Let's

[2019-10-16 22:33] desigonz opened #3204 "Drupal 8 hiring"
Commitment
- [ ] Meeting with developers/ hiring team to decide the hiring process -  2 hours (week of 10/14)
- [ ] Review and finalize questions -  2 hours (Latest by 10/21)
- [ ] Initial Interview 4 candidates (4 * 30 min)  - 2 hours (week of 10/21)
- [ ] Final Interview 2 candidates (2 * 45 min) - 1.5 hours (week of 10/21)
- [ ] Wrap up -  1 hour (week of 10/21)

Total: 10+ hours

[2019-10-16 22:37] chiaberry opened #3205 "There is no scrollbar indicator of where you are on a page in Janis"
PR: https://github.com/cityofaustin/janis/pull/600
Testing link: https://janis-3205-scrollbars.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide

Managed to fix this in a way that makes sure the main guide page scrollbar appears but the nav scrollbar is hidden.

Tested in:
Chrome (mac) ✅
Chrome (win10) ✅
Edge (win10) ✅
IE 11? (win10) the whole gu

[2019-10-16 22:48] annieszot commented on #3096
Moving milestone to next sprint. Here's Slack convo for next editorial steps
![Screen Shot 2019-10-16 at 5 39 14 PM](https://user-images.githubusercontent.com/46934140/66964739-16efdb00-f03d-11e9-89c1-91a9b5abdd94.png)

[2019-10-16 22:57] desigonz opened #3206 "Localization for links to global pages"
**Describe the bug**
We implemented the privacy policy as a hard-coded link in the footer, but when you're in español, the page only appears in English.
![privacy-policy-espanol](https://user-images.githubusercontent.com/5839508/66965072-160b7900-f03e-11e9-9ae2-4e8f2f6c8529.gif)

This is also happening with the user research call to action page we're implementing in #3111
![3111-spanish](https://u

[2019-10-16 23:06] desigonz commented on #3111
@easherma here's the missing acceptance criteria:
- [ ] Copy in nav menu should read:
  - [ ] English: "Help us improve our website."
  - [ ] Spanish: "Ayúdenos mejorar nuestro sitio web."
- [ ] In the nav menu, change information icon to Material feedback icon
- [ ] Resolve #3026 in order to meet the acceptance criteria about routing to the properly localized URLs

[2019-10-16 23:18] desigonz opened #3207 "Error number on content tab"
**Describe the bug**
See image below—I tried publishing a guide page with a section heading missing. I get a little number telling me how many errors it throws on the content tab, but they're behind the top menu bar. Let's bring the number to the front.
![image](https://user-images.githubusercontent.com/5839508/66965811-a3e86380-f040-11e9-875b-9190c1576e12.png)

**URL**

**To Reproduce**

1. Go to

[2019-10-16 23:23] robbobfrh84 commented on #3148
Here it is at 100% @chasechenevert Is that what you had in mind?

![Screen Shot 2019-10-16 at 6.16.38 PM.png](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/7ff17713-12ee-4c66-9179-32d8c8b3024d)

@desigonz I'll let you know once it makes it's way to staging for QA

[2019-10-16 23:26] desigonz commented on #3199
@easherma Yeah all of the fields are appearing twice! Can we loop in having the fields only appear once into this issue, or do they require different kind of dev work?

[2019-10-16 23:30] desigonz commented on #3092
I'm not 100% sure about the acceptance criteria here, let's get @briaguya to test.

What I did:
1. added pages to the community garden guide in staging ([Joplin](http://joplin-staging.herokuapp.com/admin/pages/130/edit/)) ([Janis](https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/community-garden-permitting-guide/#And-another-1))
2. unpublished one of those pag

[2019-10-16 23:41] briaguya commented on #3092
@desigonz that's odd with the unpublish thing, it's gone from the topic page https://janis.austintexas.io/en/health-safety/police-oversight-2/police-feedback-and-records

try making a new page and adding it to a guide, then deleting the page you just made. We'll worry about unpublish later as that's not what this issue is addressing.

[2019-10-17 01:03] easherma commented on #3199
Nah that’s probably just what solving this bug will take.

On Wed, Oct 16, 2019 at 6:26 PM desigonz <notifications@github.com> wrote:

--
Eric Sherman
224-402-0004

[2019-10-17 14:27] #3193 closed, assigned to annieszot

[2019-10-17 14:53] annieszot opened #3208 "Employee Experience Strategy"
[Document](https://docs.google.com/document/d/1CYs4VRiSnAbp_eLRYYQgb9l--1KuIWAIBcl6ZrALaSc/edit)
- [x] Finish writing doc
- [ ] Collaborate and finish w/ @oliver2g

[2019-10-17 15:07] desigonz opened #3209 "Form accessibility testing"
Let's test this form with David Ondich to see how accessible our Formstack theme is out of the box. https://cityofaustin.formstack.com/forms/ni_request_day_laborer

- [x] Schedule with David. Ask if it's also possible to test in mobile.
- [x] Draft up list of specific questions(Started)
  - Error validation
  - Labels
  - Form fields
- [x] Finalize the Questions for Testing
- [x] Testing
- [x] Wri

[2019-10-17 15:08] desigonz commented on #3162
Let's test this guide: https://janis.austintexas.io/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/

[2019-10-17 15:21] toribr commented on #3124
@desigonz ready to go to dev, i think.

[2019-10-17 15:46] chiaberry commented on #2407
@desigonz ready to be QA'd here: https://deploy-preview-571--janis.netlify.com

[2019-10-17 15:49] srigdon commented on #3176
Per process workflow sprint meeting on 10/16, this 1-pager is being put on the back-burner. Closing, and I'll create issues if it comes back on the radar.

[2019-10-17 15:49] #3176 closed

[2019-10-17 15:51] desigonz opened #3210 "Whiteboarding managing footer and homepage links"
**Objective**
Let's work together to imagine how admins manage homepage content.

**Participants**
Content team
Design team

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [x] Create resulting issues

[2019-10-17 15:52] desigonz opened #3211 "Designs and acceptance criteria for homepage/footer management"

[2019-10-17 15:58] desigonz opened #3212 "Smoke meetings and design (sprint 42)"

[2019-10-17 16:11] #3038 closed

[2019-10-17 16:23] desigonz opened #3213 "Pools and spas guide: meet with Chris to review docs"
- [x] schedule meeting
- [x] talk about it

[2019-10-17 16:28] desigonz opened #3214 "Draft pools and spas outline"
First draft by end of sprint 42

[2019-10-17 16:31] desigonz opened #3215 "Incorporate governance doc feedback"

[2019-10-17 16:38] srigdon commented on #2648
Per sprint planning meeting 10/17, we're going to publish this section of the style guide and discuss the following question at the [next content pin-up meeting](https://github.com/cityofaustin/techstack/issues/3198):

[2019-10-17 16:38] #2648 closed

[2019-10-17 16:40] #3080 closed

[2019-10-17 16:42] desigonz commented on #3159
CLosing, will reopen if it happens again

[2019-10-17 16:42] #3159 closed

[2019-10-17 17:08] briaguya commented on #3206
line 72 of PageSections/Footer/index.js needs to be:
[code]

[2019-10-17 17:12] #3145 closed

[2019-10-17 17:13] #2991 closed

[2019-10-17 17:14] #2368 closed

[2019-10-17 17:39] toribr opened #3216 "Form display within guides"
When forms/form containers are linked to within a guide, we should not display the form because that would be unusable.

Instead, the guide will display the form title and description, if any, and a link to the form in a new tab.

Acceptance criteria:
- [ ] Forms have limited display within guides, namely, only title displays, description if any, and then a link which links to the full form in a n

[2019-10-17 17:40] kriskristin commented on #3209
Meeting scheduled but David expressed concern about testing in mobile. I will follow up with him when we are there and see if there is a way we can make it happen some other way to test on mobile.

[2019-10-17 17:40] kriskristin commented on #3162
Meeting scheduled but David expressed concern about testing in mobile. I will follow up with him when we are there and see if there is a way we can make it happen some other way to test on mobile.

[2019-10-17 17:46] desigonz commented on #2407
Looks great, QA complete! No need to QA in staging, just dev test.

[2019-10-17 18:01] chasechenevert commented on #2912
I connected with @toribr about the options I've been considering and we came to some decisions.

## Options we've considered:
<img width="1042" alt="Screen Shot 2019-10-17 at 12 34 42 PM" src="https://user-images.githubusercontent.com/7027270/67033664-deeba500-f0db-11e9-82d1-4f5bde9aaba0.png">

1. **Number span with “previous” and next “buttons” with truncation** While not as elegant as the next t

[2019-10-17 18:12] desigonz opened #3217 "APH information architecture meeting"
**Objective**
By the end of this meeting, we will know which topics and topic collections all of the APH pages fit into. @Jo-Dwyer will bring her vision and we'll workshop it with her.

**Participants**
@Jo-Dwyer @srigdon @desigonz
**Agenda**

------
- [x] @Jo-Dwyer to prep APH IA proposal
- [x] Schedule meeting (@desigonz)
- [x] Meet
- [ ] Create resulting issues

[2019-10-17 18:14] #3019 closed

[2019-10-17 18:24] Niicck opened #3218 "Joplin builds need to run faster"
### As a developer I want to build Joplin faster so that code can be tested, developed, and deployed rapidly.

**Is your feature request related to a problem? Please describe.**
It takes at least 5 minutes for a line of code to be deployed in Joplin. This suddenly annoys me.

**Describe the solution you'd like**
There are things that could be done to rapidly improve our speed of development. Smart

[2019-10-17 19:40] desigonz commented on #3206
@easherma Just QA'd this. It's missing one of the acceptance criteria:

- [ ] "Privacy policy" in Spanish says "Política de privacidad"

![image](https://user-images.githubusercontent.com/5839508/67041768-fdf23300-f0eb-11e9-8d7d-8dca49008011.png)

[2019-10-17 19:46] chasechenevert commented on #2912
@desigonz This has been vetted with Tori, and I've got a good start on acceptance criteria, but given the complexity with pagination I know I'll be missing something. Maybe we can bring this up at dev/design sync?

[2019-10-17 19:49] srigdon commented on #2748
Good question, @desigonz.

* I added to the [style guide doc](https://docs.google.com/document/d/1yL3afGS_72aFYBoF7ZH90yUCNeqAgYx1RuRxc_JbZAw/edit#heading=h.v2926m4hzgf3) on that number range in a sentence question.
* I added en dash rules to that section as well.

@ablangworthy27 see above. Thoughts?

[2019-10-17 20:53] ablangworthy27 commented on #2748
Thanks @srigdon. I'm going to implement these changes from the google doc into the official Gitbook guide, and then I will go through and make related issues

[2019-10-17 21:00] desigonz commented on #2912
@chasechenevert added it to the list!

[2019-10-17 21:51] ablangworthy27 opened #3219 "Update contacts to reflect style guide's punctuation standards"
We have established an [editorial style convention for number and time ranges](https://app.gitbook.com/@cityofaustin/s/digital-style-guide/write-with-service-oriented-language/make-content-easier-to-read#time). This means we need to update the auto-generated punctuation in hours within contacts.

**Acceptance criteria**
- [x] For hours in a contact snippet, use an en dash "–" (instead of the hyphe

[2019-10-17 22:22] desigonz commented on #3154
I think the emails about participating in research can go straight to y'all. Thanks!

We might also use this email when the feedback module fails. If that's the case, can y'all forward those emails to me? And if it seems cumbersome, we could add me to the inbox then.

[2019-10-17 22:23] desigonz commented on #2648
@srigdon With Joplin in flux so much, I don't think it's valuable to include any screenshots or specific directions about the interface (for example, "use the button at the top of the screen"). I think for now that kind of training will have to be more face-to-face, one-on-one sessions.

[2019-10-17 22:24] desigonz commented on #3148
Looks beautiful. This might already be in production?

[2019-10-17 22:37] robbobfrh84 commented on #3148
@desigonz Not with the 100% width change.

[2019-10-17 22:39] desigonz commented on #3111
@easherma Where can I test this?

[2019-10-17 22:51] desigonz commented on #3092
Thanks @briaguya! I tested according to your steps.

It still builds! Yay!

I'm noticing this visual bug happens—basically a blank space for the title. I'll submit a bug issue for this and put it (way back) in the backlog.

![image](https://user-images.githubusercontent.com/5839508/67053307-95647f80-f106-11e9-85c6-9dcd34b77835.png)

[2019-10-17 22:53] desigonz opened #3220 "Space when you delete a page from a guide"
**Describe the bug**
In #3092, we made it so that when a page within a guide gets deleted, it won't break a Janis build. But it does leave this funny visual space where the title once was.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/1f592e1d-77b8-4fb6-84c0-dbd231227446)

**URL**

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2019-10-17 22:54] desigonz commented on #3092
@robbobfrh84 So the moral of the story is that QA is complete and this can go to staging and prod.

[2019-10-17 23:49] kriskristin commented on #3154
Requested the email today. Not sure of the turn around, but seems like an easy edit to make to the content of the page.

As far as the case for a feedback module failure. I think keeping that going to the same email address for the time being (feedback@austintexas.gov) is perfectly fine. If it gets cumbersome, we can make the change further down the road.

[2019-10-18 00:37] srigdon commented on #2986
Documenting notes in the austin.gov > 01 Content > Information Architecture folder and issues as needed.

[2019-10-18 00:37] #2986 closed

[2019-10-18 13:16] oliver2g commented on #3046
@easherma Shortly after we talked about this, I had a meeting with CTM Finance in which they asked me to vet our tech tools through CTM IT. During this process, I'll reach out to yall on a case by case basis as necessary. Closing this issue and opening a corresponding one in the odd-ops repo. https://github.com/cityofaustin/odd-ops/issues/120

[2019-10-18 13:16] #3046 closed

[2019-10-18 13:23] ablangworthy27 commented on #2748
This is done and the resulting issue can be found here:
https://github.com/cityofaustin/techstack/issues/3219

[2019-10-18 13:23] #2748 closed

[2019-10-18 14:40] robbobfrh84 commented on #3092
@desigonz Sounds great!

[2019-10-18 14:41] chasechenevert commented on #3111
Agree on removing the icon.

[2019-10-18 14:45] chasechenevert commented on #3147
@chiaberry Could we grab like 30 minutes to look at this together? It's almost there, just a few things that we can look at in the XD document that can help us get to complete.

[2019-10-18 15:31] chasechenevert commented on #3147
I've created a [new first page for the mockup](https://xd.adobe.com/spec/a1e17b2e-1b43-40ea-6041-eaf6ba807ea8-d7d0/) to isolate the component and I've made the spacing visible (previously you'd have to mouse in over the area to see the spacing). Also on the right hand menu with the </> icon, when you've got that view active you can click into elements to extract the styling.

**Spacing**
- [ ] Spa

[2019-10-18 15:34] chasechenevert commented on #3148
Yes, the 100% width is what I was looking for so that it matches the other guide image example.

[2019-10-18 15:44] chasechenevert commented on #707
Removing old things

[2019-10-18 15:44] #707 closed

[2019-10-18 16:02] chasechenevert commented on #3147
Also just wanted to shout you out @chiaberry for blazing through this! Great work, and glad that you're here!

[2019-10-18 16:38] desigonz opened #3221 "Draft Municipal Court department page"
https://www.google.com/search?q=municipal+court+austin&oq=munic&aqs=chrome.1.69i57j69i59j0j69i59j69i61l2.2665j0j7&sourceid=chrome&ie=UTF-8

[2019-10-18 16:41] desigonz opened #3222 "Draft parking ticket content"
By end of the sprint 42, @Jo-Dwyer will have outline the process for resolving a parking ticket and a roadmap for what needs to get drafted.

[2019-10-18 16:41] desigonz commented on #3222
@Jo-Dwyer please add an estimate!

[2019-10-18 16:50] desigonz commented on #3148
Great, good to go to prod.

[2019-10-18 17:30] desigonz commented on #3202
Adding @annieszot to review the Joplin microcopy. Please ping @toribr when you're done and she can update the mock!

[2019-10-18 17:59] desigonz opened #3223 "Joplin user permissions MVP meeting"
**Objective**
For #3201, @desigonz is sifting through old documentation for author interface user permissions and turning them into acceptance criteria. In this meeting, we'll review that acceptance criteria (#3227) and see if it still makes sense.

**Participants**
@ablangworthy27 @annieszot @Jo-Dwyer @srigdon
@toribr
@desigonz

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [x] Create re

[2019-10-18 18:00] #2674 closed

[2019-10-18 18:05] #305 closed

[2019-10-18 18:09] #3111 closed

[2019-10-18 18:10] desigonz commented on #3148
This is now in production so I'm closing it!

[2019-10-18 18:10] #3148 closed

[2019-10-18 18:10] desigonz commented on #3092
This is now in production so I'm closing it!

[2019-10-18 18:10] #3092 closed

[2019-10-18 18:28] #3112 closed

[2019-10-18 18:28] chiaberry commented on #3147
thank you @chasechenevert ! I didn't know about the </> icon. I'll incorporate these changes and then we can sync up next week, sound good?

[2019-10-18 18:29] desigonz commented on #3098
I'm excited to reported that this page is LIVE in English and Spanish, and we link to it from the nav *and* the footer!

[2019-10-18 19:26] annieszot commented on #3190
Happy to help and review @srigdon ! Just assign and ping me when you receive approval from Marcel and Don :)

[2019-10-18 19:39] Jo-Dwyer opened #3224 "Assess municipal court forms and PDFs"
As a content strategist, I want to understand what information is currently held in Municipal Court's forms and PDF documents that can be made into content pages so that I can dissolve those documents into easy-to-access webpages.

I also want to uncover what forms can be legally submitted online so that we can know how many formstack forms need to be created and what resources that might require.

[2019-10-18 19:52] annieszot commented on #3202
Microcopy changes to the [mock](https://user-images.githubusercontent.com/3790067/66946094-d6309b80-f015-11e9-9813-3b9819c0ccac.png) cc/ @desigonz @toribr
Form container title*
Write a description of this form container*

[2019-10-18 20:06] #3206 closed

[2019-10-18 20:13] easherma commented on #3159
This is happening for me again.

[2019-10-18 20:47] desigonz opened #3225 "View live links for top-level pages"
**Describe the bug**
Amanda published "Participate in research with the City of Austin" and checked "Make this a top level page," but the view live links don't open the page at the expected URL. https://joplin.herokuapp.com/admin/pages/241/edit/#tab-content

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/3021cc82-fba6-495b-b4f7-16da8a053f27)
![image.png](https://images.

[2019-10-18 20:48] #3098 closed

[2019-10-18 20:53] #3171 closed

[2019-10-18 21:27] srigdon opened #3226 "Present to OPO Community Leaders Breakfast, 11/15/19"
Farah invited someone from ODD who's worked on the website to speak about how it increases transparency. I'll give a short (~10 minutes) presentation to the OPO Community Leaders Breakfast on Nov. 15. I'll include a quick explainer of the official documents content type, the user stories we developed, and how the site overall is meeting user needs so far.

To do:
- [ ] Ask for more information abo

[2019-10-18 21:43] annieszot commented on #3154
@kriskristin, Andrew and Honker will publish a Civiqueso post on the tech selection tool. They'd like feedback on the toolkit, so may I include the feedback@austintexas.gov email address for how to get in touch? I can ping Andrew that you and Anu will have access to the email address.

[2019-10-18 21:50] annieszot commented on #3096
Suggested edits back to @ADoAboutThings. Proposing Wednesday, October 23 publish date or earlier.

[2019-10-18 21:52] srigdon commented on #3129
Shared with @toribr and @chasechenevert as a consideration. Let's discuss a way to help city teams address this concern in the short term and what we can design for in the long term.

[2019-10-21 17:00] #666 closed

[2019-10-21 17:31] desigonz opened #3227 "Implement MVP permissions"
### As a Joplin user, I want permissions around what I can and can't do, so that I can effectively edit content within the bounds of our content governance structure.

| Action                                      | Editor | Moderator | Administrator |
| --- | --- | --- | --- |
| View published content                      | ✅             | ✅               | ✅             |
| Draft new content

[2019-10-21 17:52] desigonz commented on #3201
Permission table here: #3227

[2019-10-21 17:52] #3201 closed

[2019-10-21 19:39] kriskristin opened #3228 "Food Truck Permit Guide content blocks are not behaving as expected on mobile."
**Describe the bug**
Content sections on the guide are overflowing in mobile

**URL**

**To Reproduce**

1. Go to [the guide](http://janis-austin-gov-staging.s3-website-us-east-1.amazonaws.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/#Maintain-or-renew-your-permit-1)

2. Scroll down to 'contact information'
3. See error

**Current behavior**
Content

[2019-10-21 19:56] annieszot commented on #3126
Chatted w/ Marni and Desi 10/21/2019. Next steps
- [ ] Meeting with Stephanie - approval process 10.23.19
- [ ] Connect with Cindy at PARD for fact-checking and check-in on endorsement status from Austin Parks Foundation
- [ ] Make issues for guide content

[2019-10-21 22:22] chiaberry commented on #3187
https://momentjs.com/docs/#/i18n/

[2019-10-21 22:30] Niicck opened #3229 "react-static builds sometimes fail with "TypeError: Only absolute URLs are supported""
**Describe the bug**

Sometimes when we're building Janis with react-static on netlify (but it might be locally as well), we run into this issue:

[code]

However, when you re-run the process, it will work. I don't know why our builds fail intermittently.

**To Reproduce**

I don't know how to reproduce it. It sometimes happens, but I'm not sure how to isolate why.

I've attached the complete netl

[2019-10-21 23:07] easherma opened #3230 "Timezone for janis previews dosen't match rest of site"
PR: https://github.com/cityofaustin/janis/pull/596

Testing notes: See that [preview](https://janis-3230-contact-hours.netlify.com/en/preview/information/UGFnZVJldmlzaW9uTm9kZToyMTQ0?CMS_API=https://joplin-pr-brians-janis-testing.herokuapp.com/api/graphql) and [live](https://janis-3230-contact-hours.netlify.com/en/police-oversight/how-we-store-and-use-your-data/) contact hours look the same.

Hour

[2019-10-21 23:11] easherma commented on #3149
Another thing that came up was the need for multiple hours per weekday. We'll need to update the mocks, and flesh out some code here (most likely):
https://github.com/cityofaustin/janis/blob/d44a1b54ea4dc2975e90e605e33ad17e12bc548d/src/components/Contact/Hours.js#L65

[2019-10-21 23:22] Niicck opened #3231 "Add Documentation for coa-publisher"
It needs documentation.

- [ ] How to deploy it
- [ ] What it does
- [ ] Link to docs in Janis
- [ ] Link to docs in Joplin

[2019-10-21 23:25] Niicck opened #3232 "Make PR publishing more user-friendly"
- [ ] Automatically remove trailing slashes from "preview_url" field in site_settings.
- [ ] Add warning message if you enter a non "https" preview_url

[2019-10-21 23:28] #3182 closed

[2019-10-21 23:28] #2969 closed

[2019-10-21 23:28] #2708 closed

[2019-10-21 23:28] #2888 closed

[2019-10-21 23:28] #2296 closed

[2019-10-21 23:28] #2887 closed

[2019-10-21 23:28] #3010 closed

[2019-10-22 15:31] kriskristin commented on #3154
feedback@austintexas.gov is live with @anukandimalla and I as email recipients for the emails currently.

@ablangworthy27, can we make that change in the spanish and english user research sign up page?

Side note, this is a distribution list. This means that we cannot respond to emails from the account, it is an inbox that distributes to folks on the list and then we can email from our personal ac

[2019-10-22 15:40] #3154 closed

[2019-10-22 16:39] desigonz commented on #3154
Awesome, thanks Kristin!!

[2019-10-22 17:13] anukandimalla opened #3233 "Input format for hours and minutes for daily labour request form is not working"
**Describe the bug**

The input for daily labour form hours and minutes is not accepting time format.

**URL**
https://cityofaustin.formstack.com/forms/ni_request_day_laborer

**To Reproduce**

1. Go to 'above URL'
2. Scroll down to  question 'How many hours do you expect each person to work, per day?'
3. Input the hours.minutes with out using slider
4. Input hours accepts 4.90

**Current behavior

[2019-10-22 17:21] easherma commented on #3053
@desigonz

You should be able to test/preview/publish to your heart's content using the following:
https://janis-3053-test.netlify.com/
https://joplin-pr-3053-recursive-objec.herokuapp.com/

Publishing is still gonna take awhile, and unfortunately we don't have build notifications populating anywhere but inside the Netlify account directly, though i'm trying to change that. I tested previewing tho

[2019-10-22 17:27] anukandimalla opened #3234 "Focus indication for forms"
**Describe the bug**
Formstack forms dont give any current input field  indication (where you are at) while navigating using keyboard

**URL**
https://cityofaustin.formstack.com/forms/ni_request_day_laborer

**To Reproduce**

1. Go to 'above URL'
2. Navigate the form using keyboard
3. Current input field indication where you are at
4. See error

**Current behavior**
Navigate using keyboard with ou

[2019-10-22 17:44] easherma commented on #3185
So these error messages are pretty legit and we should probably talk about the situations they describe and how to handle them.

These are the steps I'm planning to take:

1.  Make better use of Python logging to have control over where and when these errors print out

1. Trace and document the current errors that are happening and note why they are happening
1. Modify the code to handle them in a

[2019-10-22 18:58] chasechenevert commented on #3033
Mocks for dev: https://xd.adobe.com/spec/e2cdc032-9eba-4140-5274-fc14f7254296-94fc/

[2019-10-22 19:01] toribr opened #3235 "Requirements for "hours" Joplin interactions"
As an author I want to be able to accurately reflect open times for a physical location.

- [ ] Discontinuous multiple hours per day (9am-12:00pm, 1pm - 5pm)
- [ ] holidays
- [ ] Special hours (ie, closing early on a particular day, like New Year's Eve)
- [ ] unplanned closings due to emergencies or other one-offs
- [ ] special event hours

[2019-10-22 19:25] desigonz commented on #3147
- [ ] change character limit to 2000
- [ ] sending button shifted down
- [ ] submit entry
- [ ] @desigonz to make issue for error handling

@chiaberry to integrate changes then assign @desigonz to QA triage

[2019-10-22 19:38] desigonz commented on #3033
- [ ] @desigonz and @chasechenevert to work on a new issue with acceptance criteria.
- [ ] Content team needs to approve microcopy.

[2019-10-22 19:44] desigonz commented on #2912
Pagination component. Develop in storybook, write a test for it.

- [ ] @desigonz and @chasechenevert to create dev issues for this

Library we could maybe use: https://www.npmjs.com/package/react-paginate

[2019-10-22 19:50] Niicck commented on #3230
Unless the missing :30 mark is due to my logic here:
[code]

[2019-10-22 20:00] easherma commented on #2883
The problem with these not going away is that they are used by:
https://github.com/infoportugal/wagtail-modeltranslation

[2019-10-22 20:07] easherma commented on #3185
During dev sync we talked about a concern here being that these errors pop up when you try to dump data. However, that is a depreciation error that shows up there and should be addressed as part of: https://github.com/cityofaustin/techstack/issues/2883

[2019-10-22 20:44] easherma opened #3236 "Build process should validate branch name _before_ trying to build on heroku"
Heroku is strict about branch names, we check for this at some point during the build and release phase. We should check for this earlier in the CI process to avoid unnecessary build/CI time and/or allow & log some graceful fallback

[2019-10-22 21:57] desigonz commented on #3175
Meeting notes: https://docs.google.com/document/d/1HYELUu9gTVHieREt1r1bsfF491GWz7Zq-tHHaJDbMRU/edit

Next steps: @ablangworthy27 and @ChristopherLuedtke will work on workshop design and meet with Soolin next week!

@ablangworthy27 can you make issues for any resulting work you'll be doing?

[2019-10-22 21:57] #3175 closed

[2019-10-22 22:06] ablangworthy27 opened #3237 "Forms workshop design meeting"
Amanda and Chris will meetup with Soolin at CTM to do the following:

-designate forms to focus on
-designate attendees
-formulate a plan for the workshop

[2019-10-22 22:08] ablangworthy27 opened #3238 "Contact attendees for forms workshop"
@ablangworthy27 needs to reach out to stakeholders for the forms workshop.

[2019-10-22 22:18] desigonz commented on #3236
@easherma What's the size on this? And how much value does this bring/how much of a blocker is it to not have this?

[2019-10-22 22:19] desigonz commented on #3232
Putting this in short-term backlog but can y'all advocate for this if it feels like it'll improve your dev lives?

[2019-10-22 22:22] kriskristin commented on #3209
@Niicck On sprint day you mentioned that you would embed this form in a page on alpha before testing on 10/24. How is progress going on that?

[2019-10-22 22:22] Niicck commented on #3202
Past style discussion: https://github.com/cityofaustin/techstack/issues/3008
Example of embedded iFrame: http://janis-austin-gov-staging.s3-website-us-east-1.amazonaws.com/en/preview/guide/UGFnZVJldmlzaW9uTm9kZToxODI0#Learn-and-prepare-7

[2019-10-22 22:28] Niicck commented on #3209
It's moving along. I'll be ready by Thursday. Tracking my progress in this issue: https://github.com/cityofaustin/techstack/issues/3202

[2019-10-22 22:32] desigonz opened #3239 "Dev-design sync 10/29/19"
## Review implementation

## Review designs
- [x] Place content type mocks
  - [x] #3194 Joplin side of places
  - [ ] #3149 collapsible contact/location hours—dev team, is there anything in the acceptance criteria you'd like to clarify? Design team, let's loop this into the place content type.

## Other
- [ ] Best practice for CSS: rems or pixels?

[2019-10-22 22:35] #3203 closed

[2019-10-22 22:40] kriskristin commented on #3209
@Niicck I was searching for that issue, thanks for sharing.

For some reason I thought that we were just testing out a simple stand-alone form in the context of alpha. Glad I checked in on this.....

[2019-10-23 14:07] #3198 closed

[2019-10-23 15:21] chasechenevert commented on #3211
Notes from pin-up are here:
[Design pin-up / Sprint 42 / Utility navigation management exercise](https://docs.google.com/document/d/1fECN-68xbty04_8QWgxXBLYqxXKswV8RTExjM0bGei0/edit?usp=sharing)

[2019-10-23 17:03] chasechenevert commented on #3195
The mocks contained in this document go beyond MVP, but when looking at these the MVP on the Place page is that first block/section.

XD: https://xd.adobe.com/spec/d7653e44-403a-4620-4436-1484993d4622-a154/

- **Option 1**: labels with icons: desktop, tablet, mobile
- **Option 2**: icons, no labels desktop
- **Option 3**: labels, no icons desktop

- **First block contains MVP details**, and the la

[2019-10-23 20:18] chiaberry commented on #3184
@desigonz  ready for QA, deployed link: https://janis-3184-h1-font-weight.netlify.com/

here is the link for section headings within guides https://janis-3184-h1-font-weight.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/mobile-food-vendor-permit-guide/

[2019-10-23 20:57] #3217 closed

[2019-10-23 21:39] Niicck commented on #3209
A deployed simple form on alpha.

https://alpha-form-test.netlify.com/en/health-safety/health-records-certificates-2/birth-death-certificates/request-a-day-laborer/

[2019-10-23 21:40] Niicck commented on #3209
Here's a link to the form directly hosted on formstack:
https://cityofaustin.formstack.com/forms/ni_request_day_laborer

[2019-10-23 23:00] desigonz opened #3240 "Error handling for feedback module"
- [x] When submitting fails, copy should say: "Sorry, we had trouble receiving your feedback. Please try again or email feedback@austintexas.gov."
- [ ] see design below

[2019-10-23 23:15] desigonz commented on #3188
Will updating https://joplin-pr-3151-urls-in-api.herokuapp.com publish out to https://janis-3152-riffin.netlify.com/?

[2019-10-23 23:16] desigonz commented on #3188
Your comment `would be nice to have those change based on branch settings for PR apps, do we have an issue for that?` is something @easherma worked on today, at least for the PR branch affiliated with #3053...

[2019-10-23 23:35] briaguya commented on #3188
YES! Thanks @Niicck!

[2019-10-24 00:01] #3129 closed

[2019-10-24 00:07] srigdon commented on #2920
This is finished except for a small batch sent out for translation today.

- [ ] To do: discuss OPO managing translations directly. Talk to them, the translation firm, and @desigonz.

[2019-10-24 13:33] robbobfrh84 commented on #3163
Thanks for the clarification and putting acceptance criteria on this @desigonz.

[2019-10-24 14:17] desigonz opened #3241 "Need 311 editorial convention"
**Describe the bug**
In contact snippets and in the header, we write `311`, but on the [measles page](https://janis-3053-test.netlify.com/en/health-safety/healthcare-prevention/disease-prevention/learn-about-measles-in-austin/), it's written as `3-1-1`.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/c6b74ca5-7a10-43f6-b662-872b1d951045)

- [x] Determine convention
- [x