[2019-07-17 14:57] LauraTrujillo commented on #1063
unneccessry. this will just be a 2-parter.

[2019-07-17 14:57] #1063 closed

[2019-07-17 15:00] LauraTrujillo commented on #1067
Let's do this when the transparency pieces are up- the memos and such. Late fall?

[2019-07-17 15:01] LauraTrujillo commented on #1064
not needed.

[2019-07-17 15:01] #1064 closed

[2019-07-17 15:05] LauraTrujillo commented on #706
Let's kick off 2020 with this awesome post!

[2019-07-17 15:06] LauraTrujillo commented on #927
Close... for now.

[2019-07-17 15:06] #927 closed

[2019-07-17 15:07] #451 closed

[2019-07-17 15:09] LauraTrujillo commented on #711
duplicate of #831

[2019-07-17 15:09] #711 closed

[2019-07-17 15:13] LauraTrujillo commented on #711
duplicate of #831

[2019-07-17 15:14] #713 closed

[2019-07-17 15:18] chase-vert opened #2615 "Refactor global nav color"
This one has been brewing in my mind for some time, but as I'm working on documentation and fixing the leading issue in the global nav I think it might be an opportunity to address it.

### Background
I realize now that I've backed the design into a corner by using the primary color in the global nav. Initially it was a way to refresh the palette from Janis 1's purple theme, but it's turning out t

[2019-07-17 15:25] LauraTrujillo commented on #715
Already published :)

[2019-07-17 15:25] #715 closed

[2019-07-17 15:32] #2546 closed

[2019-07-17 16:17] easherma commented on #2608
@briaguya I'm thinking if we get these nailed down it would be great to stick them in a docstring or other object associated with each model and have them populate dynamically. Same with the list of available models themselves.

[2019-07-17 16:57] #2362 closed

[2019-07-17 22:22] easherma commented on #2367
I'm thinking lets this is superceded by https://github.com/cityofaustin/joplin/pull/298

[2019-07-18 13:21] toribr opened #2616 "Create a new loading icon for Joplin"
Right now there's a really hacky looking "LoAdIng" icon in Janis. Let's give the develops something decent to swap it with.

[2019-07-18 13:23] #2505 closed

[2019-07-18 13:58] toribr commented on #2600
![1851 Guide](https://user-images.githubusercontent.com/3790067/61463222-96d0b100-a939-11e9-8106-3ff215d0aa96.png)

There are a few question on this comp that have to do with how the backend of Joplin will deal with adding both sections and URLs, but this is a detail that more has to do with the visual implementation than anything.

@desigonz We need to also decide as to what's required, and how t

[2019-07-18 14:12] easherma commented on #2616
@briaguya we have a spinner that we use when the site is originally loading that we could probably just use there as well, no?

[2019-07-18 16:06] LauraTrujillo commented on #522
@annieszot first review to you! If you can complete it by Tuesday, July 23rd I'd appreciate it.

[2019-07-18 16:08] LauraTrujillo opened #2617 "Apply to Austin Youth Council Service page + form"
Service page related to Austin Youth Council Info page:
https://docs.google.com/document/d/1T7Yd_8PduiIbDrFDidPbtzsdm1qMxZUR7iqrzWjyUMU/edit

[2019-07-18 16:09] LauraTrujillo commented on #2106
Meeting with Chase from ARR to white board this content.

[2019-07-18 16:41] easherma commented on #2479
@desigonz there is some debate about this issue and whether its specifically for the OPO form or if its indicating a general need for a new feature

I have a fix available that will work for just the OPO form. Something more broad and generic has a little more implications, so if you want to shoot me a message when you can talk that would be gr8

[2019-07-18 17:05] easherma commented on #2271
https://github.com/cityofaustin/janis/pull/456 janis side of this is here

[2019-07-18 17:12] LauraTrujillo commented on #2520
@LauraTrujillo ready!

[2019-07-18 17:16] LauraTrujillo opened #2618 "Austin Finance Online Content Audit"

[2019-07-18 17:18] easherma commented on #2267
How is this related/not related to https://github.com/cityofaustin/techstack/issues/2254 ?

[2019-07-18 22:21] annieszot commented on #522
Great work @LauraTrujillo ! Suggested edits added and just needs content debt documented for related alpha pages :)

[2019-07-18 23:04] srigdon commented on #2411
I checked off all the things that look good in the acceptance criteria above.

Edits to make:

- On the Share media page, make the hyperlink say "data" not "information", because that's what its URL and page title says. "Information" is more approachable, though! That's another issue for later.
- On the Demographic info page, make all instances of "(optional)" uppercase [so, "(Optional)"].
- On th

[2019-07-19 15:32] #2428 closed

[2019-07-19 15:43] desigonz commented on #1903
assigning @chasechenevert for QA. Use this: https://deploy-preview-409--janis.netlify.com/

Let's check against what we have now (are the themes and topic collections working, and are they styling correctly?). I'm also going to make another issue for the seal/contact/links/social part and redoing the blue bottom to remove the white seal and make it skinnier (@chasechenevert, let's touch base next

[2019-07-19 15:45] desigonz opened #2619 "Janis nav footer improvements"
In #1903, @briaguya implemented topics and topic collections in nav footer. We need to the seal/contact/links/social part and redo the blue bottom to remove the white seal and make it skinnier.

**Acceptance criteria**
- [ ] TBD—@desigonz to develop w/ @chasechenevert

[2019-07-19 16:04] chase-vert opened #2620 "GlobalNav design refactor"
Style refactor of global navigation.

[2019-07-19 18:24] easherma commented on #2411
@srigdon all those changes should be incorporated
I haven't updated email confirmation content since that is in a different repo

[2019-07-19 20:00] srigdon opened #2621 "Draft SXSW Panel Picker submission for OPO-ODD collab"
Deadline has been extended to Sunday, July 21.

https://docs.google.com/document/d/1oYhkelk3_RjbMZFNSGW_tsGIyDtoG3DF1THlcOSlisg/edit?ts=5d30e60b

[2019-07-19 23:11] briaguya commented on #2367
Just merged to prod, this is working there now.

[2019-07-19 23:11] #2367 closed

[2019-07-20 00:46] briaguya commented on #2064
https://deploy-preview-406--janis.netlify.com/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxMDI4

[2019-07-22 13:38] oliver2g opened #2622 "Calendar icon does not pull up calendar"
Clicking the calendar icon in the date field "closes" the keyboard and does not pull up a calendar.

**URL tested:** https://opo.austintexas.io/request-day-laborer/2309-day-labor/form

Open [URL](https://live.browserstack.com/dashboard#os=iOS&os_version=11.0&device=iPhone+6&device_browser=safari&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fopo.austintexas.io%2Frequest-day-laborer%2F2309-day

[2019-07-22 14:25] LauraTrujillo commented on #2498
@Niicck great form!!! QA is complete for English. I can take a second look at it when we have content finalized and it's translated.

[2019-07-22 14:36] #2584 closed

[2019-07-22 15:00] srigdon commented on #2594
Added a couple thoughts to the doc.

[2019-07-22 15:21] annieszot commented on #2393
Pushing back to Sprint 36. Will list here which service pages to send for approval (the one to test-Soil Kitchen?)
Sent for approval Sprint 35- compost class form content (form transition)
Will send for Sprint 35/36 - information pages.

[2019-07-22 15:22] annieszot commented on #1983
Service page is agenda item for #2385 meeting

[2019-07-22 15:23] annieszot commented on #2204
Compost class form content now with ARR. Estimated return date is Tuesday, July 23.

[2019-07-22 15:23] annieszot commented on #2273
Compost form content currently with ARR.

[2019-07-22 15:24] annieszot commented on #2585
- [ ] research videos
- [ ] create and send agenda
- [ ] develop workflow for APH

[2019-07-22 15:36] annieszot commented on #2594
Awesome thanks @srigdon! Will remove assignment :) Should be ready to close this at or before Sprint Review Thurs.

[2019-07-22 16:15] LauraTrujillo opened #2623 "Apply to Austin Youth Council 2020"
**What is the URL?**

**Have you documented this via the author notes field in Joplin?**
- [ ] Yes!
- [ ] No, but I'll do it now

**Describe the content debt.**
<!Publish when new application is live>

**What is the long-term, ideal solution for this content debt?**
- page links to simple form for 2020 application

**Is this related to a feature request issue? (Add the issue number below and add t

[2019-07-22 16:19] LauraTrujillo opened #2624 "Draft Simple form for Austin Youth Council 2020 application"
**What is the URL?**

**Have you documented this via the author notes field in Joplin?**
- [ ] Yes!
- [ ] No, but I'll do it now

**Describe the content debt.**
<!We need a simple form for the 2020 application to the Austin Youth Council.>

**What is the long-term, ideal solution for this content debt?**
That this form is easy to update for subsequent years.

**Is this related to a feature request

[2019-07-22 16:20] LauraTrujillo commented on #2623
I'll add it to Joplin's author notes when we have approval from Public Health on Info page content and get *that* into Joplin. :)

[2019-07-22 16:20] LauraTrujillo commented on #2624
I'll add it to Joplin's author notes when we have approval from Public Health on Info page content and get *that* into Joplin. :)

[2019-07-22 16:33] LauraTrujillo commented on #2594
I also added a thought or two

[2019-07-22 16:34] LauraTrujillo commented on #522
Documented content debt. Thanks, @annieszot!

[2019-07-22 16:34] #522 closed

[2019-07-22 18:11] easherma commented on #2311
According to @Niicck , he deduced the origin of the error
to mainly be the way in which production and staging models deviated in the past: https://github.com/cityofaustin/joplin/pull/301#discussion_r305941475

[2019-07-22 20:28] #2498 closed

[2019-07-22 21:22] annieszot commented on #2594
Thanks, rockstars! @LauraTrujillo unassigning you :)

[2019-07-22 22:27] #2064 closed

[2019-07-23 00:59] annieszot commented on #2585
Draft agenda for working session
Walkthrough Sharepoint Online, One Drive
How to create metadata - editorial process
File uploading/sharing
Calendar view

[2019-07-23 13:34] LauraTrujillo commented on #2474
@desigonz
Yes, "Project site" should be lowercase. That is a sentence and capitalization should reflect that :)
URLs should also be lowercase, unless they start the sentence. In this instance, Alpha is capitalized, but "Austintexas" is not.
Is this hard coded on the site or something I can change?

[2019-07-23 14:28] desigonz commented on #2510
@easherma Hi! Taking a look at this and noticing one of the acceptance criteria hasn't been completed—"Each item in the nav has a text label." Moving this back to on deck.

[2019-07-23 14:52] desigonz commented on #2411
Thanks team! Just reviewed the branch and it's looking good, but found a number of outstanding things. @srigdon, please jump in if you disagree with any of these or see anything else that's missing.

- [ ] On confirmation page: Add a period after "You will receive an email with a copy of your complaint at <email address>" (see screenshot below)
- [ ] On confirmation page: policeoversight@austintex

[2019-07-23 14:58] desigonz commented on #2546
y'all are a dream!

[2019-07-23 15:17] desigonz commented on #2445
@annieszot Let me know if this one is happening this sprint!

[2019-07-23 15:19] desigonz commented on #2502
@srigdon let me know if you need any help/support on this one!

[2019-07-23 16:04] annieszot commented on #2445
Oops @desigonz Duplicate of #2457. Closing

[2019-07-23 16:04] #2445 closed

[2019-07-23 16:20] briaguya commented on #2553
Not sure if this is already somewhere else but:
"Is it possible to make a field required for publish but not for saving a draft?"

[2019-07-23 16:21] srigdon commented on #2411
@desigonz Agree with all of those points.
@easherma Which repo is the email content in?

[2019-07-23 16:24] srigdon commented on #2386
Moving this to Sprint 36 for now, as it's in the works. OPO is doing an internal workshop to identify all of the data types in all of the document types they want to publish, and then having legal review and sign off on using them. FYI @desigonz @toribr

[2019-07-23 16:31] desigonz commented on #2411
Email content lives in this repo: https://github.com/cityofaustin/form-service-api/pull/31
Per @easherma, we might not be able to QA the email confirmation til everything is merged.

[2019-07-23 16:33] Niicck opened #2625 "Remove prod google analytics tags from staging"
Got in touch with CPIO. Hopefully they'll give me access soon.

Update:
CPIO granted me access to GA. I will do my end of the work.

[2019-07-23 16:49] desigonz opened #2626 "Day labor form content changes"
**Acceptance criteria**
- [x] Change "Day Labor" to "Request a day laborer" (no. 1 in screenshot)
- [x] Delete no. 2 in screenshot
- [x] Sentence case for section heading: "Employer information"
- [x] Sentence case for section heading: "Job information"
- [x] Sentence case for section heading : "Phone interview"
- [x] Add checkbox and content under "Hourly pay rate" field:
 -- Ask First Workers’ s

[2019-07-23 17:01] desigonz commented on #2621
@srigdon did y'all complete this? want to close the issue?

[2019-07-23 17:03] anukandimalla commented on #2509
@LauraTrujillo Ready for Review.

[2019-07-23 17:44] #2311 closed

[2019-07-23 17:53] desigonz commented on #2466
@briaguya got rid of all instances of process pages in Janis. Need to do Joplin!

[2019-07-23 18:07] chasechenevert commented on #1903
This looks good to me! Just two things
- [ ] mobile view: "theme" color from `#0049c7` to `#162e51`
- [ ] link hover to `#1a4480`
- [ ] remove bullets if it's not too much to do

I'll make a separate issue to remove the bullets from the global/primary nav

[2019-07-23 18:54] desigonz opened #2627 "Revamp sprint reviews"
This sprint, we're going to test out sending out an agenda and identifying stakeholders in advance.

[2019-07-23 19:11] desigonz opened #2628 "Flesh of SOW for objectives 2 and 3"
For the OPO statement of work, we need to flesh out the objectives scope and make sure Farah's team is on the same page. We also need to adjust timeline for these objectives.

[2019-07-23 19:48] #2621 closed

[2019-07-23 20:28] briaguya opened #2629 "Joplin - Remove single department fields from Service/Info pages"
Janis prod is now looking at the multiple departments in Joplin prod, but Joplin prod still has both a single and multiple department field on info and service pages.

We should update our models to only have the multiple departments so we don't get confused going forward.

[2019-07-23 20:30] Niicck opened #2630 "Allow production coa-forms deployments for all forms"
Scaling this back to manually get "Request a day laborer" form into production
-----

There is a maze of stuff going on in CloudFront that has to get fixed if we want to deploy more than just the OPO form on the production forms.austin.gov url.

[2019-07-23 20:38] desigonz commented on #2553
A more helpful revision history—can you see when something was published or unpublished?

[2019-07-23 20:45] #2271 closed

[2019-07-23 20:52] Niicck opened #2631 "Allow File Uploads for non-OPO forms"
Right now, our production form uploads all go to the same bucket (hardcoded to "police-monitor-uploads-production"). I'd like to make a better strategy to sort uploads for different forms, debug vs non-debug, etc. The new strategy's urls and links must be backwards compatible with the existing API urls that are sent in emails.

[2019-07-23 20:56] desigonz opened #2632 "Weird & skinny step with options"
**Describe the bug**
When filling out a service page, the option fields don't stretch across the whole screen. It becomes awkward to write in such narrow fields.

**URL**
https://joplin.herokuapp.com/admin/pages/91/edit/

**To Reproduce**

1. Go to 'https://joplin.herokuapp.com/admin/pages/91/edit/'
2. Scroll down to steps
3. See error

**Current behavior**
Step with options fields appear at half

[2019-07-23 21:24] desigonz opened #2633 "Add OPO anonymous complaint translations to Joplin"
- [x] Add translations to thank you service page
- [x] Add translations to complaint service page
- [x] @srigdon to QA and confirm when they're looking good

[2019-07-23 21:25] desigonz commented on #2633
Thank you preview: https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxMDQ0
Complaint preview: https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxMDQx

Assigning @srigdon to QA. Please make sure all of the translations appear where expected, that hyperlinks take you to the correct doc, etc!

[2019-07-23 21:29] desigonz opened #2634 "Footer copy edits"
- [ ] In English, "project site" should be lowercase
- [ ] In Spanish, sentence case for "Encuentre más información en nuestro sitio del proyecto"
- [ ] In Spanish, only hyperlink "sitio del proyecto," not the whole sentence

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/8fe043a9-5c7c-4fcb-bb05-d0e4017f189d)

[2019-07-23 21:33] kriskristin commented on #2570
We are pivoting on this one and developing a research plan to help uncover the barrier that are preventing content publishers' buy-in.

[2019-07-23 21:34] #2570 closed

[2019-07-23 21:48] desigonz commented on #2411
Assigning to myself to input translations and make copy edits

[2019-07-23 21:49] desigonz commented on #2411
This should be "How we store and use your information." Once we have that copy fixed, the translation should work.

![image](https://user-images.githubusercontent.com/5839508/61749995-c3396280-ad69-11e9-8e61-d06f15f91f29.png)
![image](https://user-images.githubusercontent.com/5839508/61750027-dfd59a80-ad69-11e9-8b51-4dc173f91227.png)

[2019-07-23 22:18] desigonz commented on #2479
Let's review at dev-design sync next week

[2019-07-24 02:11] annieszot commented on #2273
Got the content approval/greenlight from ARR https://docs.google.com/document/d/1MD2Ioqgbn4_C27ruYes1AK_o-8H-mfexxy7vc50-x48/edit?ts=5d1e9f0f
Ready to move forward.

[2019-07-24 02:12] annieszot commented on #2204
Got content approval/greenlight from ARR. Ready to move forward @desigonz
https://docs.google.com/document/d/1MD2Ioqgbn4_C27ruYes1AK_o-8H-mfexxy7vc50-x48/edit?ts=5d1e9f0f
-Attn: to checkboxes for "equipment". Need Design's direction on what to do.

[2019-07-24 02:14] annieszot commented on #2202
https://docs.google.com/document/d/1MD2Ioqgbn4_C27ruYes1AK_o-8H-mfexxy7vc50-x48/edit?ts=5d1e9f0f
Got the greenlight/content approval from ARR. Ready to move forward @desigonz

[2019-07-24 15:40] #2500 closed

[2019-07-24 15:45] LauraTrujillo commented on #2626
@desigonz copy changes added! Jose shared it with his manager, Derrick, but he doesn't anticipate any other changes.

[2019-07-24 15:54] toribr commented on #2616
@briaguya @easherma Let's discuss what we can implement prior to @chasechenevert spending time on this.

[2019-07-24 15:59] desigonz commented on #2626
🙏thanks @LauraTrujillo!

[2019-07-24 16:32] anukandimalla commented on #2535
Found 2nd website for Innovation Lab https://cityofaustin.github.io/innovation/

[2019-07-24 16:47] LauraTrujillo commented on #2587
@srigdon and I are going to meet tomorrow to talk about the feedback. I'll work on this on Monday, July 28th.

[2019-07-24 16:52] LauraTrujillo commented on #2417
Butterflies!

[2019-07-24 16:52] #2417 closed

[2019-07-24 16:52] #1904 closed

[2019-07-24 17:40] annieszot commented on #2206
See #2574

[2019-07-24 17:42] annieszot commented on #2574
See #2206

[2019-07-24 17:45] #2204 closed

[2019-07-24 18:11] toribr opened #2635 "Make editing of topic within page more clear or hide functionality"
![Screen Shot 2019-07-24 at 1.08.03 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/05013cd9-384e-49b0-9a98-920421c26041)

Currently, all users have the ability to edit a topic from within a page UI. There's a couple of issues here: 1) Probably this functionality should not be available from within a page in that topic, as it could have unwanted complications.
2) Until we hav

[2019-07-24 18:15] toribr commented on #2604
Eventually, we should also remove the ability to edit a topic from a content page. Select a different topic, yes. Edit the actual topic name, no.

[2019-07-24 18:16] #2635 closed

[2019-07-24 18:17] annieszot commented on #2574
Translation doc to send https://docs.google.com/document/d/1vH6eQN5f3VIpB4QBzATwcQSV-AR_7Q2Ci4y7LdAaAl8/edit @LauraTrujillo

[2019-07-24 18:18] annieszot commented on #2206
Translations doc to send https://docs.google.com/document/d/1vH6eQN5f3VIpB4QBzATwcQSV-AR_7Q2Ci4y7LdAaAl8/edit

[2019-07-24 18:33] Niicck commented on #2626
Reviewable at https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form

[2019-07-24 19:48] chasechenevert commented on #2318
- MVP mocks from the presentation today which includes some extra boards to show the fixed left nav, and the mobile menu: https://xd.adobe.com/spec/3cd2740c-6a05-45fc-6e6e-e1cf885acaca-4ae3/
- MVP of desktop in the master design spec: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/

[2019-07-24 19:48] #2318 closed

[2019-07-24 20:44] anukandimalla commented on #2535
@LauraTrujillo Ready for Review.

[2019-07-24 21:42] srigdon commented on #2410
Status update: waiting to hear back from OPO on this. Moving to next sprint.

[2019-07-24 22:15] srigdon opened #2636 "OPO service pages 404ing"
## bug report

**Describe the bug**
The service pages for OPO thanks and complaints are both assigned to the Office of Police Oversight department page, and the URLs below we had for these pages (that reflect how you would navigate via the department) are now 404-ing.
- https://alpha.austin.gov/en/police-oversight/file-a-complaint-about-an-austin-police-officer
- https://alpha.austin.gov/en/police

[2019-07-24 22:16] srigdon commented on #2503
Did the above. Got bugs! See #2636

[2019-07-24 22:16] #2503 closed

[2019-07-24 22:17] easherma commented on #2467
@toribr will we have icons for topics & topic collections or are we potentially removing those from the modal?

[2019-07-24 23:27] desigonz opened #2637 ""Option" field in information page"
- [ ] Should be centered

With design and content team, we should review options in information pages. We don't use them currently, and with this design, they can only appear above any other body text.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/7b50e4f9-e8fa-4098-8766-f09e3b9c0d24)

[2019-07-24 23:30] desigonz commented on #2622
Agreed, thanks @Niicck!

[2019-07-24 23:33] desigonz opened #2638 "Adding a topic collection to itself"
Currently, it's possible to add a topic collection to itself. It shouldn't be.

[2019-07-25 13:41] annieszot commented on #2594
Closing. Now with Eric at wagtail space

[2019-07-25 13:41] #2594 closed

[2019-07-25 13:43] briaguya commented on #2553
place with notes https://docs.google.com/document/d/1RGWCd66fHoh7qvOvtkk7t69kcqAYwgN0LX7BhpBPu7Q/edit?usp=sharing

[2019-07-25 14:45] toribr commented on #2467
Good question - I'm not sure yet. I'd like to position topic and TCs differently (not as pages, per se), which does mean removing them, but at the same time need to determine how they are managed and that part is a bit trickier, as it has ramifications into other aspects.

[2019-07-25 14:45] #2560 closed

[2019-07-25 15:42] annieszot commented on #2595
Removing milestone. Not in scope for next few sprints

[2019-07-25 15:45] annieszot commented on #2585
Met Wed. July 24. Closing

[2019-07-25 15:45] #2585 closed

[2019-07-25 15:46] annieszot commented on #2385
Will create/emphasize issues for next steps including:
Sync with Desi on next steps with community gardens and timeline
Guide
Interest/intake form
Info page

[2019-07-25 15:46] #2385 closed

[2019-07-25 18:14] desigonz commented on #2562
For MVP, we'll be using an information page to implement the checklist. See #2599 acceptance criteria for more info.

[2019-07-25 18:14] #2562 closed

[2019-07-25 18:18] #2589 closed

[2019-07-25 18:18] #2592 closed

[2019-07-25 18:19] #2202 closed

[2019-07-25 18:20] desigonz opened #2639 "compost form"

[2019-07-25 18:22] desigonz commented on #2474
It's hardcoded—assigning to myself to develop acceptance criteria for dev

[2019-07-25 18:53] briaguya commented on #2575
## On the theme/topic side
- Themes - Statically defined in code, hard to change.
- Topic Collections - associated with one and only one theme.
- Topics - associated with one or more topic collections
- Pages (service/info/document) - associated with one or more topics

## On the department side

- Departments - not associated with themes/topics in any way
- Pages (service/info/document) - associa

[2019-07-25 19:20] toribr opened #2640 "Preview on Joplin is excessively blinky"
Currently when previewing, joplin saves which causes a flashing in the current window prior to opening a new browser tab with the preview.

Can we simple open a new browser tab with a loading icon FIRST, so we aren't subject to all the flashing and wagtail saving hijinks?

[2019-07-25 19:24] srigdon commented on #2575
@briaguya re:

I thought Departments were being coded as a Topic Collection? At least for now, right?

[2019-07-25 19:33] briaguya commented on #2575
@srigdon the "Departments" page is more or less a topic collection page. I think that may be what you're remembering.

[2019-07-25 20:18] briaguya commented on #2604
@toribr even with the current implementation topics cannot be edited from the content page, the edit button is just a link to the edit page for the topic.

[2019-07-25 20:22] desigonz opened #2641 "Update Greenhouse job postings to include salary and benefits info"
### As someone applying for an ODD job, I want to see salary and benefits information when reviewing a job description on Greenhouse, so that I don't waste my time applying for a job that doesn't offer the salary and benefits I need.

Per sprint retro—we noticed a discrepancy between ODD website and Greenhouse postings.

[2019-07-25 20:27] desigonz commented on #2626
A few more updates:
- [ ] `<title>` should match `h1`, so "Request a day laborer"
- [ ] @Niicck can you look into how messy/difficult it would be to skip the review page? Screenshot of current review page below.

![image](https://user-images.githubusercontent.com/5839508/61906296-ab401b00-aef0-11e9-818e-b52fc771d054.png)

[2019-07-25 20:38] desigonz opened #2642 "Date picker error validation when you pick today"
**Describe the bug**
Error messaging on the day labor form when you pick today in the date picker.

**URL**
https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form

**To Reproduce**

1. Go to https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form
2. Fill out required fields. When filling out "Date," choose today.
3. Press "continue" to submit form.
4. See err

[2019-07-25 20:43] desigonz commented on #2626
Also I separately submitted a bug issue for the calendar validation: #2642.

[2019-07-25 21:02] desigonz opened #2643 "Footer copy changes"
**Acceptance criteria**
- [ ] In English, lowercase "project site"
- [ ] In English and Spanish, "austintexas.gov" should all be lowercase. (We only capitalize a URL if it begins a sentence.)
- [ ] In Spanish, sentence case for the following sentence: "Encuentre más información en nuestro sitio del proyecto"
- [ ] In Spanish, project site hyperlink should only be applied to "sitio del proyecto," n

[2019-07-25 21:03] desigonz commented on #2614
You might also want to take a look at Spanish, which tends to use more characters than English:
![image](https://user-images.githubusercontent.com/5839508/61908637-bba6c480-aef5-11e9-9f54-fe809e6953f2.png)

[2019-07-25 21:04] desigonz commented on #2614
You might also want to look at Spanish:
![image](https://user-images.githubusercontent.com/5839508/61908670-ceb99480-aef5-11e9-9c67-d8706b34318c.png)

[2019-07-25 21:07] desigonz commented on #2411
- [ ] @Niicck is looking into confirmation email not sending when submitting the form on the PR branch app
- [ ] @desigonz to review confirmation email—do the fields match the form as expected?
- [ ] Once that's done, @Niicck will merge to master
- [ ] and then we will do the following QA on master:
  - [ ] Complaint form English
  - [ ] Complaint form Spanish
  - [ ] Thanks form English
  - [ ] T

[2019-07-25 21:11] desigonz commented on #2474
Made issue #2634 for dev team. Closing this!

[2019-07-25 21:11] #2474 closed

[2019-07-25 21:18] desigonz commented on #2465
- [ ] @desigonz to synthesize conversations we've had about this and create acceptance criteria for dev.

[2019-07-25 21:27] desigonz opened #2644 "Swap hardcoded top services with complaint and thank service pages"
Right now, we've hardcoded the "Top services" links on the [OPO department page](https://alpha.austin.gov/en/police-oversight/) to lead to the complaint and thank you page forms intro pages. We are transitioning those intro pages to service pages ([complaint](https://joplin.herokuapp.com/admin/pages/91/edit/) and [thank you](https://joplin.herokuapp.com/admin/pages/94/edit/)) in conjunction with t

[2019-07-25 21:39] desigonz commented on #2616
This is related to #2354, which @briaguya just fixed in [PR 459](https://github.com/cityofaustin/janis/pull/459) but hasn't been merged to staging yet. Leaving this issue open for the design team's ideal solution but moving it to the short-term backlog.

[2019-07-25 21:42] #2642 closed

[2019-07-25 21:46] desigonz opened #2645 "Topic/topic collection mental model"
Issue for managing topics/topic collection outside of the page—both in and out of the content creation flow

-------
**Objective**
Dev and design need to sync on topic/topic collections mental models.

**Participants**
@toribr
@desigonz
@briaguya

**Agenda**
Discuss how topic/topic collections appear and are managed in JOPLIN only. Sure they are pages, but from an author standpoint, don't have the

[2019-07-25 21:53] #1609 closed

[2019-07-25 21:53] #1610 closed

[2019-07-25 21:53] #2197 closed

[2019-07-25 21:53] #2198 closed

[2019-07-25 21:53] #2199 closed

[2019-07-25 21:53] #2200 closed

[2019-07-25 21:53] desigonz commented on #2639
duplicate

[2019-07-25 21:53] #2639 closed

[2019-07-25 21:59] desigonz opened #2646 "Schedule APH funshop"

[2019-07-25 22:02] desigonz opened #2647 "Share Wagtail Space learnings"
**Objective**
Brian and Eric went to Wagtail Space to learn about all of our questions, compiled in #2553. Let's share out!

**Participants**
@briaguya and @easherma will present to the team

**Agenda**

------
- [x] Schedule meeting (8/1 at 11am)
- [x] Meet
- [x] Create resulting issues

[2019-07-25 22:03] #2306 closed

[2019-07-25 22:06] desigonz opened #2648 "Official document style guide"
### As an OPO content editor uploading official documents, I want to be able to refer to the style guide on how to use this content type so that I can successful and consistently communicate with residents.

We are implementing the official document content type. We need a style guide entry to correspond to it. This will provide guidance to OPO content editors on how to use the content type. We'll

[2019-07-25 22:12] desigonz opened #2649 "Schedule QA phone interviews"

[2019-07-25 22:13] desigonz opened #2650 "Rewrite and repost full stack dev role"
- [ ] @Niicck is working on rewriting full stack dev role
- [ ] @oliver2g to repost

[2019-07-25 22:13] desigonz commented on #2650
Also related to #2641

[2019-07-25 22:15] desigonz commented on #2602
Per [editorial calendar](https://docs.google.com/spreadsheets/d/11ZhF5SLmLSeXR-uMHw0smCHVD8OVObPTd9IjVO3bK9M/edit?usp=sharing), this is scheduled for early September.

[2019-07-25 22:17] desigonz commented on #2628
Meeting scheduled for 7/29

[2019-07-26 12:24] briaguya commented on #2640
We don’t have the link until after saving. I’m going to play with some cool bonus stuff today that may be a nice big mega fix but there isn’t an easy “make it open a new tab first” option because we don’t have a URL until after the reload.

Maybe there’s a way to have an inactive tab change the URL of a new tab after it’s been opened but I am unaware of any browser with that type of functionality.

[2019-07-26 13:19] desigonz commented on #2647
Notes from the conference: https://docs.google.com/document/d/1RGWCd66fHoh7qvOvtkk7t69kcqAYwgN0LX7BhpBPu7Q/edit?usp=sharing

[2019-07-26 13:22] briaguya commented on #2640
Did a bit of digging, looks like we might be able to play with this: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/update

[2019-07-26 13:49] briaguya commented on #2644
Giving this a 5.

I think the ideal solution here is to update our model to support either internal or external links (in a similar style to the link button in rich text), so that way we don't have environment issues around hardcoded domains etc.

[2019-07-26 13:53] briaguya commented on #2644
@desigonz these already aren't hardcoded (if you go to the OPO page in Joplin you can see that we have top service links sitting at the bottom), but at the moment they're just URL blocks and description blocks.

Short term we could just chuck in "alpha.austin.gov/whatevs" in the url block but that goes against best practices of making sure if we change the slug on a page etc. all our links still m

[2019-07-26 14:01] toribr commented on #2645
![image](https://user-images.githubusercontent.com/3790067/61956943-c90a9000-af83-11e9-96e7-df5b43701238.png)
Above is for reference for topic selection v topic creation.

[2019-07-26 14:48] kriskristin commented on #1702
Week of 7/22/19 - Single social media blast with the help of Sarah Peralta - very successful

7/24 - Met with CPIO team to discuss a plan to fill in the perceived gaps of the participant database
*Action plan from them*
Tasks for me:
Identify how our office is determining the targeted participants and what the persona traits are.
Questions to ask:
Who will be most impacted?
What voices need to be

[2019-07-26 14:59] desigonz commented on #2644
Thanks @briaguya, and good to know! So it would be a 5 to do the ideal solution, but short-term is doable now?

[2019-07-26 15:04] kriskristin opened #2651 "Content Editors Research Plan"
#### Background
We have been asked by ARR to test the [Christmas Tree Recycling page - Issue #2555](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/2555) as well as the will develop a research plan to understand some of the concer[Research Plan](https://docs.google.com/document/d/1rGrbhRCfTc46qDVnVApCQ2Iha-By6trJnLjElRRAAqs/edi

[2019-07-26 15:13] desigonz commented on #2575
Yep, to summarize (and correct me if I've gotten anything wrong):
- [the page that aggregates all departments](https://alpha.austin.gov/en/departments/) functions similarly to a topic collection page (but is it's own thing and not currently content manageable in Joplin)
- pages that use the department page content type (ex. [OPO](https://alpha.austin.gov/en/police-oversight)) cannot be assigned to

[2019-07-26 15:22] desigonz commented on #2575
@briaguya, one thing you didn't mention above is that we can currently assign a topic collection to another topic collection (which makes things like #2638 happen).

[2019-07-26 15:29] desigonz commented on #2634
duplicate of #2643 🤦‍♀️

[2019-07-26 15:29] #2634 closed

[2019-07-26 15:47] Niicck commented on #2572
I'm not seeing the official document type within the Janis dev specs.

[2019-07-26 15:51] Niicck commented on #2579
The button gets cut off for pages that are in the "draft" state.

[2019-07-26 15:52] desigonz commented on #2411
Hi @Niicck—I QA'd the confirmation email. Here's what needs to be changed; also see screenshot below.
@srigdon, I believe this is all but let me know if you see anything missing. The goal is to make sure the confirmation email fields for the last two pages match new form layout.

- [ ] Demographic information section: only keep the following responses:
  - [ ] Gender
  - [ ] Race
  - [ ] Zip code

[2019-07-26 15:58] desigonz commented on #2572
Pinged @chasechenevert about this in Slack https://austininnovation.slack.com/archives/CKEJP1XQV/p1564156504001200
Chase, is it possible they've moved?

[2019-07-26 16:03] desigonz commented on #2579
@Niicck good call! I updated my (admittedly weak) bug reporting above.

[2019-07-26 16:06] desigonz opened #2652 "404 page copy edit"
**Acceptance criteria**
- [ ] lowercase "contact us" (per our editorial style guide)

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/2a719c12-7bea-416d-8146-fc80cd83272e)

[2019-07-26 16:21] desigonz commented on #2636
@srigdon I think some of the 404s happened for topic/topic collections are because Janis can take up to 6 or 7 minutes after publishing on Joplin to deploy a build—so there's lag between when you publish and when you see the effect take change. (This is a content editing user experience thing we might want to look into, but I'm going to consider it separate from this bug.)

However, it looks like

[2019-07-26 17:04] desigonz commented on #2572
Here is the link to the mocks: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/895949b5-49ac-45bc-9114-2f5b3183573e/Template-Official-Document-desktop/ cc @Niicck

[2019-07-26 17:25] chasechenevert opened #2653 "ODD service offerings one-pager"
- Nameir asked for some help with designing one-pager to promote ODD's service offerings. He's going to connect with me next week with the content.
- [Draft 1 content](https://docs.google.com/document/d/1nBdE4PJ52jQi9tFgfxvxZjyeF_DwkP0FvgxnkEncIK8/edit) is now in

[2019-07-26 17:32] desigonz commented on #2626
Apologies @Niicck—I think we forgot to QA the confirmation email, and we have a new addition per a conversation on Slack—so we have a few more copy changes/additions for ya. Still waiting on @LauraTrujillo to add copy for the review page heading.

**Acceptance criteria"
- [ ] / / @LauraTrujillo, add your copy for the above question here  / /
- [ ] Add helper text to the “Transportation” field that

[2019-07-26 17:51] chasechenevert commented on #1451
Lists are too close to headings when the list appears at the end of a section of content.
<img width="620" alt="Screen Shot 2019-07-26 at 12 39 23 PM" src="https://user-images.githubusercontent.com/7027270/61970578-b489c000-afa2-11e9-8a30-075b1129e57e.png">

Glancing at the code I can see that within our `ul` element, our list items `li` have bottom margins, but the last `li` don't have this botto

[2019-07-26 17:52] toribr commented on #2571
Requirements here need to be discussed:

The current configuration wrt required fields is ok, I think.

Acceptance requirements:
- [ ] center social media block
- [ ] remove or hide "copy content from" social media
- [ ] discuss moving "save" button to top in bar to match content pages

[2019-07-26 18:02] toribr opened #2654 "Weird display issue when scrolling"
**Describe the bug**
When scrolling the rich text bar on an active component appears above the header.

![Screen Shot 2019-07-26 at 12 53 19 PM](https://user-images.githubusercontent.com/3790067/61971885-c9b41e00-afa5-11e9-9588-ea331395fb47.png)

**URL**
http://joplin-staging.herokuapp.com/admin/pages/152/edit/

**To Reproduce**

1. Go to 'http://joplin-staging.herokuapp.com/admin/pages/152/edit/'

[2019-07-26 18:23] toribr opened #2655 "Look into changing preview behavior to updating (and switching) to an already existing preview tab."
Previewing in wagtail opens a new browser tab every time it's saved.

After a few saves, it becomes pretty hard to track which browser tab has the most recent version.
I think it would be worth looking into updating into an already opened preview, if one exists.

[2019-07-26 18:32] annieszot commented on #2021
Closing. Currently in "revision" phase.

[2019-07-26 18:32] #2021 closed

[2019-07-26 18:52] toribr opened #2656 "Line spacing in steps"
**Acceptance criteria for dev team**
- [ ] In steps, there is `1em` of margin between paragraphs
-------
### background
Not sure what's happening, but it has no effect from the service steps component.

component
![Screen Shot 2019-07-26 at 1.50.36 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/58ef50c0-5d27-4e97-a49f-5528d3bae8f9)

renders
![Screen Shot 2019-07-26 at 1.50.4

[2019-07-26 19:08] chasechenevert commented on #2586
Here's the draft of [this content](https://docs.google.com/document/d/1qJxOnPWHso7E2RTdtWavCuZmYpzvDgMNdA7AoDcTlEY/edit#) from #2022.

- There are a number of places where I'm unclear on the content, so I have put placeholders until we can sort it out.
- [This page](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTo5OTI=) seems to be rendering incorrectly, so I'm not sure what it

[2019-07-26 19:18] toribr commented on #2604
We must be having a language issue... because "edit this page" leads to a page where i can change the topic name, which is what I mean by "edit topic name."

So not sure what you mean, but we can work it out next week.

[2019-07-26 19:24] LauraTrujillo commented on #2626
@desigonz @Niicck I'm so embarrassed- I'm sorry I didn't QA the confirmation email. :(
I updated the earlier comment with a title for the accordion.

[2019-07-26 19:25] briaguya commented on #2604
@toribr definitely a few wording issues:

On the "edit topic page", one of the things you can do is edit the topic name. If that's an issue we should change that.

If we also want to remove the link to the "edit topic page" from the other pages, we should do that too.

I was thinking you were assuming one could edit the name of a topic from the "edit service page," which I was saying was not the c

[2019-07-26 19:40] chasechenevert commented on #1186
The new home for the components is here: https://xd.adobe.com/spec/a7bd4d95-b051-4cce-6b46-0a1c3cbfe370-d18c/

[2019-07-26 20:45] desigonz commented on #2626
No worries @LauraTrujillo! I should have included it on the QA checklist. Thanks for getting that copy to us :)

[2019-07-26 20:57] desigonz opened #2657 "Double active navigation when adding new snippet"
**Describe the bug**
When you add a new snippet (location, contact, or map), the left navigation shows both the snippet and the content field as active.

**URL**
http://joplin-staging.herokuapp.com/admin/pages/3/

**To Reproduce**

1. Go to http://joplin-staging.herokuapp.com/admin/pages/3/
2. Click on the left nav icon for "Locations" (or "maps" or "contacts"—all of them do this)
3. Click on the

[2019-07-26 21:02] desigonz opened #2658 "Janis steps rendering narrowly"
**Describe the bug**
In the preview page for the [Get a community garden](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTo5OTI=) service page, the step content (including accordions) are rendering narrow. I expect this content to display similarly to published pages like [Get ready for curbside compost pickup](https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-co

[2019-07-26 21:27] desigonz commented on #2571
Thanks @toribr! For the things you outlined above, do you want to discuss with the content team, dev team, or both?

[2019-07-27 13:08] LauraTrujillo commented on #2574
Sent to translators!

[2019-07-27 17:11] briaguya commented on #2636
@desigonz @srigdon this is because we are now using the multiple departments instead of the single department field on our pages. I've updated them in Joplin and there are no longer 404s. I also have a PR out (https://github.com/cityofaustin/joplin/pull/306) to remove the confusing double fieldness

[2019-07-27 17:47] briaguya commented on #2583
Hey y'all, look at this! https://github.com/wagtail/wagtail/issues/4978

[2019-07-27 17:59] briaguya commented on #2636
Joplin prod no longer has both a "department" and "related departments" field, it just has "related departments"

I don't know why this is marked as blocked because it's fixed now. Closing it.

[2019-07-27 17:59] #2636 closed

[2019-07-27 18:00] briaguya commented on #2629
Did this while fixing https://github.com/cityofaustin/techstack/issues/2636

[2019-07-27 18:00] #2629 closed

[2019-07-27 18:19] briaguya commented on #2553
Apparently our modeltranslation method of doing internationalization is less than ideal, and we have been told about https://wagtailtrans.readthedocs.io/en/latest/getting_started.html as a cool option that may be better

[2019-07-27 18:39] briaguya commented on #2296
Even if we don't do https://github.com/cityofaustin/techstack/issues/2415, there are ways we could improve this.

One option would be to update our CMSPreview component in Janis to support rendering from different endpoints, possibly by passing something in a querystring.

ex.
Instead of https://alpha.austin.gov/en/preview/services/revisionID
we could have https://alpha.austin.gov/en/preview/servi

[2019-07-27 19:11] easherma commented on #2268
Syncing content, scheduling groups of content might also be some use cases

[2019-07-27 20:07] easherma opened #2659 "Follow up Joplin Audit with refactoring into separate apps/packages"
Now that we've gone through all the changes that Joplin makes to Wagtail, lets see how we can separate them into separate apps (which is a Django thing) to be packaged as tools that could be used by others and in other projects.

i.e.
Side by side tabs/preview

[2019-07-29 12:44] toribr commented on #2571
Neither - let's get #2607 and #2606 fixed and leave moving the save button to a later fix when we know what we're doing with snippets and translations, and the relationship between maps/location/contacts.

[2019-07-29 12:44] #2571 closed

[2019-07-29 13:33] desigonz commented on #2636
thank you thank you @briaguya!

[2019-07-29 15:15] desigonz opened #2660 "Review links to top services on department pages"
We have the ability to add "top services" links on department pages, but the author experience for adding them isn't intuitive.
- Review how translations are added
  - What to do with "Copy content from"?
  - Currently, you choose to add a link in a certain language all on one page (rather than using the language tab at the top of the link)
- Does the order you enter links determine the order in w

[2019-07-29 15:20] desigonz opened #2661 "Publish new OPO form service pages"
Once the OPO form anonymous complaint fix has been pushed to prod,
- [x] Publish the complaint service page
- [x] Publish the thanks service page
- [x] Publish the relevant "Police oversight" topic/topic collections
- [x] Replace top services link on OPO page with the new service pages:
  - [x] Complaint service page in English
  - [x] Complaint service page in Spanish
  - [x] Thanks service page

[2019-07-29 15:39] desigonz commented on #2643
Can't figure out where to update these—when I search on the Janis repo, they appear as expected.

![image](https://user-images.githubusercontent.com/5839508/62061550-058cf480-b1ed-11e9-990c-20ae2a57df6b.png)

[2019-07-29 15:54] desigonz opened #2662 "Service page step styling"
# New acceptance criteria
Janis
- [x] Step with options text doesn't style as H1

Joplin
- [x] When creating a step with option, the "options description" field is a rich text field

----------

# old

**Acceptance criteria**
- Janis
  - [ ] Step heading styled per dev spec
  - [ ] Body text remains the same
- Joplin
  - [ ] Basic steps need field for header
  - [ ] Use default max character limit

[2019-07-29 16:22] toribr commented on #2660
Essentially, whatever is created in English should be duplicated to other languages (matching blank fields) automagically on the backend, and should show under the tab control at the top. Translations should only be managed via one method.

[2019-07-29 16:27] toribr commented on #2582
Yes, we should put delete back to this menu!

[2019-07-29 17:25] easherma commented on #2411
- [ ] remove unwanted fields: Referrer, Has officer details, Has Witness information
- [ ] move gender, race, zip code to be right under demographic information but with no other bold title
- [ ] add Follow up title with contact information below that

[2019-07-29 18:29] briaguya commented on #2286
From wagtail slack - Karl at torchbox (https://github.com/kaedroho) (karl@torchbox.com):

https://github.com/wagtail/rfcs/blob/master/text/018-meta-fields.md
https://github.com/wagtail/rfcs/blob/master/text/015-revisions-api-revised.md

[2019-07-29 18:38] desigonz commented on #2582
thanks @toribr! added acceptance criteria for dev

[2019-07-29 18:39] srigdon opened #2663 "Write Guide section of the style guide"
As an OPO content editor uploading official documents, I want to be able to refer to the style guide on how to use the Guide content type so that I can successfully and consistently communicate with residents.

We are implementing the Guide content type. We need a style guide entry to correspond to it. This will provide guidance to OPO content editors on how to use the content type. We'll also use

[2019-07-29 19:08] easherma commented on #2286
Yes, this would likely be a great starting point for when we revisit the
issue, though I can also follow up with Karl specifically about preventing
‘duplicate’ revisions as potentially lower hanging fruit.

On Mon, Jul 29, 2019 at 1:29 PM Brian Smith <notifications@github.com>
wrote:

--
Eric Sherman
224-402-0004

[2019-07-29 21:32] #2649 closed

[2019-07-29 21:54] easherma commented on #2645
Brain dump of questions:
What are the working definition of topic & topic collection?
What are the attributes of a topic? I.E. does it differ greatly from what would be considered a tag in most models? And a topic collection is a collection of tags?
Topic collections are represented as pages, do topics also have a page representation(both currently do, but the distinction doesn't make much sense t

[2019-07-29 22:36] desigonz commented on #2466
Content team has backed up all of our content, so no need to migrate/preserve them.

[2019-07-29 22:40] easherma commented on #2625
@Niicck also each opo form and day labor all share the same tag atm

[2019-07-30 14:46] desigonz commented on #2411
Moving this back to QA because @srigdon is going to QA the form on master. Sarah, let me know if you need help with QA—I can take on some of it today!

[2019-07-30 14:58] easherma commented on #2583
Closed via https://github.com/wagtail/wagtail/issues/4978

[2019-07-30 15:05] desigonz commented on #2583
Un-closing this. Very exciting that Wagtail has a fix, but we want to make sure this aligns with our acceptance criteria and/or rethink acceptance criteria per their changes.

[2019-07-30 15:14] toribr commented on #2645
Topic and topic collection are very nearly the same - here's how I've been thinking about them from a *content* point of view. (there may be no distinction from a dev point of view. Study mass.gov for a robust working example, since it's largely served as our inspiration.)

Brain dump of explanations:
Topic collections and topics are both nodes in the hierarchy. The difference between them is that

[2019-07-30 15:30] desigonz commented on #2645
@easherma Is the info in #2575 helpful in explaining some of this?

[2019-07-30 15:55] anukandimalla commented on #2541
Found 1 microsite: http://www.austintexas.gov/atxn(austintexas.gov official Media Channel) and 1 Related OMD website : https://atcomd.wordpress.com/about/

[2019-07-30 16:49] desigonz commented on #2465
Acceptance criteria logged in #2662. Will review at a future design/dev sync!

[2019-07-30 16:49] #2465 closed

[2019-07-30 16:55] chasechenevert commented on #2619
**Links currently in dev.austintx.gov:**
- Translate
- Get information or assistance
- Give feedback on our website
- Sitemap
- Visit Austin
- City directory
- Jobs
- Legal notices
- Privacy policy

**Social links**
- facebook
- Twitter
- Linkedin
- Instagram
- Youtube
- RSS feed

[2019-07-30 18:23] mark-swanson commented on #2548
Ready to go! https://drive.google.com/drive/folders/19l_uFP3vIh7na1uwm9N8HXzySosGI6HP

[2019-07-30 18:30] mark-swanson commented on #2504
Broad overview: It's in good shape. There was some significant work done on this recently, and it shows.

[2019-07-30 18:34] mark-swanson commented on #2515
https://drive.google.com/drive/folders/19l_uFP3vIh7na1uwm9N8HXzySosGI6HP

Not as much traffic as I would have expected. Not horribly laid out, but not user-focused. Prime opportunity to apply a service-first design standard.

[2019-07-30 19:25] desigonz commented on #2510
![image](https://user-images.githubusercontent.com/5839508/62158787-e0c07c00-b2d5-11e9-8d62-e9523f96fd62.png)

[2019-07-30 19:48] desigonz commented on #2572
- [ ] "Authoring office of document" field should be translatable

[2019-07-30 20:17] desigonz commented on #2600
Parameters for page picker—limited to service pages, info pages that are LIVE.

[2019-07-30 20:18] desigonz commented on #2600
What happens if someone unpublishes an info page that is part of a guide?

[2019-07-30 20:34] desigonz opened #2664 "Implement guide nav and scrolling"
- [x] Desktop: left navigation and scrolling behavior
  - [x] As a user scrolls through the body content, the corresponding larger section in left nav is highlighted with blue line, and the title of the particular page is in blue, with arrow pointing?
  - [x] When a user clicks on a heading in the left nav, the body scrolls to the corresponding content

**ignore**
- [ ] Mobile scrolling behavior

[2019-07-30 20:44] desigonz commented on #2619
@srigdon and @LauraTrujillo  see above re: social and footer links

[2019-07-30 21:02] desigonz opened #2665 "Review microcopy for Joplin guide UI"
### As a content editor, I want clear labels and helper texts so that I understand what kind of content to add where when authoring a guide.

See #2600. @toribr designed mocks for Joplin UI—per design pin-up today, @LauraTrujillo will review the field labels and helper text for editing a guide in Joplin. (Might need @toribr to upload the latest design.)

[2019-07-30 21:15] desigonz opened #2666 "Ability to add trashy/ReCollect apps between steps"
### As a resident, I want the Trashy and ReCollect apps to appear within the step that mentions it, so I have a seamless user experience that doesn't require me to scroll up and down the page.

### As a content editor, I need the ability to add the apps between steps on Joplin, in order to achieve the user goal above.

**Acceptance criteria**
- [ ] When a user uses "code" in a rich text field, the

[2019-07-30 21:20] desigonz commented on #2619
From Julia re: the page we're legally supposed to link to from the homepage.

[2019-07-30 21:25] desigonz commented on #2663
Thanks for making this issue! Assigning this to next sprint, but you can use this issue to jot down thoughts you have along the way/as you work on guide content.

[2019-07-30 21:29] desigonz opened #2667 "Translations in Trashy/ReCollect app"
### As a resident, I want to only have to select "Español" once to see page content in Spanish.

**Is your feature request related to a problem? Please describe.**
Currently when using pages with the Trashy and ReCollect app in Spanish (ex. [curbside bulk pickup](https://alpha.austin.gov/es/housing-utilities/recycling-trash-and-compost/household-waste/bulk-item-pickup), the apps don't translate au

[2019-07-30 21:42] desigonz opened #2668 "Managing large numbers of official documents"
### As a content editor adding official documents, I want an easy and understandable way to manage many document entries within the official document content type.

**Acceptance criteria**
~~- [ ] (a) Empty instance as first instance upon page load (pretty hard)~~
- [ ] (b) Documents listed in reverse chronological order (pretty hard)
- [ ] (c) Remove implied ability to re-order (easy)
~~- [ ] (d)

[2019-07-30 21:47] #2598 closed

[2019-07-31 01:42] LauraTrujillo commented on #2665
Gave Tori the marked up doc today.

[2019-07-31 01:42] #2665 closed

[2019-07-31 15:28] briaguya commented on #2666
@desigonz this brings up so many things, so I'm just going to braindump some of my ideas here:
## Option 1 (Don't change joplin, do some hacky Janis stuff)
### Author flow
* Add a "code" block to an existing step, use some fancy keyword to mean "hey Janis, we want an app here"
<img width="996" alt="Screen Shot 2019-07-31 at 9 37 25 AM" src="https://user-images.githubusercontent.com/6384156/6222126

[2019-07-31 16:05] briaguya commented on #2647
investigate available options better selection flows
* https://wagtail-autocomplete.readthedocs.io/en/latest/

[2019-07-31 17:14] desigonz commented on #2499
Actions to take after our 7/31 meeting:
- [ ] @annieszot will review copy, thinking about one level of hierarchy within form + helper text.
- [ ] @desigonz will then review
- [ ] @easherma to update form so that we can compare across forms during the next content pinup
- [ ] Left align helper text for date/time pickers

[2019-07-31 19:57] srigdon commented on #2411
✅ English complaint form looks good.

🚫 English complaint confirmation email needs these edits:

- [ ] Remove the confirmation number and conform to the copy in [this doc](https://docs.google.com/document/d/1DdsA5TJhEQMGTufpE1x3vABgxHtfUbRerxbQAqisnw4/edit#).
![OPO-eng-complaint-email_7-31](https://user-images.githubusercontent.com/5445796/62240956-c520a880-b39d-11e9-898a-9d6370c8baa4.png)

- [ ]

[2019-07-31 20:18] toribr commented on #2600
Updated MVP version with out of the box (as I understand it) controls of header/pages functionality.
![1851 Guide](https://user-images.githubusercontent.com/3790067/62245065-5562eb80-b3a6-11e9-83de-c71f1a9c0858.png)

[2019-07-31 20:19] desigonz commented on #2411
thanks a million to @srigdon for your wonderful QA work!

@easherma, onto you to implement these changes.

[2019-07-31 20:53] toribr commented on #2467
I'm not sure what's happening with topics and topic collections insofar as moving them out of the create modal, but in the short term if we aren't doing that, here's an intermediate solution.

![content types](https://user-images.githubusercontent.com/3790067/62247257-15eace00-b3ab-11e9-9550-4bdf5620a9b5.png)
![content types_landing](https://user-images.githubusercontent.com/3790067/62247258-16836

[2019-07-31 21:01] toribr commented on #2467
@srigdon This is related to #2610 - the descriptions on the above screens should be reviewed and synced with that issue.

[2019-07-31 23:40] annieszot opened #2669 "Knowledge transfer"
**Objective**
See calendar invite sent 7/31 for Monday, August 12

**Participants**

@LauraTrujillo
@desigonz
@srigdon
@oliver2g
@ChristopherLuedtke

**Agenda**
Document: outstanding projects, upcoming deadlines, key contacts
Aim to answer: What was most rewarding during your time with ODD (fellow to content strategist)? What is/was most frustrating?
How do you envision the future of Funshops?
Onb

[2019-08-01 16:28] LauraTrujillo commented on #2646
@annieszot I'm going to connect you and @desigonz with Jen S. again and hand this off to you.

[2019-08-01 16:30] annieszot commented on #2646
Sounds great!

[2019-08-01 16:35] desigonz opened #2670 "Joplin MVP translation model"
### As a content editor, I want translations in Joplin to be consistent so that I'm not confused about how to enter translations.

**Acceptance criteria**
- [ ] @toribr identifies all the areas where we need to clean up the Joplin translation model for MVP
- [ ] @desigonz works with design team to develop acceptance criteria

**Is your feature request related to a problem? Please describe.**
Enter

[2019-08-01 16:53] LauraTrujillo commented on #2548
@mark-swanson can you keep diving into the program pages?

[2019-08-01 16:53] #2520 closed

[2019-08-01 16:54] #2509 closed

[2019-08-01 16:55] LauraTrujillo commented on #2535
content audit: https://docs.google.com/spreadsheets/d/1D-uX4QOQa3NGBi4MFMTPQ-v_Q6TViwgDxxySGJxHfiI/edit

[2019-08-01 16:59] #2535 closed

[2019-08-01 16:59] #2504 closed

[2019-08-01 17:01] desigonz opened #2671 "Match style on OPO forms confirmation pages"
**Describe the bug**
Need to match style on complaint form and thanks form confirmation pages.

- [ ] Headings should be the same
- [ ] Get rid of progress bar on thanks
- [ ] Get rid of horizontal rule on thanks

![image](https://user-images.githubusercontent.com/5839508/62312362-96fda000-b453-11e9-8dd6-d44fed6cd88b.png)

**URL**
https://forms.austintexas.io/policia-queja/confirmacion
https://for

[2019-08-01 17:06] toribr commented on #2670
Examples of additional instances where variation occurs:
Add Department Director
![Screen Shot 2019-08-01 at 12 03 45 PM](https://user-images.githubusercontent.com/3790067/62312690-77b34280-b454-11e9-84be-a8432b161693.png)
Maps:
![Screen Shot 2019-08-01 at 12 05 57 PM](https://user-images.githubusercontent.com/3790067/62312837-d5478f00-b454-11e9-92b3-f2635a56a4a6.png)

[2019-08-01 17:30] mark-swanson commented on #2548
Yeah, that kind of what Capital Contracting is. Maybe combine into one doc?

[2019-08-01 19:00] toribr opened #2672 "Error detection & messaging on joplin fields"
When an author attempts to publish a page with a missing required field, they receive a user error and the offending field changes to an error state. However, it would be nicer if once the user began to input into the field that the state would revert to normal, rather than continuing to give the user a message. ![Screen Shot 2019-08-01 at 1.55.27 PM.png](https://images.zenhubusercontent.com/5a81e

[2019-08-01 19:07] toribr commented on #2670
https://github.com/cityofaustin/techstack/issues/2193
Character limit per language may also need to be considered for this issue.

[2019-08-01 19:29] toribr commented on #2611
![Screen Shot 2019-08-01 at 2 11 25 PM](https://user-images.githubusercontent.com/3790067/62320664-65da9b00-b466-11e9-8450-7de179df9ba8.png)
A character count pattern has been used in the content creation modal - it shows both characters left, and then switches to red type and negative number when the count goes over.
![Screen Shot 2019-08-01 at 2 28 42 PM](https://user-images.githubusercontent.co

[2019-08-01 20:28] LauraTrujillo commented on #2610
We're closing #2608 (duplicate) so here's @easherma's comment:
@briaguya I'm thinking if we get these nailed down it would be great to stick them in a docstring or other object associated with each model and have them populate dynamically. Same with the list of available models themselves.

[2019-08-01 20:28] LauraTrujillo commented on #2608
Duplicate-ish of #2610

[2019-08-01 20:28] #2608 closed

[2019-08-01 20:30] LauraTrujillo commented on #2106
@annieszot and I met with Kerri G., Katie, and Chase Norris today to discuss URO content. They have an internal deadline and we advised them on how to make current content more user-friendly. Moving this to backlog since we won't need to draft content until after drupal 8 launch.

[2019-08-01 20:43] LauraTrujillo commented on #2511
@desigonz I'm passing the torch to you :)

[2019-08-01 20:48] desigonz commented on #2063
duplicate of #2333

[2019-08-01 20:48] #2063 closed

[2019-08-01 20:59] desigonz commented on #2511
🔥

[2019-08-01 21:12] desigonz commented on #1935
When adding a markdown table to Joplin, use this tool to generate table markdown.

When entering into Joplin, use Shift+Return (on the keyboard) so the markdown stays as all one block.

[2019-08-01 21:34] desigonz opened #2673 "Revise pages with appblocks"
In #2666, we now have the ability to add apps like Trashy and ReCollect between steps.

Let's review and rewrite the following pages to incorporate the apps within steps:
- [Bulk item pick up service page](https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/household-waste/bulk-item-pickup)
 - [Get ready for compost pickup service page](https://alpha.austin.gov/en/housing-uti

[2019-08-01 21:56] desigonz opened #2674 "Add fee table to "Get a birth or death certificate""
We now have the ability to add tables via markdown (see #2333 for details on how to do so). We will be developing conventions for how to do so (#2331). Then, we need to replace pricing in step 2 on the [Get a birth or death certificate](https://alpha.austin.gov/en/health-safety/health-records-certificates-2/birth-death-certificates/birth-and-death-certificates-test) service page with a few table.

[2019-08-01 22:01] desigonz opened #2675 "Trashy/ReCollect improvements"

[2019-08-01 22:01] desigonz opened #2676 "trashy"

[2019-08-01 22:01] srigdon commented on #2633
🚫 Thank you preview in Spanish was showing these errors:

1. The office's name isn't translating, which is a known issue, can't find the number right now.
2. Caught some accents missing on the office's name in the mail option, fixed 'em:
<img width="627" alt="Screen Shot 2019-08-01 at 4 09 25 PM" src="https://user-images.githubusercontent.com/5445796/62328967-303fad00-b47a-11e9-95a1-e68bcb801304.p

[2019-08-01 22:02] #2676 closed

[2019-08-01 22:11] #2569 closed

[2019-08-01 22:28] desigonz commented on #2656
@toribr Line breaks are working for me (puts each line within its own `<p>`), but it seems like the spacing in the steps hasn't been implemented correctly.

@chasechenevert, can you verify how the line breaks should be styling within steps? See below.

### In a step
*joplin*
![image](https://user-images.githubusercontent.com/5839508/62331428-86641e80-b481-11e9-8c2e-96c8dfcd2886.png)

*janis*
![ima

[2019-08-01 22:49] desigonz commented on #2633
Thanks @srigdon!

The following two images are the thanks form in English and Spanish. I'm noticing a discrepancy in content—Spanish doesn't have the "Be aware" part. What's correct?
![image](https://user-images.githubusercontent.com/5839508/62332245-5c602b80-b484-11e9-96c0-c413781b5240.png)

![image](https://user-images.githubusercontent.com/5839508/62332257-61bd7600-b484-11e9-99e4-518103bd00fd.p

[2019-08-02 17:39] #1172 closed

[2019-08-02 18:20] #2650 closed

[2019-08-03 00:28] srigdon commented on #2633
@desigonz Whoops! Good catch. IIRC we decided the copy starting "Be aware" and the bullet points after it don't make enough sense to keep even if technically correct, so I deleted it. I did keep the sentence thanking people for their feedback and added it on the Spanish page.

[2019-08-03 16:10] desigonz commented on #2633
Great! Closing this issue if that's alright with you.

[2019-08-03 16:10] #2633 closed

[2019-08-03 16:12] desigonz commented on #2510
@toribr, can you review this on staging?

[2019-08-05 15:03] toribr commented on #2510
I'm ok with the left aligned text, but "home" needs to change to "pages". Eventually, we'll want a "dashboard" selection, and we don't want to have to retrain authors how to find pages.

[2019-08-05 15:07] chasechenevert commented on #2356
So far:
![Cards_responsive spec@2x@2x](https://user-images.githubusercontent.com/7027270/62474598-da645100-b768-11e9-8ae7-6d241fc119fe.png)

[2019-08-05 15:12] LauraTrujillo commented on #2611
Reviewed character limits and created parity between content model doc and google doc templates

[2019-08-05 15:13] desigonz commented on #1451
- [ ] review heading styles on service/info vs. dept page:

![image](https://user-images.githubusercontent.com/5839508/62474971-adfd0480-b769-11e9-9e80-d106ed3d9ae2.png)

[2019-08-05 15:15] desigonz commented on #1451
- [ ] review the <h> values available to users on Joplin for info vs. service vs. department pages.

[2019-08-05 15:16] desigonz commented on #2596
Photographic vs. graphic?

[2019-08-05 15:16] LauraTrujillo commented on #2608
@toribr @desigonz I updated the descriptions in the [content model doc](https://docs.google.com/spreadsheets/d/1ZkH93F4tJ0_Zjx4t8k6k6TgwSlOh8u8ejWmegE6WqH0/edit#gid=46035360).

[2019-08-05 15:19] desigonz opened #2677 "Copy for feedback module"
Review all microcopy for feedback module, including new question.

[2019-08-05 15:29] desigonz commented on #2638
@toribr will look into ideal behavior, but also waiting for Wagtail conversation on TC/topic mental model.

[2019-08-05 15:30] LauraTrujillo commented on #2610
@toribr @desigonz ready for your eyes!

[2019-08-05 15:42] desigonz commented on #2154
- [ ] @annieszot to document our decision-making and sending to ARR contacts

[2019-08-05 15:42] desigonz commented on #2169
- [ ] @annieszot to document our decision-making and sending to ARR contacts

[2019-08-05 15:45] desigonz commented on #2619
@srigdon to review the links during sprint 37.

[2019-08-05 15:52] desigonz commented on #2206
Duplicate of #2574

[2019-08-05 15:52] #2206 closed

[2019-08-05 15:53] #2024 closed

[2019-08-05 16:14] LauraTrujillo commented on #2468
Unassigned myself. @desigonz There's a comment for you up at the top.

[2019-08-05 16:27] LauraTrujillo commented on #2467
@toribr I'm unassigning myself here. The content model doc has been updated (and #2610 is ready for you). I'll let you decided when to close this one and 2610.

[2019-08-05 16:32] LauraTrujillo commented on #2617
Related to #2624 and #2623

[2019-08-05 16:35] #721 closed

[2019-08-05 17:01] easherma commented on #721
omg that title tho <3

On Mon, Aug 5, 2019 at 11:35 AM LauraTrujillo <notifications@github.com>
wrote:

--
Eric Sherman
224-402-0004

[2019-08-05 17:40] desigonz commented on #2610
Thanks @LauraTrujillo! Interesting question about dropping "Austin" in office titles. I noticed that, for the Drupal 8 site, CPIO is dropping some of the Austin's but not all of them:
![image](https://user-images.githubusercontent.com/5839508/62483625-c70fb080-b77d-11e9-8691-188c0e0df940.png)

I wonder if some of them are strong brands that would be difficult to remove the "Austin"—example "Austin

[2019-08-05 18:24] srigdon commented on #2619
- [ ] Research:

- Which links should be in the footer?
- For the full site, and the interim?
- For the interim, which details should we include in a short (1-2 sentences) description?
- Which links or info should appear in both the top nav and footer?
- Check with Aly about social links: are any of these required? Which ones get the most traffic?

- [ ] Talk to @kriskristin about testing. Questio

[2019-08-05 20:40] easherma commented on #2632
Probably just need to set a max-width thing here.

[2019-08-05 20:52] LauraTrujillo commented on #2194
Content added to Sharepoint: https://cityofaustin.sharepoint.com/:f:/r/sites/CTM/TEAMSITES/ODD/alphaaustingov%20Content/Workflows/Departments/Austin%20Public%20Health/Content%20Approvals/Community%20Services%20Content?csf=1

[2019-08-05 20:52] #2194 closed

[2019-08-05 21:44] desigonz commented on #2468
@LauraTrujillo It's hardcoded but not sure if I'll be able to update it. If there are copy edits beyond what you wrote for #2610, can you add below, and then I'll work with dev to implement them?

[2019-08-05 21:47] desigonz commented on #2611
thanks @LauraTrujillo!

[2019-08-05 21:49] desigonz commented on #2510
back to @easherma!

Acceptance criteria
- [ ] change "Home" to "Pages"

[2019-08-05 22:03] #2411 closed

[2019-08-05 22:14] desigonz opened #2678 "Test out Generic Chooser"
For possible use in Joplin.

From @easherma:

![image](https://user-images.githubusercontent.com/5839508/62498255-37312d00-b7a4-11e9-9c5f-2cd1051721ca.png)

**Documentation**
https://github.com/wagtail/wagtail-generic-chooser

from @easherma:

[2019-08-05 22:20] easherma commented on #2604
https://github.com/wagtail/wagtail-generic-chooser/blob/master/generic_chooser/widgets.py

Implementing this library, we could write admin choosers specifically for topics or departments and customize the template + language of the chooser modal that pops up

[2019-08-05 22:37] desigonz commented on #2611
@toribr Anything else you need to add? Otherwise, move into "review" pipeline and assign me—I'll make an issue for devs with acceptance criteria.

[2019-08-05 22:38] desigonz commented on #2610
@toribr Anything else you need to add? Mocks to update? Otherwise, move into "review" pipeline and assign me—I'll make an issue for devs with acceptance criteria.

[2019-08-05 22:40] desigonz commented on #2467
Thanks @LauraTrujillo! @toribr, Laura's descriptions can be found on the first sheet of the content model doc.

[2019-08-05 22:45] LauraTrujillo commented on #707
Initial thoughts, but defer to @chasechenevert, are that this post can talk about how functionality and usability can also be nice to look at. And that good design is also user-friendly.

[2019-08-05 22:58] annieszot commented on #2106
@LauraTrujillo Sent follow-up email 8.5.19. Okay to turn this issue into an epic and close?
Epic will include
- Universal recycling ordinance information page
-1 form that combines/braids recycling and organics diversion plan
- Service page - "Do I meet requirements for the universal recycling ordinance?"

[2019-08-05 23:28] easherma commented on #2678
can be tried here:
https://joplin-pr-try-generic-chooser.herokuapp.com/

I set it up so that, for service pages, you can now choose a theme (just as an example)
I also have it so that choosing departments uses a generic chooser widget

[2019-08-06 05:20] Niicck opened #2679 "Selecting Department on CreateContentModal breaks page"
Now that we've removed "department" from our models (in favor of many "related_departments"), when we add a department to a new page on CreateContentModal our API breaks. It's passing a "department" to new_page_from_modal() but "department" isn't a value for our content models anymore.

[2019-08-06 05:28] Niicck opened #2680 "Add topics and related_departments from CreateContentModal"
Now that we have many "topics" and many "related departments" for each content page, our topic/department selection on CreateContentModal is not working.

[2019-08-06 05:29] Niicck commented on #2679
The actual feature will be fixed by https://github.com/cityofaustin/techstack/issues/2680

[2019-08-06 05:32] #2679 closed

[2019-08-06 13:10] LauraTrujillo commented on #2468
@desigonz sure can!
- Select content type modal
- Make everything sentence case
- [ ] Select the content type
- [ ] Service page
- [ ] Information page
- [ ] Department page
- [ ] Topic page
- [ ] Topic collection pages
- Topic collection or theme modal
- Make everything sentence case:
- [ ] Topic collection or theme?
- [ ] Topic collection

[2019-08-06 15:12] oliver2g opened #2681 "Find out how to get seats on Socrata and Power BI (OPO)"
For search/filter and data viz objectives

[2019-08-06 15:51] toribr commented on #2611
Not at this time, but do please note that character counts for other languages will be different.

[2019-08-06 16:06] annieszot opened #2682 "Universal Recycling Ordinance information page"

[2019-08-06 16:06] annieszot opened #2683 "Complex form- annual diversion plan (combine organics and recycling)"

[2019-08-06 16:07] annieszot opened #2684 "Meet the requirements for URO service page"

[2019-08-06 16:07] annieszot opened #2685 "Refine Universal Recycling Ordinance"
Turned into an Epic from #2106

[2019-08-06 16:07] annieszot commented on #2106
Closing -> turned into new epic #2685

[2019-08-06 16:07] #2106 closed

[2019-08-06 16:20] srigdon commented on #2661
@desigonz. Finished! FYI, the URLs for the Spanish forms are displaying in English. Happy to fix it if I can, I just need to know how.

Thank you form en Español: https://alpha.austin.gov/es/health-safety/police-oversight-2/police-feedback-and-records/thank-an-austin-police-officer

Complaint form en Español: https://alpha.austin.gov/es/health-safety/police-oversight-2/police-feedback-and-records/

[2019-08-06 16:24] srigdon commented on #2661
@desigonz Wait, also, there's some redundancy, but I can't see where to fix those links on the Department page under Related information so that it's Top services instead.

<img width="595" alt="Screen Shot 2019-08-06 at 11 21 50 AM" src="https://user-images.githubusercontent.com/5445796/62557402-89259180-b83c-11e9-9e9e-7dcf7bd93fed.png">

<img width="619" alt="Screen Shot 2019-08-06 at 11 21 59 A

[2019-08-06 16:49] toribr commented on #2668
@easherma & @briaguya have a pattern they found out about during wagtail space that allows collapse components. Should be a matter of defining interaction details.

[2019-08-06 18:42] mark-swanson commented on #2517
Alrighty, at a stopping point! https://docs.google.com/spreadsheets/d/17f8c7j-KDGmr09z9LTNnWtIm9Mpw21vbX4k-4Wa704I/edit#gid=0

C/P my comments: Overall thoughts: Very fractured navigation. Nothing seems to flow from one thing to another. Good example of the design driving content, not the other way around. Based on my (fairly substantial) experience working with government contracting, there are a

[2019-08-06 19:05] toribr commented on #2468
Approved updates!
https://xd.adobe.com/spec/6728765d-1f27-4732-4e6d-b3d6726ca4ec-1119/

![Basic form](https://user-images.githubusercontent.com/3790067/62568616-3e634400-b853-11e9-8717-08264a91e9a2.png)
![Dept modal](https://user-images.githubusercontent.com/3790067/62568618-3efbda80-b853-11e9-851a-157adb6e5871.png)
![Uploading Guide modal.png…]()
![Uploading Information modal.png…]()
![Uploading

[2019-08-06 19:05] #2468 closed

[2019-08-06 19:11] toribr commented on #2467
![select topic](https://user-images.githubusercontent.com/3790067/62569128-e711a380-b853-11e9-9eb7-af7ede261466.png)
![Select content type](https://user-images.githubusercontent.com/3790067/62569130-e711a380-b853-11e9-8619-9ffc17469179.png)

Updated.

[2019-08-06 19:11] #2467 closed

[2019-08-06 19:12] #1851 closed

[2019-08-06 19:22] desigonz opened #2686 "SEO tab"
### As a resident, I want to be able to search for a City service via a search engine, so that I can find the info I need.
### As a Joplin admin, I want the ability to update SEO-related data and slugs for a page, so that my page will reach the right audiences.

**Is your feature request related to a problem? Please describe.**
Wagtail has a default SEO tab, but we've currently hidden it. You can

[2019-08-06 19:24] desigonz opened #2687 "Review custodial care user stories"
Review @ChristopherLuedtke  stories here: https://docs.google.com/document/d/1AZgWK-MshNxO0igmeDzHnxOPIxGIeLTX73sR61QKRYw/edit?usp=sharing
and get feedback to Chris and @stephaniegates.

[2019-08-06 19:42] Niicck commented on #2572
Check it out:
Janis: https://deploy-preview-463--janis.netlify.com/en/health-safety/health-records-certificates-2/birth-death-certificates/official-documents/
Joplin: https://joplin-pr-2572-official-doc.herokuapp.com/admin/pages/108/edit/

[2019-08-06 19:44] desigonz commented on #2479
Per dev-design sync, we're going to go with the button-making button option.

for @easherma:
- [ ] spend some time getting conflicting issues merged
- [ ] get a PR branch with the button-making button

[2019-08-06 19:48] easherma commented on #2479
https://joplin-pr-2479-alt-button-hack.herokuapp.com/admin/

[2019-08-06 20:15] easherma commented on #2645
Desi looked for a page and ended up at a topic instead of the right page she wanted
IA pages separate from other kinds of pages

[2019-08-06 20:19] desigonz commented on #2599
- [ ] @chasechenevert to deliver mobile designs to @briaguya for Janis implementation

[2019-08-06 20:26] desigonz commented on #2599
@briaguya

The URL that opens for "View this page on alpha.austin.gov" should be:
- [ ] If we have a topic, use the first topic
- [ ] If we don't have a department, use the first department

[2019-08-06 20:40] desigonz opened #2688 "Add file size on official documents"
On the dev spec, we have file size after a PDF. Let's make a way for that automatically to appear!

**Acceptance criteria**
- [ ] On Janis, the file size appears per [Dev spec](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/895949b5-49ac-45bc-9114-2f5b3183573e/Official-Document-MVP-web-1/) for official documents

![image.png](https://images.zenhubusercontent.com/5a31a50

[2019-08-06 20:54] desigonz commented on #2319
This came up in dev/design sync. Something we could test for next round of guide testing: topic listed in the contextual nav for the guide, vs. topic listed in the contextual nav for an individual page that a user gets to via the "view on alpha.austin.gov" link. Does that confuse a user?

[2019-08-06 21:05] desigonz commented on #2645
### As a content editor, I want to see content pages (department, info, service, guide, and official docs) separately from IA pages (TCs and topics) because I conceptualize content and IA separately.

Nearer-term solution:
- Use search page as main content page.
- Update filters for our needs
- Set default to filter out TCs and topics.

Longer-term: fancy create content modal that allows users to

[2019-08-06 21:09] desigonz opened #2689 "Input OPO official document content to Joplin staging"
The official document content type is nigh! Let's add @srigdon's amazing OPO content for the 5 official docs into staging so that we can demo it at Sprint review.

[2019-08-06 21:12] desigonz opened #2690 "Input some real guide to demo during sprint review"
Guides are on staging! Let's input some real mobile food vendor guide content so we can demo at sprint review.

[2019-08-06 21:21] briaguya opened #2691 "Janis - Department page related info/top services needs some love"
## As a resident, I want a department page to direct me to top services and other relevant information, so that I can find the information I need.

**The problem**
Currently, we've got logic set up on the department pages so that any page assigned to a particular department automatically appears on the department page under the "Related information" section. This was a short-term solution for the

[2019-08-06 21:45] easherma commented on #2466
Fixed by this I believe https://github.com/cityofaustin/joplin/pull/314

[2019-08-06 22:45] desigonz commented on #2466
@easherma Excellent! I still see them here:
![image](https://user-images.githubusercontent.com/5839508/62582384-d7a15300-b871-11e9-8a01-9d52ea346fb7.png)

I can certainly delete any instances of them in Joplin, but are there technical debt issues we should be logging for y'all?

[2019-08-06 23:19] desigonz opened #2692 "Update copy and icons create modal improvements (and delete that screen)"
### Select content type screen
**Acceptance criteria**
- [ ] Implementation matches mocks below
- [x] "Content pages" and "Topics or topic collections" as two separate tabs
  - [x] Title for content pages should be "Select a content type"
- [x] Use [these icons](https://github.com/cityofaustin/techstack/issues/2467#issuecomment-511044512)
- [ ] Use the following names and descriptions for each:

[2019-08-06 23:20] desigonz commented on #2467
Great! Made this into acceptance criteria here: https://github.com/cityofaustin/techstack/issues/2692

[2019-08-06 23:35] desigonz commented on #2468
Incorporated into acceptance criteria in #2692

[2019-08-07 00:44] briaguya commented on #2657
Just checked on prod (and staging/local) and this appears to have been fixed already.

[2019-08-07 01:55] briaguya commented on #2607
This one seems like it's a little wonky.

It looks like something we're doing to force the blocks to always being expanded is getting in the way of the logic that exists within them.

When you don't auto expand, once it's loaded it automatically picks the url field

![Aug-06-2019 20-40-52](https://user-images.githubusercontent.com/6384156/62588255-bc8f0d00-b88a-11e9-9848-2107d9d8ea96.gif)

It'd be

[2019-08-07 02:11] briaguya commented on #2607
@desigonz I think it might be worth considering putting this off and working to implement a better UX for snippets in general.

[2019-08-07 02:23] briaguya commented on #2604
@easherma since you've been playing with the generic chooser, any chance you could try replacing the topic chooser with a generic chooser somewhere?

@desigonz ideally by adding genericchooser we'll have an easier time customizing how we choose things (and hopefully better control over the button text too)

[2019-08-07 02:42] briaguya commented on #2583
@easherma just tested out your https://joplin-pr-wagtail-26-upgrade.herokuapp.com/admin/pages/106/edit/ branch and found quite a few issues with our templates not liking the upgrade (looks like some css selectors we had before changed) and I still got a leave site alert trying to leave the edit page. Looks like we've got a bit of work on our side to be ready for 2.6.

[2019-08-07 03:12] briaguya commented on #2632
@desigonz I have a quick fix in https://github.com/cityofaustin/joplin/pull/323 that gets us from:
## BEFORE
<img width="1046" alt="Screen Shot 2019-08-06 at 10 04 09 PM" src="https://user-images.githubusercontent.com/6384156/62591738-3aa4e100-b896-11e9-94a6-da852fa31af5.png">
to

## AFTER
<img width="1035" alt="Screen Shot 2019-08-06 at 10 09 29 PM" src="https://user-images.githubusercontent.com/

[2019-08-07 04:34] briaguya commented on #2466
@easherma I just removed it from the create content modal while adding guides to it.

The rest of the process page stuff is in models/__init__, so this still applies to doing a deeper clean of it

[2019-08-07 05:05] briaguya commented on #2497
working here: https://deploy-preview-467--janis.netlify.com/en/housing-utilities/recycling-trash-and-compost

[2019-08-07 13:08] desigonz commented on #2632
assigning @toribr to QA

[2019-08-07 13:10] desigonz commented on #2354
Assigning @chasechenevert to QA

[2019-08-07 13:10] desigonz commented on #2579
Assigning to @chasechenevert to QA

[2019-08-07 13:10] desigonz commented on #2654
Assigning @toribr to QA

[2019-08-07 13:20] desigonz commented on #2605
@briaguya This looks great, thank you! QA complete.

[2019-08-07 13:22] desigonz commented on #2658
Also happening in this preview:
https://janis.austintexas.io/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxMDQ3
![image](https://user-images.githubusercontent.com/5839508/62626199-710d4b00-b8ec-11e9-875c-67a402552040.png)

[2019-08-07 13:25] desigonz commented on #2558
@briaguya Now when I hover over the icon, the cursor looks like 🚫(not rendering in screenshot but circled where it does show on my browser) and code is `javascript:null;`. Would prefer not to have this at all but not a huge deal; let me know what you think.

PS I'm on Chrome.

![image](https://user-images.githubusercontent.com/5839508/62626334-c0ec1200-b8ec-11e9-984b-4e72d883bc96.png)

[2019-08-07 13:27] desigonz commented on #2606
@briaguya Looks good! QA complete.

[2019-08-07 13:39] desigonz commented on #2582
@briaguya This one looks good, QA complete!

[2019-08-07 13:55] toribr commented on #2632
Not perfect as mentioned but will suffice for now.

[2019-08-07 14:06] desigonz commented on #2661
@briaguya beat me to the issue-making punch! @srigdon, that redundancy is logged here: #2691

Closing this one!

[2019-08-07 14:06] #2661 closed

[2019-08-07 14:06] toribr commented on #2654
Yas.

[2019-08-07 14:07] desigonz commented on #2691
This is happening because "Related information" automatically feeds in any pages defined as a department page. Long-term, this solution won't work. I think we should have @toribr and @chasechenevert take a look at this and determine an interim solution.

[2019-08-07 14:32] toribr commented on #2657
Purty.

[2019-08-07 15:15] desigonz commented on #2628
duplicate of #2591

[2019-08-07 15:15] #2628 closed

[2019-08-07 15:28] #2515 closed

[2019-08-07 15:28] #2516 closed

[2019-08-07 15:32] chasechenevert opened #2693 "Select a clearer contact icon"
Tori mentioned wanting to explore other options for "Contact" icons since the Material version we use isn't very recognizable (especially at smaller sizes).

-  Consider what's the most universal way to represent this concept. Compare across gov sites and major OS platforms.
- Different icons for "Contact" vs "Phone" (currently there's only 1 we're using for both purposes)

**Use cases**
- Janis c

[2019-08-07 15:38] desigonz commented on #2660
Marginally related to #2691

[2019-08-07 15:49] #2507 closed

[2019-08-07 15:57] desigonz commented on #2656
Assigned @chasechenevert to verify line breaks for steps in Janis.

[2019-08-07 16:03] #2647 closed

[2019-08-07 16:12] desigonz opened #2694 "August Funshop"
**Objective**

**Participants**

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [ ] Create resulting issues

[2019-08-07 16:16] annieszot commented on #2574
Currently with translators. Will change milestone to sprint 37. Will close if translations returned before or on 8/8/19.

[2019-08-07 16:24] desigonz commented on #2497
@briaguya QA complete—looks beautiful!

[2019-08-07 16:43] annieszot opened #2695 "Sprint 35 goal CG outline redone"
[Goal documentation](https://austininnovation.slack.com/files/UFXBR4AEQ/FLC7NF9GQ/image_from_ios.jpg)
[Outline revision ](https://docs.google.com/document/d/1qJxOnPWHso7E2RTdtWavCuZmYpzvDgMNdA7AoDcTlEY/edit#)

[2019-08-07 16:44] annieszot opened #2696 "Sprint 36 goal Draft license agreement section"
[Goal documentation ](https://austininnovation.slack.com/files/UFXBR4AEQ/FLKS1EDBK/image_from_ios.jpg)
[Garden guide outline w/ updated license agreement section](https://docs.google.com/document/d/1qJxOnPWHso7E2RTdtWavCuZmYpzvDgMNdA7AoDcTlEY/edit#)
[Request a license agreement service page ](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTo5NDY=)

[2019-08-07 16:45] annieszot opened #2697 "Revise Garden Guide"

[2019-08-07 16:46] annieszot commented on #2022
Turned into epic #2697. Closing

[2019-08-07 16:46] #2022 closed

[2019-08-07 16:50] annieszot commented on #2695
Goal achieved for sprint 35. Closing

[2019-08-07 16:50] #2695 closed

[2019-08-07 16:58] annieszot commented on #2696
Goal met - license agreement section drafted. Closing

[2019-08-07 16:58] #2696 closed

[2019-08-07 17:38] oliver2g commented on #2613
discussed this with @Niicck . Devs are onboard with sending no-reply emails to rejects from application review. Essentially, all candidates will receive a response. Rejection replies will be more personalized according to how far they are in the recruiting process. I'll send out some more detailed notes in the hiring channel.

[2019-08-07 17:38] #2613 closed

[2019-08-07 18:06] kriskristin commented on #1702
After first pass at recruitment we have reached a pool of 700 participants that have signed up to participate in research.

We will recruit via social media again and then assess the participants based on the meeting with CPIO.

[2019-08-07 18:25] easherma commented on #2510
Done, should we make a future issue for moving labels to under each icon?

[2019-08-07 18:31] kriskristin commented on #2651
@srigdon @annieszot @LauraTrujillo

I started formulating questions and tagged y'all in the document for feedback.

Here's a link:
https://docs.google.com/document/d/1rGrbhRCfTc46qDVnVApCQ2Iha-By6trJnLjElRRAAqs/edit?usp=sharing

Should we reach out to start scheduling interviews with APH and ARR?

[2019-08-07 18:47] #2510 closed

[2019-08-07 18:52] chasechenevert commented on #2354
Where can I find this change, would it be in staging?

[2019-08-07 19:06] briaguya commented on #2558
@desigonz

The way we're adding the icon here is as a "button" in wagtail, so it's going to be a link no matter what. I used javascript:null to make sure nothing happens when you click it (if it's blank it'll reload the page which gets messy).

I updated it so the cursor doesn't change to a 🚫

[2019-08-07 19:20] chasechenevert commented on #2565
I'd contribute this fix in code, but I've forgotten how to spin up my environment 🙃. I was able to get the intended result via inspect by going into  .coa.ContextualNav__container and turning off `align-items: center;`.

Here's the result, where the Parent is now aligned to the top of the div as opposed to centered vertically
<img width="441" alt="Screen Shot 2019-08-07 at 2 13 19 PM" src="https:/

[2019-08-07 19:27] chasechenevert commented on #2565
### Solution
I'd contribute this fix in code, but I've forgotten how to spin up my environment 🙃. I was able to get the intended result via inspect by going into  .coa.ContextualNav__container and turning off `align-items: center;`.

Here's the result, where the Parent is now aligned to the top of the div as opposed to centered vertically.

<img width="441" alt="Screen Shot 2019-08-07 at 2 13 19 P

[2019-08-07 19:52] chasechenevert commented on #2614
## Changes
**Leading**
- add: `line-height: normal;` to `.coa-ThemesNav__link`

<img width="880" alt="Screen Shot 2019-08-07 at 2 34 34 PM" src="https://user-images.githubusercontent.com/7027270/62652538-3d98e380-b921-11e9-94db-b1c06554b7ac.png">

**Breakpoints**
- Still working through this, but given that we have 7 themes in the `ThemeNav`, and keeping in mind that search and translation will pu

[2019-08-07 20:23] easherma commented on #2553
Suggesting we leave this open but maybe edit the title/context to be a running list of 'things we want to ask other wagtail users'

[2019-08-07 20:26] easherma commented on #2513
https://github.com/cityofaustin/joplin/pull/314 moved some stuff around but there is still more work to do, those changes doesn't really follow typical django or wagtail layout conventions which are pretty common:
https://medium.com/my-new-roots/django-project-layout-494d2ed89b74
https://www.revsys.com/tidbits/recommended-django-project-layout/
https://github.com/torchbox/wagtail-torchbox/tree/mas

[2019-08-07 20:39] desigonz opened #2698 "Day labor form copy edits"
- [x] Add a period at the end of "Describe the job"
- [x] Add the T to "Transportation."
- [x] Change "I'd like a suggestion from First Workers' staff." to "I'd like a suggestion from the Day Labor Center's staff."

![image](https://user-images.githubusercontent.com/5839508/62656262-62915480-b929-11e9-8876-1536b3076366.png)

[2019-08-07 20:41] easherma commented on #2499
Original:
https://opo.austintexas.io/request-compost-class/2499-compost-class/form
Alternate:
https://opo.austintexas.io/request-compost-class/2499-compost-class-alternate/form

[2019-08-07 20:43] Niicck commented on #2698
WIP on https://github.com/cityofaustin/coa-forms/tree/2626-day-labor-content
Deployed to https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form

[2019-08-07 20:46] #2644 closed

[2019-08-07 21:11] Niicck commented on #2688
Here's what we got. If the link is a PDF, then we add a little (PDF) message to it.

<img width="787" alt="Screen Shot 2019-08-07 at 4 05 35 PM" src="https://user-images.githubusercontent.com/14187277/62657967-3f68a400-b92d-11e9-9f6c-aa802f4194bb.png">

However, it will not tell you the size of the PDF. Long story short, Browser security rules prevent Janis from dynamically reading a PDF's file si

[2019-08-07 21:13] #2572 closed

[2019-08-07 21:14] annieszot commented on #2333
Here's what I did for [Tree recycling ](https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxMTM0)
Opened StackEdit, scrolled down to "##SmartyPants" proceeding to copy table information into it
In Joplin text editor, clicked code button </> and copied from StackEdit while breaking up the lines following Desi's instructions above. Insert breaks with HTML </br> .
We can tweak the

[2019-08-07 21:14] toribr commented on #2364
The current map implementation is pretty useless because 1) it's not interactive and 2) people won't necessarily know to click on it because it's a graphic.

What if we simply dropped the graphic, and made the address link to google maps?

I do think we'll need hours by location. So something like:

WIC Clinic
Location Name
Phone number
Address (map)
hours

Location Name
Phone number
Address (map)

[2019-08-07 21:35] desigonz commented on #2479
@easherma

- [ ] Visited links in buttons should be white like unvisited links

![image](https://user-images.githubusercontent.com/5839508/62659546-472a4780-b931-11e9-9ddf-f42699628f68.png)

[2019-08-07 21:37] easherma opened #2699 "Account dropdown is hidden by header"
**Describe the bug**
https://github.com/cityofaustin/joplin/blob/b5bc72507eb3399d4729f7dd51f8de0c10c9ebee/joplin/css/editor.scss#L49
the issue here seems to be that the dropdown is also part of the header. We made the above change to fix: https://github.com/cityofaustin/joplin/pull/321 but introduced this new bug

![zindex.png](https://images.zenhubusercontent.com/5c3515e58332e72a247dae38/a4886922

[2019-08-07 21:48] briaguya opened #2700 "Rethink Joplin Data Model brain dump"
I'm just using this issue as a place to braindump at the moment

See comments below for details:

* Official website header text
* Official website header body (rich text?)
* Header external links
* Site title
* Themes
* Homepage banner image
* Homepage banner(welcome) text
* Homepage top services
* Topic collections
* City seal image
* Homepage secondary footer links
* Homepage social media links

[2019-08-07 22:12] Niicck opened #2701 "Reduce size of coa-forms"
The bundle size for coa-forms is huge. This is a barrier to viewing it on mobile/3G internet.

We had an issue about this, but I can't find it now. I think it took like 30 seconds to load for some device?

coa-forms needs to be made more mobile/data friendly

[2019-08-07 22:18] Niicck commented on #2701
Dup of https://github.com/cityofaustin/techstack/issues/1646

[2019-08-07 22:18] #2701 closed

[2019-08-07 22:20] chasechenevert commented on #1186
updated link: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/04153c3c-5119-4eeb-8d6d-15dd7d3c52ea/Component-Forms/

[2019-08-07 22:20] #1186 closed

[2019-08-07 22:26] easherma commented on #2701
FWIW the biggest improvement we could make here performance wise is code-splitting, and I don't know that we have the appetite to dive into webpack and us-forms-system to make that happen.

But if we can get forms ported over to janis I expect performance to be better/react-static and its newer versions especially are supposed to be pretty good at splitting stuff up.

[2019-08-07 23:12] easherma commented on #2364
We could also make a better map widget, for example:
https://github.com/Frojd/wagtail-geo-widget

It would also require us to make a proper Janis map component, but there
have been other requests for that too.

Just an option. I could see the benefits of keeping it simpler and links
would certainly take up less space on the page

On Wed, Aug 7, 2019 at 4:14 PM Tori <notifications@github.com> wrote

[2019-08-07 23:41] briaguya commented on #2700
I'm going to try coming up with a data model based on Janis from XD, we can figure out more in the future:

Starting with the homepage:
Full image:
![component](https://user-images.githubusercontent.com/6384156/62664131-0259dd00-b940-11e9-9754-4646f65468ca.png)

* Official website header
![component](https://user-images.githubusercontent.com/6384156/62664164-274e5000-b940-11e9-95df-d525818eb6eb.pn

[2019-08-08 12:59] #2342 closed

[2019-08-08 13:00] #2186 closed

[2019-08-08 13:00] LauraTrujillo commented on #2610
Sent to translators last week, waiting to get it back.

[2019-08-08 13:00] #2610 closed

[2019-08-08 13:01] LauraTrujillo commented on #2573
Sent to translators last week. Waiting to get it back.

[2019-08-08 14:24] annieszot commented on #2651
Thank you @kriskristin! Excellent work, and I'm very excited about this research plan's development!
APH- let's confirm who will take over the APH content transition.
ARR interviews - we can set up interviews while prepping materials for managerial approval on the soil kitchen and Christmas tree recycling. When I send those docs out for managers' approval, I can ask our content approvers when a ti

[2019-08-08 14:36] desigonz opened #2702 "Make it so phone numbers don't break builds"
#2408 will make it so that adding multiple phone numbers doesn't require JSON, and therefore won't break builds every time phone numbers get added incorrectly.

In the interim, let's make the model support multiple phone numbers and get that working through and through.

[2019-08-08 15:07] Niicck opened #2703 "Update snippet should trigger build"
Contact Snippets (and any other snippet) can be saved in Joplin. But those changes won't publish to Janis unless the pages that they're attached to are published.

So to change a contact snippet, you'd need to re-publish every page that they're attached to. Even if you do that, there is a problem. If those pages are in a draft state that you don't want to publish yet, you won't be able to update c

[2019-08-08 15:20] easherma commented on #2703
Matt Westcott from Torchbox says:
@Eric Sherman The standard Django `pre_save` / `post_save` signals should work there, since snippets don't have the save-as-draft/publish workflow that pages do.

[2019-08-08 15:40] chasechenevert commented on #2579
Good to go 👍

[2019-08-08 15:40] annieszot commented on #2646
Phone call/Email to Jen Samp for proposed September dates (all 10am-noon)
Tuesday, September 17
Wednesday September 18
Wednesday September 25

Will do a friendly follow-up Tuesday, August 13 if don't hear back.

[2019-08-08 16:13] toribr opened #2704 "Draft viz display of basic OPO data"
As a first step towards showing the OPO efforts and increasing transparency to the public, the OPO wants to highlight activity of the OPO and IA.

[2019-08-08 16:24] LauraTrujillo commented on #2646
Check-in with Ben or Marni for who to contact to reserve the Bull Pen.

[2019-08-08 16:38] easherma commented on #2583
@briaguya yeah I saw some issues https://austininnovation.slack.com/archives/C8T4YD23T/p1564776471048800

[2019-08-08 17:12] #2565 closed

[2019-08-08 17:25] Niicck opened #2705 "Enable Bidirectional relationships"
### As I content editor, I want to be able to manage whether a page is a top service both from the individual edit page and the topic/department page, so that I don't have to do a lot of back and forth while editing.

You should be able to manage whether a page is a top service from both the "Page" and the "Topic"/"Department" page.

[2019-08-08 17:26] Niicck opened #2706 "MVP user roles and permissions"
Think about roles for managing topics, hierarchy stuff from the start.

[2019-08-08 17:33] briaguya opened #2707 "Joplin 3 - birds (🐦🐧🦜🦆🦅🦉🦢) eye view"
### First edit

* come up with a plan for a new data model (https://github.com/cityofaustin/techstack/issues/2700)
* implement it in vanilla wagtail
* implement grapple or other api
* branch from janis and build against it
* implement author changes in a reusable way
  * If we package up our UI/UX changes into wagtail plugins, then we'll be able to ensure cleaner and repeatable implementations, as

[2019-08-08 17:34] #2579 closed

[2019-08-08 17:39] desigonz commented on #2349
Switch over to the search page idea.

[2019-08-08 17:49] srigdon commented on #2506
- [ ] Turn notes from (content pinup agenda)[https://docs.google.com/document/d/1IHENUdTEK9lCS0Lrf9aLIGjTJvao6Nit_FeFh7NHjn4/edit] into style guide entries.

[2019-08-08 17:49] desigonz commented on #2415
Let's redo this when we redo data model.

[2019-08-08 17:51] srigdon commented on #2648
[Draft document](https://docs.google.com/document/d/1xxLLPEH3INKf1WvJYWIkSlHfK5jL_Tl2BPFA-1EubvY/edit) in progress.

[2019-08-08 18:06] Niicck opened #2708 "Set Janis URL from within Joplin /django-admin"
This will make it easier for Joplin to sync to the right Janis frontend for PR builds.

Future Step: Add ability to deploy a Janis (that points to the right Joplin CMS_API) from /django-admin. Because Janis must be pointed to the same Joplin in order for Previews to work.

This would resolve https://github.com/cityofaustin/techstack/issues/2296
And alleviate the pain points of https://github.com/c

[2019-08-08 18:06] #619 closed

[2019-08-08 18:07] #2399 closed

[2019-08-08 18:17] Niicck commented on #2688
We (Tori, Chase, Desi, I) decided to push back on this task for now.

[2019-08-08 18:26] Niicck commented on #2664
Chase Mocks: https://xd.adobe.com/spec/3cd2740c-6a05-45fc-6e6e-e1cf885acaca-4ae3/screen/8cc5044c-856c-46b4-a403-aaf1c94cf534/Guide-MVP-desktop-fixed-left-menu

[2019-08-08 18:27] chasechenevert opened #2709 "Guide: mobile nav"
Create mockups for mobile nav.

- Consider very long guides and very short guides and overcome the challenge of navigating very long pages
- Consider Global and Contextual navigational elements and ensure that their functions are clear to users
- Should we include "Back to top"?
- Should the navigation stick at a certain point (Mass.gov)

[2019-08-08 18:32] chasechenevert opened #2710 "Guides: mobile specs"
Brian did a great job importing the content into divs and now just needs specs for mobile.

[2019-08-08 21:02] desigonz commented on #2688
Moved to short term backlog for now. This will be post-MVP and when we have document hosting.

[2019-08-08 21:03] desigonz opened #2711 "File/document hosting"
### As a content publisher, I want to be able to upload and publish documents (such as official documents) to Joplin, so that it lives somewhere and I can easily add it onto a page.

[2019-08-08 21:05] desigonz commented on #2506
Moving this back to sprint 38.

[2019-08-08 21:46] chasechenevert opened #2712 "Footer: remove border radius"
Small tweak to remove the rounded borders.

[2019-08-08 21:53] desigonz commented on #2599
@briaguya okay if we move this one to QA?

[2019-08-08 21:59] desigonz commented on #2591
@oliver2g We still need to update the SOW doc, correct?

[2019-08-08 22:01] desigonz opened #2713 "Watershed report design"

[2019-08-08 22:02] desigonz commented on #2336
@kriskristin Should this move into sprint 37?

[2019-08-08 22:04] desigonz commented on #2689
@srigdon demo'd during sprint review; closing this issue

[2019-08-08 22:04] #2689 closed

[2019-08-08 22:04] desigonz commented on #2627
We did it!!

[2019-08-08 22:04] #2627 closed

[2019-08-08 22:04] desigonz commented on #2641
@oliver2g is this one complete?

[2019-08-08 22:04] desigonz commented on #2690
@oliver2g is this one complete?

[2019-08-08 22:04] #2690 closed

[2019-08-08 22:05] desigonz commented on #2392
@LauraTrujillo Done, correct?

[2019-08-08 22:11] Niicck commented on #2688
nvm I found a way to implement this. https://github.com/cityofaustin/janis/pull/464/commits/744d9c5e8ce75feb84bca13bf847e608e1dd0787

[2019-08-08 22:11] #2688 closed

[2019-08-08 22:15] desigonz opened #2714 "Make decisions on community gardens checklists"
The community garden permitting process involves a lot of checklists. How should they be consolidated (or not) for the guide?

[2019-08-08 22:18] desigonz opened #2715 "Get APH department page approved"
Draft: https://docs.google.com/document/d/1S7LjUH_K1CdJacZTHAR6YRMOC7tfSLjz0cl-wTb_t6U/edit
Preview:  https://alpha.austin.gov/en/preview/department/UGFnZVJldmlzaW9uTm9kZToxMTY1
Approved via email "Looks good" from Jen Samp on 8.13.19
Remaining to-dos:
- [x] Share preview link
- [x] Answer: Who should people call with general public health questions? Is there a good general contact number and emai

[2019-08-08 22:18] desigonz opened #2716 "Get ARR department page approved"
Preview: https://alpha.austin.gov/en/preview/department/UGFnZVJldmlzaW9uTm9kZToxMTc3
Shared/approval requested 8/19/19

[2019-08-08 22:21] desigonz opened #2717 "Publish Civic Futures Summit on civiqueso"
draft lives here: https://docs.google.com/document/d/13m40q3M2GlO7fpMSyq9fkWxywsThgY48O63JAeakGuQ/edit?usp=sharing

- [x] Revise it
- [x] Get images - Ben has them
- [x] Publish it

[2019-08-08 22:27] desigonz opened #2718 "Official document filter MVP"
### As a resident looking at OPO official documents, I want to be able to filter through the documents via dimensions such as author, document type, and (?) date

[2019-08-08 22:28] desigonz opened #2719 "Refine content strategy onboarding docs"

[2019-08-08 22:28] annieszot opened #2720 "Draft last section of garden guide"
[permitting guide ](https://docs.google.com/document/d/1qJxOnPWHso7E2RTdtWavCuZmYpzvDgMNdA7AoDcTlEY/edit#)

while keeping in mind:
"Water tap application – 1 page that owns that

You go to one page that changes

You won't have to find all the pages that that's on. "

[2019-08-08 22:28] desigonz opened #2721 "Scope drupal 8 training support"

[2019-08-08 22:28] #239 closed

[2019-08-08 22:29] #2593 closed

[2019-08-08 22:29] desigonz opened #2722 "Roadmap iterations"
- [x] get a paid account
- [ ] share with the team
- [x] add more to the roadmap

[2019-08-09 13:50] LauraTrujillo commented on #2392
@desigonz I'm pretty sure yes, but let me just go through and make sure. I'll close this issue when I'm done.

[2019-08-09 14:26] chasechenevert commented on #2656
Seems like we can just add in some top and bottom margin within the `.coa-Steps__list>ul>li>p>p` class. Seems like it's overriding the `p` element top and bottom `margins`.

### Example of margin overrided
![Screen Shot 2019-08-09 at 9 14 23 AM](https://user-images.githubusercontent.com/7027270/62785658-b796ad00-ba86-11e9-8a4f-00eadc4956c5.png)

[2019-08-09 14:27] desigonz opened #2723 "Tagging in Wagtail"
For Joplin 3.0, let's make sure to take tagging in consideration. We are thinking of using tags for things like:
- filtering official documents
- associating pages to a persona

[2019-08-09 14:43] srigdon commented on #2514
- [ ] Schedule a meeting at Rutherford to do an editing session about this page.

[2019-08-09 15:45] anukandimalla commented on #2541
@LauraTrujillo Ready for the review and link for the doc
https://docs.google.com/spreadsheets/d/1RgGKYY4EUGSED_OWYFdbfuQJVv47IuFeJ7imZxfNBRg/edit?usp=sharing

[2019-08-09 16:09] chasechenevert commented on #2619
# Footer use cases
NN/Group Footers 101: [Design patterns and when to use](https://www.nngroup.com/articles/footers/)

### Most common use cases for footers
1. Users scan or read the page and either don't find what they want or need more information. They scroll to the bottom of a page and use the footer as:
a. A second chance to be convinced
b. a last resort for hard-to-find content
2. Users inte

[2019-08-09 16:17] Niicck commented on #2707
### Also
- Translations

[2019-08-09 17:14] chasechenevert commented on #2597
Closing this issue out in favor of smaller, discrete meetings and tasks in the hopes of getting the tires out of the mud. Just an idea of what I'd like to be able to cover under the umbrella of a Design System (issues to create for the backlog).

- **Goals for our design system** plenty of good reasons to create a design system, but what are our goals: ship faster, ensure consistency, wide applica

[2019-08-09 17:18] easherma opened #2724 "Link dump on re-writing vs re-factoring code"
https://garrettdimon.com/2012/rebuilding-vs-refactoring/
https://softwareengineering.stackexchange.com/questions/6268/when-is-a-big-rewrite-the-answer
https://dev.to/bosepchuk/the-rewrite-vs-refactor-debate-8-things-you-need-to-know-2hi4
http://www.luckymethod.com/2013/03/the-big-redesign-in-the-sky/

[2019-08-09 17:32] desigonz commented on #2587
@srigdon Per our discussion, de-prioritizing this for sprint 38. If you finish other sprint goals (or are blocked on OPO things), pick this one back up!

[2019-08-09 17:33] desigonz commented on #2648
@srigdon Also de-prioritizing for sprint 37, but keep on jotting down notes as you work on the docs!

[2019-08-09 17:34] desigonz opened #2725 "Draft content for disciplinary memos"
This is an epic for drafting content for all of the OPO disciplinary memos published since November 15, 2018: http://www.austintexas.gov/department/disciplinary-memos + additional ones that OPO needs to share to us

- [x] get additional docs from OPO
- [x] first draft of this content by end of sprint 38 (should be ~10 memos)

[2019-08-09 17:35] desigonz commented on #2725
@srigdon Feel free to make batch memos as issues within this epic if that helps you track progress (or create a checklist here?)

[2019-08-09 17:37] desigonz commented on #2391
De-prioritizing and moving to sprint 38

[2019-08-09 17:49] desigonz opened #2726 "Draft the rest of official OPO documents"
- [x] Mia to deliver documents on Friday 9/7
- [x] Draft all the docs

[2019-08-09 17:51] desigonz opened #2727 "Propose OPO official document titling conventions"
By the end of sprint 37, let's propose 2-3 options for titling OPO official documents.

[2019-08-09 17:53] easherma commented on #2724
https://techbeacon.com/app-dev-testing/rewrites-vs-refactoring-17-essential-reads-developers

[2019-08-09 19:53] annieszot commented on #2717
8.9.19 Comm channels: Permission to access requested from Ben. Slack.
Revisions needed:
-links where words are underlined
-Add alt text to your photos in Medium
--Medium alt text instructions: Click edit story. Select an image in your story and choose alt text
-Please add this after the lineup promotion paragraph:
Civic driven professionals from the City of Austin's Office of Design and Delivery w

[2019-08-09 20:40] oliver2g commented on #2591
@desigonz I just heard from Marni that Farah wants us to pause work on data visualizations until they hire a data viz person. so we're really looking at scoping out obj 2 and possibly looking at 4 and 5. Let's talk on Monday. Marni will probably reach out to you too.

[2019-08-09 20:41] oliver2g commented on #2641
yes

[2019-08-09 20:41] #2641 closed

[2019-08-09 20:47] toribr commented on #2718
Because there is no standardized categorization of document types, it's impossible to filter documents easily. Putting this in the backlog and we can reevaluate when we better know how the official document type is used.

[2019-08-11 22:07] srigdon opened #2728 "Prep for onboarding two new content team members"
**Objective**
Prep for onboarding two new content team members.

**Participants**
@annieszot, @srigdon, and optionally @oliver2g

**Agenda**
- Address the practical.
- [ ] What documents, processes, resources, or contacts should they know?
- [ ] What needs getting done, re-organized, or scheduled before they get here?
- Think big.
- [ ] What will make them feel welcome and included from the get-go

[2019-08-12 02:29] desigonz commented on #2656
Thanks @chasechenevert for looking into this! If the acceptance criteria below looks good, we can send it onto the dev team.

**Acceptance criteria for dev team**
- [ ] In steps, there is `1em` of margin between paragraphs

[2019-08-12 03:00] desigonz opened #2729 "Upgrade to Wagtail 2.6"
Wagtail 2.6 is now available. We need to upgrade!

Some notes from @briaguya [from here](https://github.com/cityofaustin/techstack/issues/2583#issuecomment-518916776):

Things to watch for:
- [ ] CSS selectors should be working as before
- [ ] Test out new leave site alert behavior (is it fixed, or same as before?)
- [ ] QA

[2019-08-12 13:57] desigonz opened #2730 "Department page top services & related information (long-term solution)"
### As a resident, I want a department page to display top services as well as pertinent related information in a way that is easy to understand and navigate.

### As a content editor, I want to be able to easily manage top services and related information on a department page so that I can deliver the information a user needs.

In #2691, we're implementing an interim solution for displaying top s

[2019-08-12 14:12] desigonz commented on #2591
Yes, let's chat today! Tori has been working on the data visualization and we should let her know.

[2019-08-12 14:26] desigonz commented on #2626
I didn't get the confirmation email sent to my inbox.

**Acceptance criteria**
- [ ] On form, add helper text to the “Transportation” field that reads: “The Day Labor Center is located at 4916 North IH-35 Service Road. If your job site is further than 10 miles from the Day Labor Center, we recommend paying an additional $10 to go towards gas money for your worker.”
- [ ] On review page, change "Re

[2019-08-12 14:29] #2392 closed

[2019-08-12 14:34] #2558 closed

[2019-08-12 14:34] #2582 closed

[2019-08-12 14:36] desigonz commented on #2354
@briaguya This is still happening in Joplin staging—where/how can we preview this?

[2019-08-12 14:36] desigonz commented on #2605
@briaguya This is still happening in Joplin staging—where/how can we preview this?

[2019-08-12 14:36] #2605 closed

[2019-08-12 14:37] #2606 closed

[2019-08-12 14:57] desigonz opened #2731 "Linking inline phone numbers"
### As a resident, I want to be able to click a phone number in the body of a page in order to call that number, so that I have a seamless mobile experience.]

**Is your feature request related to a problem? Please describe.**
On the OPO complaint and thank you service pages, we've added phone numbers within an accordion. However, we have no way to make that phone number into a link! I tried both

[2019-08-12 15:35] toribr commented on #2670
Solutions are predicated on content authors entering data from another document, since we know translators prefer their own tools. Assumptions I'm making about this flow with regards to UI:
- [ ] All translations for any particular page should be viewable on that page. Ie, no translations should be embedded in streamfield or within snippets.
- [ ] Non-translatable fields should be present but not

[2019-08-12 15:46] toribr commented on #2678
This doesn't seem that different than what's already implemented. Is it the "new" tab that I should be looking at? With a new UI on it, something like this would work, but in general I want to move away from making this selection (by default) AFTER page creation, but instead support the author making these choices prior to page creation.

[2019-08-12 15:46] #2678 closed

[2019-08-12 16:02] desigonz commented on #2678
@easherma I'm not seeing the generic chooser for themes or topics, only departments. (Not seeing themes at all.)

[2019-08-12 16:18] chasechenevert commented on #2656
No problem! Good to go on the criteria

[2019-08-12 16:26] easherma commented on #2678
@desigonz I removed the theme selection from a service page since service pages can't actually pick themes and I didn't want to confuse anyone. So its true, it's only implemented for departments.

The main difference is built in search of available models and the ability to create a new one if you didn't find what you are looking for.

The good news is the generic chooser splits up the functionali

[2019-08-12 16:38] easherma commented on #2513
Assigning all devs since a) Brian started doing some of this already and b) Ideally it can be as collaborative as possible

[2019-08-12 16:49] desigonz commented on #2678
Very cool, thanks @easherma!

[2019-08-12 17:01] easherma commented on #2702
Copying from #2039
As a content editor, I want to be able to add multiple phone numbers for a contact and be able to indicate what each number is for, so that end users can know which is the right number to call.
Acceptance criteria

  A content editor can add more than one phone number
  A content editor can add a description for each phone number (ex. "Appointments" vs "Breastfeeding hotline" on

[2019-08-12 17:16] desigonz commented on #2600
Assigning myself to QA this!

[2019-08-12 17:17] desigonz commented on #2599
Assigning myself and @chasechenevert to QA this!

[2019-08-12 17:33] desigonz commented on #2656
thanks @chasechenevert! updated the issue with acceptance criteria and cued it up for the dev team.

[2019-08-12 19:13] srigdon commented on #2728
Day 1

Morning:
- laptop
- locker
- Airtable base: Google, Slack, Github
- ODD Field Guide
- Link to mission and values slide deck
- Being a temp at the City
- Make sure they're added to all the ongoing meetings they need to be.
Wrap up by lunch.
- [ ] Lunch plans? Let's sync up with a few people.

Afternoon:
- Get badge at City Hall. Badge office opens at 1:30, closes at 3 pm.
- From 2-3 pm they'

[2019-08-12 19:34] easherma commented on #2702
I got an initial stab up here: https://github.com/cityofaustin/joplin/pull/330/

# What this does
Makes a new field like so:
![phone](https://user-images.githubusercontent.com/10539855/62891999-c8f0eb00-bd0c-11e9-9e3b-3ac43335d6e8.png)

As an orderable so it can be moved around, each one added or removed, etc.

This also brings in a django library for formatting, storing phone numbers. With I set

[2019-08-12 19:37] easherma commented on #2604
+1 to what Brian said, using the generic chooser allows for custom button copy.

[2019-08-12 19:40] easherma commented on #2692
This one is a biggie, lets discuss it! @briaguya and I have talked about a desire for refactoring the modal, and I think we could/should explore using the generic chooser library as a more solid foundation to build the thing on.

[2019-08-12 19:42] easherma commented on #2612
Note mostly to devs: Since Wagtail/Django has some error handling/messaging already, it might be better to try to leverage that existing flow. Otherwise, I look at this issue and it's logical conclusion ending in us implementing an entire error handling/messaging code on top of what is already there and that doesn't sound sustainable.

[2019-08-12 19:42] desigonz opened #2732 "Publishing a topic collection without a theme"
**Describe the bug**
I broke Joplin staging when I published a topic collection without assigning it to a theme or another topic collection.

**URL**
http://joplin-staging.herokuapp.com/admin/login/?next=/admin/pages/3/

**To Reproduce**

1. Go to Joplin staging
2. Make a new topic collection by giving it a title
3. When you get to the edit page, publish the page (without adding a theme)
4. See er

[2019-08-12 19:45] easherma commented on #2732
IIRC the create content model works around requirements by populating defaults in those fields. It's pretty ugly, but we could do that in this case. A better fix would be better. :-D

[2019-08-12 19:55] desigonz commented on #2479
@desigonz to QA on staging

[2019-08-12 20:11] toribr commented on #2692
Updated comps:

![create w service Collection – 1](https://user-images.githubusercontent.com/3790067/62894925-6c44fe80-bd13-11e9-83c7-16c89b0106e1.png)
![Select content type](https://user-images.githubusercontent.com/3790067/62894927-6cdd9500-bd13-11e9-8df4-181cff4f55b0.png)
![Service modal](https://user-images.githubusercontent.com/3790067/62894928-6cdd9500-bd13-11e9-9d13-0ef036243a09.png)
![Info

[2019-08-12 20:58] desigonz opened #2733 "Sticky rich text controls"
### As a content editor editing long pages, I want the rich block text controls to remain sticky at the top of the page so that I don't have to keep scrolling up and down to format content.

**Is your feature request related to a problem? Please describe.**
I input a lot of mobile vendor food guide content into Joplin staging; these are long pages where the text often goes below the fold. I had to

[2019-08-12 21:22] toribr commented on #2638
You should be able to add a topic collection to a topic collection but not to itself. So when editing a topic collection, an author should only see other topic collections, and not the current topic collection being edited.

[2019-08-12 21:24] easherma commented on #2733
A screen recording of this would be gr8

[2019-08-12 21:27] LauraTrujillo commented on #2719
Welcome- Onboarding doc: https://docs.google.com/document/d/1ekcuyc0jMEGYqWThLBplbCCduxfCuTU0S1PoZHVqsgI/edit#heading=h.lx5ig3dxkprr
Content team's usage and style, etc... https://docs.google.com/document/d/1yL3afGS_72aFYBoF7ZH90yUCNeqAgYx1RuRxc_JbZAw/edit

[2019-08-12 21:27] desigonz commented on #2638
Thanks @toribr! Updated acceptance criteria, assigned to dev, moved to the appropriate pipeline

[2019-08-12 21:34] #2719 closed

[2019-08-12 21:43] desigonz commented on #2692
@easherma Let's start with these content and clean up changes for this sprint, and we'll do a bigger refactor later. Trying to get Joplin 2 to a usable place and *later* to an optimal place :)

[2019-08-12 21:52] desigonz commented on #2692
Thanks @toribr! I updated the mocks in the acceptance criteria.

[2019-08-12 21:53] desigonz commented on #2733
here's a video of what I mean: https://drive.google.com/open?id=1WLj7n3iFgbUXusYv_tWU2bxxxYHoLYOL

[2019-08-12 22:01] desigonz commented on #2510
@easherma Design reviewed and says it looks ok as is.

[2019-08-12 22:03] #2632 closed

[2019-08-12 22:04] #2654 closed

[2019-08-12 22:11] easherma commented on #2513
Would love to set up an in person meeting or two to go through some of this while I'm back in town.

[2019-08-12 22:13] desigonz opened #2734 ""Characters remaining" in Joplin—plain text fields"
**Acceptance criteria**
For plain text fields:
- [x] Titles (all content types)
- [x] Descriptions (all content types)
- [ ] Official document content type
  - [ ] Document title
  - [ ] Authoring office of document
  - [ ] Document summary
  - [ ] Name of document
- [x] Section headings (guides)

the following should happen:
- [x] Character limits on edit pages uses the same patterns as on the cr

[2019-08-12 22:15] desigonz commented on #2611
@toribr Great thank you! Acceptance criteria lives in issue #2734. How does this sound for translation character counts? Or have it appear for those but at whatever arbitrary number we increased it to?

[2019-08-12 22:26] easherma commented on #2670
@desigonz feel free to split this into a separate issue for the tech side if that makes sense

It's clear that the current model for translations is not sustainable or desirable UX. Wagtailtrans has been identified as a potentially tool for managing translations as a multi-site setup as opposed to per model.

https://wagtailtrans.readthedocs.io/en/latest/index.html

It looks like regardless of wha

[2019-08-12 22:29] easherma commented on #2700
Open question: why not implement these in current Joplin? Seems like the main blocker would be our clunky graphql API, but if grapple is a time-saving option we could should be able to make these models whenever.

[2019-08-12 22:34] #2669 closed

[2019-08-12 22:37] easherma commented on #2235
we raised limits in the short term

[2019-08-12 22:37] #2235 closed

[2019-08-12 22:39] easherma commented on #2734
We didn't set the limit higher for Spanish, that isn't possible with our current setup using wagatil modeltranslations. We just raised the limits overall.
On the subject of character limits, there is some talk in wagtail about the same issue:
https://github.com/wagtail/wagtail/issues/2268

[2019-08-12 22:46] easherma commented on #575
Think this is covered by https://github.com/cityofaustin/techstack/issues/2734

[2019-08-12 22:46] #575 closed

[2019-08-12 23:09] easherma commented on #2733
Oo this would be a fun/tricky one to address.

It's outside my wheelhouse, but perhaps if content is getting so long that its hard to see the top bar, that is a potential rule of thumb/sign that the content maybe ought to be divided up into some more sections?

I.E. a 'checklist' dosen't seem too different from service or info page steps, but in this case its just a rich text bulleted list.

[2019-08-12 23:18] easherma opened #2735 "No indication of which kind of page you are editing on the edit page"
While you are editing a page, there is no indication of the content type you are editing.

This seems like this could be confusing, as we have different rules and guidelines for each content type and its hard to keep track of definitions.

Ideally we'd have the style guide linked directly to the content type, but a) that is in progress and b) you may not think to look there and could browse away

[2019-08-12 23:23] easherma opened #2736 "Switch a page between content types"
This is just me asking for trouble, but I could foresee a use in the future when content authors might need to convert a page's content type to another type due to editorial changes.

In order do so currently, you'd have to make a new page and delete the old page, which kinda loses the editorial history.

Potentially, certain users could change a page type, which would provide options for how to m

[2019-08-13 00:33] easherma commented on #2729
@briaguya @desigonz so I believe some of the issues testing the heroku branch have to do with the way static assets are bundled differently on staging, local, or branch builds.

I get different behavior locally than on heroku.

The behavior I get locally is that the leave site error goes away, css outlines for accessibility are working, but the edit page dosen't look right.

I think this may have

[2019-08-13 00:49] easherma commented on #2729
Bug 1: language fields aren't being hidden because the 'h2' tags were/are missing. Not 100% if this was a wagtail template change or a result of some of our code not being used correctly, but if the former we could ignore until we have a new translation strategy.
Bug2: styling/overrides don't seem to be applying (mainly headings are pink and all that)

[2019-08-13 02:21] briaguya commented on #2700
@easherma we can consider that after we get to 2c (build a couple implementations of the API against the data model prototypes, see how close we can get to the API we designed) in https://github.com/cityofaustin/techstack/issues/2707.

[2019-08-13 02:26] easherma commented on #2729
https://joplin-pr-wagtail-upgrade.herokuapp.com/admin/images/ Is the one to test

[2019-08-13 14:34] desigonz opened #2737 "Day labor form-service-api change"
WIP on https://github.com/cityofaustin/coa-forms/tree/2626-day-labor-content
Deployed to https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form

- [ ] Change to the form-service-api is required to pass the "I'd like a suggestion from the Day Labor Center's staff."

[2019-08-13 14:36] desigonz commented on #2698
Made #2737 for the change for form-service-api and assigned to Eric. Closing this one!

[2019-08-13 14:36] #2698 closed

[2019-08-13 15:01] toribr opened #2738 "Experience of preview while loading of Janis is turrible"
Can we move away from the current implementation which manifest in the corner, and just use a loading symbol in the middle of a screened page? Like a css loader?

[2019-08-13 15:10] LauraTrujillo commented on #2573
@desigonz I'm going to close this since I sent you the email with translations. Holler if you need anything!

[2019-08-13 15:10] #2573 closed

[2019-08-13 15:12] LauraTrujillo commented on #2574
@desigonz @annieszot also closing this one since Desi G has the translations now and the form is hardcoded. holler if you need anything!

[2019-08-13 15:12] #2574 closed

[2019-08-13 15:24] toribr commented on #2691
What if the system simply knew not to duplicate links between top and related? Ie, if <link> is top, then <link> is not in related list.

[2019-08-13 15:26] desigonz commented on #2691
That could be neat. Let's discuss the implications of this at the next dev/design sync.

[2019-08-13 16:28] easherma commented on #2333
FYI: http://docs.wagtail.io/en/v2.6.1/reference/contrib/table_block.html

Main downside here is that it would be as a separate block and not inside the rich text field.

[2019-08-13 16:32] easherma commented on #1955
duep https://github.com/cityofaustin/techstack/issues/2512

[2019-08-13 16:32] #1955 closed

[2019-08-13 17:01] #2625 closed

[2019-08-13 17:31] chasechenevert commented on #2709
# Pinup 1, Sprint 37

### Sticky bottom "Table of contents" button.

- Lower-third, easier for thumbs to access. There are many mobile patterns that use bottom navigation (bottom nav bar, forms buttons, chrome experiments)
- Opposite global navigation to avoid confusion with navigation types
- Opened menu initially overlays onto the page within the top two-thirds so that a user can see content beh

[2019-08-13 17:39] easherma commented on #2724
https://blog.ndepend.com/the-myth-of-the-software-rewrite/

[2019-08-13 17:39] easherma commented on #2724
https://blog.ndepend.com/rewrite-or-refactor/

[2019-08-13 17:40] easherma commented on #2706
https://github.com/cityofaustin/techstack/issues/472
https://github.com/cityofaustin/techstack/issues/666
https://github.com/cityofaustin/techstack/issues/687

[2019-08-13 17:58] easherma commented on #2626
https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form should be up to date on copy changes. Working on the backend/email next

[2019-08-13 18:03] easherma commented on #2736
That is also being discussed wagtail side: https://wagtailcms.slack.com/archives/C0K2WLTRS/p1565713775163200

[2019-08-13 19:39] kriskristin commented on #2651
@annieszot and @srigdon: Do we know who will take over APH content transition yet? I can't remember if we are waiting on new content specialists to arrive before getting the ball rolling on this.

@annieszot: Let me know what you think the timeline is for ARR interviews.

[2019-08-13 20:05] easherma commented on #2626
All ready for QA!

[2019-08-13 21:24] easherma commented on #2702
upped to 5, cause we're gonna need to write a new Janis component

[2019-08-13 22:35] annieszot commented on #2651
Thanks @kriskristin ! I will take over APH content transition with @desigonz supporting where need be. Yes, love the interview questions.

[2019-08-13 22:42] desigonz commented on #2735
In fact, @toribr is currently working on something like this in her current designs!

[2019-08-13 22:46] desigonz commented on #2706
Made this an epic. A lot of the past issues are pretty old and we'll need to review for relevancy. For now putting this in the backlog til we're ready for it!

[2019-08-13 22:49] desigonz commented on #2732
Assigning @toribr to think about ideal behavior here.

[2019-08-14 13:11] toribr commented on #2702
Answers?

I don't see how this matters, but it's unlikely.

Check the example that Desi gives above. It looks essentially like:

Appointments: (512) 972-6700
Breastfeeding hotline: 1 (800) 514-6667

[2019-08-14 13:17] desigonz commented on #2702
We're also currently using multiple phone numbers on the OPO pages: https://alpha.austin.gov/police-oversight/

[2019-08-14 13:20] desigonz commented on #2702
And for your longer-term question, it does look like we have the ability to add multiple contacts, but we haven't chosen to do so. I think let's keep as is now and we'll pose that as a content governance question, then build that into the content model for Joplin 3.0.

[2019-08-14 13:37] annieszot commented on #2626
Thanks @easherma ! I'll tackle QA for the English form :)

[2019-08-14 13:39] desigonz commented on #2626
- [ ] @annieszot to QA English
- [ ] @desigonz to QA Spanish

[2019-08-14 13:40] desigonz commented on #2626
@easherma Looks like Spanish translations aren't in??

[2019-08-14 13:41] annieszot commented on #2717
Revisions added 8/13/2019

[2019-08-14 14:03] annieszot opened #2739 "Day Labor Form: Email address cut off on review/submit page"
**Describe the bug**
Related to #2626. Email address
**URL**
https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/review-and-submit
**To Reproduce**

1. Go to https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form
2. QA form and fill out. Click continue
3. Review answers
4. See error

**Current behavior**

Email address is cut off on form review-submit page
**E

[2019-08-14 14:13] annieszot opened #2740 "Day Labor form: Edit OPO info on Confirmation Email"
**Describe the bug**
On the Day Labor Form confirmation email, Office of Police Oversight information is at the bottom. Need to correct that information.

**URL**
Confirmation email
**To Reproduce**

1. Go to https://opo.austintexas.io/request-day-laborer/2626-day-labor-content/form
2. Fill out form. Click Continue.
3. Review form and submit.
4. Check email. Scroll and see error

**Current behavio

[2019-08-14 14:15] annieszot commented on #2626
English Day Labor form QA'd on Chrome browser version 75.0
Acceptance criteria that was met is checked off above.
A question about colons - they're not on the review page but are on the confirmation email.
Keep?
2 bugs reported: #2739 and #2740
@desigonz Here's a screenshot of the reader-friendly the hourly pay rate on the confirmation email
![Screen Shot 2019-08-14 at 8 57 49 AM](https://user-ima

[2019-08-14 15:49] toribr commented on #2732
It needs to be required before publishing. So the behavior should be that publishing is not allowed unless that selection has been made. Creating a draft is ok. Publishing is not. If it's not published then it won't break anything, right? ;)

[2019-08-14 15:52] desigonz commented on #2740
Let's use this contact info:

First Workers Day Labor Center
4916 North IH-35 Service Road
Austin, TX 78751
(512) 972-4100

[2019-08-14 15:54] desigonz commented on #2739
This is a known bug from the OPO form days: #1270. Backlogging this one for now.

[2019-08-14 16:01] desigonz commented on #2626
@annieszot thanks for your thorough QA! Re: colons—form confirmation emails have never had a rigorous content strategy from the ground up; it was put together quickly for OPO and all we've done is copy edits when necessary. I'll make a new issue for content to rethink this in the future, but let's keep it for now.

@easherma here's what still needs to get done:
- [ ] update contact on confirmation

[2019-08-14 17:08] kriskristin commented on #1702
#### Next steps:

- [ ] Make some adjustments to the screener

- [ ] Posters for foundation communities, libraries, etc

- [ ] Research mail chimp

- [ ] Translate all social media recruitment into spanish and push to a spanish speaking population.

[2019-08-14 17:44] easherma commented on #2740
@desigonz is there a contact email?

[2019-08-14 17:52] desigonz commented on #2740
@easherma Nope!

[2019-08-14 18:33] #2699 closed

[2019-08-14 18:41] easherma commented on #712
We could write about our experience going to the Wagtail conference

[2019-08-14 18:54] #2541 closed

[2019-08-14 19:44] srigdon opened #2741 "Pending translations user experience"
### As a Spanish speaking resident, I want to see austin.gov pages in Spanish, so that I can access City services.

### As a content editor, I want Spanish-speaking residents to have a positive user experience on austin.gov even when we haven't received translations for a page, so that they can access City services and place trust in the City.

This is a bigger issue that we'll want to break down

[2019-08-14 20:03] easherma commented on #2741
good point. is it worth it to provide a google translate option if we dont
have a custom one ready yet?

On Wed, Aug 14, 2019 at 2:44 PM Sarah Rigdon <notifications@github.com>
wrote:

--
Eric Sherman
224-402-0004

[2019-08-14 20:08] LauraTrujillo commented on #2694
Here's the How to funshop doc: https://docs.google.com/document/d/1-SxmgP09VjtlLcLR4lE4f23Psg7DC-SBGq1-NxXyE44/edit
It should help with sending the follow up email tomorrow. Great job today!! <3 <3 <3

[2019-08-14 22:15] toribr commented on #2660
Draft
![2660](https://user-images.githubusercontent.com/3790067/63060190-232daf80-beb7-11e9-910c-c19905aa0703.png)

[2019-08-15 03:06] desigonz opened #2742 "Missing rich text blocks and weird indents"
**Describe the bug**
Lots of stuff: Weird display and indents throughout Joplin not appearing. Rich text blocks (including additional content on info and service pages, basic steps on service pages, and author notes on all pages) aren't appearing, even though they continue to publish out on alpha.austin.gov

**URL**
Joplin

**To Reproduce**

1. Go to Joplin
2. Click to edit any page
3. Scroll down

[2019-08-15 05:17] desigonz opened #2743 ""External links to services" on topic pages"
**Acceptance criteria**
- [ ] When editing a topic page: remove the "external links to services" block

------------

### background

@toribr, not totally sure the background for this field and the use case. Can you review? Relates to translation model #2670

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/fdab7c47-2cbf-445b-b33c-3b53c2a61e1e)

[2019-08-15 05:21] desigonz opened #2744 "Clean up Joplin translations"
### As a content editor, I want translations in Joplin to be consistent so that I'm not confused about how to enter translations.

See #2670 for background.

[2019-08-15 05:25] desigonz commented on #2670
@toribr, thanks for your great thinking/work on this! I created issue #2744 in which I've outlined acceptance criteria for the short-term clean up in Joplin 2, and split out what strikes me as things to solve in Joplin 3.0 once we rebuild translations. I also added a few questions for you in the acceptance criteria. Let me know what you think; we also should review at dev/design sync next week.

[2019-08-15 13:05] desigonz commented on #2741
I'm putting this in the backlog. I think it makes sense to do this when we're at Joplin 3.0 and switch over how we translate (which will be at a page level, not a component level).

I also think it would be good to do a little bit of research and consider alternatives, and to get the design and content team to work together on the user flow for this.

[2019-08-15 13:08] desigonz commented on #2705
Added a user story, and actually assigned to design—seems like there's some UX flow stuff worth thinking about here before implementation.

[2019-08-15 13:52] desigonz commented on #2721
I think this is done— @annieszot will be helping 1 day a week with Drupal 8 training, and she has a meeting this Friday to kick it off.

[2019-08-15 13:52] #2721 closed

[2019-08-15 13:53] #2687 closed

[2019-08-15 13:57] desigonz opened #2745 "Add IA/topics/topic collections to style guide"
### As a content editor, I want to know the conventions for adding a page to austin.gov's IA, so that I can effectively make my content discoverable on austin.gov.

In #2575, we got on the same page about existing IA rules. We need to communicate to content editors how to add things to the IA via topic collection, topics, and departments, and what conventions they should follow.

[2019-08-15 13:58] desigonz commented on #2575
I made #2745 for adding the IA rules (although I actually think its more like "how to assign a page to topics/departments") to the style guide, so closing this.

[2019-08-15 13:58] #2575 closed

[2019-08-15 14:08] annieszot commented on #2694
@srigdon I'll sync with you today for the follow-up to-do list, send the email, then close the issue :)

[2019-08-15 14:45] desigonz commented on #2660
@toribr This is great. Is it ready to go to dev?

[2019-08-15 16:00] toribr opened #2746 "Design a picker page that's contextual and easier to use"
We're using picker pages for a number of tasks across page types, but the picker isn't very smart. Also, it shows content details that may or may not be useful to the task at hand. Let's refine these pages to work better for each task and instill some consistency while we're at it. And add search, which in some cases will be necessary for some tasks.

[2019-08-15 16:11] toribr commented on #2746
Used in four places
- [ ] Selecting a dept from many page types
- [ ] Selecting an existing page from guide type
- [ ] Selecting a topic from many page types
- [ ] Selecting a related department from many page types

![image](https://user-images.githubusercontent.com/3790067/63108637-f9bf6300-bf4c-11e9-859f-56f307cc265f.png)

[2019-08-15 16:27] toribr commented on #2746
Elements that need to be configured per picker:
-[ ] content type allowed
-[ ] status of allowed content types (live and live + draft or draft)
-[ ] contextual alert message
-[ ] search box or not

[2019-08-15 17:18] toribr opened #2747 "Selected state of picked page does not need ability to edit"
![image.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/26da3806-7430-4206-8daa-dbc436f0a41d)

In no instance is the ability to edit an associated page needed. Let's remove the "edit" button everywhere this widget is used, which i believe is:
- [ ] department picker
- [ ] topic picker
- [ ] select a page for guide
- [ ] top links from department page

[2019-08-15 17:28] desigonz commented on #2364
I'm entering the Day Labor pages as drafts in Joplin, which is bringing up questions about maps/locations/contacts that @toribr and the content team might want to consider. Here's my process in order, in case that helps:
1. I first entered a location (because on both contact and maps, you select a location)
2. Made a map snippet
3. Made a contact snippet

### Things to consider
- [ ] Need to indic

[2019-08-15 17:41] desigonz opened #2748 "Style for number ranges"
We need editorial style conventions for number ranges. Should we always default to using punctuation as opposed to "to"? En dash or hyphen? Spaces or no between numbers and punctuation?

- [x] Make content governance decisions about this
- [ ] Update the style guide to include it
- [ ] Make issues to correct anything that's auto-generated, like the punctuation within contacts

![image](https://use

[2019-08-15 18:01] easherma commented on #2742
https://github.com/cityofaustin/joplin/commit/f725040fe680edb5b515ad9f73833abfd79b0ca9
alright im gonna patch prod and just take the !important tag off that line of css to be as non-descructive as possible. it dosent seem to be an issue in staging becuase the template for the edit page has changed, i can do more digging to definitely describe the what/why/when but this ought to fix it in the meant

[2019-08-15 18:18] desigonz opened #2749 "Organizing files to support editorial workflow."
**Objective**
Let's meet to figure out folder structures to support our editorial work flow

From me on Slack:

**Participants**
@annieszot @srigdon @desigonz

**Agenda**

------
- [x] Schedule meeting (during content grooming on Wednesday)
- [ ] Meet
- [ ] Document our decisions (maybe here?)
- [ ] Afterward Desi will save the day labor translations in the right place with the right folder struct

[2019-08-15 18:21] matthewbarron opened #2750 "Content Audit: Imagine Austin"

[2019-08-15 18:22] matthewbarron opened #2751 "Content Audit: Sister Cities Program"

[2019-08-15 18:23] matthewbarron opened #2752 "Content Audit International Trade and Investment Program"

[2019-08-15 18:24] matthewbarron opened #2753 "Content Audit Souly Austin"

[2019-08-15 18:24] matthewbarron opened #2754 "Content Audit: Planning and Zoning"

[2019-08-15 18:25] matthewbarron opened #2755 "Content Audit Development Services"

[2019-08-15 18:26] matthewbarron opened #2756 "Content Audit Permits & Concierge"

[2019-08-15 18:27] matthewbarron opened #2757 "Content Audit Redevelepment Division"

[2019-08-15 18:28] matthewbarron opened #2758 "Content Audit Cultural Arts"

[2019-08-15 18:29] matthewbarron opened #2759 "Content Audit music & entertainment"

[2019-08-15 18:40] matthewbarron opened #2760 "Content Audit ATX Music"

[2019-08-15 18:59] desigonz commented on #2748
Also take a look at "ages 1 to 44" in the [Injury prevent topic page draft](https://docs.google.com/document/d/1ZOyDgCdkniYDcwieivbN4UZXjc46bYEiTMxzx7eRQgA/edit)—would something like that require punctuation?

[2019-08-15 20:17] easherma opened #2761 "Make joplin production and staging not share css ( AKA The Joplin Bucket Challenge)"
Right now, joplin prod and staging deploy static files to s3 buckets. This means they share css files. This causes bugs and confusion for all.

Options:
• skip using s3 for styles & serve css stright from the server. I'm assuming thats mostly for performance reasons but cant imagine thats a big performance issue for the use case of the backend author interface but it does seem kinda regressive
• u

[2019-08-15 20:21] easherma commented on #2761
We also use webpack to compile stuff; lets nail down what that does and dosen't do

[2019-08-15 21:51] anukandimalla commented on #2549
@desigonz Ready to review and Link for the Audit:
https://docs.google.com/spreadsheets/d/1YGLpfLh75XDnYIzO3A1O0pTf7xiJI3S0RENPKr5_rXE/edit?usp=sharing

[2019-08-15 23:24] annieszot commented on #2694
Follow-up email sent. Here's Sarah's follow-up doc for issue creation. Closing :)
https://docs.google.com/document/d/12KBfGYh-tMc3v312B9vDCri07nlF4SQo4EgOZQNNNbw/edit

[2019-08-15 23:24] #2694 closed

[2019-08-16 01:44] briaguya opened #2762 "Joplin 3 - define a pseudo-api schema"
1d. Design a new kit (define a pseudo-api schema. This schema will be designed to make managing the data in Janis as straightforward as possible.)

Opening this to have a place to put thoughts as I'm documenting our current implementation in https://github.com/cityofaustin/alpha-documentation

should be a part of #2707

[2019-08-16 02:51] briaguya commented on #2762
Moving forward with the next version of Janis, we should be moving towards a new version of react-static that supports incremental builds. After reading through some [react-static documentation of incremental builds](https://github.com/react-static/react-static/blob/master/docs/guides/incremental-builds.md) I learned a few things:
1. Each time we build the site, we'll do a full build of getSiteDat

[2019-08-16 03:11] briaguya commented on #2762
Header "ideal" api:
[code]

[2019-08-16 03:25] briaguya commented on #2762
"Pages" "ideal" "api?":
[code]

[2019-08-16 03:35] annieszot commented on #2717
Slack Medium article communications
August 9, 13, 15.

[2019-08-16 03:46] annieszot opened #2763 "Drupal 8 Training meeting"
**Objective**
To meet, connect and prioritize/scope plan for Drupal 8 training

**Participants**

Annie Szotkowski
+1 from ODD?
CPIO team - Yasmin Wagner, Dee Dee Yelverton, Tim Ziegler
**Agenda**
https://cityofaustin.sharepoint.com/sites/CTM/TEAMSITES/ODD/_layouts/15/Doc.aspx?sourcedoc={1bc89d47-dc50-4e41-9781-9647cb474094}&action=edit&wdPid=2a52419c
------
- [x] Schedule meeting
- [ ] Meet
- [ ]

[2019-08-16 14:06] desigonz opened #2764 "Language options for long titles & narrow browser widths"
**Describe the bug**
The language options within the top nav bar displays below the top navigation bar at narrower widths, when the title breaks into two lines.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/5aafda41-5b89-4cd4-8874-91e95cff68ba)

**URL**
Joplin

**To Reproduce**

1. Go to Joplin
2. Edit a page with a long title
3. Make your browser window a narrower
4.

[2019-08-16 14:09] desigonz opened #2765 "Padding for Joplin primary action buttons"
**Describe the bug**
I know dev fixed the button so you can see the full word, but let's have @chasechenevert or @toribr review all instances of these buttons and specify the expected padding
![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/01beef6f-62fa-40ce-b50d-eda3403601b5)

**URL**

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2019-08-16 15:05] Niicck opened #2766 "Navbar Doesn't work on IE11"
Clicking on the menu ("Permits and Tickets", "Pets", etc) doesn't open anything in IE11.

[2019-08-16 18:11] annieszot commented on #2763
Meeting canceled. Closing issue

[2019-08-16 18:11] #2763 closed

[2019-08-16 18:24] briaguya opened #2767 "Joplin 3 - Different required fields for published/draft"
I think this is something we could accomplish by using a custom publish view/template.

This has a lot of potential, and I have a
## couple of ideas:
Service Page:
- i1 - Topics, we could have this be a text field for drafts [t1]
  -  i1a - when we get to the publish screen, we could have a user flow for "you have something in draft status that needs to be updated before you can publish,"
    - i1

[2019-08-16 18:55] toribr opened #2768 "Log-in experience"
Users should by default be taken to the pages tab, regardless of where they were when they signed out/were logged off.

[2019-08-16 19:42] toribr opened #2769 "Better instructional text"
Probably the help text should read:

Select existing *published* pages in the order you want them to display within each heading. Pages should be added only once to any single guide.

[2019-08-16 21:04] annieszot commented on #2715
@desigonz Sent you a [test] email to send to Jen for approving the Department page :)

[2019-08-16 21:18] annieszot commented on #2646
Follow-up email sent Friday, August 16,

[2019-08-16 21:36] annieszot commented on #2685
Context (whiteboard session 8/1/2019)
![ARR_URO_Whiteboard](https://user-images.githubusercontent.com/46934140/63199279-f908f880-c042-11e9-95cf-006ff00a6de7.JPG)

And Notebook notes
Universal Recycling Ordinance Notes from Thursday, 8/1/2019
Attendees: Keri Greenwalt, Chase Norris, Katie Mulholland Laura Trujillo, Annie Szotkowski
Agenda:
1) Review content
2) Resident-friendly
3) Plan for alpha

1

[2019-08-16 22:16] easherma commented on #2767
Cool ideas! I think we can probably try something simpler by extending the modelform to do some custom validation: http://docs.wagtail.io/en/v2.6.1/advanced_topics/customisation/page_editing_interface.html#customising-generated-forms

So we could probably do some validation checks that vary between drafts vs publishing

[2019-08-17 16:52] annieszot commented on #2651
All right @kriskristin, my suggested edits are all in the research plan and ready for you to accept/reject. Will call email ARR, cc you, and call ARR Monday about setting up phone interviews or in-person interviews

[2019-08-18 23:16] #2712 closed

[2019-08-19 15:38] chasechenevert commented on #2710
XD link: [Mobile guide specs](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/a5132472-47f7-4fa1-ba90-223af090026f/Template-Guide-mobile-1) (including proposed navigation)

[2019-08-19 15:38] #2710 closed

[2019-08-19 16:16] desigonz commented on #2747
Comments from Slack conversation:
@annieszot said

@srigdon said

Let's discuss during dev/design sync on 8/20/19 to see what the technical implications might be.

[2019-08-19 16:33] #2611 closed

[2019-08-19 16:35] desigonz commented on #2744
assigning @toribr to review acceptance criteria

[2019-08-19 16:37] desigonz commented on #2580
@toribr will show new header design at dev-design sync, then we'll break down into acceptance criteria (and MVP vs. Joplin 3)

[2019-08-19 16:39] desigonz commented on #2709
@desigonz to work with Chase to develop acceptance criteria

[2019-08-19 16:42] desigonz commented on #2619
@desigonz to work with Chase after pinup on 8/20/19 to develop acceptance criteria

[2019-08-19 16:50] desigonz commented on #2356
@desigonz to develop acceptance criteria

[2019-08-19 16:51] desigonz commented on #2614
@chasechenevert to specify breakpoints

[2019-08-19 17:02] desigonz commented on #2735
Related to #2580

[2019-08-19 17:35] chasechenevert commented on #2693
## Current implementation

- "Contacts" icon isn't very clear at small sizes. The counter space within the phone shape is too small to notice at-a-glance.
- Since we currently use this icon to represent "contacts" and label phone numbers, we'll need to address that icon as well.

![Janis_contact vs phone_hoplin-09](https://user-images.githubusercontent.com/7027270/63286318-58524d00-c27d-11e9-9930-

[2019-08-19 17:43] chasechenevert commented on #2713
## Update
We're going to push this back to next sprint since it's increasingly likely that they won't end up delivering the final report this sprint. Just FYI that I'll also be out next Thursday, August 29 and Friday, August 30.

## Draft content

[IHEMP Report aodraft 2 _JB_TC (1).docx](https://github.com/cityofaustin/techstack/files/3517014/IHEMP.Report.aodraft.2._JB_TC.1.docx)

## Preliminary q

[2019-08-19 18:46] easherma commented on #2747
One thing I was curious about here is that it also links to the page so if
a user isn’t exactly sure which page it is they might follow that link.

Hiding it would be pretty easy if we want, we’d probably want to check
where else might appear and/or document that we have hidden it and why to
avoid second guessing ourselves or being confused later.

On Mon, Aug 19, 2019 at 11:16 AM desigonz <notifi

[2019-08-19 18:59] annieszot commented on #2715
Next steps:
- [ ] set APH translation goal sprint 37
- [ ] Share preview link
Closing issue

[2019-08-19 18:59] #2715 closed

[2019-08-19 19:03] toribr commented on #2747
@easherma Interesting point, but if authors are confused about what page it is, then they're doing it wrong, lol. (Page titles should be descriptive enough)

[2019-08-19 19:38] kriskristin commented on #2651
@annieszot I reviewed your notes in the doc. Everything looks great. Let me know if you want help with comms to ARR. I usually make a template email so that we are all aligned when we communicate with research participants. This would be especially helpful when more than one person is conducting research.

As we get the ball rolling scheduling interviews, I will:
- [ ] Make a script
- [ ] Create a

[2019-08-19 19:42] desigonz opened #2770 "Address and incorporate APH edits"
Austin Public Health sent back edits on the content sent to them via Sharepoint.
- [x] Incorporate 👍edits straight into Sharepoint docs
- [x] Clarify any questions they have/make our case for style things
- [x] Send email to Jen for second round of review

[2019-08-19 19:45] anukandimalla opened #2771 "GIS and Maps Department Content Audit"
Home page for GIS and Maps Department:
http://www.austintexas.gov/department/gis-and-maps

[2019-08-19 20:00] briaguya commented on #2767
@easherma I think modifying our current extended modelforms to handle that could be great! It's probably worth making an issue for it and seeing if we want to get that implemented in current Joplin. By doing something as out there as extending react-streamfield it opens up opportunities to handle more complex UX changes on a field by field basis, opening doors to handling the rest of the iceberg t

[2019-08-19 21:06] desigonz opened #2772 "Content not centering as expected in Day Labor form"
**Describe the bug**

On the form page, review page, and confirmation page of the Day Labor form, all of the content is off-center (flush to the left), but I expect it to be centered like in the OPO form

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/565e8879-6cbb-4278-8f39-fa2391012fe1)
![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/0d2ade1

[2019-08-19 21:10] desigonz commented on #2740
This looks good!

[2019-08-19 21:10] #2740 closed

[2019-08-19 21:13] desigonz commented on #2626
@easherma The following still need to be fixed:
- [ ] Fix #2772
- [ ] On form, fix translations for the following fields/copy:
  - [ ] Your name
  - [ ] City
  - [ ] State
  - [ ] We’ll call you at this number if we have questions.
  - [ ] Email address
- [ ] On confirmation email, delete period on this line:

![image](https://user-images.githubusercontent.com/5839508/63299663-eccba800-c29b-11e9-8

[2019-08-19 21:31] desigonz commented on #2744
@toribr Can you review how you would expect official document translations to work? Should all fields require translations, etc?

[2019-08-19 21:37] desigonz opened #2773 "Missing translated labels for official docs"
**Describe the bug**
On the official document content type, we're missing Spanish label translations for "Author" and "Document"

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/56c0a6b1-bb5a-4e84-80ca-5bd44c1ac68a)

**Acceptance criteria**
- [ ] In Spanish version of the page, "Author" fields translate to "Autor"
- [ ] In Spanish version of the page, "Document" fields t

[2019-08-19 21:49] desigonz commented on #2600
Did some QA. Here's what needs fixin':
- [ ] Description field should be required
- [ ] Remove colons at the end of each field label throughout content type (see screenshot), including for:
  - [ ] Select a topic (also, please lowercase "topic"!)
  - [ ] Make this page a top link for this topic
  - [ ] Related department
  - [ ] Section heading
  - [ ] Pages
  - [ ] Contact

![image](https://user-

[2019-08-19 21:53] desigonz opened #2774 "Implement default guide image"
Once @chasechenevert delivers default guide image, let's implement!

**Acceptance criteria**
- [ ] If author doesn't add an image in Joplin, the guide falls back to the default image

[2019-08-19 21:54] desigonz opened #2775 "Post-MVP guide improvements"
We implemented guides in #2600. Now let's make improvements. Using this issue to compile all the ideas.

- [ ] Ability to upload/host files on Joplin for guide MVP (make an issue for this)
- [ ] Minimum required section behavior

[2019-08-19 22:03] easherma commented on #2772
FYI @Niicck
i think that form not being centered was actually introduced awhile ago and no one noticed
my hunch being maybe when nick removed the progress bar
cause the compost form is not centered either, and I thought it might have been me cleaning up some css but even if i paste back in all the OPO css the form still isnt centered

[2019-08-19 22:14] desigonz commented on #2599
- [ ] Description field doesn't style distinct from the rest of the body content (see screenshots 1 and 2 below). @chasechenevert can you provide specs for the description field style in guides?
- [ ] "View this page on alpha.austin.gov" links don't work. Should open page in new tab.
- [ ] Headings are problematic—titles for pages that are dynamically getting pulled in are styling as H2, and so is

[2019-08-19 22:22] easherma commented on #2626
Ok done FRFR!

[2019-08-20 00:11] annieszot commented on #2749
Great, and thanks, @desigonz ! Dumping some file management research and best practices here:
[Is Google Drive a digital asset management system in the cloud?](https://www.cmswire.com/cms/digital-asset-management/is-google-drive-a-digital-asset-management-system-in-the-cloud-015334.php)
[Best practices for file naming ](https://library.stanford.edu/research/data-management-services/data-best-pract

[2019-08-20 13:44] desigonz commented on #2626
@easherma it looks request great. My hugest apologies, I missed one last translation. Can you at that in, and then it's ready to go?

- [ ] In Spanish, "Day labor request" translates to "Solicitud de jornalero"
![image](https://user-images.githubusercontent.com/5839508/63352127-1d582400-c326-11e9-87e4-9fbc3e891c06.png)

[2019-08-20 13:52] desigonz commented on #2607
Let's quickly review Brian's rationale at dev/design sync. Assigning to @toribr to think up a better UX for snippets in general.

[2019-08-20 14:16] desigonz commented on #2732
Let's look at this at today's dev/design sync, in conjunction with #2180

[2019-08-20 15:12] annieszot commented on #2717
Published!
https://medium.com/civiqueso/join-us-for-the-civic-futures-summit-oct-1st-2nd-2019-ab020b62b344

[2019-08-20 15:15] annieszot commented on #2717
Closing :)

[2019-08-20 15:15] #2717 closed

[2019-08-20 15:34] desigonz commented on #2749
All great ideas and questions!

We're using O365 One Drive to send documents to clients/stakeholders (when that's their preference), correct? I think at that point we just send them to the "ready for approval docs," and the file organization system there should support their team, rather than our way of thinking about it. Once content has been approved/finalized, we can bring the content back to o

[2019-08-20 15:36] desigonz commented on #2768
What's the current experience?

[2019-08-20 15:42] desigonz opened #2776 "Translate APH department page"
We've got a department page! Now we need to translate.
Draft: https://docs.google.com/document/d/1S7LjUH_K1CdJacZTHAR6YRMOC7tfSLjz0cl-wTb_t6U/edit
Preview:  https://alpha.austin.gov/en/preview/department/UGFnZVJldmlzaW9uTm9kZToxMTY1
Approved via email "Looks good" from Jen Samp on 8.13.19

- [x] Prepare and send to translators
- [x] Review translation when we get it back

[2019-08-20 16:32] desigonz opened #2777 "Publish APH department page"
Once we have the translations, let's publish!

**QUESTION: do we need an image to publish it?**

- [x] Publish department page
- [ ] Go through Alpha and assign all published APH info and service pages to this department page.

[2019-08-20 16:42] desigonz opened #2778 "Sync about Joplin page pickers"
**Objective**
@srigdon and @toribr will review the page picker UX from a content editor perspective

**Participants**

**Agenda**

------
- [ ] @srigdon and @tori to schedule a 30-minute meeting
- [ ] Meet
- [ ] Create resulting issues
  - [ ] Issues for copy for the content team to develop
  - [ ] Issues for next steps on design

[2019-08-20 17:32] desigonz opened #2779 "APH: what's missing? What hasn't yet been transitioned?"

[2019-08-20 17:56] toribr commented on #2607
I'm working on a plan where map/location/contact is rolled up into a single component.

[2019-08-20 19:30] easherma opened #2780 "Come up with an automated solution for cleaning up heroku instances"
Our process for building PR versions of joplin is handy, but it leaves a bunch of dynos sitting around spun up long after a branch has been merged. Lets fix this.

[2019-08-20 19:43] desigonz opened #2781 "Janis builds not building."
**Describe the bug**
Staging builds aren't building. Last time one built was last Thursday 8/14.

We're also checking if prod builds are building.

![image](https://user-images.githubusercontent.com/5839508/63378927-d7688380-c358-11e9-81b9-0599207b62b9.png)

**URL**

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Current behavior**

**Expected behavior

[2019-08-20 19:52] desigonz commented on #2702
- [ ] Make phone description field not required
- [ ] Reverse order: phone number first, then description

We also have issue #2408, in which @chasechenevert and @toribr and content folks will design ideal front and back end experience, as well as microcopy and style guide needs.

[2019-08-20 19:54] desigonz commented on #2408
@chasechenevert Will this break for phone numbers with extensions? Does the City even use extensions?

- [ ] Content team to do research

[2019-08-20 20:04] desigonz commented on #2691
Also a problem for Austin Public Health

- [ ] @desigonz to flesh out how things are working and what our goals are

![image](https://user-images.githubusercontent.com/5839508/63380227-a63d8280-c35b-11e9-8508-5dbad7ee2c12.png)

[2019-08-20 20:07] desigonz commented on #2364
We'll roll #2607 into this

[2019-08-20 20:27] desigonz commented on #2744
- [ ] @toribr to create a convention for non-translatable fields

[2019-08-20 20:28] desigonz commented on #2744
- [ ] @desigonz to review acceptance criteria now that Joplin isn't buggy

[2019-08-20 22:47] desigonz commented on #2781
Fixed by the wonderful dev team  @Niicck @briaguya @easherma

[2019-08-20 22:47] #2781 closed

[2019-08-20 22:53] desigonz commented on #2619
Moving this to next sprint; by end of sprint 38, let's have mocks and acceptance criteria ready to go to dev

[2019-08-20 22:57] #2588 closed

[2019-08-21 13:40] desigonz opened #2782 "Top services on department pages"
### As a content editor, I want to be able to choose top services from a list of Joplin pages so that I have a smooth editing experience.

Currently, to add a top service on a department page, Joplin allows you to enter strings for the button content as well as a URL. Now that OPO forms are service pages, we'd like to replace this with a page picker. (This will also make the need to add translated

[2019-08-21 13:40] desigonz commented on #2660
Developed acceptance criteria in #2782. @toribr, there's one question there for you.

[2019-08-21 13:40] #2660 closed

[2019-08-21 13:53] desigonz commented on #2747
We didn't have time to review at dev/design sync on 8/20—let's move to the next sprint and review then.

[2019-08-21 14:13] desigonz commented on #2744
I just reviewed acceptance criteria "All translations by page, not by field", and found that one of them is now fixed, but two are still outstanding. This is reflected in the acceptance criteria above.

Assigning to @toribr to develop patterns for how non-translatable should work.

[2019-08-21 14:23] desigonz opened #2783 "Implement guide: mobile nav"
### As a resident, I want to access guides on my mobile device so I can easily understand complex processes at the City.

XD link: [Mobile Guide Nav](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/a5132472-47f7-4fa1-ba90-223af090026f/Template-Guide-mobile-1)
[Tablet specs](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/0c710da7-eff9-4a62-b3bf

[2019-08-21 14:29] desigonz commented on #2709
Acceptance criteria for the mobile nav lives in #2783. Let's meet with the dev on this on Friday to review and see what's missing.

[2019-08-21 14:40] toribr commented on #2580
![Screen Shot 2019-08-21 at 9 39 26 AM](https://user-images.githubusercontent.com/3790067/63441817-a0957a80-c3f7-11e9-912a-ff6ba8e9ac4f.png)
This header also addresses other issues, some of which are issues, and some which aren't.

[2019-08-21 15:13] toribr commented on #2744
(duplicating my comment from above to here)
@desigonz Good question. Might there not be legal ramifications with regards to translating an official document? Does it make sense to translate a summary but have the actual document in its original language? I feel like we need a content policy person who makes all decisions regarding how we handle translations.

[2019-08-21 15:53] toribr opened #2784 "Create standard for input fields and focus in Joplin"
Currently text fields and inputs have a number of different ways they display visually, both by default and on hover. Streamfield elements display differently, for example.

This inconsistency comes into play when designing an element which does not look active to a user then, since different fields already look different from each other.

As a short term solution, a locked icon (with hover text "

[2019-08-21 16:30] briaguya commented on #2656
Current on alpha.austin.gov:
<img width="754" alt="Screen Shot 2019-08-21 at 11 14 06 AM" src="https://user-images.githubusercontent.com/6384156/63449033-da20b280-c404-11e9-92eb-d60c31d68b9c.png">

In https://github.com/cityofaustin/janis/pull/475:
<img width="703" alt="Screen Shot 2019-08-21 at 11 14 15 AM" src="https://user-images.githubusercontent.com/6384156/63449834-75665780-c406-11e9-98a9-98

[2019-08-21 16:31] briaguya commented on #2656
gave this a 2 because it'll take a bit of QA to make sure we don't break styles in other places with the change I implemented

[2019-08-21 19:29] annieszot commented on #2154
Sent decision-making documentation to ARR 8/21/19

[2019-08-21 19:30] annieszot commented on #2169
Sent decision-making documentation to ARR 8/21/19

[2019-08-21 19:32] annieszot commented on #2716
Blocker at ARR - approver is OOO. Moving to sprint 38

[2019-08-21 19:37] #2657 closed

[2019-08-21 19:43] #2479 closed

[2019-08-21 19:46] #2729 closed

[2019-08-21 19:47] #2742 closed

[2019-08-21 19:49] #2497 closed

[2019-08-21 19:52] #2761 closed

[2019-08-21 19:55] desigonz commented on #2604
@desigonz to review and reprioritize

[2019-08-21 20:11] desigonz opened #2785 "Garden guide review"
**Objective**
Let's review the garden guide!

**Participants**

**Agenda**

------
- [x] Schedule meeting: during ~9/3~ 9/17 content pinup
- [ ] Meet
- [ ] Create resulting issues

[2019-08-21 20:17] easherma commented on #2772
@desigonz I'm not actually seeing this happen at the moment, or at least not consistently.

[2019-08-21 20:18] desigonz opened #2786 "Get official docs from OPO"
So that we can draft content. Mia to deliver by Tuesday 8/27/19.

[2019-08-21 20:21] desigonz commented on #2514
- [ ] @srigdon will send a draft with edits by ______

[2019-08-21 20:21] easherma commented on #2513
Need to update notes here with the whiteboarding and further plans

[2019-08-21 20:26] desigonz opened #2787 "Revise compost form copy"
- [x] @annieszot to review compost form copy
- [x] @annieszot to send to Vince for revisions/approval
- [x] check new copy against translations—do we need to send out for new translation?
- [x] follow up with Houma on CPIO forms for funding interpreters  - email sent 8/22

[2019-08-21 20:29] desigonz commented on #2646
Let's follow up by 8/28 if we haven't heard back.

[2019-08-21 20:36] desigonz commented on #2728
- [ ] @annieszot to review docs for accuracy and up-to-datedness
- [ ] @srigdon to clear space on y'all's calendar

[2019-08-21 20:39] desigonz opened #2788 "Onboarding content team"
**Objective**

**Participants**

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [x] Create resulting issues

[2019-08-21 20:42] desigonz commented on #2408
We've found there aren't really extensions.

[2019-08-21 20:49] desigonz commented on #2749
- [ ] @desigonz to type up rationale and @srigdon will be it pretty

[2019-08-21 21:16] chasechenevert commented on #2599
**Page descriptions** should appear similarly to other pages on Janis, with a slight difference in the distance between the page description and main body content (to account for the lack of a heading background when they're displayed in guides).

[code]

### Screenshot
I've added a page description example to the mock, and added this updated mock into the master.

<img width="831" alt="Screen Sho

[2019-08-21 21:29] chasechenevert commented on #2586
@desigonz since we'll have a full working demo of the guide soon, do we still need a mockup or will we just start using Joplin going forward? From what I could tell by the content there weren't any new issues we needed to account for in this guide compared to the mobile food vendor permitting guide.

[2019-08-21 21:30] briaguya opened #2789 "Brian's J3 sprint review exploring shareout"
just putting an issue in here to put content in until I get stuff into slides

[2019-08-21 21:31] briaguya commented on #2789
![react-admin](https://user-images.githubusercontent.com/6384156/63469980-136f1780-c431-11e9-9abf-2b441004276d.gif)

react-admin

[2019-08-21 21:35] chasechenevert commented on #2709
Need to come up with a solution for the breakpoint between desktop and mobile. I don't think this will be challenging since the length of page titles are a constraint. I can tell that we'll need to default to the mobile (single column) view pretty quickly as this starts to resize. I'll mockup some solutions to get a rough idea of this.

[2019-08-21 21:42] briaguya commented on #2789
![streamfields_ia](https://user-images.githubusercontent.com/6384156/63470596-a2306400-c432-11e9-96fc-0a9515d06aaa.gif)

trying out streamfields for IA

[2019-08-21 22:07] desigonz commented on #2586
I leave that up to you and @toribr—we can certainly use the content type, and then flag anything that arises during content pin-up.

[2019-08-21 22:09] desigonz commented on #2772
huh you are so right. Let's close for now.

[2019-08-21 22:09] #2772 closed

[2019-08-21 22:14] desigonz commented on #2744
@toribr Great question, let's consider this one with @srigdon this coming sprint.

[2019-08-21 22:16] desigonz commented on #2580
I'll review during sprint 38!

[2019-08-21 22:16] toribr commented on #2586
I think we can close this. Mostly I wanted design to conduct a bit of due diligence around different guide subjects, to see if anything new came up. If @chase thinks not, then we can close this and see how things go as they get implemented.

[2019-08-21 22:51] desigonz opened #2790 "Remove "Leave site" alert when creating new content"
**Describe the bug**
"Leave site" alert when creating new content

**URL**

**To Reproduce**

1. Go to http://joplin-staging.herokuapp.com/admin/pages/3/
2. Click "Create new content"
3. Go through the process of creating new content by adding a title and clicking "Continue"
4. See error

**Current behavior**
Leave site alert
![image](https://user-images.githubusercontent.com/5839508/63473632-d8be

[2019-08-21 22:52] desigonz commented on #2583
Just QA'd against the acceptance criteria above. It's mostly fixed except for in the instance of the "create new content" modal. I made issue #2790 for it; it's on deck and assigned for next sprint.

[2019-08-21 22:52] #2583 closed

[2019-08-21 22:52] desigonz commented on #2599
Thanks @chasechenevert! Assigned back to @Niicck and placing on deck.

[2019-08-21 22:53] desigonz commented on #2600
Per conversation with @briaguya and @Niicck today, seems like we should backlog these improvements until Joplin 3.0. Is that correct?

[2019-08-21 22:56] desigonz commented on #2499
Per conversation with @annieszot, we're looping back with ARR. Backlogging this for now.

[2019-08-21 22:57] desigonz commented on #2709
Thanks @chasechenevert! @Niicck will be the dev on this.

How does meeting on Friday sound to y'all?

[2019-08-21 23:02] desigonz opened #2791 "Remove "Leave page" alert when sharing or previewing a page"
**Describe the bug**
"Leave page" page appears when you click the "share" or "preview" buttons.

**URL**

**To Reproduce**

1. Go to Joplin and click "edit" under any page
2. Make a copy change on the edit page
3. Click "preview" or "share" buttons
4. See error

**Current behavior**
Alert appears
![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/9cd82585-abf9-477f-993c-5fe

[2019-08-21 23:03] desigonz commented on #2583
Okay and I actually found another bug as well—logged as #2791.

[2019-08-21 23:17] briaguya commented on #2789
talking points:
* IA is tough
  * Let's understand it (alpha-docs)
  * Let's manage it
    * M2M relationships in joplin
      * react-admin to demo
      * use this kind of decoupled UI? Wait for wagtail API work?
      * short term -> try to get it so we can edit pages from topics and vice versa.
    *

[2019-08-21 23:31] briaguya opened #2792 "Joplin - investigate many-to-many relationships for service page and topic"
Using ParentalManyToMany (see http://docs.wagtail.io/en/v2.6.1/releases/1.9.html#many-to-many-relations-on-page-models) we should find out if:
* We can update our service page and topic models to use a different many-to-many relationship where
  * We can update which services pages are under a topic from a topic
  * We can update which topics a service page is under from a service
  * The updates

[2019-08-22 00:20] srigdon commented on #2725
- [x] Draft content for the published memos (the ones that are already on austintexas.gov).

[2019-08-22 01:40] easherma opened #2793 "IA/Joplin Future braindump"
1) After trying some things and doing some research, I'm leaning towards Brian's react-streamfield way of managing the IA, primary because:

[2019-08-22 01:40] easherma commented on #2793
google docing it

[2019-08-22 01:40] #2793 closed

[2019-08-22 02:22] desigonz commented on #2773
Moved this over to sprint for 38 but we're getting real real close to publishing OPO docs—let's place this early in the queue for this next sprint.

[2019-08-22 02:24] desigonz commented on #1903
@briaguya to incorporate updates based on Chase's review. We want to get this in production!

[2019-08-22 02:30] desigonz opened #2794 "Remove bullets from meganav"
**Describe the bug**
Remove bullets from meganav—it was designed to not have bullets

*currently*
![image](https://user-images.githubusercontent.com/5839508/63481287-9d7fa600-c45a-11e9-9ce5-b99d065cda6d.png)

*as designed*
@chasechenevert please add mock here

**Acceptance criteria**
- [ ] No bullet points in meganav
- [ ] Topic collections in meganav styled according to mocks

**URL**
alpha.austi

[2019-08-22 02:44] desigonz opened #2795 "Improve Joplin load times"
I'm occasionally but not consistently getting this error when I log into Joplin staging:
![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/19188750-3a64-4390-8a65-8ea10aba7712)
That's because it sometimes takes longer than 30 seconds for Joplin’s pages page to load. Heroku times out. Taking 30 seconds for a website to load is not good.

Let's improve Joplin's load time.

[2019-08-22 02:55] desigonz opened #2796 "Janis land for sprint 38"
Just an issue to compile Janis issues for sprint service 38.

[2019-08-22 02:59] desigonz opened #2797 "Create content modal updates for Joplin 2"

[2019-08-22 03:01] desigonz commented on #2734
- [ ] @desigonz to review her notes and remember where we landed on this!

[2019-08-22 05:41] briaguya opened #2798 "Document alpha.austin.gov"
This should cover https://github.com/cityofaustin/techstack/issues/2700.

this includes getting all of the pieces of alpha documented in https://github.com/cityofaustin/alpha-documentation at the level we have for https://github.com/cityofaustin/alpha-documentation/blob/master/header.md including a table of where each piece of copy lives and any suggestions for improved places for it to live.

[2019-08-22 05:57] briaguya commented on #2762
@desigonz I'm not sure how these are related to each other but:
#1650 (react static 7) will inform what we need from an API quite a bit, so there may be some overlap in these.  #2798 is a prerequisite to completion, but can be done in parallel (there is still work that can be done figuring out what we need for the API without fully understanding all of the pieces we're trying to build).

[2019-08-22 06:43] briaguya commented on #1903
@desigonz this is merged into staging now, put it back in QA

[2019-08-22 06:45] briaguya commented on #2794
@desigonz moving this to QA as https://github.com/cityofaustin/techstack/issues/1903 looks like it covers it. Since we don't have mocks yet we can move it back if there are missing changes.

[2019-08-22 06:46] briaguya commented on #2354
@desigonz this is fixed on staging now

[2019-08-22 06:53] briaguya commented on #2743
@desigonz it was on the whiteboard for this one: https://github.com/cityofaustin/techstack/issues/1641

[2019-08-22 07:02] briaguya commented on #2782
@desigonz I think this and https://github.com/cityofaustin/techstack/issues/2792 will go hand in hand, if we can manage children of a department from the page we should have an easier time setting them as top.

Suggestion:
* In the short term:
  *Really dumb top services, we can add too many, we get a hack into janis to make sure they don't also show up in related information.
* In the long term:

[2019-08-22 07:03] briaguya commented on #2791
@desigonz moving this to QA as it appears to be fixed with the wagtail 2.6 upgrade

[2019-08-22 10:45] briaguya commented on #2656
looks like my fix has some oddities, we really need to look into cleaning up our stylesheets to handle things like this:

![Aug-22-2019 05-45-03](https://user-images.githubusercontent.com/6384156/63508676-063d4180-c4a0-11e9-8b66-a008d06d6679.gif)

[2019-08-22 10:54] briaguya commented on #2638
Findings from https://github.com/cityofaustin/techstack/issues/2792 may help us do this in a way that isn't just hacking together a one-off conditional to prevent looping hierarchies.

[2019-08-22 13:00] desigonz commented on #2354
@briaguya Looks great on staging, ready to merge to prod!

[2019-08-22 13:03] desigonz opened #2799 "Visited links in footer"
**Describe the bug**
In the new footer, links always appear in the same color (whether visited or not) for desktop, but in the mobile view, visited links appear purple.

![image](https://user-images.githubusercontent.com/5839508/63516660-fe3acd00-c4b2-11e9-90a5-ddfbdc4d009d.png)
![image](https://user-images.githubusercontent.com/5839508/63516667-02ff8100-c4b3-11e9-84f6-6d8c7a9081c5.png)

@chaseche

[2019-08-22 13:04] desigonz commented on #1903
@briaguya Looks great per @chasechenevert's acceptance criteria above.

The one thing I noticed is that visited links turn purple only in mobile. I made #2799 to cover this, and we can deal with it later. Your nav is ready for prod :)

[2019-08-22 13:06] #2737 closed

[2019-08-22 13:10] #2791 closed

[2019-08-22 13:16] desigonz commented on #2638
@briaguya do you think this is something that should wait til Joplin 3?

[2019-08-22 13:17] desigonz commented on #2638
I'm inclined to think so. The first wave of editors won't be making topic collections, and internally we can be really carefully. Switching the labels and modifying sprint.

[2019-08-22 13:22] desigonz commented on #2743
@toribr there's our answer!!! ☝️see above

Now we're moving to forms having an intro service page with contextual info. [File a complaint](https://alpha.austin.gov/en/health-safety/police-oversight-2/police-feedback-and-records/file-a-complaint-about-an-austin-police-officer/) and [Thank an officer](https://alpha.austin.gov/en/health-safety/police-oversight-2/police-feedback-and-records/thank-an-a

[2019-08-22 13:24] desigonz commented on #2626
Looks great! QA'd

[2019-08-22 14:47] chasechenevert commented on #2709
Friday works for me. I'll have those mocks ready for then.

[2019-08-22 15:15] chasechenevert commented on #1451
# List of issues
- [ ] `li` list items need 1em of bottom margin
- [ ] Page headings should be `4rem`, and weight `500`. We're seeing this issue on information pages where the page heading is set in the bold weight.

[2019-08-22 15:26] desigonz opened #2800 "Top services on department page translations"
Our goal is for any particular page, translations should be viewable on that page. Ie, no translations should be embedded in Streamfield or within snippets.

Currently, top services on department page allow you to add whatever language within the Streamfield. Let's split these to the appropriate tabs.

**Acceptance criteria**
- [ ] Users add the top services in each language tab, rather than all i

[2019-08-22 15:31] desigonz commented on #2782
Moved this to Joplin 3.0 for our long-term solution. For short-term solution, made issue #2800 to move different languages out of the Streamfield.

[2019-08-22 15:39] chasechenevert commented on #2693
@toribr and @desigonz I leave this for y'all as the deciders. If this doesn't work for you, take a look through the [Material Icon library](https://material.io/resources/icons/?style=baseline) and select what you'd like and we can close this one out.

### After
![Group 3245@2x](https://user-images.githubusercontent.com/7027270/63528420-84154300-c4c8-11e9-8b05-73028d955230.png)
### Before
![Screen

[2019-08-22 15:54] annieszot opened #2801 "Site plan"
Due ~9/3/19~ 9/17/19 for content pinup
- [x] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process
[Draft](https://docs.google.com/document/d/1EiyNetnXNzkNzrDFayVCNQMvfWYnAajRKEJ7v5p88cQ/edit)
[Preview](https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZToxNDg4)

[2019-08-22 15:58] chasechenevert commented on #2614
Changing the estimate on this one because it's not as simple as reducing the leading/line height. What we have now isn't great, and it's worse in Spanish. The bigger issue is that we need a better way to display navigation when screen width is below the desktop size, and without dropping type size below 16 points to remain accessible.

We may have need to use the mobile menu for the breakpoints be

[2019-08-22 16:01] briaguya commented on #2643
in staging now

[2019-08-22 16:01] annieszot opened #2802 "Get a water tap"
Due ~9/3/19~ 9/17/19 for content pinup

- [x] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[Get a water tap service page preview ](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZToxNTE4)
[Draft](https://docs.google.com/document/d/1n3rvY1Ya-uz-3wCNrmPLS0U6l56sJEPH2wwDILMGSEQ/edit)
[Water Tap checklist preview](https://alpha.austin.gov/en/preview/inform

[2019-08-22 16:01] briaguya commented on #2652
in staging now

[2019-08-22 16:04] annieszot opened #2803 "Irrigation plan"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:06] annieszot opened #2804 "Get nonprofit sponsorship"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:09] annieszot opened #2805 "Land use permission"
Due ~9/3/19~ 9/17/19 for content pinup

- [x] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:09] chasechenevert commented on #849
Here's the CSS for this app. We're pulling in a number of our Janis values (`.coa-`).

[code]

[2019-08-22 16:12] chasechenevert commented on #2586
Thank y'all, and I agree. If we run into questions down the road I'll just add the mocks we need into the master.

[2019-08-22 16:12] #2586 closed

[2019-08-22 16:13] annieszot opened #2806 "Get a plumbing permit"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:15] chasechenevert commented on #1840
- [ ] Develop acceptance criteria for dev

[2019-08-22 16:18] annieszot opened #2807 "Fund your neighborhood project"
Due ~9/3/19~ 9/17/19 for content pinup

- [x] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:20] annieszot opened #2808 "WPD Floodplain review (Status and water quality)"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:21] annieszot opened #2809 "Is your garden eligible?"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-22 16:22] annieszot commented on #2714
Checklists as service pages?

[2019-08-22 16:36] annieszot opened #2810 "ARR Special Events Ordinance Web Content White Boarding Session"
**Objective**
Session to bring the SEO web content up to the new City standards that are more user-centric.
-requested by ARR

**Participants**

@annieszot
Keri Greenwalt
Memi Cardenas
Selene Castillo
Jason McCombs
Ashley Pace

**Agenda**
1) Review content
2) Resident-friendly
3) Plan for alpha
------
- [x] Schedule meeting
- [x] Meet
- [ ] Create resulting issues

[2019-08-22 16:46] desigonz commented on #2743
once @toribr responds, @briaguya can take it on

[2019-08-22 16:48] desigonz commented on #2356
- [ ] @chasechenevert to update master mock files (replace implemented tile with compact)
- [ ] then ready to go to dev

[2019-08-22 17:18] annieszot commented on #2787
Language access support to departments from CPIO:
CPIO has the funds to support departments with interpretation services. The process is fairly simple. Because our funding is on a first come first serve basis, we ask that you let me know before you reach out to an interpreter to make sure CPIO can cover the services.

-           Contact interpreters directly and request their services for your ev

[2019-08-22 17:47] desigonz commented on #2714
@annieszot We're using info pages for the mobile food vendor permit checklist for now.

[2019-08-22 17:50] briaguya commented on #2612
this is in staging now

[2019-08-22 17:50] briaguya commented on #2692
this is in staging now

[2019-08-22 18:04] desigonz opened #2811 "Triage: Host and manage documents"
By end of this sprint
- [x] Expose functionality
- [x] Look into different ways we can host and manage documents
  - [x] Timebox this and propose solutions during next dev and/or design sync
  - [x] Create resulting issues

### As a content editor, I want the ability to upload and manage documents in Joplin.

Some of the things we could do or need to think of:
- [ ] Expose documents on Joplin
- [

[2019-08-22 18:06] desigonz commented on #2811
from @briaguya:

[2019-08-22 18:07] toribr commented on #2743
So, we did this to link to forms, and now that we are providing an intro page for every form (or we think) then I think it does make sense to remove it.

[2019-08-22 18:08] desigonz commented on #2743
Great! Ready for @briaguya to remove. Same acceptance criteria as above.

[2019-08-22 18:11] annieszot opened #2812 "Email October Funshop registrants reschedule"

[2019-08-22 18:11] desigonz opened #2813 "Characters remaining for rich text fields"
In #2734, we're adding "characters remaining" for plain text fields. Now let's do it for rich text fields.

[2019-08-22 18:16] #2766 closed

[2019-08-22 18:16] annieszot opened #2814 "Email Funshop registrants reschedule"

[2019-08-22 18:16] annieszot opened #2815 "Prepare deck for Civic Summit Funshop"
[Workshop session description](https://civicfutures.io/schedule): Improving engagement and effectiveness by writing for residents
[Deck draft](https://docs.google.com/presentation/d/1X11qt8jEBAbmI86tvLhzCXau2wcKr4APKWx5m-OYQK0/edit#slide=id.g37fd0529cd_1_5) @srigdon work in progress

[2019-08-22 18:16] annieszot opened #2816 "Practice Civic Summit Funshop"
Calendar invites sent to @srigdon :
- [x] First runthrough/meet (1 hour) and discuss Civic Summit Funshop deck 9.20.19
- [x] Second runthrough (3 hours) scheduled by Stephanie w/ Ben and Marni 9.25.19
- [x] Final runthrough (condensed - lock down transitions and interactive Funshop parts) 9.30.19

[2019-08-22 18:24] desigonz commented on #2652
Looks great, back to you.

[2019-08-22 18:25] desigonz commented on #2643
beautiful, back to you.

[2019-08-22 18:27] desigonz commented on #2612
Looks great!

[2019-08-22 18:29] annieszot opened #2817 "Funshop at Civic Futures Summit"
[Improving engagement & effectiveness by writing for residents ](https://civicfutures.io/schedule)
~- [ ] Make issues for Funshop train the trainer~

[2019-08-22 18:29] desigonz commented on #2693
I defer to @toribr! Let me know and I'll put it in the queue

[2019-08-22 18:38] toribr commented on #2693
[baseline-perm_contact_calendar-black-18.zip](https://github.com/cityofaustin/techstack/files/3531466/baseline-perm_contact_calendar-black-18.zip)

I like this one better.

[2019-08-22 18:41] #2812 closed

[2019-08-22 20:37] easherma commented on #2792
Early work on this here:
https://github.com/cityofaustin/joplin/pull/341

[2019-08-22 20:39] easherma commented on #1897
I tried it out, its ok, we're going to stick with our current implementation

[2019-08-22 20:39] #1897 closed

[2019-08-22 21:02] desigonz opened #2818 "Review Joplin Alpha issues and put them in the pipeline"

[2019-08-22 21:10] annieszot commented on #2810
Championing - call Keri - plan on co-leading
Prep credentials - communicate letter of support from Marni
Email or letter from Marni to manager - draft

[2019-08-22 21:14] desigonz opened #2819 "Polyhierarchy user experience"
### As a content editor, I want a flexible data model so that I am able to assign relationships between content types in different directions.

**Is your feature request related to a problem? Please describe.**
In #2792, devs are exploring how we might be able to set up our data model for a many-to-many relationship.

*Now*
![image](https://user-images.githubusercontent.com/5839508/63550073-77f4aa

[2019-08-22 21:15] #1869 closed

[2019-08-22 21:26] easherma commented on #2768
That is the current experience from what I've seen and tested.

[2019-08-22 21:32] desigonz opened #2820 "Formstack evaluation meeting"
**Objective**
We need to start evaluating Formstack to see if it meets ODD's needs. Let's meet to start outlining our requirements, how extensible the API is, etc.

**Participants**
@Niicck
@desigonz

**Agenda**

------
- [ ] Schedule meeting—@desigonz to schedule by Friday 8/23
- [ ] Meet
- [ ] Create resulting issues

[2019-08-22 21:36] desigonz opened #2821 "Send disciplinary memos for translation"
Once OPO approves disciplinary memo copy, let's send to translate

[2019-08-22 21:37] desigonz opened #2822 "Approve disciplinary memo content"
Once @srigdon drafts content, let's get OPO's feedback and stamp of approval.

[2019-08-22 21:38] #1353 closed

[2019-08-22 21:39] desigonz commented on #2591
Backlogging this—OPO priorities shifted.

[2019-08-22 21:41] desigonz opened #2823 "Plan for objective 5: legacy documents/the rest of OPO scope"
**Objective**
@oliver2g and @desigonz to touch base on next steps for OPO objective 5: transitioning legacy documents. What do we need from OPO to be able to proceed?

**Participants**

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [ ] Create resulting issues

[2019-08-22 21:41] desigonz commented on #2681
Backlogging this

[2019-08-22 21:43] desigonz opened #2824 "Day labor next steps"
- [x] get form pushed to prod
- [x] Once that's done, @Jo-Dwyer to add button on service page
- [x] Then @desigonz to send intro email to Jose/Derrick and loop in Jo, for their final review/approval
- [x] When we publish, also get devs to add the right email addresses to the form

[2019-08-22 21:45] easherma commented on #2645
@desigonz we can implement separate views based on page type pretty easily in Joplin. This doesn't have to be pushed out.

[2019-08-22 21:53] annieszot opened #2825 "Sync on Funshop Feedback"
@annieszot and @srigdon to meet and go over [Feedback](https://docs.google.com/forms/d/13Po2kXJe2Tu3W80QBjRuDQNQG4VMCrrdVgeN8j42ZpY/edit#responses) from August Funshop and incorporate in future Funshops/assess whether to use feedback in October Civic Summits funshop

Circle back/cross off to [follow-ups](https://docs.google.com/document/d/12KBfGYh-tMc3v312B9vDCri07nlF4SQo4EgOZQNNNbw/edit) from Aug

[2019-08-23 14:34] desigonz opened #2826 "Onboard new developer"
- [ ] What materials do we need to prepare as a team?
- [ ] What plan do we need to develop for Bob's first day?

[2019-08-23 15:49] desigonz commented on #2794
k sounds good!

[2019-08-23 15:49] #2794 closed

[2019-08-23 15:49] chasechenevert commented on #2693
agreed! i brought that one to sprint review but it got voted down then, very possible we were looking at too much at once.

so all we need to do is pass the name of this icon to dev, which is: "perm_contact_calendar"

[2019-08-23 15:49] #2693 closed

[2019-08-23 16:01] chasechenevert commented on #2356
I'm probably not understanding how we'll need to implement this, but the hope was that this could be as minor as changing margin and padding values depending on the breakpoint. What I heard yesterday during sprint planning sounded like it has bigger data model implications, is that right?

[2019-08-23 16:03] desigonz commented on #2692
@briaguya copy edits for you:

- [ ] Lower all instances of "page" in content type headings (see screenshot 1)
- [ ] Delete period to the end of the description for "Service page" (see screenshot 1)
- [ ] Delete to the end of the description for "Department page" (see screenshot 1)
- [ ] Lowercase "collection" in "Topic collection" content type heading (see screenshot 2)
- [ ] Delete "s" from end

[2019-08-23 16:33] desigonz opened #2827 "Edit page header redesign"
### As a content editor I want the header on an edit page to be clear and give me all of the controls I need so that I can edit, save, view a live page, and preview a draft.

**Is your feature request related to a problem? Please describe.**
This design addresses things like #2580, #2286, #2735.

**Describe the solution you'd like**
A revamped header that splits page editing away from notes and SE

[2019-08-23 16:44] annieszot commented on #2801
Draft:
https://docs.google.com/document/d/1EiyNetnXNzkNzrDFayVCNQMvfWYnAajRKEJ7v5p88cQ/edit

[2019-08-23 17:00] desigonz commented on #2580
Made acceptance criteria in #2827. Closing this issue.

[2019-08-23 17:00] #2580 closed

[2019-08-23 17:00] easherma commented on #2795
Couple different options here:

- Enabiling Redis for caching
- Enabling template caching in Wagtail
- Tweaking Heroku Dyno settings, especially using a bigger dyno

[2019-08-23 17:00] desigonz commented on #2722
We now have an austin.gov roadmap (which is always a work in progress :wink:) that you can view!

To do so, go to http://bit.ly/odd-roadmap and then login using the odd@austintexas.gov credentials. The credentials are logged in 1Password. If you don't have a 1Password account, work with @oliver2g to get it set up.

[2019-08-23 17:00] #2722 closed

[2019-08-23 17:17] annieszot opened #2828 "Community development block grants info page"
Due 9/3/19 for content pinup

- [ ] draft
- [ ] content pinup
- [ ] Make issues on editing/approval process

[2019-08-23 17:22] easherma commented on #2795
Load times are also slowing locally, so if we speed that up locally, we should realize some gains in the cloud as well. This is a good first step before resorting to staging/production cloud specific things.

A good clean step for this would also be better splitting of dev, staging, and production settings for Joplin.