[2020-02-04 20:37] ablangworthy27 opened #3905 "Future Feature: More user-friendly fee tables"
### As a content author I want the ability to add fee tables more seamlessly so that creating new tables and updating them on a regular basis is easy.

****This is sort of related to [issue #3275](https://github.com/cityofaustin/techstack/issues/3275)****

**Is your feature request related to a problem? Please describe.**
For the pools guide, there are multiple points where a resident will need to

[2020-02-04 20:41] desigonz commented on #3876
Maybe split into separate issue, but ideally
- [ ] On the Joplin side, strip out the $ sign if an author has entered

[2020-02-04 20:46] ablangworthy27 opened #3906 "Content pin-up 2/11/2020"
Last content pin-up [#3902](https://github.com/cityofaustin/techstack/issues/3902)

FYI, if anyone misses all the emojis from the old pin-ups, let me know. I just found it difficult to read, and thought we could be more direct. If this new format isn't working, I'm open to changing it.

**1. Approve Agenda**

**2. Action items from Design pin-up or Desi cc/ @toribr @chasechenevert @desigonz**
- [

[2020-02-04 21:25] desigonz opened #3907 "Dev-design sync 2/11/20"
- [ ] #3874 event fees for Joplin
- [ ] https://github.com/cityofaustin/joplin/pull/557 departments guided link tour

[2020-02-04 22:30] robbobfrh84 commented on #3903
@desigonz Ready for QA. I made a test form for easy testing. 👇

Repo: https://github.com/cityofaustin/formstack-alpha-theme/pull/5

To Test...

See: https://cityofaustin.formstack.com/forms/bob_s_rando
- Use browser stack to view on Edge(latest)
- Do the radio button header text overflow and spill beyond the form container? 🚫?
- ... Or, break the text into multi lines within the container ✅

[2020-02-04 22:35] desigonz commented on #3903
Awesome work! I even embedded it in a form container on staging and here's what it looks like:
![image](https://user-images.githubusercontent.com/5839508/73793575-49e4e880-476c-11ea-8b74-d84706fcf3ce.png)

QA passed!

[2020-02-04 22:53] robbobfrh84 commented on #3903
Awesome!

So, it's been updated on the Formstack side now. So, It's LIVE!

[2020-02-04 23:03] robbobfrh84 commented on #3903
![Screen Shot 2020-02-04 at 5.02.35 PM.png](https://images.zenhubusercontent.com/5d6e8e8463924520788459ad/c981e277-fc7a-45c0-9ef5-39da1aed10a5)

Live on Edge!

[2020-02-04 23:20] desigonz commented on #3903
What a dream!!! I'm closing this issue.

[2020-02-04 23:20] #3903 closed

[2020-02-04 23:33] desigonz commented on #3740
Hi @easherma—thanks for the changes!

i) and iv) have passed QA.

iii) still causes errors. Per our conversation, you're going to make it so:
- [ ] it passes acceptance criteria on the front end
- [ ] validation on the backend

[2020-02-05 00:19] Jo-Dwyer opened #3908 "Text is defaulting to a very small font in description areas on forms"
As an austin.gov user I want the text on forms to look the same so that I can read the text more easily.

I made a test form where you can see this

[small text test form](https://cityofaustin.formstack.com/forms/smalltexttest)

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to [formstack builder](https://cityofaustin.formstack.com/admin/form/dashboard/folder/uncategorized)
2. Clic

[2020-02-05 03:05] desigonz commented on #3792
Can we get this into production? Let me know if there are any blockers to that!

[2020-02-05 03:06] #3815 closed

[2020-02-05 03:06] #3816 closed

[2020-02-05 03:06] #3814 closed

[2020-02-05 03:06] #3743 closed

[2020-02-05 03:06] #3718 closed

[2020-02-05 15:35] toribr commented on #3795
User story: As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the interface. @desigonz

[2020-02-05 15:43] chasechenevert commented on #3795
@toribr @desigonz I'd add to that something about making color and type meet accessibility standards, because during our review we found a lot of instances where type was below 14-16px, and color contrasts that are below AA-AAA ratios.

[2020-02-05 16:09] easherma commented on #3740
https://joplin-pr-3740-simple-smart-ho.herokuapp.com/ should bypass validation and allow you to save a bunk related service

https://joplin-pr-3740-with-validation.herokuapp.com/admin/login/ exposes the validation errors so you can see what it looks like (introduces a small regression on the search field which we can discuss a fix for)

Either way https://janis-3740-service-hours-from-location.net

[2020-02-05 16:32] toribr commented on #3735
This is about all i can think of at the moment. Hopefully, it's enough for content to get going with.

[2020-02-05 16:39] easherma commented on #3829
I actually ran into some stuff doing research for https://github.com/cityofaustin/techstack/issues/3789, so I have more of an idea for how to tackle this now.

[2020-02-05 17:16] easherma commented on #3745
@briaguya brought up this good point that this would actually allow us to simply some code on the backend.

[2020-02-05 17:19] toribr commented on #3820
Also for future: alerts
existing: locations

[2020-02-05 17:20] easherma commented on #3853
The entire DB folder is only 68 MBs, the joplin app itself is 156 MBs total. So the bulk of the size is coming elsewhere.

[2020-02-05 17:34] easherma commented on #3755
We might not actually need this with https://github.com/cityofaustin/techstack/issues/3765

But either way for both, it would be good to have some test criteria that can be reproduced and measured.

[2020-02-05 19:14] ablangworthy27 opened #3909 "Start discussing/researching for homelessness project"
As the content representative on the homelessness project, I would like to meet with @kriskristin to discuss background info and set some goals and expectations.

Kristin, let me know if we can 1:1 about this next week sometime.

[2020-02-05 19:18] Niicck commented on #3823
https://joplin-pr-3823-preflight-ia.herokuapp.com/admin

[2020-02-05 19:34] desigonz commented on #3740
Okay https://joplin-pr-3740-simple-smart-ho.herokuapp.com/ passes QA! Let's get that into staging and then production.

I'm going to throw https://joplin-pr-3740-with-validation.herokuapp.com/admin/login/ into a new issue.

[2020-02-05 19:43] desigonz opened #3910 "Validation for service hours"
In #3740, we set up logic for service hours that are the same as locations. But for one of our test cases:
- Add a service and neither marked it as `The hours for this service are the same as the location hours` nor add hours
we implemented an MVP solution that, in this scenario, Janis doesn't show the hours section on the related service, leading to this:
![image](https://user-images.githubuserco

[2020-02-05 19:59] ablangworthy27 opened #3911 "Discussion with Canadian federal government about translations"
**Objective**

- Gather knowledge from content strategists who have experience dealing with high-volume of translations in-house.

- Share our perspective, if that is helpful for them

**Agenda**
@Jo-Dwyer @srigdon I requested that their team sends us a few options for meet times next week. While we wait to hear back, let's be thinking about what we want to know. Add anything to a list here, and I

[2020-02-05 20:15] easherma commented on #3852
Braindump for places to test:

Unit tests:
For model/page:

- Does the rich text widget have the expected list of features? ( not super worth testing)
- Do the links inside the author interface go to the right place on janis ( they do not, we could write a failing test, making this actually work would be its own work )

For the API (kinda systems test?):
- Test cases for our Streamfields interface

[2020-02-05 20:28] easherma opened #3912 "Upgrade Wagtail 2.8"
2.8 gives us lots of goodies, including a fix for: #3561

Release notes here:
https://docs.wagtail.io/en/latest/releases/2.8.html

The general drill:

- [ ] Make a branch, update the wagtail dependency
- [ ] See if generally everything runs ok, run tests if we got them
- [ ] Go through the release notes and note upgrade considerations, things we might need to modify
- [ ] Once these are done, make

[2020-02-05 20:38] easherma commented on #3852
changed the estimate as the original estimate was just to document the regression test, but we really need to be able to fix the problem to unblock #3682 and future features

[2020-02-05 21:17] desigonz commented on #3912
Starting a list here for new features we want to make sure to test:
- [ ] (add items here)

Starting a list here for things we'll want to review with the content and design teams (more like a heads up, not necessarily a test):
- [ ] Improve diffing behavior for text fields (Aliosha Padovani)
- [ ] etc

[2020-02-05 22:13] easherma commented on #3852
Ideal test case:
Every rich text field has an internal or doc link
ServicePage with steps
steps include a steps_with_location block
There is also at least once component included from 'dynamicContent'
There are also several steps with options, which have nested options (which are rich text and should have a test internal link field or document link field)

[2020-02-05 22:18] easherma commented on #3852
https://github.com/cityofaustin/joplin/tree/3567-api-rep-error <--- strips out the custom service page stuff, fixes some errors, dosen't display locations stuff the way we want, but we could handle that use case

https://github.com/cityofaustin/joplin/pull/541 <--- leaves more code in place, sorta works, dosen't work for nested streamfields (such as options)

There might be a way for me to interse

[2020-02-06 01:06] desigonz commented on #3823
### Test cases

Info page
- [ ] Select neither 1 TOPIC nor 1 DEPARTMENT nor TOP LEVEL; shouldn't publish
- [ ] Select 1 TOPIC and nothing else; should publish
- [ ] Select 1 DEPARTMENT and nothing else; should publish
- [ ] Select 1 TOP LEVEL and nothing else; should publish
- [ ] Select two of the above; should publish

Service page
- [ ] Select neither 1 TOPIC nor 1 DEPARTMENT nor TOP LEVEL; sho

[2020-02-06 01:15] desigonz commented on #3823
This is a bug that's probably unrelated but posting here in case it is a related regression:
1. Go to Joplin content listing page
2. Click on a page type filter (for example, "Service page")
3. See error: "This field is required" appears under the search box
![image](https://user-images.githubusercontent.com/5839508/73897453-bd115c00-484b-11ea-8bbc-0831fbc054a4.png)

And also perhaps relatedly:
1.

[2020-02-06 01:34] desigonz opened #3913 "Do topic collections need to be assigned to topic collections?"
We have the affordance to assign topic collections to topic collections. We're not currently using this on any page. And in #3823, we made it so you have to assign a topic collection to a theme, which seems to contradict the nesting topic collections.

Let's decide where to go from here!

[2020-02-06 01:36] desigonz commented on #3823
Hi @Niicck—your work looks amazing!! Acceptance criteria passes but found the bug above, can you check to size if it's a regression and then size what fixing it might be?

I made issue #3913 to log a question—last spring we built the affordance to assign topic collections to topic collections. We're not currently using this on any page. And in this issue, we made it so you have to assign a topic c

[2020-02-06 01:44] desigonz commented on #3827
Tested this in @Niicck's PR app for #3823 and it looks gorgeous! Awesome work @chiaberry!

[2020-02-06 01:44] desigonz commented on #3824
@Niicck and @chiaberry, I believe this is fixed from what I QA'd—would y'all agree?

[2020-02-06 01:55] desigonz opened #3914 "CPRC boards and commission kickoff"
**Objective**
Now that the Community Police Review Commission application is live, let’s meet to discuss the phase 2 of the web presence, which will launch with the appointment of commissioners on April 20.

Our goal of the meeting is to understand OPO requirements.

**Participants**
Farah, Cristina, James Gray, LaToya, Gerald, Marni, @toribr, @desigonz, @srigdon, @manlinyao

**Agenda**

------
-

[2020-02-06 01:57] desigonz opened #3915 "Board liaison interviews"
@toribr and @srigdon to be notetakers for interviews with @manlinyao

[2020-02-06 02:07] desigonz opened #3916 "UX for managing expectations with the "View live"/publish delay"
### As a content publisher, I want to [_have one of the following options below_], so that I can verify that my content has published correctly and I understand what users are seeing on the website right now.
- **Ideally**: be able to view my changes on a live page immediately after publishing
  - As a content publisher, my mental model from using other author interfaces is that changes publish ou

[2020-02-06 02:10] desigonz opened #3917 "Events page padding"
PR: https://github.com/cityofaustin/janis/pull/688

City location event: https://janis-3917-event-detail-padding.netlify.com/en/event/2020/2/10/bergstrom-tech-grand-opening/
Non city location event: https://janis-3917-event-detail-padding.netlify.com/en/preview/event/UGFnZVJldmlzaW9uTm9kZToyOTMz

From @chasechenevert:

**Acceptance criteria**
- [x] padding matches mocks

[2020-02-06 02:12] desigonz commented on #3811
Thanks @chasechenevert! Made a new issue for this: #3917. I'm going to move this issue back to next sprint candidates so we can scrub listing and homepage view during sprint 50.

[2020-02-06 02:15] desigonz opened #3918 "Research roadmap part 2"
**Objective**
We had a great research roadmap meeting! Let's meet to narrow down into research scope for Q1.

**Participants**
@desigonz @anukandimalla @kriskristin

**Agenda**

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Create resulting issues

[2020-02-06 02:16] desigonz commented on #3820
Thanks @toribr!

[2020-02-06 02:23] #3875 closed

[2020-02-06 03:43] chiaberry commented on #3824
yes!

[2020-02-06 04:28] Niicck commented on #3823
If we decide to do it, it will be very easily switch out the theme requirement for an IA requirement of either a theme or a topic collection. No worries.

[2020-02-06 14:05] desigonz commented on #3823
Awesome, that's great! In that case, can you take a look at the bug(s) reported above and let me know if it's a regression related to this issue?
- If it's unrelated we can spin it out into it's own issue
- If it is related, can you size it?

[2020-02-06 14:13] desigonz opened #3919 "Adding, editing, and deleting departments"
Mocks: https://xd.adobe.com/view/1b86b869-7cf8-4623-6479-16bc0a8e09e7-6db7/

### Acceptance criteria
- [x] Only administrators see and have access to this
- [x] "Departments" appears as an option in the left nav
- [x] "Add department" button in the top right follows patterns for other snippets
- [ ] All departments appear in listing view, follows patterns for other snippets
- [ ] For each listing:

[2020-02-06 14:19] desigonz opened #3920 "Adding users to department—functionality"
Mocks: https://xd.adobe.com/view/1b86b869-7cf8-4623-6479-16bc0a8e09e7-6db7/

### Acceptance criteria
- [x] Only administrators see and have access to this
- [x] On the "roles" page under "users", an administrator can select a department from the department permissions model
  - [ ] For MVP, on the Joplin UI side of things, only allow an administrator to select 1 department per user

I think ultima

[2020-02-06 14:21] desigonz commented on #3784
Acceptance criteria logged in #3919 and #3920

[2020-02-06 14:21] #3784 closed

[2020-02-06 14:23] desigonz commented on #3254
In sprint 49, @toribr spent some time identifying best practices for forms—we should incorporate these into the style guide entry: https://github.com/cityofaustin/techstack/issues/3735#issuecomment-575290184

[2020-02-06 14:23] desigonz commented on #3735
Awesome, thanks! Passed off to content in #3254.

[2020-02-06 14:23] #3735 closed

[2020-02-06 14:47] #3792 closed

[2020-02-06 15:26] Jo-Dwyer opened #3921 "make entire "Start" button clickable"
## QA
PR: https://github.com/cityofaustin/janis/pull/707
PR app: https://janis-3921-clickable-buttons.netlify.com/

### To test
1. Go here: https://janis-3921-clickable-buttons.netlify.com//en/government-business/business-resources-3/workforce-development-and-hiring/hire-a-day-laborer/
2. Expand "online" option in step 3
3. Notice entire "start" button is an 'a' element

## Issue
The start button

[2020-02-06 16:09] Niicck commented on #3823
- Fixed the Form Container error page. That was a bug with our test data. Fixed now. https://joplin-pr-3823-preflight-ia.herokuapp.com/admin/pages/search/?q=&content_type=base.formcontainer
- "This field is required" is weird. That is a new bug. I'll make an issue.

[2020-02-06 16:09] desigonz opened #3922 "Joplin UI: type and color strategy"
## As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the interface.

@chasechenevert's Google doc: https://docs.google.com/document/d/1SdAro51Ppdi3Hirn1XkVviJ6nu89dDXtvvFKIX4T8t8/edit#heading=h.ff2tre8z4na1
and the prototype: https://xd.adobe.com/view/196b8e14-f966-4033-7a7d-53b9c188ca17-6f5a/?fullscreen

0. Refactor style t

[2020-02-06 16:21] desigonz opened #3923 "Adding users to department: type-ahead bonus issue"
In #3920, we are making it so that administrators can add users to a department. That issue is about functionality. This is a bonus issue to match the type-ahead instead of using a dropdown or modal to select a department.

- [ ] Type-ahead follows patterns in mock: https://xd.adobe.com/view/1b86b869-7cf8-4623-6479-16bc0a8e09e7-6db7/

[2020-02-06 16:37] easherma commented on #3859
5 to do some light initial design (technical), pick a route to go as far as implementation and then implementing. Would love to get details on what specifically has been wonky + acceptance criteria (specifically there are technically some differences between an address autocomplete vs address validation, want to make sure we all get on the same page about what we're looking for).

[2020-02-06 16:38] #3508 closed

[2020-02-06 16:39] #3807 closed

[2020-02-06 16:41] srigdon commented on #3802
Great edits, @ablangworthy27, agreed. I made edits and comments here: https://github.com/cityofaustin/odd/pull/21/files

[2020-02-06 16:44] easherma commented on #3920
@desigonz would love to flesh out the first criteria:
Does access mean visibility? Or would we want users to see what department they belong to but not edit the field?

[2020-02-06 16:44] ablangworthy27 opened #3924 "Follow up with OPO re: CPRC application"
Now that the MVP form and service page is live, we need to present some next step ideas to make it even better

[2020-02-06 16:48] easherma commented on #3874
Sounds to me like a good case for the conditional validation I tested out on #3740

As far as 'what happens', that would be up to design, but there are plenty of options. We could trigger validation and ask the author to _either_ check the box _or_ enter fees. We could also use Javascript to hide the fees section if they check the free box. Either way, there are lots of ways to handle this without

[2020-02-06 16:50] easherma commented on #3923
Good synergy with #3859 , good thing to write unit tests for.

[2020-02-06 17:00] easherma commented on #3919
All of these could be fairly easily covered by adding a snippet (did we nuke our departments snippet already? zombie model...)

*except*

    Indicate number of users assigned to a department
    Last login includes username with login timestamp

That would require a custom list view, which would make the model best served by a ModelAdmin.

So for everything else this is like a **1**, adding the c

[2020-02-06 17:03] easherma commented on #3813
@desigonz I'm sure but this might overlap with https://github.com/cityofaustin/techstack/issues/3919 ?

[2020-02-06 17:36] desigonz opened #3925 "Tracking how often privacy blocker/load message displays"
### [add user story]

**Acceptance criteria**
- [ ] add here

[2020-02-06 17:38] desigonz opened #3926 "Error states for save/publish requirements"
We now have some pretty cool logic for what's required for saving and what's required for publishing! Now let's improve those error states.

- [ ] Define everywhere we need the error messaging
- [ ] Review error messaging
- [ ] Review asterisks—when should they happen? Currently just for required for save, #3829 said we wanted to do it for required for publish
- [ ] Propose designs

[2020-02-06 17:58] robbobfrh84 commented on #3922
I think a big part of this could be a *discovery* of implementing how we can best override wagtail styles.
 - Which would includes some investigation, research and testing.

Doing that and documenting well will give us a "road map" of how we handle Joplin UI changes going forward.

That could be added as part of this issue, or a separate issue all-together. Wrapping it up in this issue and scaling

[2020-02-06 18:00] desigonz commented on #3795
Thanks team! Sorry, didn't see these notification yesterday

[2020-02-06 18:16] easherma commented on #3922
@robbobfrh84 I think that is a good point and should be part of this issue! I did estimate with that in mind, but we could increase the estimate too if you'd like. I've done a pretty good chunk of that research already, but it could definitely stand to be formalized more and we can make sure all that knowledge is shared between whoever is working on it.

[2020-02-06 20:16] desigonz opened #3927 "Define scope for CPRC commissions web presence"
Let's have a meeting to hone in on the requirements for the scope of the OPO commissions work.

[2020-02-06 20:18] desigonz opened #3928 "Research Texas Open Meetings Act (TOMA)"
Understand the legal requirements around board and commission meetings.

[2020-02-06 20:28] desigonz commented on #3916
Nick is building out a queueing system for publisher.

`View draft` `View live` `This page is still publishing` `This page is done publishing`
Publishing queue: see what's being published. Put a UI on the queueing system.
If page was published less than 5 minutes ago, link to that.
Link to the latest preview
What happens to the list view? Should be from everywhere in Joplin.

Four states when publ

[2020-02-06 20:29] desigonz commented on #3916
Might want to do usability testing on this one. Thoughts from @toribr:
- Probably not a ton of risk
- On the fence about it

[2020-02-06 20:31] desigonz commented on #3916
For sprint 50:
- [ ] Work out some designs
- [ ] Decide if we want to test it—but we'll need to be testing something that can actually be implemented. Will need to do a really thorough review with dev before we test.

[2020-02-06 20:34] desigonz opened #3930 "New homepage vision: research and ideate"
- [x] Schedule meeting for Tuesday to review our sketches together at the new office!
- [x] 5-10 super rough sketches each, taking different points of view and including notes
- [x] Meet to discuss our sketches and plan for the deliverables we'll work on during sprint 51

[2020-02-06 20:36] desigonz commented on #3874
@briaguya @desigonz and @toribr to chat about this next sprint!

[2020-02-06 20:43] #3803 closed

[2020-02-06 20:47] Niicck opened #3931 "Joplin _test_incremental_builds no longer works"
## Describe the bug
When we run our incremental build tests (base/tests/_test_incremental_builds.py), they don't work anymore. We get 3 errors. This is possibly due to the fact that they use data directly from mutable production datadumps.

## URL

## To Reproduce
Steps to reproduce the behavior
example:
1. pipenv run python joplin/manage.py test _test_incremental_builds
2. See errors

## Current

[2020-02-06 20:51] Niicck opened #3932 "Don't keep datadumps in github anymore"
### As a [developer] I want [to stop committing datadumps to github] so that [github doesn't evict us for having datadumps that are too big].

**Is your feature request related to a problem? Please describe.**
Our github repos are over 50MB. This is larger than their recommended size. There could be problems.

**Describe the solution you'd like**
We can start storing datadumps in an S3 bucket. Thi

[2020-02-06 21:10] chasechenevert commented on #3795
@desigonz here's the spec: https://xd.adobe.com/view/c533a077-9314-46a6-5db4-d4a7f8601e8f-b302/

[2020-02-06 21:10] #3795 closed

[2020-02-06 21:32] #3824 closed

[2020-02-06 21:49] desigonz commented on #3630
1. Eric to work on this, starting with service pages
2. Shareout in two dev syncs (week of 2/18—we'll reschedule it)

[2020-02-06 22:03] desigonz opened #3934 "Data migration for department permissions"
### As a product team member, I want pages to be associated with appropriate department groups, so that we can have all of the new department permissions working while also maintaining “offered by” department relationships.

We'll need to retroactively add users/pages to departments so that all of our great department permissions stuff works.

[2020-02-06 22:08] desigonz opened #3935 "Unit tests for departmental permissions"
### As a Joplin developer, I want unit tests around the ability in #3780, so that I can ensure that our features don’t break when we add things in the future.

We want to make sure a departmental user can only see/publish/edit pages in their department. Let's write some unit tests.

[2020-02-06 22:11] desigonz commented on #3882
Is this the same as #3830?

[2020-02-06 22:12] #3767 closed

[2020-02-06 22:12] desigonz commented on #3796
MVP list lives in this spreadsheet: https://docs.google.com/spreadsheets/d/1YuOvoUt3cs7qXiKC2ssWrsDDmuLrnwMeqEl_cqt6fWA/edit#gid=0

[2020-02-06 22:12] #3796 closed

[2020-02-06 22:17] #3827 closed

[2020-02-06 22:17] #3823 closed

[2020-02-06 22:18] desigonz opened #3936 "Send forms to Municipal Court for review"
Send Municourt forms for review, setting feedback expectations and a deadline for when to give feedback

[2020-02-06 22:19] desigonz opened #3937 "Municipal Court content experiments"

[2020-02-06 22:21] desigonz opened #3938 "IA scoping"
We know we need to do some work on the IA. Let's spend some time scoping top-priority tasks.

[2020-02-06 22:23] desigonz commented on #2527
@matthewbarron When you're done with this issue, please move to "Review" and assign to @Jo-Dwyer

[2020-02-06 22:24] desigonz commented on #2519
@matthewbarron When you're done with this issue, please move to "Review" and assign to @srigdon

[2020-02-06 22:37] #3802 closed

[2020-02-06 22:55] anukandimalla opened #3939 "Accessibility Checklist share out with content team and Design team in content - pinpup"
Share out about accessibility checklist with Content team and Design Team

[2020-02-06 22:58] anukandimalla commented on #3855
**Jan 23rd - Feb 6th**

- Reported issues on City of Austin main website
- Gave Feedback on Client needs Feedback requirements

[2020-02-06 22:59] #3855 closed

[2020-02-06 23:01] anukandimalla opened #3940 "Drupal QA - Giving feedback on Client Feedback and User Manual documentation Validation"
Goals:

- Giving Feedback on Client feedback required tags
- User Manual Documentation validation

[2020-02-07 00:11] briaguya commented on #3934
Thoughts: This can be automatic for pages once we associate dept pages with departments (blocked by pages being able to be assigned to depts in the first place), for users, we’re probably better off just doing it manually.

1. Make sure we can add pages to departments (permissions wise)
2. Add all department pages to departments (permissions wise)
3. Write script to add any page that has a related

[2020-02-07 14:47] desigonz commented on #3934
I'd be interested in hearing what @Niicck would say, as well as what the UX implications of that might mean. In the permissions model, we discussed making it so that users can belong to multiple department (in case we want this affordance later), even though on the Joplin for now we're going to limit the ability to add a user to one department for now. I'm wondering if we'd want to do something si

[2020-02-07 15:31] toribr opened #3941 "Design Pin-up 2/11"
Agenda

Sketching exercise!

[2020-02-07 19:45] chiaberry opened #3942 "What happens when someone uploads 10 documents at a time?"
### When did this happen?
Friday, February 7th, 1pm

### Where did this happen?
- [x] Production
- [ ] Staging
- [ ] On a branch: *list the branch here*

### What were you trying to do when this happened?
Jo was uploading a batch of 8 documents. Which then triggered 16 builds, one for each document upload and then one for each edit of the document page. 15 builds failed with 503s, but luckily one

[2020-02-07 21:09] easherma commented on #3942
We could flesh out signals on joplin into a queue to get sorted out, the implementation is pretty naive atm.

[2020-02-10 00:08] briaguya commented on #3852
left some notes on https://github.com/cityofaustin/joplin/pull/555, I think it's an ok route to go for now but I'd like to build out a pattern that allows for queryable streamfield blocks instead of just hardcoding our data model

I'm ok with this (1 - strips out the custom service page stuff, fixes some errors, has related location info in pretty much the same structure) as a temporary solution,

[2020-02-10 16:17] chasechenevert commented on #3679
This is ready for dev.

[2020-02-10 16:30] toribr commented on #3926
- [ ] Add required asterisk to all fields required for publishing
- [ ] Get error message (from content) per required field for all components
- [ ] Design: error styling per component
- [ ] Design: page-level error messaging

Behavior: Requirements for any required fields for publishing are shown on page.
• If user clicks "save as draft", then no error messaging is returned.
• If user clicks "pub

[2020-02-10 16:39] ablangworthy27 opened #3943 "Address fields in locations pulling incorrect zip codes"
As I transition locations, I am noticing that the address field is often pulling in incorrect zip codes. I haven't yet worked through large quantities of locations, but it seems to happen with about half the addresses. Two recent examples include:

Rosewood-Zaragosa Neighborhood Center
2800 Webberville Rd, Austin, Texas 78702
(the address field wants to use 78721

East Austin Neighborhood Center
2

[2020-02-10 17:38] robbobfrh84 commented on #3840
@desigonz this is ready for QA!

PR: https://github.com/cityofaustin/janis/pull/682

Deployed: https://janis-3840-location-hours.netlify.com/

Mixed Example: https://janis-3840-location-hours.netlify.com/en/location/st-john-neighborhood-center/
Simple Example: https://janis-3840-location-hours.netlify.com/en/location/recycle-reuse-drop-off-center/

[2020-02-10 17:58] toribr commented on #3926
For my component reference
<img width="227" alt="Screen Shot 2020-02-10 at 11 06 57 AM" src="https://user-images.githubusercontent.com/3790067/74176102-a7f64d80-4bfc-11ea-89de-6a7083218b3a.png">

[2020-02-10 18:02] toribr opened #3944 "Design process task: Create a list of new content tasks, in order"
Step one of a more robust documentation, generate a list of all possible steps design takes in the creation of new content (based on the sticky board created).

[2020-02-10 18:06] #3866 closed

[2020-02-10 18:07] toribr opened #3945 "Design Retro #3 2/24"
**Objective**

**Participants**

**Agenda**

------
- [x] Schedule meeting
- [x] Meet
- [x] Create resulting issues

[2020-02-10 18:21] Jo-Dwyer opened #3946 "Title vs name of document: define and document"
### As an editor in Joplin adding official documents, I want to know what a document "title" vs "document name" is when I'm filling the official document page fields.

This could be a matter of changing the microcopy on the fields or defining these in the style guide.

[2020-02-10 18:25] #3651 closed

[2020-02-10 18:37] briaguya opened #3947 "Updates ThemesNav.js to use siteData for themes"
PR: https://github.com/cityofaustin/janis/pull/698
PR App: https://janis-3947-no-hardcoded-themes.netlify.com/

We pass our theme info to our FullSiteMenu correctly, but for some reason ThemesNav.js has hardcoded theme data in it.

We should make sure we aren't using hardcoded themes in there.

[2020-02-10 19:49] ablangworthy27 opened #3948 "Link not working in step"
## Describe the bug
I am trying update the [Hire a day laborer service pag](https://alpha.austin.gov/en/government-business/business-resources-3/workforce-development-and-hiring/hire-a-day-laborer/)e to include a link in step 3 to the new location page that I just built. It seems to work when I am in Joplin, but after publishing it doesn't. It appears to be highlighted like a link but is not click

[2020-02-10 20:55] #3863 closed

[2020-02-10 21:24] ablangworthy27 commented on #3948
This is also happening here:
https://alpha.austin.gov/en/austin-public-health/report-smoking-in-a-public-place/

The link in step 1 isn't working, and neither is the button in step 3

[2020-02-10 22:07] ablangworthy27 opened #3949 "Copy edit review: new service page for neighborhood centers"
I am transitioning neighborhood centers to the new location content type, and a need has come up to create a service page that can replace [this info page](https://alpha.austin.gov/en/housing-utilities/pay-utility-bills-and-rent/get-help-paying-bills/neighborhood-centers-help-you-pay-rent-and-utilities-2/).

Please make suggestions in the[ _Get help with rent and utility payments_ draft.](https://

[2020-02-10 22:30] easherma commented on #3852
Ready-ish to test @:
https://janis-3567-richtext-links.netlify.com

https://joplin-pr-3567-api-rep-error.herokuapp.com/

[2020-02-10 22:51] toribr commented on #3944
https://docs.google.com/document/d/1gadkzI3Gqs9xdR8mG1smfNs3V7OTIMkxhOJL3clbjt4/edit

[2020-02-11 15:32] desigonz commented on #3840
Assigning @chasechenevert to QA this one!

[2020-02-11 16:02] easherma commented on #3567
https://github.com/cityofaustin/joplin/pull/554 fixed this

[2020-02-11 19:08] desigonz commented on #3852
## Test cases

### Service page
- [ ] In Joplin, user adds internal link within **basic step** and publishes page; on Janis, the link opens to the right page
- [ ] In Joplin, user adds internal link within **step with options** and publishes page; on Janis, the link opens to the right page
- [ ] In Joplin, user adds internal link within **step with location** and publishes page; on Janis, the link

[2020-02-11 19:25] desigonz commented on #3852
I added links to and published the follow pages on Joplin:
- [Service page](http://joplin-pr-3567-api-rep-error.herokuapp.com/admin/pages/363/edit/#tab-content)
- [Info page](http://joplin-pr-3567-api-rep-error.herokuapp.com/admin/pages/364/edit/)
- [Guide](http://joplin-pr-3567-api-rep-error.herokuapp.com/admin/pages/365/edit/)
But when I click "view live" in Joplin, the pages 404. I logged into

[2020-02-11 20:14] toribr commented on #3926
![IMG_0401](https://user-images.githubusercontent.com/3790067/74275031-c5004e80-4cd8-11ea-94c1-a9a4baeb5bb4.jpg)

[2020-02-11 20:17] toribr commented on #3941
![IMG_0402](https://user-images.githubusercontent.com/3790067/74275248-26c0b880-4cd9-11ea-84a2-f44f2febc80e.jpg)
![IMG_0403](https://user-images.githubusercontent.com/3790067/74275256-2aecd600-4cd9-11ea-9e00-7098668aedef.jpg)

[2020-02-11 20:17] #3941 closed

[2020-02-11 20:23] desigonz commented on #3852
I was able to trigger the builds via Netlify and test out the cases above.

QA passed for the test cases! Looks and works great. We can spin out writing unit tests into a different issue, but use those test cases as the basis for those unit tests.

[2020-02-11 21:21] ablangworthy27 commented on #3948
This is also happening here:
https://alpha.austin.gov/en/permits-tickets/business-permits-and-licenses/food-business-permits/renew-your-mobile-food-vendor-permit/

none of the links are working

[2020-02-11 22:04] ablangworthy27 opened #3950 "Hours exceptions: By appointment only"
### As a content author I want to be able to select "by appointment only" as a hours of operation option so that I don't risk confusing users by either omitting hours all together (shows up as closed) or using standard hours that are not true.

**Is your feature request related to a problem? Please describe.**
I am transitioning EHSD to the new location type. There is a service related to the mobi

[2020-02-11 22:05] desigonz commented on #3852
@easherma Content has been sharing a lot of internal links that aren't working on published pages, such as [this one](https://alpha.austin.gov/en/permits-tickets/business-permits-and-licenses/food-business-permits/renew-your-mobile-food-vendor-permit/) on the mobile food vendor guide. Do you have an estimate on when this will be merged? Weighing whether to edit the pages with external links or wai

[2020-02-11 22:21] ablangworthy27 opened #3951 "Review: Copy changes for mobile food vendor guide"
As I transition EHSD to the new location content type, there are steps within the mobile food vendor guide that can be simplified by adding a step with a location. I have proposed changes on the following pages

- Apply for a mobile food vendor operational permit
- Prepare your mobile food vendor permit application
- Report changes to your mobile food business
- Bring your mobile food unit to your

[2020-02-11 22:35] desigonz opened #3952 "Assigning departments/pages for administrators"
### As a Joplin administrator, I want to be able to assign a department to a page when I'm creating it, so that I can author content for departments across the City.

**Is your feature request related to a problem? Please describe.**
We're implementing departmental permissions that will auto-assign a page to a department you're in. But our content strategists make pages for all sorts of department

[2020-02-11 22:59] easherma opened #3953 "Design + implementation for graphql schema"
See https://github.com/cityofaustin/joplin/pull/555

### As a resident, I want to find information wherever I expect to be in an intuitive way.

### As a city worker, I want to easily be able to find information a resident may be looking for as well as reference information for the services I provide in places I expect to find them.

### As a content author, I want to understand the context of the

[2020-02-11 23:21] ablangworthy27 commented on #3703
I am now just waiting on translations.

@Jo-Dwyer Did you see that email I forwarded to you with info from Stephanie about the ownership issue? Also, would you be ok with me adding a hyperlink on the info page (and sending copy for translation, of course)? I'm thinking something like this:

_**Read the full ordinance** to learn more, or **report a violation**._

[2020-02-12 04:30] chiaberry commented on #3851
@desigonz  http://joplin-pr-3851-limit-blocks.herokuapp.com/

I changed the streamfields to react-streamfields.
It should be no different from the streamfields we already have. What took longest was hiding the translated fields. Bob got it over the finish line. The way to test is to go to the guide page and add sections, toggling the languages in the dropdown at the top. The expected fields should

[2020-02-12 18:13] chasechenevert commented on #3840
Looks good to me! 🚀

[2020-02-12 18:14] desigonz commented on #3840
Awesome, thanks @chasechenevert!

@robbobfrh84 I slapped on the "QA passed" label. Beautiful stuff!

[2020-02-12 18:19] desigonz commented on #3851
### Test cases
- [ ] Service page **basic step**
  - [ ] Looks like its counterpart on staging
  - [ ] can edit in English and in Spanish
- [ ] Service page **step with options**
  - [ ] Looks like its counterpart on staging
  - [ ] can edit in English and in Spanish
- [ ] Service page **step with locations**
  - [ ] Looks like its counterpart on staging
  - [ ] can edit in English and in Spanish

[2020-02-12 18:20] desigonz commented on #3917
Per @chasechenevert's message on slack, QA passed

[2020-02-12 18:23] easherma opened #3954 "Allow for graceful shutdown of heroku apps"
At the moment, we nuke a heroku app as soon as the branch is merged.

However, this can make going back and testing for regressions or other edge cases difficult if that app now no longer exists.

What we could do instead is spin down the app, so we won't pay for it, but it will stay in the list of apps and could be spun up again. We could then have a secondary process that otherwise cleans them u

[2020-02-12 18:30] desigonz commented on #3851
- [ ] Missing the insert document functionality on all step types on service pages
![image](https://user-images.githubusercontent.com/5839508/74365300-6a77f880-4d93-11ea-8843-a5feefe3384c.png)
  - [ ] basic step
  - [ ] step with options
  - [ ] step with locations

[2020-02-12 18:32] robbobfrh84 commented on #3840
Thanks y'all! 👏✅

[2020-02-12 18:45] easherma opened #3955 "AWS Lambda logs are painful for humans to parse"
Our publisher logs are here:
https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logStream:group=/aws/lambda/coa-publisher-mvp-pr;streamFilter=typeLogStreamPrefix

They are hard to read. It's hard to know which log is for which branch or build. There is lots of noise in the log itself. Also, the messages from this log don't go anywhere ( such as Slack or Github ) to easier trace and no

[2020-02-12 18:50] easherma opened #3956 "Publisherr (Publisher thinks there isn't a netlify app for PR but there is)"
## Describe the bug
For https://github.com/cityofaustin/techstack/issues/3852 , we ran into a publishing error when setting up https://github.com/cityofaustin/janis/pull/689 to be published by https://github.com/cityofaustin/joplin/pull/555 .

As you can see here, from when we tried to trigger a publish from the joplin PR app:
https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEven

[2020-02-12 19:32] Niicck commented on #3954
If you add the environment variable "DELETION_PROTECTION" to "1" to your PR app, then it won't be deleted by the heroku clean up function.

https://github.com/cityofaustin/coa-joplin-clean-up#wait-i-dont-want-you-to-automatically-delete-my-app

[2020-02-12 19:43] Niicck commented on #3956
Let's take a look at this when it happens again, since we have no way to reproduce it and the build function has been working for other branches.

Setting the env variable of "DELETION_PROTECTION"="1" will preserve your heroku instance even after merging in Joplin code. So we can debug even if the branch still has to be merged in.
https://github.com/cityofaustin/coa-joplin-clean-up#wait-i-dont-wan

[2020-02-12 19:43] easherma commented on #3954
That doesn't cover issues where we might retrospectively wish we could go back to a version of an app to compare.

[2020-02-12 19:45] chiaberry commented on #3851
@desigonz I updated to match staging, the document links are visible now

[2020-02-12 19:50] ablangworthy27 opened #3957 "Create location page for Carver Library"
Carver Library is listed on the[ location transition spreadsheet](https://docs.google.com/spreadsheets/d/1X6mWmmT_nvmCP9aWDkV40yoLNZkz0J-olvASrzJx1_Q/edit?folder=1QkM6jAJF3VL_iyLTMiZql_EHy5huHwsx#gid=0). We need to first discuss whether it makes sense to create library locations, since they are part of a department that won't transition to austin.gov.

Depending on what we decide, we may or may no

[2020-02-12 20:23] chiaberry commented on #3948
Fixed by https://github.com/cityofaustin/techstack/issues/3852, right?

[2020-02-12 20:59] Niicck commented on #3954
The branch isn't deleted from github, so your can reopen a PR for that branch. It'll use the same code, migrations, and datadump to replicate the same conditions it had before.

[2020-02-12 21:31] easherma commented on #3954
So in the case of settings or data saved to that app's database, they will be gone. Whereas if we just spin the app down, changes would be preserved.

[2020-02-12 21:39] #3620 closed

[2020-02-12 21:46] desigonz commented on #3682
This is now in production!

[2020-02-12 21:46] #3682 closed

[2020-02-12 21:47] Niicck commented on #3954
Gotcha. That makes sense

[2020-02-12 22:24] desigonz commented on #3851
Looks great! QA passed.

[2020-02-13 18:40] easherma commented on #3912
Can be QA'ed at: https://joplin-pr-3912-wagtail-28.herokuapp.com/

Didn't need a migration.

[2020-02-13 18:51] easherma commented on #3740
https://alpha.austin.gov/en/location/first-workers-day-laborer-center/

https://alpha.austin.gov/en/location/office-of-vital-records/

examples of relevant pages in production

[2020-02-13 18:54] easherma commented on #3630
It would probably be good to flesh out some technical acceptance criteria for this particular issue, and/or break it up depending on that. Such as:

* do we want to just make the factories?
* do we want to integrate them into tests, or write tests using them?
* do we want to use them to generate fixtures, similar to what I did for locations?

[2020-02-13 20:17] Jo-Dwyer commented on #3951
This looks good. Changes approved!

[2020-02-13 20:17] #3951 closed

[2020-02-13 20:40] toribr commented on #3736
Draft:
* how many times a week or month do they use the system?
* how many hours a week or month do they use the system?
* are they creating new content or editing existing content or both?
* Are they writing in the tool or cutting and pasting from elsewhere? if cutting and pasting, then from where? how does formatting change?
* Is their work moderated or approved by someone else, and if so, how?

[2020-02-13 21:03] #3800 closed

[2020-02-13 21:05] desigonz opened #3959 "Feedback component style changes"
# QA
PR: https://github.com/cityofaustin/janis/pull/702

Homepage (with feedback component): https://janis-3959-feedback-width.netlify.com/
OPO page (without feedback component): https://janis-3959-feedback-width.netlify.com/en/police-oversight/

### Places the margin-bottom css hits
* Department pages (https://janis-3959-feedback-width.netlify.com/en/police-oversight/)
* Event pages (https://jani

[2020-02-13 21:06] desigonz commented on #3806
Logged this in #3959

[2020-02-13 21:06] #3806 closed

[2020-02-13 21:06] Jo-Dwyer commented on #3949
looks good to me!

[2020-02-13 21:06] #3949 closed

[2020-02-13 21:12] #3756 closed

[2020-02-13 21:12] briaguya opened #3960 "Merge conflict - service hours padding"
Things to test:
- [x] Location pages match spec (https://janis-3690-service-hours-padding.netlify.com/en/location/recycle-reuse-drop-off-center/)
  - [x] Desktop
  - [x] Mobile
- [x] Event pages match spec (https://janis-3690-service-hours-padding.netlify.com/en/event/2020/2/10/bergstrom-tech-grand-opening/)
  - [x] Desktop
  - [x] Mobile

[2020-02-13 21:16] #3740 closed

[2020-02-13 21:24] desigonz opened #3961 "Label size for mobile "blocks""
@chase noticed an inconsistency in heading sizes on mobile.
![image](https://user-images.githubusercontent.com/5839508/74479505-e39b4c80-4e74-11ea-86c7-360b7486552f.png)

**Acceptance criteria**
- [ ] On mobile, `Offered by` should go to `2rem` at the mobile break point to match Contact information

[2020-02-13 21:57] chiaberry commented on #3817
@desigonz a few questions around the checklist above and the mocks
- [ ] Should we capitalize the first letter in the days of the weeks in Spanish?
- [ ] Moment.js is automatically adding a period after the abbreviations on mobile ex: `vie.` Is that okay? remove the periods?
- [ ] The checklist above says to include the word "Register" with no link, Chase's mocks say  Registration Required, or not

[2020-02-13 22:55] briaguya opened #3962 "Dev design sync - 2/18/2020"
- [ ] https://github.com/cityofaustin/techstack/issues/3874#issuecomment-586517508 event fees/free
- [x] Review Wagtail 2.8 changes https://github.com/cityofaustin/techstack/issues/3912#issuecomment-586468578
- [x] https://github.com/cityofaustin/techstack/issues/3925 privacy blocker tracking
- [x] #3926 Error states for save/publish requirements https://share.goabstract.com/2217505d-e313-49b5-a42

[2020-02-13 23:00] desigonz commented on #3817
I added my answers above!

[2020-02-13 23:26] robbobfrh84 commented on #3922
As I've started to work through this, I've discovered that breaking the work down section-by-section has been an easier way to keep it all organized (At least in my head).

I've with three static sections
- [ ] **Side** Nav
- [ ] **Top** Nav
- [ ] **Pages** Top Nav

Then, there will inevitable be regressions (for example, changing one style can mess up another).
- [ ] Clean up regression (gonna ne

[2020-02-14 01:36] desigonz commented on #3922
🙌 This is amazing. Let us know if you need support in spotting those regressions.

[2020-02-14 14:18] #3911 closed

[2020-02-14 16:33] ablangworthy27 commented on #3906
Pin-up cancelled.

[2020-02-14 16:33] #3906 closed

[2020-02-14 16:39] ablangworthy27 opened #3963 "Content pin-up 02/18/2020"
We cancelled pin-up on 2/11, so the last content pin-up was [#3902](https://github.com/cityofaustin/techstack/issues/3902)

FYI, if anyone misses all the emojis from the old pin-ups, let me know. I just found it difficult to read, and thought we could be more direct. If this new format isn't working, I'm open to changing it.

### 1. Approve Agenda

### 2. Action items from Design pin-up or Desi cc

[2020-02-14 16:41] #3924 closed

[2020-02-14 16:42] #3830 closed

[2020-02-14 17:19] #3917 closed

[2020-02-14 17:20] #3960 closed

[2020-02-14 17:20] #3840 closed

[2020-02-14 17:22] #3852 closed

[2020-02-14 17:22] #3567 closed

[2020-02-14 17:28] desigonz commented on #3919
We will split some of this acceptance criteria in a separate issue— @briaguya and @desigonz to touch base when he sends MVP stuff to @desigonz to QA.

[2020-02-14 17:29] desigonz commented on #3920
We will split some of this acceptance criteria in a separate issue— @briaguya and @desigonz to touch base when he sends MVP stuff to @desigonz to QA.

[2020-02-14 17:59] Jo-Dwyer opened #3964 "Unable to preview a service page in progress"
## Describe the bug
I'm making changes to a draft of a service page and want to see how my bulleted list looks. I hit preview and none of the content on my page appears.

[Request court records](https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTozMDk4)

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to https://joplin.herokuapp.com/admin/pages/359/edit/#tab-content

[2020-02-14 18:07] desigonz commented on #3926
Hey @toribr—if you need a content strategist to work on the error copy, @ablangworthy27's available this sprint.

[2020-02-14 18:07] Jo-Dwyer commented on #3273
@toribr can you look at this form?

[2020-02-14 18:08] #3914 closed

[2020-02-14 18:10] #3703 closed

[2020-02-14 18:12] desigonz opened #3965 "Send OPO documents for translation"

[2020-02-14 18:13] desigonz commented on #3793
@ablangworthy27 will be incorporating a few edits after content pin-up next week, and then will send for translation.

[2020-02-14 18:16] srigdon commented on #3809
Translation document is here: https://drive.google.com/drive/folders/1kLmGN8PCwICcQ8n91IpkMC-Owa2ANqKU

[2020-02-14 20:33] desigonz commented on #3561
👍 Looks great in this Wagtail 2.8 PR branch https://joplin-pr-3912-wagtail-28.herokuapp.com/admin/pages/search/

[2020-02-14 20:54] desigonz commented on #3912
QA passed.

Compiling a list of things to review at Tuesday's dev-design sync:
- #3561
- Improve diffing behavior for text fields in revision history ([link](https://joplin-pr-3912-wagtail-28.herokuapp.com/admin/pages/6/revisions/compare/1523...1567/))
- Add ability to filter image index by a tag ([link](https://joplin-pr-3912-wagtail-28.herokuapp.com/admin/images/))

[2020-02-14 21:09] desigonz commented on #3953
Can you at least add a user story, so that we have a documentation of the value of this?

[2020-02-14 21:10] desigonz commented on #3950
This is an interesting one! Thanks for pointing this out.

[2020-02-14 21:11] desigonz commented on #3948
This is fixed, thanks team!

[2020-02-14 21:11] #3948 closed

[2020-02-14 21:36] desigonz commented on #3943
Confirming that this is happening a lot.
- For 800 Guadalupe, I got 78705 when it should be 78701.
- For 6800 Burleson Road, I got 78617 when it should be 78744.

Also confirming that when a zip code appears via this validation, it then publishes incorrectly on Janis.

[2020-02-14 21:43] desigonz commented on #3921
I feel like this has happened to me too, but I can't currently replicate.

[2020-02-14 21:46] ablangworthy27 commented on #3273
@Jo-Dwyer

**Description:**
"in accordance to" I think should be "in accordance with"

**Are you requesting information about a specific case or general information about municipal court cases**
-needs a question mark.
-when I select first option, the boxes for putting in the defendant's age and relationship to the defendant are a different color from the rest of the boxes.
-the default value of z

[2020-02-14 21:49] desigonz commented on #3905
We actually have a backlog issue for this! #2333. Will copy/paste your thoughts over there, and close this one.

[2020-02-14 21:49] desigonz commented on #2333
From @ablangworthy27:

[2020-02-14 21:50] #3905 closed

[2020-02-14 21:54] desigonz commented on #3900
This is fixed, closing the issue!

[2020-02-14 21:54] #3900 closed

[2020-02-14 21:55] desigonz commented on #3896
![image](https://user-images.githubusercontent.com/5839508/74570686-6f2edf00-4f42-11ea-8de9-43e46cc4faa4.png)

[2020-02-14 22:02] #3893 closed

[2020-02-14 22:06] desigonz commented on #3899
I'm interested to know the size on various possible solutions for this (setting up top-level for service pages, or just removing top-level as an option on service pages). In #3313, we limited top-level pages to service and info pages, but so far have only used info pages for top-level things.

[2020-02-14 22:07] desigonz commented on #3892
We fixed this!

[2020-02-14 22:07] #3892 closed

[2020-02-14 22:09] desigonz commented on #3891
We have #3775 open to fix this

[2020-02-14 22:09] #3891 closed

[2020-02-14 22:11] desigonz commented on #3889
I wasn't able to replicate

[2020-02-14 22:11] #3889 closed

[2020-02-14 22:15] desigonz commented on #3879
The page won't build if it's not assigned to either a topic or a department.

I'm able to see the form in the preview page.

[2020-02-14 22:15] #3879 closed

[2020-02-14 22:20] desigonz commented on #3871
This is done I believe!

[2020-02-14 22:20] #3871 closed

[2020-02-14 22:20] #3862 closed

[2020-02-14 22:21] desigonz commented on #3843
Can you add more details/a user story so that I understand what the outcome of this would be?

[2020-02-14 22:24] easherma commented on #3843
I believe this was fixed by https://github.com/cityofaustin/techstack/issues/3842

But the outcome of the bug was that you couldn't view any pages.

[2020-02-14 22:28] desigonz commented on #3805
Can you add a user story here?

[2020-02-14 22:33] desigonz opened #3966 "Janis/Joplin URL management"

[2020-02-14 22:37] desigonz commented on #3665
Duplicate of #3946

[2020-02-14 22:37] #3665 closed

[2020-02-14 22:38] desigonz commented on #3669
Theme adds a topic collection to the IA.

[2020-02-14 22:38] desigonz commented on #3669
We're using collections to organize documents by department. We have other issues to dive deeper into this.

[2020-02-14 22:38] #3669 closed

[2020-02-14 22:40] #2992 closed

[2020-02-14 22:40] #3337 closed

[2020-02-14 22:40] #3531 closed

[2020-02-14 22:45] desigonz opened #3967 "Styling/localization for privacy fallback message"
## QA
### Testing notes
1. Go here: https://janis-3967-form-fallback-styles.netlify.com/en/police-oversight/apply-to-the-community-police-review-commission
2. Make sure privacy badger (or whatever content blocker you'd like to use) is blocking formstack
3. See styled/localized fallback message

PR: https://github.com/cityofaustin/janis/pull/696

## Issue
- [ ] Implementation matches [mocks](https:

[2020-02-14 22:48] easherma commented on #3886
@chiaberry feel free to re-open, but IIRC you just needed to re log in to AWS

[2020-02-14 22:48] easherma commented on #3904
It's possible this may be related to/causing the publish branch problems we've noticed recently

[2020-02-14 22:50] desigonz commented on #3872
Logged this in #3967

[2020-02-14 22:50] #3872 closed

[2020-02-14 22:52] chiaberry commented on #3886
@easherma except @Jo-Dwyer can view logs and doesnt have an AWS login

[2020-02-14 22:54] #3886 closed

[2020-02-14 22:56] #3843 closed

[2020-02-14 22:58] desigonz commented on #3679
logged in #3961

[2020-02-14 22:58] #3679 closed

[2020-02-14 22:59] easherma commented on #3932
I don't think this much of a concern.

Github has a _repo_ size limit of 100GB, with 1GB being a recommended maximum. We aren't anywhere close to even 1GB.

So I'm assuming you may have meant an individual _file_ size limit.

For one, the 50MB limited can actually be increased on our repo settings.

That being said, Github does have a 100MB hard limit on an individual file size, but we would run i

[2020-02-14 23:01] easherma commented on #2731
@desigonz this should be working via any rich text widgets in Joplin.

[2020-02-14 23:08] desigonz commented on #2731
Just verified this, looks great!

[2020-02-14 23:08] #2731 closed

[2020-02-14 23:10] easherma commented on #3943
I filed a bug report with Algolia Places, in all the examples I've checked so far the data is correct in Open Street Map but they have multiple postcodes for some of these addresses.

[2020-02-14 23:10] desigonz commented on #2731
Added the links to the OPO complaint and thank you service pages.

[2020-02-14 23:21] #3340 closed

[2020-02-14 23:22] easherma commented on #3340
We ended up hacking the template a bit to use the existing ajax functionality

[2020-02-14 23:25] briaguya commented on #3874
@desigonz doing this with streamfields probably doesn't get us what we want here, as we'd still need to write out custom logic to only allow for one or the other.

My preference for course of action on this one is:
1. Add some custom JS to hide the fees when "free" is checked (probably a 2 or 3)
2. Eventually update from checkboxes to be a toggle/switch https://github.com/cityofaustin/techstack/is

[2020-02-14 23:27] desigonz commented on #3874
Awesome, thanks @briaguya! cc @toribr on the above

[2020-02-14 23:27] easherma commented on #3152
There is some good info/discussion here.

[2020-02-16 04:41] briaguya opened #3968 "Tables wider than the viewport"
## Describe the bug
When making a table that is wider than the screen, the header menu is still screen width, but we can scroll horizontally past it.

## URL
https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZTozMzQw

## To Reproduce
Steps to reproduce the behavior
example:
1. Be on mobile
2. Go to https://alpha.austin.gov/en/preview/information/UGFnZVJldmlzaW9uTm9kZTozMzQw
3. Sc

[2020-02-16 04:47] briaguya opened #3969 "Pasting markdown tables into codeblocks creates multiple codeblocks"
When pasting a syntactically valid markdown table into a codeblock in Joplin, it appears as multiple lines separated by a block ending endline character. (we see big spaces in between instead of small spaces)

This means our logic in janis parses each line individually as markdown, making it so our tables are not parsed as tables.

If pasting within a code block kept it as one big code block, that

[2020-02-17 14:31] #3884 closed

[2020-02-17 16:57] #3659 closed

[2020-02-17 17:28] #2966 closed

[2020-02-17 17:28] #3705 closed

[2020-02-17 17:28] #3438 closed

[2020-02-17 17:34] chasechenevert commented on #3968
A few ideas come to mind:
- Allow horizontal scrolling for the table, but keep all other page elements fixed
- Create a new layout for tables at the mobile breakpoint, like USWDS does for their tables:
![Screen Shot 2020-02-17 at 11 33 19 AM](https://user-images.githubusercontent.com/7027270/74675572-71c74980-5179-11ea-86aa-380ea991dfb3.png)
![Screen Shot 2020-02-17 at 11 33 30 AM](https://user-im

[2020-02-17 18:03] desigonz commented on #3968
Is this happening on any live pages? Can y'all add links here?

[2020-02-17 18:08] desigonz commented on #3964
I was able to preview:
https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTozMzQx

The little red 1 means that you tried saving the page but hadn't fully filled out requirements for a field, so it didn't save. And that's why the preview didn't work.

Closing this issue. We have issues out for improving the error messaging.

[2020-02-17 18:08] #3964 closed

[2020-02-17 18:22] desigonz commented on #3943
**Acceptance criteria**
Per discussion with @briaguya, for the short term we're just going to remove the existing validation, sized at a 1 or 2.
- [ ] Remove address validation for locations

Later we'll figure out a better solution, and will flesh out acceptance criteria then.

[2020-02-17 18:55] chasechenevert commented on #3962
You can join as a viewer in our Abstract space here: https://app.abstract.com/invitations/7dbdc4aa499a6e41e0e9856af39507f41e004e585e11368a591e48a40a162027

[2020-02-17 19:18] desigonz commented on #3149
This issue is no longer relevant, now that we've moved hours to the location content type.

[2020-02-17 19:18] #3149 closed

[2020-02-17 19:19] #2334 closed

[2020-02-17 19:20] chasechenevert commented on #725
This issue is pretty stale now. I'll make a new issue that reflects the move into Abstract, and how that's changing the way we organize and communicate the design system

[2020-02-17 19:20] #725 closed

[2020-02-17 19:21] chasechenevert commented on #2597
Stale re: Abstract, will create a new issue.

[2020-02-17 19:21] #2597 closed

[2020-02-17 20:07] desigonz commented on #3927
@toribr and @srigdon, I've compiled my understand of OPO's requirements for the April deadline of the CPRC website. Let me know what I'm missing!

---

## As a resident concerned about police oversight, I want to be able to know about what the commission is, who its members are, and what the commission is working on, so that I have a sense of what the City and civilians are doing to address polici

[2020-02-17 20:42] ablangworthy27 commented on #2525
@matthewbarron I have finished reviewing this but wasn't able to include comments in the spreadsheet. I can share at the next meeting.

[2020-02-17 20:42] #2525 closed

[2020-02-17 20:45] ablangworthy27 opened #3970 "Translate locations"
I have finished most of #3763, and now just need to translate all the new copy (service page revisions and microcopy)

[2020-02-17 20:49] ablangworthy27 opened #3971 "QA locations"
I need someone to go through and check my work on[ locations](https://docs.google.com/spreadsheets/d/1X6mWmmT_nvmCP9aWDkV40yoLNZkz0J-olvASrzJx1_Q/edit?folder=1QkM6jAJF3VL_iyLTMiZql_EHy5huHwsx#gid=0), making sure that everything has been transitioned properly.

[2020-02-17 20:49] #3763 closed

[2020-02-17 21:08] desigonz opened #3972 "Spanish version of page 404s"
## Describe the bug
1. On Janis, several pages work in English
2. but when you toggle to `Español`, the page 404s.
3. I checked the pages in Joplin—There is no slug set for Spanish in Joplin.
4. THEN I did a hard refresh of the Spanish page and the 404 was no longer there (aka now the page works!)

## URL

### Set out your leaves, grass, and branches for pickup
English: https://alpha.austin.gov/en

[2020-02-17 21:32] desigonz commented on #2371
Fixed with new streamfields

[2020-02-17 21:32] #2371 closed

[2020-02-17 21:33] #2335 closed

[2020-02-17 21:33] #3454 closed

[2020-02-17 22:31] briaguya commented on #3805
@desigonz updated the description

[2020-02-17 22:42] #2029 closed

[2020-02-17 22:43] #2035 closed

[2020-02-17 22:43] #2025 closed

[2020-02-17 22:45] #1983 closed

[2020-02-17 22:50] desigonz commented on #3805
Thanks @briaguya! Also maybe a size on this, if possible?

[2020-02-17 22:51] #1933 closed

[2020-02-17 22:53] desigonz commented on #1940
Is this still relevant? Can we close this issue?

[2020-02-17 22:57] #1916 closed

[2020-02-17 22:58] #1915 closed

[2020-02-17 23:03] desigonz commented on #1420
Draft info page that:
- Gives a brief snapshot of the issue
- Lists all of APH’s partners/contracts that it funds
- Lists outcomes of these programs
- Links to Auditor’s Office reports on homelessness

User: Journalists, council members, and other stakeholders who want to know how the City is addressing homelessness

from: https://docs.google.com/document/d/1SaAfqOz2VUycMEXqXje5sVTMaAapyB1HXUHnWWz

[2020-02-17 23:05] desigonz commented on #1906
Incorporated into #1420, closing this one.

[2020-02-17 23:05] #1906 closed

[2020-02-17 23:07] desigonz opened #3973 "OPO complaint and thank you form bugs and enhancements"
Making this epic to consolidating all OPO form bugs and enhancements. The OPO form was built on USFS, and we'll be moving away from that in the future, so some of these may become irrelevant if/when we migrate the form.

[2020-02-17 23:11] #1772 closed

[2020-02-17 23:11] #1784 closed

[2020-02-17 23:11] #1785 closed

[2020-02-17 23:11] #1275 closed

[2020-02-17 23:11] #1586 closed

[2020-02-17 23:11] #1596 closed

[2020-02-17 23:11] #1765 closed

[2020-02-17 23:11] #1776 closed

[2020-02-17 23:11] #1786 closed

[2020-02-17 23:11] #1792 closed

[2020-02-17 23:11] #1800 closed

[2020-02-17 23:11] #1801 closed

[2020-02-17 23:11] #1804 closed

[2020-02-17 23:11] #1158 closed

[2020-02-17 23:11] #1269 closed

[2020-02-17 23:11] #1273 closed

[2020-02-17 23:11] #1593 closed

[2020-02-17 23:11] #1775 closed

[2020-02-17 23:11] #2671 closed

[2020-02-17 23:12] #1905 closed

[2020-02-17 23:12] #2704 closed

[2020-02-17 23:13] #1548 closed

[2020-02-17 23:13] #2952 closed

[2020-02-17 23:14] #1722 closed

[2020-02-17 23:15] #2386 closed

[2020-02-17 23:15] #1479 closed

[2020-02-17 23:15] #1815 closed

[2020-02-17 23:25] #1885 closed

[2020-02-17 23:26] #2128 closed

[2020-02-17 23:27] desigonz commented on #2775
From #1871:
The guide type has a couple of proposed new features:
Joplin
- [ ] ability to add a checklist (component type?)
Janis
- [ ] print one or all
- [ ] local favoriting

More details to come.

[2020-02-17 23:27] desigonz commented on #1871
Consolidated this with #2775

[2020-02-17 23:27] #1871 closed

[2020-02-17 23:29] desigonz commented on #2775
### See full discussion in #2936

**Describe the bug**
Our acceptance criteria includes "When user selects browser back button when menu is opened, menu collapses" but I wasn't able to replicate on mobile.

**Acceptance criteria**
  - [ ] When user selects browser back button when menu is opened, menu collapses

**URL**

**To Reproduce**

1. Go to https://janis.austintexas.io/en/health-safety/heal

[2020-02-17 23:29] #2936 closed

[2020-02-17 23:32] desigonz opened #3974 "Display pages in order of most recently edited"
## QA
PR: https://github.com/cityofaustin/joplin/pull/579
1. Go to https://joplin-pr-3974-list-order.herokuapp.com/admin/pages/search/
2. See that it's sorting by last updated
3. Try playing with page filters and searching and see if the pages are ordered as expected

## Issue
### As a content author, I want to be able to easily access pages I've edited most recently, so I can efficiently edit con

[2020-02-17 23:32] #3174 closed

[2020-02-17 23:33] #3284 closed

[2020-02-17 23:33] desigonz commented on #2775
### As a resident, I want a phone number for a complicated City process so that I can access help if I need it.

### As a content editor, I want contact info on guides to require phone numbers so that I can make sure residents have that information when they need it.

**Is your feature request related to a problem? Please describe.**
This is what happens when you add a contact to a guide but don't

[2020-02-17 23:33] #3445 closed

[2020-02-17 23:39] #3285 closed

[2020-02-17 23:39] #3287 closed

[2020-02-17 23:45] #1860 closed

[2020-02-17 23:47] #1773 closed

[2020-02-17 23:49] #1738 closed

[2020-02-17 23:50] #1723 closed

[2020-02-17 23:51] #1720 closed

[2020-02-17 23:51] desigonz commented on #1628
I'm closing this unless y'all have any objections?

[2020-02-17 23:51] #1628 closed

[2020-02-17 23:52] #1645 closed

[2020-02-17 23:54] desigonz commented on #807
From @toribr in #3848:

[2020-02-17 23:54] desigonz commented on #3848
Consolidated this in #807, closing this one.

[2020-02-17 23:54] #3848 closed

[2020-02-18 00:41] srigdon commented on #1742
We touch on this a bit in Funshop I: Writing for residents, but the deck could use a review and refresh for more recent examples and any project communication needs.

But this looks like a mostly finished Style Guide entry already, with good info for city content authors. @Jo-Dwyer and @ablangworthy27, what do you think about adding it in?

[2020-02-18 15:18] desigonz commented on #1742
"Catch-all page" is our term—y'all might want to think about titling it something more meaningful. I'll put this on next sprint candidates for now.

[2020-02-18 16:03] desigonz opened #3975 "Step with multiple locations display"
## QA Notes
PR App: https://janis-3975-location-steps.netlify.com/en/housing-utilities/pay-utility-bills-and-rent/get-help-paying-bills/get-help-with-rent-and-utility-payments/
PR: https://github.com/cityofaustin/janis/pull/699

@chasechenevert I made some changes to the spacing on mobile, I didn't see anything in abstract for steps with locations.

Comparison:
https://alpha.austin.gov/en/housing-

[2020-02-18 16:07] srigdon commented on #3927
I added a few more [notes on content](https://docs.google.com/document/d/1GCEpQNQflrcbpizBZzzRQ5BII1S9kKDkJhvkFnlOGnc/edit#), but I'm not noticing anything big that's missing. My main question right now is where residents expect to find this information. We might need to follow up with OPO on that.

[2020-02-18 16:12] desigonz commented on #3927
Cool, thanks @srigdon! We'll continue to have the vanity URL atxpolicecommission.org. And then otherwise we'll need to determine

Per our meeting, they're okay with the "Offered by: Office of Police Oversight," at least in the near term. But we might want to give the CPRC its own landing page of sorts (maybe a topic page?).

[2020-02-18 16:38] toribr commented on #3273
@Jo-Dwyer @desigonz

This question:
Are you requesting information about a specific case or general information about municipal court cases (Required)
<radio>...specific...
<radio> general informaion...

Under the first selection, there are about 10 fields. Am I to understand that all 10 are required?

For this: "defendant's age at time of violation" - the previous two fields ask the date of birth

[2020-02-18 16:54] toribr commented on #807
@desigonz
I have some ideas, naturally, but I'd like to create an issue for @chasechenevert and I to explore this feature next sprint. Want to convert this issue into MVP exploration or shall I write another?

[2020-02-18 16:55] desigonz commented on #3273
A few more notes:

- [ ] Remove the title—we don't use the titles when they're in the form container on alpha.gov, because it creates redundant titles. (@toribr, we might want to create a new issue and work with @chasechenevert/dev team to think this through. The only instance when someone would land on this version of the form is if the form fails due to a privacy blocker.)
- [ ] If you select "i

[2020-02-18 16:59] chiaberry opened #3976 "CircleCI workflows failing"
## Describe the bug

I tried to merge a PR to joplin master, and circle ci failed. Same for some review apps that we tried to open
https://app.circleci.com/jobs/github/cityofaustin/joplin/4854
https://app.circleci.com/jobs/github/cityofaustin/joplin/4853
https://app.circleci.com/jobs/github/cityofaustin/joplin/4852

The error is

[code]
and then later on in `running migrations for test`
[code]

##

[2020-02-18 17:06] desigonz commented on #807
This isn't up next on the roadmap—I need to see how this fits in with the other features we've lined up, so let's hold off for now. But once I'm done with winnowing down the backlog, we can see how this shakes out and make that MVP exploration issue.

[2020-02-18 17:07] toribr commented on #3927
@srigdon @desigonz
My recommendation would be to gather the content or improvise content that's need for this presence, ie, content-first design. I can't really think about how to shape it until I see the actual (or nearly actual) content and volume of it. @srigdon Can you sketch a structure (happy to help), so that the board has something to look at in terms of filling in the gaps?

[2020-02-18 17:25] srigdon commented on #3927
@toribr Can do!

[2020-02-18 17:32] toribr commented on #3926
@desigonz Do we feel good about the model that outlines which fields are required? And can you help me find it? :)

[2020-02-18 17:37] desigonz commented on #3926
The requirements are here: https://github.com/cityofaustin/techstack/issues/3379
We haven't yet heard about any need to change it, so let's stick with it!

[2020-02-18 18:19] toribr commented on #3926
@desigonz
Actually what I meant was that if @ablangworthy27 is going to write error copy, then she's going to know what fields are required, per template. So we need to refer her to the data model doc which contains that info, and which I believe you last updated.

[2020-02-18 19:38] #705 closed

[2020-02-18 19:38] #706 closed

[2020-02-18 19:38] #717 closed

[2020-02-18 19:38] #1748 closed

[2020-02-18 19:38] #723 closed

[2020-02-18 19:44] #2667 closed

[2020-02-18 19:52] #2622 closed

[2020-02-18 19:55] desigonz commented on #2637
We've removed options in info pages for now, so closing this

[2020-02-18 19:55] #2637 closed

[2020-02-18 19:59] desigonz opened #3977 "Labels on snippets"
## Describe the bug
This seems to be a regression but not sure when it happened—on snippets, the titles are formatting funny, with the arrow icon overlapping the beginning of the label

![image](https://user-images.githubusercontent.com/5839508/74772975-98a77d80-5256-11ea-8a5c-e919efd0798e.png)

**Acceptance criteria**
- [x] Titles don't overlap/return to how they used to be for:
  - [x] Contacts

[2020-02-18 20:01] #3664 closed

[2020-02-18 20:10] #3011 closed

[2020-02-18 20:13] Niicck commented on #3298
We're going to loop this into post-mvp publisher UX.

[2020-02-18 20:13] #3298 closed

[2020-02-18 20:13] #3050 closed

[2020-02-18 20:19] #3676 closed

[2020-02-18 20:26] Niicck commented on #3955
This will be fixed by MVP publisher.

[2020-02-18 20:26] #3955 closed

[2020-02-18 20:36] #3907 closed

[2020-02-18 20:39] desigonz commented on #3874
Want to make sure the JS isn't too jumpy

Next steps:
- Implement step 1 above
- Review with @toribr re: user experience for MVP

[2020-02-18 20:40] ablangworthy27 opened #3978 ""Closed on all city holidays" checkbox for locations on Joplin"
### As a content author I want the ability to select "closed on city holidays" for locations, rather than having to input that information in the hours exceptions text box. This would be faster/easier, but also it would help maintain consistency and eliminate unnecessary translation costs.

**Describe the solution you'd like**
A checkbox would work. It is also possible that it could be automatic.

[2020-02-18 20:51] chasechenevert commented on #3926
https://share.goabstract.com/2217505d-e313-49b5-a420-2e889036bf8f?

[2020-02-18 20:54] desigonz commented on #3926
- [ ] Will need entrance animation for the error message
- [ ] Message should NOT fade out

[2020-02-18 20:59] desigonz commented on #3925
Setting up an event in Google analytics for this

[2020-02-18 21:10] srigdon commented on #3822
Target publishing date: Monday, 2/24.

[2020-02-18 21:21] #3963 closed

[2020-02-18 21:31] desigonz commented on #3978
Great idea :) Re: your question, no—see this example: https://alpha.austin.gov/en/location/recycle-reuse-drop-off-center/

And I bet we'll have places closed on all City holidays and then some.

[2020-02-18 21:39] Niicck commented on #3192
We no longer pubish from the content list view, so this isn't an issue anymore really.

[2020-02-18 21:39] #3192 closed

[2020-02-18 21:42] Jo-Dwyer commented on #3273
@ablangworthy27
Description:
- [x] "in accordance to" I think should be "in accordance with"

Are you requesting information about a specific case or general information about municipal court cases
- [x] needs a question mark.
- [ ] when I select first option, the boxes for putting in the defendant's age and relationship to the defendant are a different color from the rest of the boxes. __These we

[2020-02-18 21:46] chasechenevert commented on #3975
Good catch! The layout should match the second step.

[2020-02-18 22:43] #3014 closed

[2020-02-18 22:44] #3012 closed

[2020-02-18 22:49] #3797 closed

[2020-02-18 22:50] desigonz opened #3979 "Community Police Review Commission content"
MVP due April 20, when first round of commissioners will be announced.

### As a resident concerned about police oversight, I want to be able to know about what the commission is, who its members are, and what the commission is working on, so that I have a sense of what the City and civilians are doing to address policing in Austin.

- [ ] Scope of commission (pull from the Meet and Confer agreeme

[2020-02-18 22:54] desigonz opened #3980 "Sketch CPRC content"
### As a resident concerned about police oversight, I want to be able to know about what the commission is, who its members are, and what the commission is working on, so that I have a sense of what the City and civilians are doing to address policing in Austin.

For more notes and specific requirements, see #3979.

We need to gather the content or improvise content that's need for this presence,

[2020-02-18 22:56] desigonz commented on #3927
Okay I made an epic with the requirements above: https://github.com/cityofaustin/techstack/issues/3979

And an issue for content sketching: #3980

Does this goal for sprint 51 seem reasonable?
- @srigdon to sketch content
- @desigonz and @toribr to review/give feedback
- By end of sprint, we'll have identified any design or dev work that might need to happen (let's try to keep it small, because we

[2020-02-18 23:04] chiaberry opened #3981 "PR joplin linked to PR janis, janis fails"
### When did this happen?
A few times today, most recently at 5pm

### Where did this happen?
- [ ] Production
- [ ] Staging
- [x] On a branch: https://app.netlify.com/sites/janis-3817-event-lists/deploys

### What were you trying to do when this happened?

Updating events in joplin to add to my events list branch, and sometimes it 503s.

### Screenshots
*Include a screenshot of the error you got

[2020-02-18 23:07] chiaberry opened #3982 "Build Failure, TypeError"
### When did this happen?
3pm, Feb 18

### Where did this happen?
- [ ] Production
- [x] Staging
- [ ] On a branch: *list the branch here*

### What were you trying to do when this happened?

  `[0m[97m[41mTypeError[0m[90m:[0m[37m [0m[97mFailed exporting HTML for URL en/plan-your-garden (/app/janis/src/c[0m  [0m[97momponents/Pages/Service): Cannot read property 'url' of undefined[0m
[

[2020-02-18 23:20] desigonz commented on #3926
Assigned @ablangworthy27 to review the microcopy for publish error messaging. We need microcopy to message the fields an author needs to fill out in order for a page to publish. Full mocks live [here](https://share.goabstract.com/2217505d-e313-49b5-a420-2e889036bf8f).

- [ ] Page-level error messages
![image](https://user-images.githubusercontent.com/5839508/74786306-fac1ac00-5271-11ea-9049-b7ce9f

[2020-02-19 00:13] briaguya commented on #3920
## Acceptance criteria testing I've done
### Only administrators see and have access to this
1. Logged in to https://joplin-pr-3813-department-grou.herokuapp.com/admin/login/ as admin@austintexas.io
2. Navigated to my personal (brian.smith@austintexas.gov) user (https://joplin-pr-3813-department-grou.herokuapp.com/admin/users/10/) and unchecked administrator on the roles tab
3. Saved and logged ou

[2020-02-19 00:19] briaguya commented on #3813
## Acceptance criteria testing I've done
### Pages can be associated with department groups
1. Logged in to https://joplin-pr-3813-department-grou.herokuapp.com/admin/login/ as admin@austintexas.io
2. Navigated to the hidden departments as groups view (https://joplin-pr-3813-department-grou.herokuapp.com/admin/groups/)
3. Clicked on "Austin Public Health" (https://joplin-pr-3813-department-grou.he

[2020-02-19 00:35] briaguya commented on #3919
## Acceptance criteria testing I've done
### Only administrators see and have access to this
1. Logged in to https://joplin-pr-3813-department-grou.herokuapp.com/admin/login/ as admin@austintexas.io
2. Navigated to my personal (brian.smith@austintexas.gov) user (https://joplin-pr-3813-department-grou.herokuapp.com/admin/users/10/) and unchecked administrator on the roles tab
3. Saved and logged ou

[2020-02-19 00:36] briaguya commented on #3934
## Acceptance criteria testing I've done
### Pages are associated with appropriate department groups
1. Logged in to https://joplin-pr-3813-department-grou.herokuapp.com/admin/login/ as admin@austintexas.io
2. Navigated to the hidden departments as groups view (https://joplin-pr-3813-department-grou.herokuapp.com/admin/groups/)
3. Clicked on "Austin Public Health" (https://joplin-pr-3813-departmen

[2020-02-19 00:43] briaguya opened #3983 "Janis/Joplin API for department groups"
### As a [Joplin API consumer (Janis)] I want [to be able to build pages at the correct URLs and display the correct  based on department groups instead of department pages] so that [we don't need to manage multiple types of associations between departments/department pages/other pages in any given department].

**Is your feature request related to a problem? Please describe.**
When adding a page

[2020-02-19 03:29] chiaberry commented on #3817
ready to QA @desigonz and @chasechenevert

https://janis-3817-event-lists.netlify.com/events/

the linked up joplin
http://joplin-pr-3817-event-lists.herokuapp.com/

I translated "Registration Required" as "Registracion Requerido", Desi, does that sound right?

[2020-02-19 16:15] toribr commented on #3273
@Jo-Dwyer FYI, I seem to recall we've previously established that formstack isn't smart enough to prevent future dates. Probably Nick could answer for sure. This is a super irritating issue with all date pickers. We had the same issue with the OPO form (but used a different library so it's of no use to us now.)

The instructional text is tiny. That style should be accounted for with our theme, so

[2020-02-19 16:31] chiaberry commented on #3817
I moved some code out from the Official Documents (reusing the Pagination functions) so I'd appreciate some quick eyes on Official Documents to confirm no regression bugs.

[2020-02-19 16:49] ablangworthy27 commented on #3697
This has been drafted. I need a second pair of eyes to look it over. @srigdon @Jo-Dwyer

[2020-02-19 18:47] #3652 closed

[2020-02-19 18:52] chasechenevert commented on #3930
We discussed our sketches, and we'll likely discuss next steps in grooming and tomorrow.

[2020-02-19 18:52] #3930 closed

[2020-02-19 18:54] chasechenevert commented on #3944
- [Process / [Template] / Overview](https://docs.google.com/document/d/1yLPo8nQeQR8NZBkm4S7FOfb6KGfmdFuK3MPqZd4kV08/edit#heading=h.85y9kyo6v9om)
- [Process / [Template] / User experience and visual design research](https://docs.google.com/document/d/1_9yQd0knx8ERY1v4ix6l_BWoQmz6BPVl5ctX7Y1nwh4/edit#heading=h.n0lykgr25cof)

[2020-02-19 18:54] #3944 closed

[2020-02-19 19:11] #3962 closed

[2020-02-19 19:11] easherma commented on #3858
QA @ https://joplin-pr-3858-one-place-one-t.herokuapp.com/

[2020-02-19 19:12] chasechenevert commented on #3414
Closing this re: Abstract and XD changes. Will generate a new issue to reflect the state of things.

[2020-02-19 19:12] #3414 closed

[2020-02-19 19:13] Jo-Dwyer commented on #3697
@ablangworthy27 this looks good. I have just a few notes.

- [ ] I added a link to the service page entry
- [ ] "if your location is co-located with another place, or if it is located inside of a larger facility." I want to get more clarity about what co-locating means. Is it when we're co-locating a CoA service facility with non-CoA facilities in the same location? Some locations will have more t

[2020-02-19 19:14] desigonz commented on #3980
@srigdon How does having a content sketch by content pin-up on 2/25 sound? And can you size this?

[2020-02-19 19:14] #3927 closed

[2020-02-19 19:14] #3928 closed

[2020-02-19 19:16] #3918 closed

[2020-02-19 20:00] chasechenevert commented on #3817
@chiaberry excellent work! This is 99.99% there, the only thing I can see is:
- [ ] Event title: use the 500 (medium) weight

[2020-02-19 20:11] ablangworthy27 commented on #3926
@chasechenevert @toribr @desigonz I added notes to Abstract, but below is everything that wasn't featured there. Let me know if I missed anything!

**Info page**
A minimum of 1 topic, 1 related department, or a top-level page selection is required.
Page description is required.
Additional content is required.

**Department page**
Department description is required.

**Guide**
Guide description is

[2020-02-19 20:27] desigonz commented on #3817
- [ ] Lowercase "required" in `Registration required`
![image](https://user-images.githubusercontent.com/5839508/74873013-f5bd3500-5323-11ea-9f3b-7821f4acc289.png)

[2020-02-19 20:33] desigonz commented on #3817
Added one note about. @chasechenevert, can you confirm that the below has been dropped from the requirements? It's listed in acceptance criteria above but it's not in your mocks.
    - [ ] If there is no registration link in Joplin, display `Open to the public`
        - [ ] `en`
        - [ ] `es`: translate to `Abierto al público`

[2020-02-19 20:52] ablangworthy27 commented on #3697
Ok, I incorporated all these except the co-location one. I don't really know how best to clarify this because it hasn't really come up yet.

[2020-02-19 20:54] chasechenevert commented on #3817
That's correct! We're not displaying "Open to the public" just yet. I connected with @toribr to check my memory as well and that's what she remembers too. It's something we might want to do in the future, but we haven't thought through it enough yet.

[2020-02-19 20:59] ablangworthy27 opened #3984 "UX for assigning "Top-level page""
### As a content author I want the ability to select top-level page while also selecting topics and related departments, so that there is less confusion about publishing requirements.

**Is your feature request related to a problem? Please describe.**
I am writing the microcopy for error messaging, and I have realized that for info pages you are required to select a minimum of 1 topic, 1 related d

[2020-02-19 21:09] easherma opened #3985 "Support programmatic generation of all StreamFields"
In the process of https://github.com/cityofaustin/techstack/issues/3630 , we learned that generating test data for StreamFields is a bit more involved and nested StreamFields (which we use a lot )not supported out of the gate with wagtail_factories.

I got in contact with NHSUK, which had forked off their own version of wagtail_factories to add additional support. We're going to work together to m

[2020-02-19 21:12] easherma opened #3986 "Integrate pytest, pytest-django into testing process for Joplin"
### As a developer, I want to use pytest for Joplin to make it faster/easier to write new tests, and to make those tests more easily discoverable, so that we can write more tests as we work on features.

We've started writing some tests, which is good. Implementing pytest will make that easier, with less boilerplate.

Bonus goal/break into other issue: also add code coverage (like coverage.py), co

[2020-02-19 21:13] easherma opened #3987 "Integrate content type factories into our testing, CI"
With https://github.com/cityofaustin/techstack/issues/3630 , we have more and more factories to generate data.

But we don't use them in many (if any) tests at the moment.

Acceptance criteria for this:
The framework is set up and documentation and some example tests are committed. This issue isn't meant to cover adding all the tests needed to joplin, as that'l be a longer process.

[2020-02-19 21:20] easherma commented on #3987
https://github.com/cityofaustin/techstack/issues/3986 would make this simpler/easier/faster

[2020-02-19 21:43] desigonz opened #3988 ""What do I do with?" gets blocked by privacy plugins"
### As a user with a privacy plugin installed, I want to know when an embedded app won't load, so that I can choose to turn off my privacy plugin or open a link in a new window and be able to access the functionality.

If you're viewing alpha.austin.gov and have a privacy plugin installed on your browser, the "What do I do with?" app won't load. It looks like this:

![image](https://user-images.gi

[2020-02-19 21:44] easherma commented on #3984
( This is sorta tangential, but its also come up several times before that 'top-level' pages are so rare that it probably makes more sense to have a single spot in the admin where they are managed vs having this checkbox on every info page and would clear up this issue as well. )

[2020-02-19 21:46] desigonz commented on #3697
🙌 When y'all publish this, let me know, so I can make a dev issue to hook it up in Joplin.

[2020-02-19 21:58] briaguya commented on #3874
@desigonz giving this a 3, it might end up being smaller than that but I'm not sure.

[2020-02-19 22:01] desigonz opened #3989 "Publish requirements for events and locations"
When we started save/publish requirements stuff, events and locations weren't a thing yet. So let's implement the publish requirements for those!

- [x] Only thing required for **save** is the title
- [x] Location page matches requirements below
- [x] Event page matches requirements below

### Location page
| Field  | Required for publish? |
| ------------- | ------------- |
| Location physical ad

[2020-02-19 22:47] #3382 closed

[2020-02-19 22:52] desigonz opened #3990 "Reorganize overloaded topics—draft"
### As a user, I want to be able to easily navigate through the City's information architecture without getting overwhelmed by content, so that I can find the information I need.

We have a number of overloaded topics in which content is starting to get lost. Let's try our hand at reorganizing this content for the following topics:
- [ ] [Disease prevention](https://alpha.austin.gov/en/health-safe

[2020-02-19 22:52] desigonz commented on #3990
Can you size this issue?

[2020-02-19 22:56] desigonz opened #3991 "Reorganize "police oversight" topic content"
### As a user, I want to be able to easily navigate through the City's information architecture by subject matter, so that I can find the information I need.

Our theme/topic collection/topic information architecture is meant to get away from a department-based way of organizing things. But we inadvertently made a topic collection that's specific to OPO: https://alpha.austin.gov/en/health-safety/p

[2020-02-19 23:05] desigonz commented on #2775
Documenting some guide IA thoughts from @srigdon to tackle in the future:

[2020-02-19 23:09] desigonz opened #3992 ""Work in progress" messaging on IA pages"
### As a user who is looking for City content and lands on alpha.austin.gov IA pages, I want clear messaging saying that the website is a work in progress/not all content will be available, so that I know where to go to find the information I need right now.

Via the austin.gov feedback box, we received this feedback from someone on the [Business permits and licenses](https://alpha.austin.gov/en/p

[2020-02-19 23:21] desigonz opened #3993 ""This page is a part of this guide" button not consistently appearing"
# QA
PR: https://github.com/cityofaustin/janis/pull/706

## What was broken
The pattern of brokenness on alpha.austin.gov is:
* If [the page](https://alpha.austin.gov/en/permits-tickets/business-permits-and-licenses/food-business-permits/businesses-required-to-get-a-mobile-food-vendor-permit-2) is the [first within it's section of the guide](https://alpha.austin.gov/en/permits-tickets/business-per

[2020-02-20 00:18] easherma commented on #3985
Another option might be faking it more using: https://django-extensions.readthedocs.io/en/latest/dumpscript.html

I've looked at other test data generators like [this one](https://github.com/paulocheque/django-dynamic-fixture), but I'm not convinced they will magically work for StreamFields

[2020-02-20 01:43] easherma commented on #3993
![](https://media.giphy.com/media/vp122eOzO0Hxm/giphy.gif)

[2020-02-20 01:47] easherma commented on #3874
Stuff to use/steal/be inspired by: https://github.com/davidcondenl/wagtailuiplus#usage

[2020-02-20 01:53] easherma commented on #3155
Setting the order of the page chooser should be possible, thats a 2.

Making that order apply _only_ to the guide page chooser is a different story, so it might be good to clarify what kind of impact we desire across the board.

[2020-02-20 02:12] easherma commented on #3829
Easy ways to do this:

add a CSS classname  like 'required-publish' to all the FieldPanels/StreamFields that need it  and add some css
[code]
Cons:
tedious/labor intensive, dosen't update automatically if we no longer select a field to be required for publish

There's probably a way to link something like that up with the custom save/publish logic we have already (I'm not looking at the code, but

[2020-02-20 02:17] easherma commented on #2950
+ 1 to having a GlobalPage (or just renaming/aliasing HomePage) to manage footer links, especially if we want a history of changes to revert
We can have a button that represents that page wherever we want in the menu
Also, we don't expose this functionality atm, but pages can be locked for editing, so if we want tight control over footer stuff being changes we can let certain users edit and lock t

[2020-02-20 05:16] briaguya opened #3994 "Update custom publish requirements for department groups"
Since we no longer have related departments on pages, we should update our publish requirements so pages must have any of the following:
* An associated department group with an associated department page
* An associated topic
* Top level checked (for applicable page types)

This should be doable by creating a new custom requirement in publish_preflight/requirements.py, that looks at the GroupPage

[2020-02-20 13:35] briaguya commented on #3967
@chasechenevert @desigonz This is implemented here (https://janis-3967-form-fallback-styles.netlify.com/en/preview/form/UGFnZVJldmlzaW9uTm9kZToyNzc1) now.
* It's only desktop (is mobile MVP? I didn't see specs for it)
* It hasn't been localized

[2020-02-20 15:21] ablangworthy27 commented on #3697
@desigonz I published. It may change at some point when we know more, but it is live now.

[2020-02-20 15:21] #3697 closed

[2020-02-20 15:34] desigonz commented on #3697
Thanks @ablangworthy27! I'll make an issue for dev.

FYI it's appearing first in the "pick the perfect page type" nav, not sure if order matters

![image](https://user-images.githubusercontent.com/5839508/74950006-1e950700-53c4-11ea-9485-3b4ed8411173.png)

[2020-02-20 15:37] desigonz opened #3995 "Add location pages to the style guide tab"
### As a content editor I want the style guide panel in Joplin to display information relevant to the component/content type I am editing so that I can more efficiently find appropriate guidance.

- [x] When a user edits a location page, the style guide tab is open to [location page style guide content](https://cityofaustin.gitbook.io/digital-style-guide/pick-the-perfect-content-type/location-page

[2020-02-20 15:43] #3821 closed

[2020-02-20 15:45] desigonz opened #3996 "Get rid of deprecated location snippet stuff"
We have fully transitioned locations to the new location content type! Let's get rid of the old location snippet.

**Acceptance criteria**
- [x] User cannot access locations snippet from the left nav
- [x] When editing a contact, user does not see the option to select a **location snippet**
- [x] When editing a contact, user is still able to select a **location page**

![image](https://user-images

[2020-02-20 16:02] ablangworthy27 commented on #3882
- [ ] Follow up with missing perspectives
- [ ] Follow up on any remaining confusion
- [ ] Incorporate edits into word doc
- [ ] Incorporate edits into Joplin

[2020-02-20 16:04] ablangworthy27 opened #3997 "Internal review of pools guide"
Once I have incorporated any edits from EHOs and customer service team at EHS, I will need an internal review

[2020-02-20 16:05] Jo-Dwyer opened #3998 "Draft a service page for the Driver safety request"
When a defendant pleads "no contest" to a traffic violation, they may waive their right to a trial and  request a driver safety course to dismiss the charges. Currently information about this is embedded in a [pdf form](http://www.austintexas.gov/sites/default/files/files/Municipal_Court/DeferredDisposition_Driver_Safety_Course.pdf) to be printed and filled out and then submitted by mail, in perso

[2020-02-20 16:06] Jo-Dwyer commented on #3277
New issue: #3998

[2020-02-20 16:06] #3277 closed

[2020-02-20 16:17] Jo-Dwyer opened #3999 "Draft a service page for filing a citizen complaint"
When a resident wants to file a complanit against another person, it must be delivered in person and signed by a court clerk *or* notarized and submitted by mail. There are three kinds of compaints with similar requiremnts and separate forms.

The service page should outline the complaint process then break out the forms in a step with options. Link to the original PDFs as documents hosted on Jani

[2020-02-20 16:18] Jo-Dwyer commented on #3271
Use of the word citizen here is a policy issue and will be passed on to the Policy Lab. PDFs are being used as-is and are carried forward in issue #3999.

[2020-02-20 16:18] #3271 closed

[2020-02-20 16:22] desigonz opened #4000 "Implement error states for save/publish requirements"
### As a Joplin user, I want to be able to save a page without filling out the required fields but not be able to publish it without the required fields, so that I can confidently publish my content.
### As a Joplin user, I want the messaging for what's required for published to be clear, so that drafting and publishing is not a frustrating experience.

[Mocks](https://app.abstract.com/share/e75c4

[2020-02-20 16:23] desigonz commented on #3926
Logged in issue #4000 and wow that's a big number. Closing this one

[2020-02-20 16:23] #3926 closed

[2020-02-20 16:26] briaguya commented on #3975
@chasechenevert @desigonz just verifying we want the description **and** the location buttons in the step to be the same width as the second step

[2020-02-20 16:27] briaguya commented on #3826
made this a 3 because we might have some kinda wonky css in there

[2020-02-20 16:32] srigdon commented on #3980
@desigonz Can do, let's get this hammered out early in the sprint.

[2020-02-20 16:38] toribr opened #4001 "Joplin Smol label fix on event page - "Long description" to "Description""
At one time we had two description fields for events and then we got rid of one, but the label didn't get changed. Blame me!

Change "Long description" to just "Description".

[2020-02-20 17:47] briaguya commented on #3899
@desigonz

options:
* Remove top level for service pages: probably a 3
* Fix contextualnav on service pages to support top level service pages: probably a 1 or a 2

[2020-02-20 17:58] briaguya commented on #3993
gut feeling is something is happening with `getPagesOfGuidesData` in our static.config.js, lots of places to look/test with this so I'm giving it a 5

[2020-02-20 18:52] toribr opened #4002 "Joplin publishing and time to *live*"
Post pin-up:
- [ ] Decide objective of test
- [ ] Write test
- [ ] Create prototype to support test

[2020-02-20 20:31] Jo-Dwyer commented on #3273
@toribr the court staff are currently equipped (and in the habit) to follow up by phone or email if they need more info to look up the court case.

re: size The style and size of the instructional text is controlled within the formstack text editor, so I bumped it up to size 18 where possible. It is easier to read, but it's not clear at the outset that I need to do this as an editor in formstack.

[2020-02-20 20:40] #3965 closed

[2020-02-20 20:41] robbobfrh84 opened #4003 "Joplin UI: Pages / Search Page"
# Joplin UI: *Pages / Search Page*

"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Pages / Search Page** interface." - A City Author

This is a broken out sub-section of the Joplin UI re-design.

- See Zenhub Epic: https://app.zenhub.com/workspaces/techstack-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/29

[2020-02-20 20:46] easherma opened #4004 "Collapsible sections in joplin stopped working"
Not sure exactly when this happened, but previously you could mark a FieldPanel as 'collapsible' in css and it could be toggled off and on. This dosen't work anymore, likely a quirk of either our editor.js or template overrides.

Ideally we'd restore base functionality so we can continue to re-use it as a pattern and maintain compatibility with wagtail

[2020-02-20 20:47] robbobfrh84 opened #4005 "Joplin UI: Login Page, Footer & Pagination"
# Joplin UI: *Login Page, Footer & Pagination*

"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Login Page, Footer & Pagination** interface." - A City Author

This is a broken out section of the Joplin UI re-design.

#### Acceptance Criteria
- [ ] matches styles from XD Design 👇
  - Login Page: https://xd.adobe.com/

[2020-02-20 20:56] robbobfrh84 opened #4006 "Joplin UI: Edit Service Page"
"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Edit Service Page** interface." - A City Author

This is a broken out section of the Joplin UI re-design.

#### Acceptance Criteria
- [ ] matches styles from XD Design 👇
  - https://xd.adobe.com/view/c533a077-9314-46a6-5db4-d4a7f8601e8f-b302/screen/53026787-cb85-40fe-a

[2020-02-20 21:01] robbobfrh84 opened #4007 "Joplin UI: Snippet headers & Account Settings"
"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Snippet headers & Account Settings** interface." - A City Author

This is a broken out section of the Joplin UI re-design.

#### Acceptance Criteria
- [ ] Matches styles from XD Design 👇
  - https://xd.adobe.com/view/c533a077-9314-46a6-5db4-d4a7f8601e8f-b302/screen/ddc

[2020-02-20 21:05] robbobfrh84 opened #4008 "Joplin UI: Create content model & Contact modal"
"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Create content model & Contact modal** interface." - A City Author

This is a broken out section of the Joplin UI re-design.

#### Acceptance Criteria
- [ ] Matches styles from XD Design 👇
  - !
- [ ] Matches CSS for Themes and Colors from Google doc 👇 "Phase 1 accepta

[2020-02-20 21:05] desigonz opened #4009 "Transfer content type process/workflow to Miro"

[2020-02-20 21:07] desigonz opened #4010 "Present ATXN ideas at inventory pin-up"

[2020-02-20 21:16] robbobfrh84 opened #4011 "Staging VS Prod - how do we differentiate"
"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand if I am working **staging** or **production**." - A City Author

Our new Joplin UI designs have yet to handle a visual signal that allows an author to easily differentiate if they are working with staging or production.

#### Technical Acceptance Criteria
- [ ] Theme handlin

[2020-02-20 21:16] #3937 closed

[2020-02-20 21:21] desigonz opened #4012 "Municipal Court content outline/IA"
By end of sprint, will have:
- [ ] a high-level outline of all Municipal Court content for MVP transition
- [ ] resulting issues with actionable content

[2020-02-20 21:26] desigonz opened #4013 "Review content strategist applications and schedule phone screens"
At content sync, discuss applications and select who to move forward and who will interview.

[2020-02-20 21:29] desigonz opened #4014 "Phone screens for content strategists"

[2020-02-20 21:33] srigdon opened #4015 "Civiqueso planning meeting #2"
@sarafperalta and I will be discussing a Civiqueso editorial strategy!
- [x] Send Sara documents
- [x] Schedule meeting
- [x] talk about #3150

[2020-02-20 21:38] #3938 closed

[2020-02-20 21:48] desigonz commented on #3922
@robbobfrh84 to create an issue for what he's working on right now and assign to sprint 51, then close this issue

[2020-02-20 21:52] desigonz commented on #3755
Ability to measure

[2020-02-20 21:58] #3986 closed

[2020-02-20 21:58] robbobfrh84 opened #4016 "Joplin UI: Application Banner & Primary Navigation"
"As a city author, I need the authoring experience to have a logical visual hierarchy so that I am better able to understand the **Application Banner & Primary Navigation** interface." - A City Author

This is a broken out section of the Joplin UI re-design.

#### Acceptance Criteria
- [ ] Matches styles from XD Design 👇
  - https://xd.adobe.com/view/c533a077-9314-46a6-5db4-d4a7f8601e8f-b302/
- [

[2020-02-20 22:00] desigonz opened #4017 "Scope MVP for departmental permissions and get through QA"

[2020-02-20 22:12] desigonz commented on #3996
Technical acceptance criteria:
- [ ] Just get rid of all the location snippet stuff

[2020-02-20 22:13] desigonz opened #4018 "Breaking down #4000 into separate issues"
We'll review at Monday's dev sync.

[2020-02-21 15:21] chiaberry commented on #3817
@desigonz , I capitalized the months, lowercased required and fixed the weight of the event list.

Since I merged the joplin side of things, i had to switch over to staging which means I lost a lot of my test data, just FYI thats why the events are different

[2020-02-21 16:08] robbobfrh84 commented on #3775
I can see that https://cityofaustin.formstack.com/forms/dg_test behaves as expected. However, i can't seem to locate this example on the formstack.com side of things?

[2020-02-21 17:44] ablangworthy27 commented on #3999
I have a [draft ](https://docs.google.com/document/d/1GcKzXLl7D2H6nWSTVy1QQQfmhMSyZsHslk8eEX04OWc/edit)ready for review. @srigdon @Jo-Dwyer

I also created a contact snippet and location page for Downtown Austin Community Court, because it was the only location option that wasn't already set up.

Once I get a review, I will draft in Joplin.

[2020-02-21 18:49] chiaberry commented on #3818
https://janis-3818-event-home.netlify.com/

@desigonz @chasechenevert ready for QA -- if an event is cancelled, does it still show up on the homepage?

[2020-02-21 21:56] Jo-Dwyer commented on #3058
@desigonz I'm closing this!

[2020-02-21 21:56] #3058 closed

[2020-02-21 22:44] Jo-Dwyer opened #4019 "Handle locations in step with options"
As a Joplin user, I want to embed multiple locations within a step with options to give residents information about multiple places to access a service.

As a content strategist, I want to present services with multiple locations in a uniform way across all pages so that users of Janis can predict where to find information on the website.

Services with multiple access methods often include one or

[2020-02-21 22:46] Jo-Dwyer commented on #3999
- citizens complaints must be notarized or filled out in the court (no email or phone)
- this form must be notarized (printed) or in person sworn by clerk

Might be good to include info redirecting to OPO form since people sometimes confuse them.

"were you looking for OPO/ complaint against officer?"

[2020-02-21 22:47] srigdon opened #4020 "Publish Spanish translations for Jan. 23 batch of OPO official documents"
Translation doc: https://drive.google.com/drive/folders/1ShA1_PXzvrdCt06AYy3OFcEOiQ3_-qkk

[2020-02-22 00:43] Jo-Dwyer commented on #2977
I'm not sure that this needs to stay open, but this is worth considering.

[2020-02-22 14:46] chiaberry commented on #3921
The link is only the word, so if you click the button but not exactly on the word, it does nothing.
Do you think on the first click it was outside of the text, but the second click was on the text? If i keep clicking outside of the text (but on the button) it does nothing until I click the text.

The fix is to make the link go the width of the whole button.

[2020-02-24 15:06] ablangworthy27 opened #4021 "Content pin-up 2/25/2020"
Previous pin-up [#3693](https://github.com/cityofaustin/techstack/issues/3963)

### 1. Approve agenda

### 2. Action items from Design pin-up or Desi cc/ @toribr @chasechenevert @desigonz

- Accessibility presentation from @anukandimalla (30 mins)

### 3. Workshopping (style issues, etc...)
- [CPRC content sketch](https://docs.google.com/document/d/1GCEpQNQflrcbpizBZzzRQ5BII1S9kKDkJhvkFnlOGnc/edit

[2020-02-24 15:34] Jo-Dwyer opened #4022 "what content type has a link to my location for a service?"
## Describe the bug
As a resident accessing a service, I expect to find an address that links to a map at some point while I'm figuring out how to access a service.

## URL

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Current behavior
A clear and concise description of what happened

## Expected behavior
A cle

[2020-02-24 15:46] chasechenevert commented on #3818
Based on some stuff we decided awhile back we're going to hide events that are cancelled on the homepage.

[2020-02-24 15:47] chiaberry commented on #3818
thank you, ill update the code to remove canceled events

[2020-02-24 15:49] ablangworthy27 commented on #3998
I have a [google docs draft](https://docs.google.com/document/d/1Gw2y-AcKmRsANZM4xN18Y1MneBuJ56JefHqx2f7rKhI/edit) done. There are a couple of holes in information that @Jo-Dwyer is looking into with her SME.  But, I think a review could be done without that info.

[2020-02-24 15:55] chiaberry commented on #4001
https://joplin-pr-4001-description-lab.herokuapp.com/admin/pages/362/edit/#tab-content

@desigonz @toribr no longer says long description!

It does say "full description of the event" below, let me know if that copy needs to be changed as well.

[2020-02-24 16:14] robbobfrh84 opened #4023 "Incorrect Joplin search results"
### When searching for pages, the results shown aren't always accurate.

## To Reproduce
- Go to http://joplin-staging.herokuapp.com/admin/pages/search/?q=test%20page
- the results should look something like this 👇
<img width="684" alt="Screen Shot 2020-02-24 at 9 48 59 AM" src="https://user-images.githubusercontent.com/15821138/75168614-ce33e700-56ec-11ea-87d4-636e255a2ff9.png">

## Additional co

[2020-02-24 16:26] robbobfrh84 commented on #4023
I'm yet clear on how we handle our searches within Joplin. Although, I wanted to share a thought I had about a different way to handle our Joplin searches.

What if we just implemented a basic string filter for the client-side?
- Like, create an array of the titles (The client already has everything related to the search and results)
- Then, just filter out and update results on keypress.
- Also,

[2020-02-24 17:13] easherma commented on #4023
I would reach out to the Wagtail community and docs on slack and/or dig
into their code a bit to learn more about how search works before building
our own solution on top of what is already there. Otherwise we’re bypassing
a bunch of existing functionality that we could be benefiting from

On Mon, Feb 24, 2020 at 10:26 AM Bob Main <notifications@github.com> wrote:

--
Eric Sherman
224-402-0004

[2020-02-24 19:33] desigonz commented on #3874
Thanks @briaguya! This looks great to me for MVP. @toribr, assigning you to take a look.

@briaguya Any chance any regressions might be introduced? Do we need/want to test what this means for Janis?

[2020-02-24 19:35] desigonz commented on #3858
That's pretty cool. Thanks for the great work @easherma! QA passed.

[2020-02-24 19:39] desigonz commented on #3818
@chiaberry Can you add a Joplin link for testing? I want to add events and see how that affects homepage display.

[2020-02-24 19:40] desigonz commented on #4001
QA passed!

[2020-02-24 19:42] toribr commented on #3874
I think that's workable for now. <soapbox>I'm still going to advocate for a radio button as this method obscures content and choices, which is bad for usability. Users understand things better when they have a comparison, so hiding the fee table is not ideal. </soapbox>

[2020-02-24 19:48] desigonz commented on #3874
Sounds good. We have the radio button in the backlog, so for MVP, QA has passed.

[2020-02-24 19:51] easherma commented on #4000
https://joplin-pr-async-and-pool.herokuapp.com/admin/login/ Can be tested here

[2020-02-24 19:52] easherma commented on #3765
Can be tested at: https://joplin-pr-async-and-pool.herokuapp.com/admin/login/

[2020-02-24 20:19] chiaberry commented on #3818
here is the joplin link: https://joplin-pr-3818-event-home.herokuapp.com/admin/pages/search/

[2020-02-24 22:15] briaguya commented on #3755
notes from testing:
### Things I've tried
* Making 1100+ location pages
  * When I did this, I was able to complete builds one at a time without any errors
* Running multiple builds at once (just a bunch of terminal tabs running build-full.sh)
  * This seems to cause build failures left and right
  * Even when I set the prefetchRate to 1 (which does slow down the build) it didn't lead to any fewer

[2020-02-24 22:29] chiaberry commented on #3818
I merged the joplin branch, forgetting that means the heroku app is deleted. so heres a new one: https://joplin-pr-3818-event-home2.herokuapp.com/

its building right now but will be ready in a few minutes

[2020-02-24 22:57] #3379 closed

[2020-02-24 23:02] chiaberry commented on #3977
for QA https://joplin-pr-3977-snippet-labels.herokuapp.com/admin/snippets/base/contact/1/ for

[2020-02-24 23:10] easherma opened #4024 "Publish pre-flight: page-level error message handling"
### As an author, if there are errors for content when publishing a page I want a summary of those errors at the top so I know what the problem was and can go looking for details.

See [Mocks](https://app.abstract.com/share/e75c484e-cf36-48d6-9f1d-e4c6338f1cee?mode=design&sha=a02a5e5554ce45040316079b975ec46d0b8ee39b)

- [ ] Page-level error messaging
  - [ ] Design: Style matches mocks
    - [ ] A

[2020-02-24 23:20] easherma commented on #3828
Per @Niicck we removed this functionality, so we don't need to solve for this scenario anymore.

[2020-02-24 23:20] #3828 closed

[2020-02-24 23:23] easherma opened #4025 "Publish pre-flight: field/component errors match spec"
### As an author I want field errors to easily stick out on a page and give me specific information about the error so I can resolve it.
#### Describe the solution you'd like:
- [ ] Component-level error messaging
  - [ ] Design: Style matches mocks
  - [ ] Content: [use this copy](https://github.com/cityofaustin/techstack/issues/3926#issuecomment-588425223)
#### Acceptance Criteria
- [ ] The styl

[2020-02-24 23:27] Jo-Dwyer opened #4026 "Revision history isn't opening or responding"
I searched for a page, tried to view revision history. The link in the "more" dropdown changes color on hover but doesn't open the revisions page.

https://joplin.herokuapp.com/admin/pages/search/?q=get%20rent

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to ['Pages'](https://joplin.herokuapp.com/admin/pages/search/)
2. Search for "get rent" (that's what I searched)
3. Click on '

[2020-02-24 23:28] Jo-Dwyer opened #4027 "never-before-published page has a "live-type address"
The draft info page ["Rent and utility help at neighborhood centers"](https://alpha.austin.gov/en/housing-utilities/pay-utility-bills-and-rent/get-help-paying-bills/neighborhood-centers-help-you-pay-rent-and-utilities-2/) has been replaced with the live service page ["Get help with rent and utility payments"](https://alpha.austin.gov/en/housing-utilities/pay-utility-bills-and-rent/get-help-paying-

[2020-02-24 23:30] easherma commented on #4026
I was able to replicate this, it only happens specifically if you type from scratch and then try to select revisions. You can get it to work by pressing enter after you're done typing (not saying thats ideal, just a fact)

[2020-02-24 23:33] easherma opened #4028 "Publish preflight: Behavior can be tested and works as expected"
### As a [user type] I want [capability] so that [benefit].
- [ ] Behavior should remain roughly as it currently is
  - [ ] If user clicks "save as draft" and has at least the title filled out, then no error messaging is returned.
  - [ ] If user clicks "publish" and some required fields are missing, then page with page-level error message and component-level error messages/design for each require

[2020-02-25 00:00] easherma commented on #4000
Split into #4024, #4025, #4028 #3829

[2020-02-25 03:15] briaguya commented on #3874
@desigonz this doesn't change anything that's exposed to Janis, it's just hiding things in the Joplin UI.

 The logic in Janis (https://github.com/cityofaustin/janis/blob/e9aa0b5a8efce97be40f900fed3b13e80ecd85e9/src/components/Pages/Event/EventDetailCard/EventDetailFees.js#L22) is to **only** show fees if we do **not** have "event is free" checked, so even if there are fees still saved on the even

[2020-02-25 05:05] briaguya commented on #3755
@Niicck @easherma I decided to also test running 6 builds at a time against https://joplin-pr-async-and-pool.herokuapp.com/

There was still one failure but 5 out of 6 succeeded as opposed to building against staging where 5 out of 6 failed.

[2020-02-25 15:32] robbobfrh84 commented on #3922
@desi, After sprint planning, i think we said this was close-able? ? -> Due to my current work is related to https://github.com/cityofaustin/techstack/issues/4016

[2020-02-25 16:05] desigonz opened #4029 "Dev-design sync 2/25/20"
- [x] https://github.com/cityofaustin/techstack/issues/3975
- [x] review issue #4000 split
- [x] #3916 "View live" UX
- [x] does preview have to save?

[2020-02-25 17:46] #3851 closed

[2020-02-25 18:06] easherma commented on #4028
We have some unit tests for the publish preflight, we might need to refine them or add to them to make sure the above cases are covered.

For full coverage, we'd likely want to do a systems-level test and actually simulate the user behavior:
https://docs.djangoproject.com/en/3.0/topics/testing/tools/#making-requests

Example with Selenium:
https://docs.djangoproject.com/en/3.0/topics/testing/tools

[2020-02-25 18:08] easherma commented on #4025
This shouldn't be a bad lift, provided #4024 is done (part of that issue will be ironing out how we want to handle messaging in general and may involve changes to this issue)

[2020-02-25 18:10] toribr opened #4030 "Write a test plan and make a prototype for publishing and author expectations #3962"

[2020-02-25 18:13] #3945 closed

[2020-02-25 18:29] Jo-Dwyer opened #4031 "Municourt has multiple locations but only one shows up on the dept page"
As a resident, I want to see all the location associated with a dept when I visit that dept's page so that
Municipal Court services are all offered at one of just three locations, but only one of those locations is visible from the department page.

https://alpha.austin.gov/en/municipal-court/

## Current behavior
Since the contact page only holds one location page, I can't assign multiple Municip

[2020-02-25 18:37] easherma commented on #4024
This might need to get fleshed out between dev & design, but it sounds like we want to introduce some combination of using Wagtail messaging combined with our own custom message middleware:
https://docs.djangoproject.com/en/3.0/ref/contrib/messages/

[2020-02-25 18:38] easherma commented on #4000
And copied user stories back into #2767

[2020-02-25 18:38] #4000 closed

[2020-02-25 18:39] easherma commented on #4018
Split up #4000, added as epics to #2767

[2020-02-25 18:39] #4018 closed

[2020-02-25 18:42] #3915 closed

[2020-02-25 18:47] easherma commented on #3754
Also/additional to the above, we could try migrating to a different service from gunicorn entirely, there are some promising ones on this list in terms of performance:
https://www.appdynamics.com/blog/engineering/a-performance-analysis-of-python-wsgi-servers-part-2/

[2020-02-25 19:41] chasechenevert commented on #3826
This looks good, @briaguya. I'm seeing the nesting that I'm expecting the `ul`, and I don't see the overflow in any of the responsive sizes 👍

[2020-02-25 19:48] chasechenevert commented on #3975
Yep, that's right

[2020-02-25 19:58] desigonz commented on #3975
Looks great, but let's wait for @chasechenevert's sign off.

[2020-02-25 19:59] desigonz commented on #3826
yay!!! qa passed.

[2020-02-25 20:07] desigonz commented on #3947
One positive side effect I'm already seeing is that the global nav order matches that of the meganav!!!
![image](https://user-images.githubusercontent.com/5839508/75283245-111eb900-57d8-11ea-96a7-98ec81c91147.png)

@briaguya How else should we QA or test for regressions?

[2020-02-25 20:08] desigonz commented on #3874
Sounds good!

[2020-02-25 20:11] desigonz commented on #3977
What a dream! QA passed

[2020-02-25 20:37] chasechenevert commented on #3975
Looks good to me! 🚀

[2020-02-25 20:46] easherma commented on #4029
Minor design issues with #4024, #4025, #4028 #3829

[2020-02-25 20:47] desigonz commented on #3975
@chasechenevert to specify `line-spacing`, then we'll implement, then QA will be complete

[2020-02-25 20:51] easherma commented on #4024
Use wagtail messaging according to mocks.

[2020-02-25 20:54] easherma commented on #3829
Notes from dev-design sync:
   * Can we group the fields better and add an asterisk to that?

[2020-02-25 20:55] desigonz commented on #3829
- [ ] Only use for issues that are specifically required (not the conditional logic requirements, like IA—department OR topic, etc)

[2020-02-25 20:57] easherma commented on #4025
Gonna shoot for using the material icon first.

[2020-02-25 21:17] chiaberry commented on #3896
for QA: https://janis-3896-localizacion.netlify.com/es/municipal-court
https://janis-3896-localizacion.netlify.com/es/event/2020/3/2/create-an-event-in-staging/

[2020-02-25 22:11] desigonz commented on #3818
Hi @chiaberry! Awesome work. I'm going to go down the acceptance criteria list using various combos of test data, but @chasechenevert, please review the designs at mobile/tablet/desktop sizes. I'm noticing some funny things happening on tablet and mobile sizes
![image](https://user-images.githubusercontent.com/5839508/75292072-1cc6ab80-57e9-11ea-9ae5-e92fd838bcc2.png)
![image](https://user-images.

[2020-02-25 22:12] briaguya commented on #3874
@desigonz this is working on staging now

[2020-02-25 22:17] briaguya commented on #3974
@desigonz @toribr want to clarify here, do we want:
* Sorting by date/time of last draft saved?
  * May be annoying with the current "need to save to preview" flow

OR
* Sorting by date/time of last publish?

[2020-02-25 22:26] briaguya commented on #3826
@desigonz this is live in staging now https://janis.austintexas.io/en/preview/services/UGFnZVJldmlzaW9uTm9kZTozMDIw (open the top option that says "test")

[2020-02-25 22:26] briaguya commented on #3947
@desigonz live on staging (we can tell because the order matches!)

[2020-02-25 22:30] desigonz commented on #3818
Okay all of the different data combos look good. I think it's a matter of mobile and tablet views, which @chasechenevert can comment on. I'm going to unassign myself from this for now!

[2020-02-25 22:52] briaguya commented on #3959
## Before
### Collapsed Desktop
<img width="1205" alt="Screen Shot 2020-02-25 at 4 36 32 PM" src="https://user-images.githubusercontent.com/6384156/75294269-93fe3e80-57ed-11ea-9a6b-454896d7815b.png">

### Expanded Desktop
<img width="1210" alt="Screen Shot 2020-02-25 at 4 36 45 PM" src="https://user-images.githubusercontent.com/6384156/75294281-9a8cb600-57ed-11ea-8bd1-9e7f39791579.png">

### Colla

[2020-02-25 22:56] briaguya commented on #3959
@desigonz @chasechenevert I was hoping to get some feedback on if it's ok to clear off the footer padding for pages without feedback components (getting rid of it was the quickest way to remove some odd looking whitespace between the feedback component and the footer)

examples above, links:
Homepage (with feedback component): https://janis-3959-feedback-width.netlify.com/
OPO page (without feedba

[2020-02-25 23:00] robbobfrh84 commented on #3775
Ready for QA @desigonz

PR:
https://github.com/cityofaustin/formstack-alpha-theme/pull/6

## To Test

Visit test url: https://cityofaustin.formstack.com/forms/bob_s_simple_form

- Click [save and resume later]
- enter email ignore@igore.com
- did you see a confirmation message - small as it may be?

NOTE: this definitely needs to be styles ;) -> font is super small.

[2020-02-26 00:06] desigonz commented on #3818
One last thing for @chiaberry and this might need more testing: I [unpublished all of the events on the Joplin side](https://joplin-pr-3818-event-home2.herokuapp.com/admin/pages/search/?q=&content_type=events.eventpage), but they still all appear on the [homepage](https://janis-3818-event-home.netlify.com/). Thoughts on what might be going on?

[2020-02-26 01:00] desigonz commented on #3781
@briaguya you more or less already did this!

[2020-02-26 01:13] desigonz commented on #3757
Looks great to me, but will let @chasechenevert do the final pass.

And for some reason I don't have abstract access right now, so for this question, I defer to @chasechenevert!

[2020-02-26 01:16] desigonz commented on #3775
It emerges!!!! Looks great, QA passed.

P.S. @chasechenevert is working on style in #3686 so we'll have that soon too :)

[2020-02-26 01:17] desigonz commented on #3959
I defer to @chasechenevert on this!

[2020-02-26 01:17] desigonz commented on #3947
yay!!! can we get it in prod?

[2020-02-26 01:18] desigonz commented on #3826
double yay!

[2020-02-26 01:20] desigonz commented on #3974
Last saved is what we used to have, I believe. @toribr can you confirm?

[2020-02-26 01:23] desigonz commented on #3896
Looks great! qa passed.

[2020-02-26 01:26] desigonz commented on #3922
yep! closing now

[2020-02-26 01:26] #3922 closed

[2020-02-26 01:32] desigonz commented on #3765
I'm guessing @briaguya's doing the testing here? Need anything from me or others on the team to move forward on this?

[2020-02-26 01:48] desigonz opened #4032 "Forms description area style"
### As a form creator, I want to be able to add a text block within a form without having to worry about how it will style, so all forms can have consistent style.

Formstack has the affordance to add a "description area", which gives users A LOT of control over text display, including text size, color, etc. The default text size displays really small within our forms (see the conversation [here](

[2020-02-26 01:48] desigonz commented on #3273
Made issue #4032 for the text style.

[2020-02-26 06:54] briaguya commented on #3961
@chasechenevert I have this implemented here: https://janis-3961-label-size.netlify.com/en/health-safety/health-prevention/disease-prevention/find-free-condoms/ (as well as https://github.com/cityofaustin/techstack/issues/3959)

I couldn't find an example of the full mobile footer on abstract so I was hoping to use this as a chance to figure out what exactly we're going for with it

[2020-02-26 13:35] robbobfrh84 commented on #3686
This PR 👇, which, @Niicck  and I worked on, will be very relevant to this. And, hopefully prevent potential headaches getting this to work properly.
- https://github.com/cityofaustin/formstack-alpha-theme/pull/6

[2020-02-26 14:04] toribr commented on #3974
@desigonz Not sure what you mean by "used to have" but between 'last saved' and 'last published' I think 'last saved' makes more sense.

[2020-02-26 14:46] desigonz commented on #3974
Agreed with "last saved." This was the behavior before we switched to the search home page.

[2020-02-26 15:12] Niicck opened #4035 "Publisher Queue Architecture"
Architecture Ideas:
We can create a dynamically updating publishing queuing app with all the information we want. I'd estimate a sprint and change to do any of the first 3 options.
- [ ] [Writing to json file in an S3 Bucket](https://aws.amazon.com/blogs/startups/building-dynamic-dashboards-using-lambda-and-dynamodb-streams-part-1/)
- [ ] Writing to google sheets (Bob)
- [ ] [Dynamically recreatin

[2020-02-26 15:19] #3831 closed

[2020-02-26 15:56] easherma commented on #4035
I think creating a Django app inside of Joplin would be a quick and easy route to success for MVP.

We’ll have handle sending the publish signal in joplin, that can be a message that gets stored in the DB and then handled for how it gets added to a queue.

The publisher is going to need to message out for some kind of status (building, in progress, done) which we could set up an endpoint in joplin

[2020-02-26 16:34] #3971 closed

[2020-02-26 16:39] Jo-Dwyer opened #4036 "Get a birth or death certificate: fix location in step with options"
['Get a birth or death certificate'](https://alpha.austin.gov/en/health-safety/health-records-certificates-2/birth-death-certificates/birth-and-death-certificates-test/)

**Have you documented this via the author notes field in Joplin?**
- [x] Yes!
- [ ] No, but I'll do it now

**Describe the content debt.**
Right now we can't use location page snippets in a step with options. Update this page onc

[2020-02-26 16:41] Jo-Dwyer opened #4037 "Hire a day laborer: location in step with options"
['Hire a day laborer'](https://alpha.austin.gov/en/government-business/business-resources-3/workforce-development-and-hiring/hire-a-day-laborer/)

**Have you documented this via the author notes field in Joplin?**
- [x] Yes!
- [ ] No, but I'll do it now

**Describe the content debt.**
Right now we can't use location page snippets in a step with options. Update this page once we have a solution for

[2020-02-26 16:43] Jo-Dwyer commented on #4037
I'm going to make one issues with all the locations snippets pages.

[2020-02-26 16:44] #4037 closed

[2020-02-26 17:33] chasechenevert opened #4038 "Form fallback message: mobile spec"
- [x] Add mobile spec and merge to `Master` https://share.goabstract.com/5d25a60b-a8de-4718-90f8-fcf39c958332?sha=bb0ccf0a21f9b6e0bb1d196c79d2c7159d64e8dc
- [ ] Alert Brian

[2020-02-26 17:35] chase-vert opened #4039 "Review contact component in Abstract"
Brian noticed some inconsistencies in the spec we have up in Abstract, so I'll make a branch and get some changes up.

- [ ] Review spec and match what's implemented
- [ ] Alert Brian

[2020-02-26 17:45] ablangworthy27 commented on #4013
As discussed yesterday in sync, these are the candidates that I like so far.  New ones are being submitted still, so I turned on notifications. Mary Ellen is a new candidate that I am adding to my list of possible phone screens.

Mary Ellen McCarthy
Monica Rojas
Gabriela Perez
Inara Fernandez
Marcela Reyes Ayala
and possibly Michelle Hulme-Lippert

[2020-02-26 19:07] easherma commented on #3765
I fully tested this in January, Brian has now also tested it using the same method, I don't think there's really anything else to do but merge it to staging and test it there at this point.

This is kind of a separate issue, but what might help is fleshing out general acceptance criteria for measuring build performance, what indicators we are looking for and want to test, and how to note and docum

[2020-02-26 19:09] easherma commented on #3765
I fully tested this in January, Brian has now also tested it using the same method, I don't think there's really anything else to do but merge it to staging and test it there at this point.

This is kind of a separate issue, but what might help is fleshing out general acceptance criteria for measuring build performance, what indicators we are looking for and want to test, and how to note and docum

[2020-02-26 19:24] desigonz commented on #3765
Okay, I've assigned Nick to determine what acceptance criteria/done means here. Happy to work through this with you, but I think you have a better grasp on this than I do.

[2020-02-26 19:29] Jo-Dwyer commented on #3589
@srigdon or @ablangworthy27 can you review this page before I publish?

[2020-02-26 19:43] Jo-Dwyer opened #4040 "'Privacy policy' opens to weird parts of the page"
## Describe the bug
When I scroll to the bottom of the ausitn.gov homepage (or any page on it) and click the link for the privacy policy it opens to the middle or bottom of the page with no apparent reason.

https://alpha.austin.gov/en/privacy-policy/

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to 'https://alpha.austin.gov/'
2. Scroll to the bottom
3. Click on 'privacy policy'

[2020-02-26 21:18] ablangworthy27 commented on #3589
I'll do this now @Jo-Dwyer @srigdon

[2020-02-26 21:30] ablangworthy27 commented on #3589
- Step 1 is a bit confusing to me. You've attached a location and included a phone number without context of what the phone number is. The number doesn't match the number on the location, so I think there needs more context. I don't know the exact details but maybe something like:

_Call (512) 972-5580 for the appointment line at the Rebekah Baines Johnson Health Center._

- For Step 1, you should

[2020-02-26 22:20] chiaberry commented on #3818
@desigonz okay! now that heroku is cooperating, I've pushed up a fix that makes it so *no* unpublished page slips into the site structure. this should fix not only events, but also locations and all other content types.

[2020-02-26 22:42] Jo-Dwyer commented on #3999
This looks awesome. Draft away.

[2020-02-26 22:45] desigonz commented on #3818
Neat!! Can I test at the same Joplin/Janis links?

[2020-02-26 22:51] desigonz commented on #3921
Thanks @chiaberry! Putting this one on deck.

[2020-02-26 22:55] chiaberry commented on #3818
yes!

[2020-02-26 23:01] desigonz opened #4041 "Translate privacy fallback message"
- [x] Send out for translation
- [ ] When we receive the translate, make a dev issue `localize privacy fallback` to get the translations added to Janis

[2020-02-26 23:03] desigonz commented on #4041
Sent for translation on 2/26

[2020-02-26 23:04] desigonz commented on #3967
Good catch. I made #4041 for localization.

@chasechenevert, assigning you to QA. Thanks!

[2020-02-26 23:29] desigonz commented on #3818
Awesome work!! I tested it and it looks good.

I also tested unpublishing the "Get bulk items collection" page. The page is now unpublished (it [404s](https://janis-3818-event-home.netlify.com/en/housing-utilities/recycling-trash-and-compost/household-waste/bulk-item-pickup/)), but it's still appearing on the topic page. I'm going to spin this out into its own issue, so no need to worry about this

[2020-02-26 23:34] desigonz opened #4042 "Unpublished page still appears on topic"
## Describe the bug
While troubleshooting #3818, @chiaberry fixed it so unpublished pages don't slip through the site structure. I tested unpublishing the "Get bulk items collection" page. The page is now unpublished (it [404s](https://janis-3818-event-home.netlify.com/en/housing-utilities/recycling-trash-and-compost/household-waste/bulk-item-pickup/)), but it's still appearing on the topic page.

[2020-02-27 03:46] briaguya commented on #3408
@desigonz couple questions:
* Does this need to support drafts?
  * If so, this shows preview, what page should we preview?

[2020-02-27 13:52] desigonz commented on #3921
Looks great @briaguya! QA passed.

[2020-02-27 13:54] desigonz commented on #3408
@briaguya For supporting drafts—does that change the size of this issue significantly? If not, I would say let's do it, and let's have the homepage be the preview page.

[2020-02-27 14:01] desigonz commented on #3993
Looks great! QA passed.

I tested it by navigating to the pages from the ["Food business permits" topic](https://janis-3993-part-of-guide.netlify.com/en/permits-tickets/business-permits-and-licenses/food-business-permits), because the links from the guide lead to alpha.austin.gov.

cc-ing @srigdon—we have a fix for this and it will be going into production soon!

[2020-02-27 14:58] chasechenevert commented on #3959
@briaguya This looks good! For pages without the feedback component, I do want a little padding so that there is some rhythm to the spacing (similar to how there's padding between the header and body content, and the spacing between paragraphs and sections). Let me know if this is tricky though!

[2020-02-27 15:00] chasechenevert commented on #3757
@briaguya This looks great!

Re: contact card, I've got an issue https://github.com/cityofaustin/techstack/issues/4039 to review this and make sure we have parity between them.

[2020-02-27 16:55] desigonz commented on #3974
QA passed. This looks great!

[2020-02-27 16:57] desigonz commented on #4041
Translations live here: https://drive.google.com/open?id=1lqU-IRczOdPJwb39OBiCG9EQKpXFPmsv

[2020-02-27 16:57] #4041 closed

[2020-02-27 17:03] desigonz commented on #3967
@briaguya The translators were speedy with this one. Here's the copy for `es`:

**Aún estamos esperando que cargue su formulario**
Abra el formulario en una nueva pantalla.
¿Por qué no ha cargado aún?
- Es posible que un plugin esté bloqueando el formulario (por ejemplo: "Privacy Badger")
- Puede haber ocurrido un error al cargarlo ("error 404")

Thanks for catching this and looping it in!

[2020-02-27 17:04] desigonz commented on #4041
@briaguya will loop these translations into #3967

[2020-02-27 17:06] #3817 closed

[2020-02-27 17:08] #4001 closed

[2020-02-27 17:28] chasechenevert commented on #3818
@chiaberry the example that I'm reviewing https://janis-3818-event-home.netlify.com/ only has one event, is there an example with 3? Just want to make sure I'm checking right right link

[2020-02-27 17:31] desigonz opened #4043 "Design: events on info, service pages, and location pages"
### As a resident, I want to see events related to some information or a City service, so that I can make plans to attend a relevant event.

We can split this issue into the Janis/Joplin sides if that makes sense.
- [ ] What does this look like for the resident side of things?
- [ ] What does it look like for an author to add these?

**Is your feature request related to a problem? Please describe.

[2020-02-27 17:32] desigonz commented on #3818
That's because I was testing what 1 looks like! You can add them at the Joplin link: https://joplin-pr-3818-event-home2.herokuapp.com/

[2020-02-27 17:56] desigonz commented on #4043
More examples where we might want events:
- https://alpha.austin.gov/en/health-safety/health-prevention/disease-prevention/help-prevent-diabetes-in-your-community-2
- @Jo-Dwyer's writing a service page on resolving parking tickets. She'd want to pull in amnesty days

[2020-02-27 18:50] #3826 closed

[2020-02-27 18:52] #3837 closed

[2020-02-27 18:52] #3811 closed

[2020-02-27 18:53] #4029 closed

[2020-02-27 19:03] briaguya opened #4044 "Line height on locations in steps on mobile"
### As a [mobile user] I want [locations in buttons on steps to be easy to read and understand] so that [I can read and understand the locations and addresses being presented to me].

**Is your feature request related to a problem? Please describe.**
Comment in here: https://github.com/cityofaustin/techstack/issues/3975

view [this](https://alpha.austin.gov/en/housing-utilities/pay-utility-bills-a

[2020-02-27 19:03] briaguya commented on #3975
@desigonz split out spacing into https://github.com/cityofaustin/techstack/issues/4044

[2020-02-27 19:04] desigonz commented on #4044
@chasechenevert Can you define the line spacing?

[2020-02-27 19:13] chasechenevert commented on #3959
All good from me.

[2020-02-27 19:16] easherma commented on #3754
From the research I've done, in the future we might want to migrate away from patching in gevent as it may affect other parts of the app and in general be hard to debug unintended consequences. We'll have to see if we run into any of those.

Once publisher is fully hooked into the process, time-outs due to builds should be less of a problem, so we can probably migrate back to a more simple gunicor

[2020-02-27 19:21] chasechenevert commented on #4044
try `1.8 rem` for both `location name` and `address`

[2020-02-27 20:52] ablangworthy27 commented on #3999
@Jo-Dwyer here is a joplin draft:
https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTozMzg1

[2020-02-27 20:59] desigonz commented on #4044
Thanks @chasechenevert!

[2020-02-27 22:18] chiaberry commented on #3989
@desigonz
https://joplin-pr-3989-event-loc-pub.herokuapp.com/admin/pages/363/edit/#tab-content

ready for QA -- I've done some testing, ill do another round to see if i missed anything.
One thing is that the streamfield error message looks different, is that in my issue to change it, or is it on another issue: ![Screen Shot 2020-02-27 at 4.15.32 PM.png](https://images.zenhubusercontent.com/5d94ec3

[2020-02-27 22:30] desigonz commented on #3983
This is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:30] #3983 closed

[2020-02-27 22:32] desigonz commented on #3781
This is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

Note: a page will only show as "Offered by" that department if a department page exists and is associated with the department permission.

[2020-02-27 22:32] #3781 closed

[2020-02-27 22:39] desigonz commented on #3994
This is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:39] #3994 closed

[2020-02-27 22:40] desigonz commented on #3934
This is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:40] #3934 closed

[2020-02-27 22:42] desigonz commented on #3952
This is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:42] #3952 closed

[2020-02-27 22:44] desigonz opened #4045 "Post-MVP for adding, editing, deleting departments"
### As an administrator, I want to be able to add, edit, and delete departments, so that I can have control over the permissions model.

- [ ] For each listing:
  - [ ] Indicate number of users assigned to a department
  - [ ] Last login includes username with login timestamp
- [ ] A user can only delete if there are 0 users in the department
  - [ ] If an administrator clicks the "delete" button

[2020-02-27 22:45] desigonz commented on #4045
@briaguya, would you recommend splitting this issue further?

[2020-02-27 22:46] desigonz commented on #3919
Split out the rest of the requirements as post-MVP (#4045). The rest is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:46] #3919 closed

[2020-02-27 22:53] desigonz commented on #3920
For now, we've decided _not_ to limit to one department for user. We want to revisit that experience as we start to onboard more editors and moderators.

The rest of the acceptance criteria is looped into the PR branch associated with #3813. More notes in this document: https://docs.google.com/document/d/1FY-enbU7mTFXR8vX2rG7FqnySRqsAFoB8Op1f_--v14/edit# Closing this issue!

[2020-02-27 22:53] #3920 closed

[2020-02-27 23:03] desigonz opened #4046 "Editors/moderators MUST belong to a department"
### As an administrator, I want to be able to add users to an existing department, so that I can control which users have access to a department’s content.

### As an administrator, I want to make sure that an editor/moderator belongs to at least one department, so that they can see content in the list view.

In #3920, we made it so an admin can assign a user to a department. And in #3780, we're g

[2020-02-27 23:14] desigonz opened #4047 "Create new user: Separate editor/moderator from departments"
### As an administrator adding a new user, I want to be able to easily distinguish between editing/publishing permissions and department permissions, so that I can understand the difference.

**Is your feature request related to a problem? Please describe.**
In #3813, we have department permissions. Yay! But editors/moderators are lumped together with all the departments. That doesn't fit an admin

[2020-02-27 23:33] desigonz opened #4048 "Create/edit a page: Assigning a department when you belong to multiple"
### As an editor or moderator who belongs to multiple departments, I want to be able to select which department the page I'm authoring is for, so that I can attribute content to the right department.

**Is your feature request related to a problem? Please describe.**
Currently, we can assign a user to multiple departments. If that user is not an admin, when they create a page, that page will be as

[2020-02-27 23:36] desigonz opened #4049 "Assigning multiple departments to a page as an administrator"
### As an administrator, I want to easily be able to assign more than one department to a page, so that we maintain our polyhierarchical IA.

**Is your feature request related to a problem? Please describe.**
This is currently technically possible through groups (https://joplin-pr-3813-department-grou.herokuapp.com/admin/groups/)

If an admin wants to add a page to another department, they can go

[2020-02-27 23:38] desigonz commented on #4017
We did this, closed some issues, and made a ton of new ones!!

#4049 #4048 #4047 #4046 #4045

Closing this

[2020-02-27 23:38] #4017 closed

[2020-02-28 00:13] briaguya opened #4051 "Privacy Badger - recollect"
If you have privacy badger blocking recollect.net, then you just end up with a constant loading wheel.
(example here: https://alpha.austin.gov/en/housing-utilities/recycling-trash-and-compost/compost-food-waste/set-out-your-leaves-grass-and-branches-for-pickup/)

Maybe we can build out something like what we have for when forms don't load?

[2020-02-28 00:53] briaguya commented on #3755
@Niicck @easherma added both of you to this, not sure how to split it up

[2020-02-28 16:24] chiaberry opened #4053 "Don't maintain scroll position when opening a new Link on Janis"
## Describe the bug

Links to other pages on Janis (that are in a `react-router` Link component) will open the next page at the same scroll position as the previous one. Not at the top of the new page which is how I, Chia, expect it to be.

## URL

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to alpha.austin.gov
2. Scroll down to different positions within the page and click the

[2020-02-28 16:33] desigonz opened #4054 "Character limits for different languages"
### As a content author, I need page description character limits to be increased so that it accounts for translations.

Content translated into languages other than English needs more characters. We've also run into this again with the Community Police Review Commission.

See issue #2193 for more background. We ended up raising the character limits for EVERYTHING across all language because of th

[2020-02-28 18:17] desigonz commented on #3856
Is this done? Can we close it?

[2020-02-28 18:31] desigonz opened #4056 "Strategy for City web SPOC survey"
@anukandimalla and @desigonz to:
- [ ] see what data we can pull from Drupal already
- [ ] review @toribr's [research questions](https://github.com/cityofaustin/techstack/issues/3736#issuecomment-585961484) for content authors
- [ ] identify steps to move forward on this survey

Meeting scheduled for 3/2.

[2020-02-28 18:32] chiaberry commented on #3943
https://joplin-pr-3942-incorrect-zipco.herokuapp.com/admin/pages/search/ for testing

I turned off the address suggestion feature, but left the code in there in case Algolia fixes their data

[2020-02-28 18:34] desigonz opened #4057 "Homepage knowledge share"

[2020-02-28 18:34] #4057 closed

[2020-02-28 18:37] desigonz opened #4058 "Recruit participants for "view live"/publish expectation management testing"

[2020-02-28 19:12] desigonz commented on #3989
Hey awesome @chiaberry! I've never seen that new alert...I'm inclined to ignore it for now? Not sure why it appears here and not on other streamfields, but I don't think this should stop us from going to production.

I want to make sure team content has a chance to review the copy, which I should've gotten to you earlier 🙃. @ablangworthy27 would you mind authoring the error messages for **events**

[2020-02-28 19:17] desigonz commented on #3943
Thanks @chiaberry!! Looks great, QA passed.

[2020-02-28 19:18] desigonz commented on #3996
Location QA is complete, so this issue is ready to go!!

[2020-02-28 19:20] desigonz commented on #4051
Duplicate of #3988 :)

[2020-02-28 19:20] #4051 closed

[2020-02-28 19:22] #4015 closed

[2020-02-28 19:31] desigonz commented on #4053
Also reported in #4040.

## Test cases
For each of these cases, scroll to where it is, and test that it opens at the top of the page, not scroll position
- [ ] `Privacy policy` in footer
- [ ] "Check out City of Austin services" on homepage—scroll down to a service and click the service card `Get immunizations for you and your family`
- [ ] On the [Get help with paying rent and utility payments](h

[2020-02-28 19:32] desigonz commented on #4040
Folded this in #4053

[2020-02-28 19:32] #4040 closed

[2020-02-28 19:38] desigonz commented on #4026
I wasn't able to replicate, and I tested both by pressing enter and not. Closing this for now.

[2020-02-28 19:38] #4026 closed

[2020-02-28 19:42] desigonz commented on #4031
This is not a bug, it's actually a feature request. Through locations research and scoping, we landed on having a main location for a department featured on a department page. @toribr, thoughts on this?

In the interim, I think we should add the main Municipal Court location on the department page, and then link to the other locations for the appropriate services.

Backlogging this for now until i

[2020-02-28 20:00] desigonz opened #4059 "Link to maps from location and department pages"
### As a resident accessing a service, I want access a map for the location of a service, so that I can figure out how to get to that location.

**Is your feature request related to a problem? Please describe.**
We list addresses in a lot of places, but only on event pages do we link to a map.

How it appears on events:
![image](https://user-images.githubusercontent.com/5839508/75582553-76b9b200-5

[2020-02-28 20:01] desigonz commented on #4022
Looped this into #4059

[2020-02-28 20:01] #4022 closed

[2020-02-28 20:09] srigdon commented on #3999
Reviewed; it looks good to publish. Got it down to a grade 7 reading level. Preview page: https://alpha.austin.gov/en/preview/services/UGFnZVJldmlzaW9uTm9kZTozMzkz

Great work, @ablangworthy27!

[2020-02-28 20:18] desigonz commented on #3972
This is fixed. I think @briaguya did some magic?

[2020-02-28 20:18] #3972 closed

[2020-02-28 20:22] desigonz commented on #3984
Yeah I think this issue should be "rethink UX of assigning top-level pages" and I'm going to file it in the long-term backlog. We might want to rewrite the user story too.

[2020-02-28 20:26] desigonz commented on #2333
Adding another note from @briaguya in #3969:

[2020-02-28 20:26] desigonz commented on #3969
Looped this into #2333

[2020-02-28 20:26] #3969 closed

[2020-02-28 20:39] desigonz commented on #4027
This should get fixed in this PR: https://github.com/cityofaustin/joplin/pull/576

[2020-02-28 20:42] #3793 closed

[2020-02-28 20:46] desigonz commented on #258
Evidence of the growing need for site search :) https://github.com/cityofaustin/alpha-feedback/issues/174

[2020-02-28 20:58] Jo-Dwyer opened #4060 "Transition Municipal Court deferral forms to be submitted online"
As a resident I need to be able to submit deferral forms digitally so that I can have my case dismissed without traveling to a Municipal Court location.

### Problem
Payment for a deferral cannot be handled online. We have to wait for a solution to this payment issue to move forward with a digital submission of the form.

**Have you documented this via the author notes field in Joplin?**
- [ ] Yes

[2020-02-28 21:11] desigonz opened #4061 ""View live" expectation management"
### As a content publisher, I want to [_have one of the following options below_], so that I can verify that my content has published correctly and I understand what users are seeing on the website right now.
- **Ideally**: be able to view my changes on a live page immediately after publishing
  - As a content publisher, my mental model from using other author interfaces is that changes publish ou

[2020-02-28 21:22] #3704 closed

[2020-02-28 22:00] chasechenevert opened #4062 "Feedback component needs margin-top"
## Describe the bug
Lack of top margin on the feedback component is causing the component to stack beneath `services offered` block.
## https://alpha.austin.gov/en/location/far-south-austin-clinic/

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to https://alpha.austin.gov/en/location/far-south-austin-clinic/
2. Scroll down to the `feedback` component
3. See error

## Current behav

[2020-02-28 22:02] ablangworthy27 opened #4063 "Special hours for related services on location pages not working in Spanish"
## Describe the bug
I am working on adding translations to all the location pages I created a couple weeks ago, and the "special hours" box under the related service will not allow me to have two different languages.

When I add Spanish, it changes the English to Spanish as well. I try changing it back, but then the Spanish switches back to English as well. Ultimately I can only have it one way or

[2020-02-28 22:06] chasechenevert opened #4064 "Add feedback component to Location pages"
Related to: https://github.com/cityofaustin/techstack/issues/4062

Abstract branch: https://share.goabstract.com/6e083148-ecb8-42a4-85f7-c60ef36801be?

### Add location component to:
- [x] Desktop
- [x] Tablet
- [x] Mobile

[2020-02-28 22:25] desigonz commented on #3786
Hey @briaguya—@Niicck said your current Joplin refactor will lead to a fix for this. Ok to close this one?

[2020-02-28 22:40] desigonz commented on #3694
Hey @briaguya and @Niicck—I did some thinking on acceptance criteria for incremental builds. Probably missed something, but see below. Thoughts on what next steps y'all would want to take as we scope of an incremental builds solution?

- [ ] **All content types**: A page builds with the updated content at all possible URLs
  - [ ] Page title updates in:
    - [ ] Topics
    - [ ] Topic collections

[2020-02-28 22:43] ablangworthy27 commented on #3989
**Event microcopy**
Description is required.
Date is required.
Start time is required.
Location is required

**Location microcopy**
Street address is required.
ZIP code is required.
City is required.
State is required.

[2020-02-28 22:45] desigonz commented on #3989
Oops sorry I closed this @chiaberry, it should be open!

[2020-02-28 22:45] ablangworthy27 commented on #3882
I'm going to wait on Joplin edits because I have new feedback coming down the pipe.

[2020-02-28 22:45] #3882 closed

[2020-02-28 22:48] ablangworthy27 opened #4065 "Incorporate feedback from Lee Kelly and Matthew Reid"
I have two more people wanting to give feedback. Lee Kelly is an EHO Supervisor and Matthew Reid is an EHO for Travis County. These are important perspectives, So I am pushing my deadlines to accommodate them.

[2020-02-28 23:22] easherma commented on #3989
That error is the default validation error provided by Wagtail. Based on
the last dev design sync we’d want to sync all these messages up together
rather than have them implemented side by side.

On Fri, Feb 28, 2020 at 4:45 PM desigonz <notifications@github.com> wrote:

--
Eric Sherman
224-402-0004

[2020-02-29 00:59] briaguya commented on #4062
@chasechenevert instead of margin top on the feedback component I added a margin-bottom to the content (so if we decide to not use the feedback component at any point a la https://github.com/cityofaustin/techstack/issues/3717 we won't run into an issue of the footer stacking)

I added a quick 2rem margin to the content on location pages for now, but I think this could be a bigger issue for making

[2020-03-01 17:51] Niicck commented on #3755
@briaguya Do you have a branch that I can use to look at what you did? During your 1100+ location page test, what prefetch rate did you use? My Joplin PR is still 503ing even with the async changes merged in. So I want to use async + prefetch rate to see if that helps.

[2020-03-01 18:17] Niicck commented on #3755
Alright, using a prefetch rate=4 (b/c idk, we got 4 workers?, seemed like a safe guess), everything succeeded. It took 2-3 minutes than I would've liked, but it gets us somewhere.

Using a prefetch rate of 4 (in conjunction with async) significantly decreases our memory footprint. The 512MB peak is when I 503'd. I then ran 2 successful builds (one after the other) and barely made a dent in the mem

[2020-03-02 02:49] chiaberry commented on #3989
@desigonz updated the microcopy. Also figured out that the reason we havent seen that alert is because this is the only instance where we have a StreamField with a StreamBlock.

If we put `required=False,` in the streamblock, the message goes away.

[2020-03-02 03:10] chiaberry commented on #3818
@chasechenevert & @desigonz updated for tablet views

same janis, https://janis-3818-event-home.netlify.com/, but its linked to joplin-staging now

[2020-03-02 13:17] Jo-Dwyer opened #4066 "Service pages: Apply for a deferral"
Defendants can ask for a deferral in judgement depending on what kind of crime that they've been charged with. If they can successfully complete the terms of their deferral, the case will be dismissed.

- [x] Is it true? Yes.
- [x] Is it readable? **The current page is at a grade 9-10 level and uses unusual terms and jargon.**
- [x] Is it actionable. **Yes, the necessary information to fill out an

[2020-03-02 14:32] desigonz commented on #3818
Awesome, thanks @chiaberry!

I'm still getting overlap at very narrow widths:
![image](https://user-images.githubusercontent.com/5839508/75685509-473cbc80-5c60-11ea-8eae-36131b498724.png)

But looks better when viewed on a mobile device:
![image](https://user-images.githubusercontent.com/5839508/75685553-5b80b980-5c60-11ea-950e-7902d28f742c.png)

[2020-03-02 14:54] #4064 closed

[2020-03-02 15:03] chasechenevert opened #4067 "Abstract tasks"
Janis
- [ ] add tablet breakpoint to all Janis content types
- [ ] add tablet break point to all Janis components that apply
- [ ] Add layout and grid file to Janis master
- [ ] Create new basic template file for Janis (including components listed below)
- [ ] Add tablet breakpoint with basic Janis UI (global nav, contextual nav, feedback, footer, privacy footer)
- [ ] Event: detail, raise 14px co

[2020-03-02 15:04] #4038 closed

[2020-03-02 15:07] chasechenevert commented on #3967
Mobile has been added: https://share.goabstract.com/70b0c639-82c9-48a4-9095-2998bb623b01?sha=7b03d6540e22969acfb12c4f11035f87ed2487a4

[2020-03-02 15:44] chiaberry commented on #3818
@desigonz I fixed the white overlap

[2020-03-02 15:46] anukandimalla commented on #3856
This is Drupal 8 Manual Documentation validation for Drupal 8 authors. We didn't get a chance to do it because of other priority issues during the transition.

[2020-03-02 15:46] #3856 closed

[2020-03-02 15:59] desigonz commented on #3818
@chiaberry beautiful! QA is done on my side of things but I'll let @chasechenevert have the final word.

[2020-03-02 16:04] #4021 closed

[2020-03-02 16:05] ablangworthy27 opened #4068 "Content pin-up 3/3/2020"
Previous pin-up [#4021](https://github.com/cityofaustin/techstack/issues/4021)

### 1. Approve agenda

### 2. Action items from Design pin-up or Desi cc/ @toribr @chasechenevert @desigonz

- Department permissions model

### 3. Workshopping (style issues, etc...)
- Style guide entry for forms
- OPO topic collection reorg

### 4. Larger Discussions (roadmap, sprint goals, big projects)

[2020-03-02 16:14] desigonz commented on #4056
potential questions for survey

Draft:
* how many times a week or month do they use the system?
* how many hours a week or month do they use the system?
* are they creating new content or editing existing content or both?
* Are they writing in the tool or cutting and pasting from elsewhere? if cutting and pasting, then from where? how does formatting change?
* Is their work moderated or approved b

[2020-03-02 16:14] #3736 closed

[2020-03-02 16:18] desigonz opened #4069 "Homepage desk research"

[2020-03-02 16:22] desigonz opened #4070 "Homepage v2 design drafting"
Some links for breakout
- [ ] https://docs.google.com/presentation/d/1YUNrIyufmE9xaa44D_Tl6na8gJjg3PuyiF09PCPJ_L4/edit#slide=id.g80ec3012a1_1_140

- [ ] https://oneaddress.fortworthtexas.gov/

[2020-03-02 16:37] #3275 closed

[2020-03-02 16:39] desigonz commented on #3273
@srigdon will review copy, then ready to go live.

[2020-03-02 16:39] desigonz commented on #3999
@Jo-Dwyer to review and take it to the next step!

[2020-03-02 16:40] #4013 closed

[2020-03-02 16:44] #3980 closed

[2020-03-02 16:45] Jo-Dwyer opened #4071 "Translations for OPO batch"
- OPO batch translations from early January

[2020-03-02 16:47] Jo-Dwyer opened #4072 "Create a service page w/ fee charges"
As a defendant in a municipal court case, I want to b able to look up how much I owe when I plea guilty so that I can pay quickly to avoid more fees or worse consequences.

Use the PDF as the list of charges with steps for how to use it and alternative ways to find this information if the PDF does not work for the user

- [x] Is it true?
- [ ] Is it readable?
- [ ] Is it actionable?

As a municipa

[2020-03-02 16:52] desigonz commented on #3998
Waiting for:
- Follow up from Amy
- then review by a content strategist

[2020-03-02 16:53] #3272 closed

[2020-03-02 17:02] Jo-Dwyer commented on #3272
this is now being made in #4066

[2020-03-02 17:03] desigonz opened #4073 "Meet with Community Police Review Commission consultants"
- Prep to share our ideas for initial content
- Get their recommendations
  - What do you foresee changing based on recs?
  - What would you expect to change once commissioners are in place?

[2020-03-02 17:33] desigonz opened #4074 "Draft content coordinator job description"

[2020-03-02 18:04] Jo-Dwyer commented on #3496
Solved by exceptions and multiple open times per day on a location.

[2020-03-02 18:04] #3496 closed

[2020-03-02 18:05] Jo-Dwyer commented on #3075
Fixed by #3763

[2020-03-02 18:05] #3075 closed

[2020-03-02 18:09] Jo-Dwyer commented on #3957
We've decided not to create new pages for APL locations. Link to existing APL location page.

[2020-03-02 18:09] #3957 closed

[2020-03-02 18:56] ablangworthy27 commented on #3970
I am holding off on this because I am blocked by [a bug ](https://github.com/cityofaustin/techstack/issues/4063)

[2020-03-02 19:29] desigonz commented on #3630
Share out on 3/3. Goals for the group:
- [ ] Get the rest of the team up to speed
- [ ] Figure out what it means for this issue to be done (or loop it into the other issue)
- [ ] Queue up next steps issues, if needed

[2020-03-02 19:33] desigonz commented on #4062
Assigning @chasechenevert to add thoughts re: the above

[2020-03-02 19:35] desigonz commented on #3987
Next steps are the shareout on 3/3, see #3630 for more details on the shareout.

[2020-03-02 19:39] #3755 closed

[2020-03-02 19:42] desigonz commented on #3961
Assigning @chasechenevert to review. Do you have a mock of the full mobile footer (with contact block and departments) on Abstract?

[2020-03-02 20:11] Niicck opened #4075 "Updating an Official Document page explodes"
Sorry @ablangworthy27. Fixing this now.

In official_documents_page.py
`RelationPublishRequirement("related_departments")`
must now be changed to
`DepartmentPublishRequirement()`
per Brian's new department group changes.

[2020-03-02 20:16] easherma opened #4076 "Localize documents in official documents"
## Acceptance criteria
- [ ] On Joplin, a user can add a Spanish version of a document (without it swapping out the `en` one)
- [ ] If on Joplin there is a Spanish doc in the previous acceptance criteria: On Janis, when a user toggles to `Español`, a user clicks the link for the doc and the Spanish version of the doc opens.

-----

## Describe the bug
Janis shows the English version of document, a

[2020-03-02 20:20] Jo-Dwyer commented on #3834
You can plead “no contest” and submit proof to the court of your incarceration.  Jail credit is determined by a judge and if granted, will result in a conviction.

[2020-03-02 20:36] desigonz commented on #4076
Documents aren't localized for Spanish and English in the data model on the Joplin side. That makes sense for OPO's disciplinary documents, which are official documents with things like redactions and signatures that make it difficult to translate, so we just include the translated description, but link to the document. cc @srigdon and @toribr.

However, @ablangworthy27 was trying to publish the t

[2020-03-02 20:42] desigonz commented on #3522
- [ ] Write user stories (_Why_ do we need bidirectional relationships? How will they help an end user, whether an author or a resident?)
- [ ] Sift through old issues—where have we requested them in the past?
- [ ] Brainstorm all possible places where we want bidirectional relationships

[2020-03-02 20:44] ablangworthy27 commented on #4076
@desigonz the translated report came from OPO.

[2020-03-02 20:45] #2705 closed

[2020-03-02 20:46] desigonz commented on #3522
From #2705:
### As I content editor, I want to be able to manage whether a page is a top service both from the individual edit page and the topic/department page, so that I don't have to do a lot of back and forth while editing.

You should be able to manage whether a page is a top service from both the "Page" and the "Topic"/"Department" page.

[2020-03-02 20:48] desigonz commented on #3522
From #3527. Bolded the section related to bidirectional relationships:

### As a Joplin admin/mod I want to see associated pages and author names for location snippets so that I can safely delete duplicate locations without leaving a service page without a location.

**Is your feature request related to a problem? Please describe.**
APH locations are sometimes called different names depending on w

[2020-03-02 20:49] desigonz commented on #4076
Okay good to know! Sounds like that's a user need, then. @srigdon/@toribr, any additional thoughts?

[2020-03-02 21:08] Jo-Dwyer opened #4077 "Draft service page: Get information about a parking ticket and pay online"
### You can find information about your parking ticket online. You can use this online case search to pay a ticket or to find out a judge's decision.

This online tool will only find cases handled by the City of Austin Municipal Court. If you got a ticket outside of Austin or if it was written by anyone other than a City of Austin enforcement officer, you can't lookup your case or pay a ticket usi

[2020-03-02 21:09] Jo-Dwyer opened #4078 "Draft service page: Get information about a traffic or criminal violation and pay online"
### You can find information about your criminal or traffic violation case online. You can use this online case search to pay a ticket or to find out a judge's decision.

This online tool will only find cases handled by the City of Austin Municipal Court. If you got a ticket outside of Austin or if it was written by anyone other than a City of Austin enforcement officer, you can't lookup your case

[2020-03-02 21:17] Jo-Dwyer opened #4079 "Draft service page: Get information about a court appearance online"
You can find out when you need to go to court online.

If you have received a ticket that is handled by City of Austin Municipal Court, you can lookup the date and time  of your scheduled court appearance, as well as the charges against you. This online tool will only find cases handled by the City of Austin Municipal Court. If your case is being handled by any other court, your scheduled appearan

[2020-03-02 21:29] ablangworthy27 commented on #3809
This is done.

[2020-03-02 21:29] #3809 closed

[2020-03-02 21:36] ablangworthy27 commented on #3608
I'm just going to go ahead and assign to myself. If I don't get to it this sprint, it will be good to work on remotely next sprint.

[2020-03-02 22:14] toribr commented on #4076
So, in the SP version, the link would be in Spanish and link to the Spanish doc? In that case, then it seems like the 1-1 relationship we hope to have with translations would work, ie, user enters Spanish version, and links to the Spanish document. Is that what we're thinking?

[2020-03-02 22:16] desigonz commented on #4076
Yep, that's spot on! And for disciplinary docs that we don't translate, the link to the English doc will still appear. I'll update acceptance criteria above.

[2020-03-02 22:23] toribr commented on #4076
Sounds good. If no Spanish doc is linked, then system will show the English version.

[2020-03-02 22:29] desigonz commented on #3522
## First things first

A new, more overarching user story:

### As a content author creating associations between different content types, content snippets, and media artifacts (like images and documents), I want to be able to see how pieces of content are linked, so that I can make smarter decisions about that content.

Examples:
- I might decide not to delete a snippet because I see that it's on

[2020-03-02 22:38] desigonz opened #4080 "Dev-design sync 3/3"
- [x] Limiting to 1 contact (@chiaberry)
- [x] Demo Joplin UI strategy (@robbobfrh84)
- [x] anything from design?

### next time?
- [ ] bidirectional relationship user stories #3522
- [ ] permissions model, [now with departments](https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0)

[2020-03-02 22:46] desigonz commented on #3522
@Niicck and @briaguya, I'm starting to outline the user stories for bidirectional relationships, so that we can identify all of the requirements for this, so that we can implement it right!

See the user stories in the comment above. This is where I'm starting. But I want to make sure I'm on the right track for defining requirements that will serve y'all. Is the goal to identify all instances of w

[2020-03-02 23:58] chiaberry commented on #3745
Service Page
https://joplin-pr-3745-one-contact.herokuapp.com/admin/pages/94/edit/#tab-content

Information Page
https://joplin-pr-3745-one-contact.herokuapp.com/admin/pages/345/edit/#tab-content

[2020-03-03 00:17] easherma commented on #3996
@desigonz
Do all of these maps have an appropriate location page that they can link to instead?
https://joplin.herokuapp.com/admin/snippets/base/map/

[2020-03-03 01:29] easherma commented on #3995
QA me at
https://joplin-pr-3995-location-styleg.herokuapp.com/admin/login/

[2020-03-03 01:30] easherma commented on #3996
Can be QA'ed at:
https://joplin-pr-3996-remove-location.herokuapp.com/admin/login/

If we want to truly delete the other fields, thats going to require some dancing around dev wise, but that doesn't impact QA/criteria for content author-facing stuff

[2020-03-03 03:14] anukandimalla commented on #4056
Here is the document for the Web Spoc Survey questions strategy
https://docs.google.com/document/d/1AxWPcu9kSaBBMJCAJK045tuBs-4Kf0dAoMRnCAvD4Jo/edit?usp=sharing

[2020-03-03 04:29] #3991 closed

[2020-03-03 15:20] desigonz commented on #4068
Is there time on the agenda to review the department permissions model?
https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

[2020-03-03 15:25] desigonz commented on #3996
Great! QA passed for user acceptance criteria, but I'll let @Niicck evaluate the technical acceptance criteria above.

[2020-03-03 15:27] desigonz commented on #3995
@easherma awesome work, looks great—QA passed!

[2020-03-03 15:32] desigonz commented on #3745
This looks really great, thank you! I would say QA passed but I have one question: did you run across pages with multiple contacts that we need to decide what to do about them? Will pushing this into prod break those pages?

[2020-03-03 15:53] ablangworthy27 commented on #4068
@desigonz sure thing

[2020-03-03 19:48] Jo-Dwyer opened #4081 "Write text for "Why the delay?" link from publishing banner"
Include information about:
- build time
- what else?

@srigdon @desigonz

[2020-03-03 20:30] desigonz commented on #4081
@toribr, by when do you need this copy?

[2020-03-03 20:38] desigonz commented on #3745
- @chiaberry will try hiding the button, and if it takes a long time, we'll spin that out into a new issue
- @desigonz work with content to make sure we only have one contact per page

[2020-03-03 20:40] desigonz commented on #3745
- [ ] Events have only one contact, we can follow that pattern
- [ ] Guides should be limited to one contact

[2020-03-03 21:05] desigonz commented on #4047
Permissions model, now with departments: https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0
Vetted this with content team and @toribr, so we've defined our ideal steps.

Scheduled time to review with @briaguya tomorrow.

[2020-03-03 21:26] desigonz commented on #2872
Taking care of this in #4061

[2020-03-03 21:26] #2872 closed

[2020-03-03 21:47] desigonz commented on #2784
This will be looped into Joplin UI rehaul.

[2020-03-03 21:47] #2784 closed

[2020-03-03 21:50] desigonz commented on #2607
This is fixed with new streamfield design

[2020-03-03 21:50] #2607 closed

[2020-03-03 21:52] #2287 closed

[2020-03-03 22:12] toribr commented on #4081
@desigonz End of week would be great, but EOD mon would also work. Sooner is always better.

[2020-03-03 22:16] desigonz opened #4082 "Joplin UI: Type and color"

[2020-03-03 22:18] easherma opened #4083 "migration tests are not working"
Not sure when this started, but our migration test is running into some problems parsing output while dumping/loading data.

Debugging this is a little tricky, but here are problems:
There is a depreciation error getting printed to stout again. Our existing script should strip that; I haven't found a good way to put an debug endpoint in to verify that it is or isn't working.
Either way, https://gi

[2020-03-03 22:35] desigonz commented on #3523
### By June
- [ ] Joplin UI: type and color #4082
- [ ] Revision history for snippets #3527
- [ ] Bidirectional relationships (or should this be based on specific user stories?)

### By end of 2020
- [ ] Rethink how we handle translations #2926
- [ ] Topic and topic collection (IA) management #2223

### Much lower priority than the above
- [ ] Batch publish/unpublish #2268
- [ ] "Archive" pages #6

[2020-03-03 22:46] desigonz commented on #3522
Another use case! During content pin-up today, @toribr, @ablangworthy27, @Jo-Dwyer, and @srigdon identified the desire to allow editor-level users to delete images or pages, but **only** if we have bidirectional relationships enabled that allows them to see everywhere the image/doc is used. Ex. "Are you sure you want to delete this? This image appears on 17 pages."

[2020-03-03 23:01] easherma commented on #3522
another not-fun aspect of this that we'll ideally consider is how adding these relationships and displaying them can each have performance effects on the app itself. There could be potentially many additional lookups to get this extra information, and it could easily slow down the app itself overall for authors without some careful design/measurement. Acceptance criteria for that could look someth

[2020-03-03 23:09] srigdon opened #4084 "Interview work for Content Strategist (Spanish)"
We need a good list of interview questions to vet with Language Access and potentially our content friends at CDS. We also need a Spanish test or equivalent work assessment.

- [x] Compile a [list of questions](https://docs.google.com/document/d/13hT4C8S89oKy259nioxQduPsFaqdoyeX_BHapfihnzo/edit#) we have for the person in this role. To be done by: @srigdon @ablangworthy27 @Jo-Dwyer
- [x] Share wit

[2020-03-03 23:16] desigonz commented on #2223
We're thinking of limiting the creation of topics and topic collections to admins, so that there is content governance over the IA.

This is something we'll want to think about in the editorial/moderation flow (#3542). How does a departmental publisher assign something to the IA? How can the recommend or request the creation of a new topic, if they feel their new page doesn't fit within the existi

[2020-03-03 23:17] desigonz commented on #3402
We've implemented publishing requirements to make it so that this doesn't happen. Yay!

[2020-03-03 23:17] #3402 closed

[2020-03-03 23:21] ablangworthy27 commented on #3523
This looks pretty good to me. I think we are hoping that a very strong strategy is in place for translations well before December 2020. But June wouldn't be possible, so I guess it is placed exactly where it belongs!

One other thing is the Author-friendly UI for rich text blocks. I think depending on when we start onboarding real users, this may become necessary sooner than we realize.

[2020-03-03 23:22] srigdon commented on #3626
My ideal version of the "create topic collection" and "create topic" modals would link to a resource on doing keyword research, as well as the style guide. Later we'll want to think about role-specific content within Joplin/the style guide/training.

[2020-03-03 23:24] #3626 closed

[2020-03-03 23:24] desigonz commented on #3626
Thanks @srigdon! For the ideal version, can you make a "feature idea" issue with a user story? Otherwise we'll go with acceptance criteria above for now.

I'm reopening this issue and making it a dev issue.

[2020-03-03 23:28] desigonz opened #4085 "Assigning departments to topics and topic collections?"
We're implemented department permissions that make it so that a user selects a department when creating a page, so that it has departmental permissions. But we're thinking of limiting the creation of topic and topic collections to admins, who will decide the direction of the IA. Does this mean we don't need this section here?

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0

[2020-03-03 23:36] srigdon opened #4086 "Edit the "create topic" and "create topic collection" modals"
As an author in Joplin, I want to know how to write titles for topic collections and topics that connect residents to what they're looking for. I also want to learn more about the IA when I create these containers, so I know how to organize my content in an easily navigable, searchable way.

**What is the URL?**
n/a, these are "create topic" and "create topic collection" modals in Joplin

**Have y

[2020-03-03 23:44] srigdon opened #4087 "Educate users in the "create topic" and "create topic collection" modals"
As an author in Joplin, I want to know how to write titles for topic collections and topics that connect residents to what they're looking for. I also want to learn more about the IA when I create these containers, so I know how to organize my content in an easily navigable, searchable way.

**Is your feature request related to a problem? Please describe.**
Right now the "create topic" and "create

[2020-03-03 23:44] srigdon commented on #4086
nm, a better issue is #4087

[2020-03-03 23:44] #4086 closed

[2020-03-03 23:45] srigdon commented on #3626
See "feature idea" in #4087

[2020-03-04 00:14] desigonz commented on #3523
Thanks for your feedback, @ablangworthy27!

Re: translations comments: the work I'm referring to here would be a major overhaul of the design or development around translations; if there are smaller fixes we could implement to support translations that _don't_ require a big technical refactor, we could do those sooner.

And for author-friendly UI stuff—noted. We might want to push this up to June

[2020-03-04 00:15] desigonz commented on #4081
Thanks @toribr! @srigdon, what seems doable to you?

[2020-03-04 07:04] briaguya opened #4088 "Joplin refactor - spaghetti/folders/instances/urls"
What we want to get out of this:
* JanisBasePage as a non abstract base class
  * This will allow us to run queries on *all* pages instead of just querying by page type
* All pages in their own folders a la location pages
  * Having a consistent pattern for this should make it easier to understand the file structure when working as a dev in Joplin
* Replace siteStructure and other Janis URL calls

[2020-03-04 07:43] briaguya commented on #3787
@desigonz This will need to happen as a part of https://github.com/cityofaustin/techstack/issues/3788, it doesn't need to be it's own issue

[2020-03-04 07:43] #3787 closed

[2020-03-04 08:16] briaguya commented on #3388
@desigonz added some notes for what this part of it can be, dropped the estimate to a 3 so it can just cover the "make sure page instances are localized correctly" testing (as in, writing unit tests!)

[2020-03-04 09:13] briaguya commented on #3839
@desigonz the folders are not magic, we're doing this another way

[2020-03-04 09:13] #3839 closed

[2020-03-04 09:42] briaguya commented on #3805
@desigonz closing this, added a link to it in https://github.com/cityofaustin/techstack/issues/4088 so we can reference it as a braindump

[2020-03-04 09:42] #3805 closed

[2020-03-04 09:47] briaguya commented on #3377
@desigonz my guess is this isn't an issue now that we have the new dept stuff

[2020-03-04 10:01] briaguya opened #4089 "non-abstract JanisBasePage, move pages into Django apps"
this exists in v3: https://github.com/cityofaustin/joplin/pull/606

### for this, we need to have
* /joplin/pages/
* /joplin/pages/base/ (JanisPage (instances come later))
* /joplin/pages/department/
* /joplin/pages/location/
etc...

so instead of importing from joplin.base.models for our pages we can import from joplin.pages.page_type, with every page inherit from a non abstract base page

### af

[2020-03-04 13:26] toribr commented on #3523
There's a lot of issues missing.

There's no mention of home page efforts. Is that intentional?

Depending on the timing of rolling out Joplin to more users, there's some problematic flow issues, like the inability to add an image to a page without actually needing to leave the page, which should be solved with modals. There are other similar basic patterns which result in poor usability which sho

[2020-03-04 14:03] desigonz commented on #3523
This is not all things, and it's not even all Joplin things—it refers to things that will require significant refactor in order to accomplish it.

Send me issues for all of the things you mentioned above, and I can work with dev to determine whether they are Joplin Alpha (no need to refactor) or Joplin 3.0 (refactor needed), and then we'll fit them on the roadmap. Make sure to include user stories

[2020-03-04 14:04] desigonz commented on #3377
True!! Closing this.

[2020-03-04 14:04] #3377 closed

[2020-03-04 14:14] #4068 closed

[2020-03-04 16:06] chasechenevert commented on #4062
@briaguya that makes sense, and I'm remembering we talked about this over Slack last week. I've gone in and added the feedback component to all mobile and desktop page types, and I'm working to add tablet sizes with feedback component across all page types. I'll post the update when I have that done.

[2020-03-04 16:07] chasechenevert commented on #3818
This is good to go!

[2020-03-04 16:35] #3896 closed

[2020-03-04 16:47] #4069 closed

[2020-03-04 16:48] toribr commented on #4002
Duplicate

[2020-03-04 16:48] #4002 closed

[2020-03-04 17:57] #3977 closed

[2020-03-04 18:02] #3989 closed

[2020-03-04 18:07] #4075 closed

[2020-03-04 18:24] #3943 closed

[2020-03-04 19:25] ablangworthy27 opened #4090 "Guide preview not working"
## Describe the bug
Preview is not working for the mobile food vendor guide in either language.

## URL
https://alpha.austin.gov/en/preview/guide/UGFnZVJldmlzaW9uTm9kZTozNDQy

## To Reproduce
Steps to reproduce the behavior
example:
1. Go to edit the mobile food vendor guide in Joplin
2. Toggle to Spanish and add some translations to the title, description and headings
3. Push preview
4. See error

[2020-03-04 19:39] briaguya commented on #3709
@desigonz the idea is to do this in one fell swoop for all page types in https://github.com/cityofaustin/techstack/issues/4089

[2020-03-04 20:02] briaguya opened #4091 "Turn permissions spreadsheet into issues"
we want to take the rows in https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0 and turn them into issues with exit criteria that can be used to write unit tests etc.

Let's make some issues!

[2020-03-04 20:11] #2414 closed

[2020-03-04 20:12] #3768 closed

[2020-03-04 20:13] #2513 closed

[2020-03-04 20:54] easherma commented on #3888
With this issue, the page didn't have a topic and had a map block added but not selected. I corrected both of those errors and it now previews correctly.

[2020-03-04 21:03] #3867 closed

[2020-03-04 21:20] chasechenevert commented on #3916
I made a collection for the (master) screens and components related to the issue in Abstract:
https://share.goabstract.com/10a9e4fa-4f77-4119-aa18-662d69e07aa2?

[2020-03-04 21:33] #3976 closed

[2020-03-04 21:33] #3561 closed

[2020-03-04 21:33] #3858 closed

[2020-03-04 21:33] #3912 closed

[2020-03-04 21:34] #3765 closed

[2020-03-04 22:14] chiaberry commented on #4063
@ablangworthy27 & @desigonz
here is a joplin to test on
https://joplin-pr-4063-special-horas.herokuapp.com/admin/pages/370/edit/#tab-content

I'll get a janis going so you can see whats happening / how it comes out

[2020-03-04 22:41] srigdon commented on #4081
@toribr @desigonz I can do end of week.

[2020-03-04 22:54] Niicck commented on #4083
jq is used to parse json. It expects a json object. That line of jq looks for "model": "users.user" . It then changes the “password” field for that json object to “pbkdf2_sha256$150000$GJQ1UoZlgrC4$Ir0Uww/i9f2VKzHznU4B1uaHbdCxRnZ69w12cIvxWP0=“, which is a hash for “x”. This sanitizes our prod output, because we don’t want people’s production passwords to be stored on github.
jq needs a json object

[2020-03-04 22:54] chiaberry commented on #4063
I'm using this janis: https://janis-3818-event-home.netlify.com/es/location/test-location-page, you can toggle languages and see the hours here

[2020-03-04 23:00] ablangworthy27 commented on #4063
@chiaberry this looks good!

[2020-03-04 23:08] desigonz commented on #4063
QA passed!

[2020-03-04 23:08] Niicck opened #4092 "Publisher v2 handling for staging and production"
- Create cloudfront distributions and S3 buckets with cloudformation for staging and production janis builds.
- Add cloudfront cache invalidations at the end staging and production builds.

[2020-03-04 23:09] Niicck opened #4093 "Document the publisher"
Add a bunch of documentation

[2020-03-04 23:10] Niicck opened #4094 "Test the publisher"
It'll be existing concurrently our current build process. Let's keep an eye on it and transfer everything over at the end of the sprint.

[2020-03-04 23:19] desigonz commented on #4081
Excellent!

[2020-03-05 00:15] easherma commented on #4090
https://alpha.austin.gov/en/preview/guide/UGFnZVJldmlzaW9uTm9kZTozNDQy

Looks like we fixed it!

[2020-03-05 01:11] srigdon opened #4095 "Civiqueso and project communication tasks"
Previously: #4015

Follow up actions:
- [ ] Draft a short list of Civiqueso post ideas based on what's already documented.
- [ ] Introduce @sarafperalta to each discipline, pick posts to co-develop.
- [ ] Set up a meeting with @sarafperalta and SDL to talk about resident outreach strategies and goals.

[2020-03-05 02:41] briaguya opened #4096 "remove "relatedDepartments" and only use "departments""
There's still some relatedDepartment code lying around, let's get rid of it

PR https://github.com/cityofaustin/janis/pull/716

quick check:
1. go to https://janis.austintexas.io/
2. see that "get your bulk items collected" is not there
3. go to https://janis-4096-remove-related-department-refs.netlify.com/
4. see that "get your bulk items collected" is there

[2020-03-05 06:53] briaguya opened #4097 "Permissions - view content on list page"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* On the page list/search page
  * As an editor/publisher in a department
    * I can see/search for the pages in my department
    * I cannot see/search for pages that are not in my department
  * As an admin
    * I can see/search for all pages

Unknowns:
* What kind of automated t

[2020-03-05 06:57] briaguya opened #4098 "Permissions - create a page"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* When creating a page
  * As an editor/publisher in a department
    * Any page I create is automatically added to my department
    * I cannot create a page in a different department
  * As an admin
    * I can create a page with any department
    * I can create a page with no dep

[2020-03-05 07:01] briaguya opened #4099 "Permissions - edit page view"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* When visiting an edit page url
  * As an editor/publisher in a department
    * I have permission to view the edit page for any page in my department
    * I do *not* have permission to view the edit page for any page *not* in my department
  * As an admin
    * I have permission t

[2020-03-05 07:20] briaguya opened #4100 "Permissions - deleting content"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* As an Editor in a department
  * When trying to delete a page
    * In my department
      * That is unpublished
        * That is authored by me
          * I can delete it
        * That is authored by someone else
          * I can't delete it
      * That is published
        *

[2020-03-05 07:26] briaguya opened #4101 "Permissions - publishing/unpublishing content"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* When trying to publish/unpublish a page
  * As an editor in a department
    * I can't publish
    * I can't unpublish
  * As a publisher in a department
    * If the page is in my department
      * I can publish
      * I can unpublish
    * If the page is not in my department

[2020-03-05 07:33] briaguya opened #4102 "Permissions - revision history"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

Exit criteria:
* As an editor in a department
  * When trying to view the revision history page
    * For a page in my department
      * I can see it
      * I can replace the current draft
      * I can't update/publish
    * For a page in a different department
      * I can't see it
      * I c

[2020-03-05 07:39] briaguya opened #4103 "Permissions - seo/settings tabs"
from https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

this shouldn't actually require any new department related logic to implement, but would be good to figure out how to write tests for

Exit criteria:
* On the page edit page
  * As an editor in a department
    * I can't see the SEO or Settings tab
  * As a publisher in a department
    * I can see

[2020-03-05 13:52] desigonz commented on #3967
Assigning @chasechenevert to QA this

[2020-03-05 14:29] robbobfrh84 commented on #4016
OK, this is ready for QA. Please Don't hessitate to reach out with any questions as this is a bit a new test flow we haven't done.

PR: https://github.com/cityofaustin/joplin/pull/586
Deployed: https://joplin-pr-4016-navs.herokuapp.com/

click the lamp in the center of the city seal. It's small, so you may have to click around a bit (10x10px)
This PR only covers TWO sections of the new design.
The

[2020-03-05 16:00] chasechenevert opened #4104 "Formstack-save and resume: no system feedback validation or error handling"
## Describe the bug
As I'm delivering https://github.com/cityofaustin/techstack/issues/3686, I double-checked for error states since there's an input field only to find no affordance for email validation, or error handling. I'm also not seeing a success message like, "Your link has been emailed."

## https://cityofaustin.formstack.com/forms/cprc_application

## To Reproduce
Steps to reproduce the

[2020-03-05 16:02] chasechenevert commented on #3686
Collection for save and resume screens/assets are here: https://share.goabstract.com/19525891-3c33-46a7-bd65-035f287c1549?

- changed the title/label: "Save and Resume Later" to > "Save and resume later", but I welcome a content strategists review across this flow
- Email validation, error messaging, success confirmation: these features seemed to be missing from the flow and I can't tell if it's a

[2020-03-05 18:15] #3775 closed

[2020-03-05 20:27] briaguya commented on #4097
I think this is anywhere from a 2 to a 5, I think the functionality and testing it manually would be a 2, but figuring out how to write unit tests for what we can see would make it into a 5

[2020-03-05 20:29] briaguya commented on #4102
this is probably a 5 to an 8, depending on what kind of automated testing we can set up for viewing things. Unit tests for replacing drafts/publishing should be straightforward, tests around viewing pages may be complex.

[2020-03-05 20:29] briaguya commented on #4103
2 to a 5 depending on what automated testing of viewing things looks like

[2020-03-05 20:31] easherma opened #4105 "Makin factories: the rest of pages"
We have several pages that don't have factories made for them yet. Lets make some progress so we can support better testing.

[2020-03-05 20:32] easherma opened #4106 "Make factories for snippets, other models"
We have snippets and other models that need factories written for good tests ( this can include permissions, for example). If we write these factories too we'll be in much better shape to support programmatic testing and avoid setting up fixtures or tests using the database.

[2020-03-05 21:02] #4012 closed

[2020-03-05 21:06] #3813 closed

[2020-03-05 21:06] #3974 closed

[2020-03-05 21:06] #3993 closed

[2020-03-05 21:06] #3757 closed

[2020-03-05 21:06] #3921 closed

[2020-03-05 21:06] #3975 closed

[2020-03-05 21:06] #3959 closed

[2020-03-05 21:07] #3947 closed

[2020-03-05 21:07] #3874 closed

[2020-03-05 21:15] desigonz opened #4107 "APH transition inventory"
- [ ] Look through what we've drafted, compare against inventory
- [ ] Queue up issues for what needs to get done

[2020-03-05 21:19] desigonz opened #4108 "Publish APH events"
We have an events content type!

[2020-03-05 21:22] #4073 closed

[2020-03-05 21:22] desigonz opened #4109 "Draft CPRC information page and topic"

[2020-03-05 21:25] desigonz opened #4110 "Site search desk research"

[2020-03-05 21:26] desigonz opened #4111 "Site search requirements brainstorm session"
### Early thoughts

Keywords
- Title
- Description
- Body

How do results sort?

[2020-03-05 21:32] Jo-Dwyer opened #4112 "Reassess applicant pool and schedule in-person interviews"
Once we've completed phone screens, assess the remaining applicants at content sync and schedule in-person interviews.

[2020-03-05 21:38] desigonz commented on #3686
Great—sending this to dev

[2020-03-05 21:59] desigonz opened #4113 "Site search research"
What does it look like to search a statically generated site? What's out there?

[2020-03-05 22:00] robbobfrh84 opened #4114 "Cleanup Error logs and warnings in Janis"
First,
- [ ] Discovery

Then, List the errors
- [ ] .... 🐛....
- [ ] .... 🐛....

Then, fix the errors ☝️

[2020-03-05 22:05] desigonz opened #4115 "Assessments"

[2020-03-05 22:06] briaguya opened #4116 "Import pages into Joplin"
https://github.com/cityofaustin/joplin/pull/609

### As an [admin/maybe publisher?] I want [to import pages from other janis/joplins] so that
* I can see how a page I'm working on in production looks with new changes in a PR app/staging
* I don't need to move data from prod -> staging and worry about losing test data from staging
* As a @briaguya I can build out a new data model without writing mi

[2020-03-05 22:08] desigonz opened #4117 "Define requirements for all pickers—permissions"
In new tab in permissions spreadsheet: https://docs.google.com/spreadsheets/d/1zE_Y806MlCli1aSkzIbXTzCTA01KWSReLGrJ7b5sUYU/edit#gid=0

[2020-03-05 22:18] desigonz opened #4118 "Discuss site search requirements"
We'll be discussing this at dev-design sync on 3/17.

- Anatomy of a query result
  - Title
  - Summary (description field we have on most pages)
  - Offered by: Department, topic
  - Label / file type: event, service and info (probably one bucket, users won’t know the difference), location, downloadable file (PDF)
- Ranking: how will we determine this for dev?
- Visual design
  - Primary nav
  -

[2020-03-05 22:21] desigonz commented on #3160
Julia's set this up in austintexas.gov analytics!! Woohoo!

[2020-03-05 22:21] #3160 closed

[2020-03-05 22:29] desigonz opened #4119 "Sprint 52 QA buffer"

[2020-03-05 22:33] desigonz opened #4120 "Alerts: design research"
We're starting work on the alerts content type. Let's think about research needs to inform the design.

[2020-03-05 22:40] desigonz opened #4121 "Publish queue usability tests"

[2020-03-05 22:45] desigonz opened #4122 "Iterate on publish queue designs"
Tentatively sprint 52 but might be pushed to sprint 53. We'll size this post-usability tests, when we have a better sense of what we'll need to change.

[2020-03-05 22:46] desigonz opened #4123 "Web SPOC research"
- [x] Touch base with Nikhilesh and CPIO re: web SPOC data
- [x] Begin tracking user data

[2020-03-05 22:49] #4044 closed

[2020-03-05 23:02] desigonz opened #4124 "Implementation: Save and resume styling"
### As someone using the "save and resume" feature on a form, I want styling to be consistent, so that I have a seamless experience.

Mocks on abstract: https://app.abstract.com/projects/065fcabf-a46a-4688-a858-83ce2117b16c/branches/master/collections/c901f0ef-71f4-4fe3-89ba-c2596b7e6e2a
- changed the title/label: "Save and Resume Later" to > "Save and resume later", but I welcome a content strate

[2020-03-05 23:31] #4080 closed

[2020-03-06 08:27] briaguya commented on #4076
I tried just adding `document` to our `OfficialDocumentPageOfficialDocumentTranslationOptions` in `translation.py` and making/running migrations. It did not work as expected (docs gone, translated version of docs field not showing up in editor -- not just a js issue, definitely deeper than that) I spent a couple hours poking around/googling wagtail-modeltranslation foreign key issues but didn't re