[2019-03-08 20:20] annieszot opened #1449 "Add microsite link and catch-all page decisions to Content team editing checklist"
Working with @desigonz to document decisions and plan next steps on alpha content re: microsites and catch-all pages

[2019-03-08 20:48] easherma commented on #1108
https://github.com/cityofaustin/officer-complaint-form/pull/61

[2019-03-08 20:49] easherma commented on #1183
@Niicck and I discussed thru onboarding and agree that we could benefit from consolidating many of our repos, but I think it is best to wait til after the press release

[2019-03-08 20:55] #1388 closed

[2019-03-08 21:24] #1447 closed

[2019-03-08 21:31] amenity commented on #1383
Yup @easherma, @desigonz !
So:
Presente una queja
Agradezca a un oficial de policía de Austin

[2019-03-08 22:34] annieszot commented on #1435
Update: Edits returned from @LauraTrujillo
Agreed to and verified with Chris to publish Medium Post with him as the author.
Instead of making a new issue, I'll assign @LauraTrujillo and @ChristopherLuedtke to review process until complete.
Thanks, and onward!

[2019-03-08 22:42] easherma commented on #1383
@amenity but just to clarify, the title in the browser tab will read 'File a complaint' and not 'Officer Complaint Form'?

[2019-03-08 22:45] kriskristin commented on #1416
I translated the participant recruitment form into Spanish. Sergio reviewed it for errors and  @desigonz will shortly.

https://docs.google.com/document/d/1gJ1pk5O1vIPxZyQW4eCTILaqgMj8537dFpvpRyONW1Q/edit?usp=sharing

[2019-03-08 23:09] easherma commented on #476
This looks very close to done/done already:
https://github.com/infoportugal/wagtail-modeltranslation/issues/191

[2019-03-08 23:10] easherma commented on #476
fyi @briaguya  since you've been doing a bunch of translations stuff lately

[2019-03-08 23:27] amenity commented on #1400
@briaguya - discussed this during planning on Thursday and decided we should cross-flock discuss first. See #1445

[2019-03-08 23:34] amenity opened #1450 "<title> should match page title"
<img width="913" alt="Screen Shot 2019-03-08 at 5 33 11 PM" src="https://user-images.githubusercontent.com/1463708/54061836-4a75a780-41c8-11e9-994d-6f84f49510ea.png">

[2019-03-08 23:44] amenity commented on #1383
@easherma - yes!

[2019-03-10 21:52] sergiogcx commented on #1378
A PR has been created (originally based from issue #1388):
https://github.com/cityofaustin/officer-complaint-form/pull/62/files

** Note: It's still a WIP, but the functionality is now there:

![UfL5KV9rRk.gif](http://g.recordit.co/UfL5KV9rRk.gif)

To do:
- Fine tune styles (button, font sizes, checkmark size, etc).
- Incorporate content & content changes
- Change translations and incorporate new

[2019-03-10 21:53] sergiogcx commented on #1378
Full size screenshot:

![Screen Shot 2019-03-10 at 4.52.27 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/f99ba28c-6109-48f8-9c09-22a5b2cc965c)

[2019-03-11 14:42] kriskristin commented on #1077
@LauraTrujillo @toribr

How have been translating in the past? Is there someone I can reach out to for Vietnamese and Arabic translations?

[2019-03-11 15:02] amenity opened #1451 "Review font style implementation in Janis 2.0"
Once @pibemillo has something to look at for #815, @chasechenevert should take a look at it with Browserstack and check to make sure fonts are looking good on all our major devices.

In particular, we've noticed issues with font weight, seemingly due to [this Apple bug](https://ahmadawais.com/fix-macos-mojave-font-rendering-issue/).

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

De

[2019-03-11 15:04] toribr commented on #1445
Prior to this meeting, let me get some things together that will help facilitate discussion. In order to do that, it would be ideal if a content person could pull together a set of pages (ideally from content currently being worked with) that might comprise, or nearly so, our concept of a "collection". @LauraTrujillo ?

[2019-03-11 15:30] amenity commented on #922
cc/ @easherma

[2019-03-11 15:45] LauraTrujillo commented on #1445
@toribr I can do that. Do we want to stay in Public Health, or revisit the ole residential permitting process?

[2019-03-11 15:46] #1247 closed

[2019-03-11 15:48] LauraTrujillo commented on #1077
@kriskristin We have a company we've worked with: Language and Content
Our contacts are: Adriana Urgelles (aurgelles@languageandcontent.com) and Addy Miro (addymiro@languageandcontent.com).
I send them a Word doc of what we need translated (highlighting anything that does NOT need to be translated) and let them know the languages and a little note about how great it would be to have the translatio

[2019-03-11 15:57] amenity commented on #1451
@pibemillo - throw a link up here when you have something deployed that Chase can look at.

@chasechenevert - I can give you my Browserstack credentials if you need them.

[2019-03-11 16:00] toribr opened #1452 "Test personas based pages to exploring X-theme content targeting"
Test existing COA site with two defined personas (TBD) to explore opportunities for targeted content, and explore reaction to alternative paper prototype.

[2019-03-11 16:15] sergiogcx commented on #1378
Updates:

![Screen Shot 2019-03-11 at 11.15.17 AM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/c256b280-250b-4b7b-9e60-d188eeac8780)

![Screen Shot 2019-03-11 at 11.13.52 AM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/10160b0f-0d8c-49a9-9981-4f8e1bea7ef4)

[2019-03-11 16:26] desigonz opened #1453 "Microsite interview protocol"
- [x] develop questions
- [ ] write intro script
- [ ] write closing script
- [ ] get edits/feedback

[2019-03-11 16:31] desigonz commented on #1392
- [ ] @desigonz: dig up email addresses
- [ ] @desigonz: draft up intro email

[2019-03-11 16:51] Niicck opened #1454 "Can't delete Images in Joplin CMS"
I accidentally uploaded a photo twice in staging. When I tried to delete it, I got this error:

[code]

Every `image` has a set of `renditions` in the database. However, those renditions are set to be protected if an image gets deleted. I'm not sure if Luqmaan had a good reason for this. Unless there are any objections, the `TranslatedImageRendition` model's foreign key should be set to `on_delete

[2019-03-11 16:54] amenity commented on #1433
@easherma - I know you've already got this guy going, but sticking Tori's mock ☝️

[2019-03-11 16:55] #1434 closed

[2019-03-11 17:13] desigonz commented on #570
duplicate of #1159

[2019-03-11 17:13] #570 closed

[2019-03-11 17:19] #1448 closed

[2019-03-11 17:20] desigonz commented on #1378
content thing—no period at the end of the heading "We have received your complaint"

[2019-03-11 17:23] desigonz commented on #1159
This is the paper application they use for the Peer Educator program

[2019-03-11 17:57] easherma commented on #1383
changed at https://github.com/cityofaustin/officer-complaint-form/pull/63 & https://github.com/cityofaustin/officer-thank-form/pull/13

@desigonz may be best just to check in w/you in the next couple days to make sure the translations get updated correctly

[2019-03-11 18:00] easherma commented on #1423
Is this a dupe/related #1348 ?

[2019-03-11 18:40] easherma commented on #1118
we could/should add email validation to this list

[2019-03-11 20:44] annieszot commented on #1427
@briaguya helped me resolve this :) Closing issue.

[2019-03-11 20:44] #1427 closed

[2019-03-11 20:54] kriskristin commented on #1416
Spanish recruitment survey is done. Spanish social media blurb was sent to Sara Peralta.
I will touch base with Sara again and see if there are other outreach groups that we can access for usability testing.

[2019-03-12 15:11] amenity commented on #1044
👌 ✨

[2019-03-12 15:11] #1044 closed

[2019-03-12 15:11] pibemillo commented on #1450
I can take this one. Looks like we need to import Head from React-Static into each content-type so we can set <title>{title}<title>. Will push up a branch to review and discuss

[2019-03-12 15:12] #1330 closed

[2019-03-12 15:13] amenity commented on #1423
@easherma sure is.

[2019-03-12 15:13] #1423 closed

[2019-03-12 15:20] #1108 closed

[2019-03-12 17:00] #1402 closed

[2019-03-12 17:00] #1425 closed

[2019-03-12 17:35] #1348 closed

[2019-03-12 17:54] easherma opened #1455 "Make OPO URLs not hard-coded"
**Describe the bug**
At the moment, some urls are hard-coded to alpha. This makes staging testing kinda goofy, cause it will contain links to production janis.

**URL**

**To Reproduce**
![url](https://user-images.githubusercontent.com/10539855/54223608-dbe56200-44c5-11e9-8f89-4c8a75dbdc2c.png)

[2019-03-12 18:16] amenity commented on #1383
👌

[2019-03-12 18:16] #1383 closed

[2019-03-12 18:24] amenity commented on #1283
<img width="811" alt="Screen Shot 2019-03-12 at 1 21 31 PM" src="https://user-images.githubusercontent.com/1463708/54225491-c96d2780-44c9-11e9-9922-44786729c6a5.png">
Still seeing at https://forms.austintexas.io/police-complain/review-and-submit. 🤔

[2019-03-12 18:37] amenity commented on #1283
@easherma FWIW, fiddling with these pesky guys in my inspector, it seems like setting the background color with RGBA like [Sergio did with the upload button](https://github.com/cityofaustin/techstack/issues/1285#issuecomment-467235955) is working better?

[2019-03-12 18:43] #1285 closed

[2019-03-12 18:44] #1264 closed

[2019-03-12 19:01] #1352 closed

[2019-03-12 19:02] amenity opened #1456 "Police Oversight form: Upload revised PDFs"
- [x] [OPO_2019_complaint-form-print_English.pdf](https://github.com/cityofaustin/techstack/files/2973062/OPO_2019_complaint-form-print_English.pdf)
- [x] [OPO_2019_complaint-form-print_Spanish.pdf](https://github.com/cityofaustin/techstack/files/2973063/OPO_2019_complaint-form-print_Spanish.pdf)
- [x] [OPO_2019_thanks-form-print_English.pdf](https://github.com/cityofaustin/techstack/files/2973064

[2019-03-12 19:05] #1212 closed

[2019-03-12 19:06] #1433 closed

[2019-03-12 19:15] #1370 closed

[2019-03-12 19:17] amenity opened #1457 "MIGA(s): Make images great again"
🌮
At some point we need to revisit how we handle uploaded images in Joplin.

[2019-03-12 19:27] amenity opened #1458 "Janis 2.0: Implement Service Page phase 2"
#876 covered some ground, but need to discuss what's next with @chasechenevert and @toribr at the 3/19 design/dev sync.

[2019-03-12 19:34] amenity opened #1459 "Joplin 2.0: Initial CMS research"
- [x] Review [previous comparison work](https://drive.google.com/drive/folders/1n39E35SW9d7PYUeNOxQJnjE-95qVuZmO)
- [ ] Document Wagtail pain points with @briaguya
- [x] Review Gov.uk CMS with content and UX [content-publisher](https://docs.publishing.service.gov.uk/apps/content-publisher.html) #1460 and document features/patterns we want to use
- [x] Set up requirements for comparison in upcoming

[2019-03-12 19:44] amenity opened #1460 "Review GOV.UK content-publisher"
**Objective**
Whether or not we can reuse the Gov.uk CMS, let's document what features/patterns we would want in Joplin 2.0.

[Video](https://drive.google.com/file/d/1u1FxA2t8VPEeUSy3V470TKIfdHk2Fvh9/view):

[2019-03-12 19:53] briaguya commented on #1437
bug
<img width="446" alt="Screen Shot 2019-03-12 at 2 52 11 PM" src="https://user-images.githubusercontent.com/6384156/54231440-8796ae00-44d6-11e9-90ce-6b5bf08d2c92.png">

[2019-03-12 19:58] easherma commented on #476
https://github.com/infoportugal/wagtail-modeltranslation/issues/191#event-2197910913

[2019-03-12 20:07] amenity opened #1461 "Fix contact hours responsive layout issues"
- [ ] Too big on an iPhone 5
![Screen Shot 2019-03-12 at 3 08 00 PM](https://user-images.githubusercontent.com/1463708/54253091-73c16b00-451b-11e9-9a7e-b4188ba9fd06.png)

- [ ] Gets cut off on a normal desktop
![Screen Shot 2019-03-12 at 3 07 38 PM](https://user-images.githubusercontent.com/1463708/54253096-7a4fe280-451b-11e9-8161-df02be20d25a.png)

[2019-03-12 21:05] Niicck commented on #1457
- [ ] graphql needs to recognize a foreign relation between `base_translatedimage` and `base_translatedimagerendition`. Otherwise we'll have the manually parse `base_translatedimage.title` and guess at the base_translatedimagerendition to use.
- [ ] Look at why was `filename` added to graphql schema for images (joplin/api/schema.py). How is it different than `title`? Where does it come from?
- [ ]

[2019-03-12 21:33] easherma commented on #1158
I can't quite figure this out so far.
Mozilla's json schema has some documentation on ids being generated.
us-forms customized some of this.
It seems clear enough that the label id is being generated, but not associated with the component.
It should be a simple thing to fix this, it would be painless with html.
I haven't figured out a good approach with React/between these two libraries.

[2019-03-12 21:39] easherma commented on #1283
updating this as it's like my third time fixing. I might be able to hack something into play again, but really we need to refactor the review page and the way us-forms-system applies styles

[2019-03-12 21:57] easherma commented on #1283
this is tweaked to work/be visible again. but the review page is still doing goofy things to the styling so it looks ugly

[2019-03-12 21:58] annieszot commented on #1435
Update: Edits incorporated. Annie on phone call with @ChristopherLuedtke on 3.13.19 to edit/proof new interview section. Discuss next steps before submitting to Laura for final review.

[2019-03-12 23:41] annieszot opened #1462 "Add new labels"
Add to techstack labels: journey map, consult, database, workshop, statement of work, scoring, blueprint, and evaluation
https://github.com/cityofaustin/techstack/labels?page=4&sort=name-asc

- [ ] Learn how to add labels
- [ ] Define labels
- [ ] Start adding labels to issues

[2019-03-12 23:42] #1462 closed

[2019-03-12 23:42] annieszot commented on #1462
Issue moved to [cityofaustin/odd-process-workflow #1](https://github.com/cityofaustin/odd-process-workflow/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-13 02:57] amenity opened #1463 "Police Oversight form: Refactor review page"
The USFS defaults button styles are wreaking havoc on the review page, see #1283. Every time we think we've fixed things, the ghoulish blue tablets reappear. 👻

[2019-03-13 03:00] amenity commented on #1283
Ugh, sorry this is such a pain. Looks like you squashed it for now, so I'll close this. Would you edit/elaborate on refactoring dreams [here](https://github.com/cityofaustin/techstack/issues/1463), please?

[2019-03-13 03:00] #1283 closed

[2019-03-13 03:02] amenity opened #1464 "Police Oversight form: Polish zoom controls"
The map zoom controls are looking a little wacky:

https://forms.austintexas.io/police-complain/where-happened
<img width="1035" alt="Screen Shot 2019-03-12 at 9 43 40 PM" src="https://user-images.githubusercontent.com/1463708/54251164-6654b280-4514-11e9-92bd-e84766631588.png">

https://forms.austintexas.io/police-complain/review-and-submit
<img width="702" alt="Screen Shot 2019-03-12 at 9 40 22 P

[2019-03-13 04:04] amenity opened #1465 "Police Oversight form: Date and time field"

[2019-03-13 04:20] amenity commented on #1432
I am not seeing the 90% width for the address bar in desktop.

<img width="989" alt="Screen Shot 2019-03-12 at 11 18 33 PM" src="https://user-images.githubusercontent.com/1463708/54253489-52fa1500-451d-11e9-8d59-bb0bf612821e.png">

Want me to make this into a new issue?

[2019-03-13 04:21] amenity opened #1466 "OPO media push: Upload (Share your photos or videos) page"
- [x] Link to "How we use your info" - nothing happens when I click on it
- [x] Add a period at the end of etc. :"Upload any evidence that you have (video files, audio files, photos, police report, hospital record, etc)"

[2019-03-13 04:52] easherma commented on #1466
This is all fixed in staging(forms.austintexas.gov), not pushed to
production.
On Tue, Mar 12, 2019 at 11:21 PM Amenity Applewhite <
notifications@github.com> wrote:

[2019-03-13 15:04] desigonz commented on #1392
@kriskristin here's my first stab at an intro email...all feedback welcome! I'm wondering if we're hitting the right tone?

Hi ____,

I work in the Office of Design and Delivery. I work on a team that is imagining the future of the City of Austin’s websites. We’re in the process of building the City of Austin’s future website, with the goal of improving resident access to municipal services.

One

[2019-03-13 15:05] desigonz commented on #1392
@kriskristin made some more edits, the latest version is edited here on github :)

[2019-03-13 16:27] sergiogcx opened #1467 "Police Oversight: Fix Missing Translations"
There are missing translations in master (staging) in the Spanish complaint form.

[2019-03-13 16:28] annieszot commented on #1435
@LauraTrujillo Ready for final review! Final edits requested by Friday, 3/15 COB https://docs.google.com/document/d/1AwBj2LZyZAwdzqWad-OYo_hIWhxlLbeZfUe5u7szwA4/edit?ts=5c882e52#
*Photos - one good one left out of the "Voice of the Gardener" section because don't have signed photo release. Photos in the doc have permission/releases

[2019-03-13 17:19] desigonz opened #1468 "copy; not code"

[2019-03-13 17:19] #1468 closed

[2019-03-13 17:20] amenity commented on #1360
Spoke with Brian and it's helpful for him to have these up as he's working with the new content types.

[2019-03-13 17:20] desigonz opened #1469 ""copy; not code" updates for OPO form"

[2019-03-13 17:21] amenity opened #1470 "Glossary of terms"
This could be a content type in Austin.gov or a freestanding platform.

Examples:
- https://xdgov.github.io/data-design-standards/glossary/ - Github pages
- https://www.nice.org.uk/glossary - Orchard CMS
- https://www.nhs.uk/conditions/ - [Wagtail?](https://torchbox.com/blog/nhs-picks-wagtail/?_ga=2.73205398.460000966.1552496824-334778395.1552496824)

[2019-03-13 18:20] toribr opened #1471 "Wireframe Service page with targeted content"
Design wireframe for targeted content on service page.

[2019-03-13 18:24] toribr opened #1472 "Service page targeted content prototype design with real content for two personas"
Low fidelity design with real content for seniors (persona-type)
- [x] Service page
- [x] Targeted topic page (editorial)

Low fidelity design with real content for unemployed(situational-type)
- [ ] Service page
- [ ] Targeted topic page (editorial)

Low fidelity in this case is grey scale.

[2019-03-13 18:27] toribr opened #1473 "Determine best option for paper prototyping of targeted content"
Determine easiest targets where participants and content will be relatively easy to come up with. Includes finding related pages that can be used as real content.

Create wires with real or nearly real content for seniors and unemployed as targets.

[2019-03-13 19:39] sergiogcx opened #1474 "Police Oversight: Thank you form: Fix confirmation links & E-mail translations"

[2019-03-13 19:54] desigonz commented on #1431
@easherma See the `<title>` checkboxes above—I believe those have been taken care of by [#1383](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1383), correct?

[2019-03-13 22:05] desigonz commented on #1431
@easherma Oh and I'm noticing that the right titles are pulling in for English but not for Spanish on both the thank you and complaint forms. If I add that to translations.json, will it work?

[2019-03-13 22:14] desigonz commented on #1363
@easherma @amenity Looks like this is a "code, not copy" issue! "Office of Police Oversight" is baked into the template at a higher level than you're doing translations: https://github.com/cityofaustin/form-service-api/blob/7f7a7847fab69e12721146dbf92528f85f89feae/templates/email/officepoliceoversight/common/header.html#L7

[2019-03-13 22:18] sergiogcx commented on #1363
I got it, my bad. I have not been paying attention to that.

[2019-03-13 22:24] desigonz commented on #1469
@amenity @easherma All of my changes are in the various repos in branches labeled "1469-copy-updates"; just submitted the following pull requests:

- [ ] [officer-complaint-form](https://github.com/cityofaustin/officer-complaint-form/pull/65)
- [ ] [officer-thank-form](https://github.com/cityofaustin/officer-thank-form/pull/15)
- [ ] [officer-form-chapters](https://github.com/cityofaustin/officer-

[2019-03-13 22:35] amenity commented on #1381
Duplicate of #1382

[2019-03-13 22:35] #1381 closed

[2019-03-13 22:42] desigonz commented on #1229
@easherma @amenity Wanted to surface this content edit above again re: "phone" field that should read "phone number" but I don't know where I would make that update :/

[2019-03-13 22:43] amenity opened #1475 "Police Oversight form: Review and submit page officers/witnesses sections"
- [x] Make Add button for witness and officer label "Add officer" and "Add witness"
- [x] Remove/hide bold "Tell us about the officer(s)" text
- [x] Remove/hide bold "Tell us about any witnesses"

See also #1105.

[2019-03-13 22:50] amenity commented on #1475
@toribr - I broke this out from another issue with some simpler tasks. Attaching a screenshot of the officer section of the review page. Which of the "Tell us about the officer(s)" do you want removed/hidden?
![screencapture-forms-austintexas-io-police-complain-review-and-submit-2019-03-13-17_44_17](https://user-images.githubusercontent.com/1463708/54319711-78882c80-45b8-11e9-8b5b-c497e93863b6.png

[2019-03-13 22:56] amenity commented on #1182
@easherma, I am still seeing:
<img width="376" alt="Screen Shot 2019-03-13 at 5 51 17 PM" src="https://user-images.githubusercontent.com/1463708/54319921-50e59400-45b9-11e9-947e-ba066c075f76.png">
<img width="362" alt="Screen Shot 2019-03-13 at 5 56 12 PM" src="https://user-images.githubusercontent.com/1463708/54319922-517e2a80-45b9-11e9-9e4c-48ffe8fa88a6.png">

Should I open a new issue?

[2019-03-13 23:06] amenity opened #1476 "Police oversight form: Fix capitalization on file upload"
This text should be
_"Drag and drop your files or upload"_ [with upload linked]
<img width="841" alt="Screen Shot 2019-03-13 at 6 05 52 PM" src="https://user-images.githubusercontent.com/1463708/54320346-aff7d880-45ba-11e9-9094-ca504ff11a1b.png">

This is part of the Filepond widget.

[2019-03-13 23:20] amenity commented on #1385
Closed in https://github.com/cityofaustin/officer-form-chapters/pull/10.

[2019-03-13 23:20] #1385 closed

[2019-03-13 23:27] amenity commented on #1476
@sergiogcx - revisiting @easherma's [question](https://github.com/cityofaustin/techstack/issues/1182#issuecomment-467679106): Do you think this is something that could be fixed with translations.json?

[2019-03-13 23:30] amenity commented on #1469
Looks great, @desigonz !

I _believe_ that the `title` attribute can be fixed by updating https://github.com/cityofaustin/officer-thank-form/blob/946aafa0adcb1ffa16e51537c8bcc78c77908671/package.json. @easherma @sergiogcx - could I get a confirmation on that?

[2019-03-13 23:30] desigonz opened #1477 "Thank you form "Learn more about who we are" link"
"Learn more about who we are and what we do." is linking to the same page rather than [OPO microsite](https://alpha.austin.gov/police-oversight/)
- [x] fix English link
- [ ] fix Spanish link

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/302af2a1-42e3-45cd-804b-8daa2681b8c4)

[2019-03-13 23:38] desigonz commented on #1466
@amenity Added the missing period. As for the link, not sure what's going on—the right link is in the code.

[2019-03-13 23:43] amenity opened #1478 "Police Oversight form: Links in Spanish form should go to Spanish pages on Alpha"
Currently, these links go to the English pages.

- [ ] On https://forms.austintexas.io/policia-queja/compartir-evidencia, "Cómo almacenamos y usamos su información" should link to https://alpha.austin.gov/es/police-oversight/how-we-store-and-use-your-data on
- [ ] On https://forms.austintexas.io/policia-queja/confirmation, "Qué sucederá ahora" should link to https://alpha.austin.gov/es/police-over

[2019-03-13 23:45] amenity commented on #1466
@desigonz - the link is working!

[2019-03-13 23:48] desigonz commented on #1466
yep, just seeing it on staging! thanks!

[2019-03-13 23:52] amenity commented on #1386
@easherma - what size should this be?

[2019-03-14 03:26] easherma commented on #1386
I’d say this is an L

[2019-03-14 03:58] srigdon commented on #1367
Updates to all four Word docs:

- Made the logo consistent across all four
- Made contact info consistent across all four, including adding the fax number (I confirmed they do accept complaints that way and that's the right number), updating the phone number, and fixing the physical address
- Fixed all the check boxes so they show up in both .doc and .pdf formats

English thank you form:

- Edited

[2019-03-14 04:06] amenity commented on #1367
Thanks, @srigdon!
As far as the Spanish translations, what still needs to be done?

[2019-03-14 04:18] amenity opened #1479 "Police Oversight form: Improvements for users of screenreader"
- [ ] consider making the progress bar state "page X out of X" (It gives page number but not "out of x" so impaired users have no way of knowing where they are in the flow)
- [ ] need a space between link and arrow on "top services" card text because it reads "officesarrow"
- [ ] Review (interpreter does not give any indication of selection, and because of way statement is phrased looks like a pos

[2019-03-14 04:34] #1442 closed

[2019-03-14 13:59] toribr commented on #1475
This one.
![Screen Shot 2019-03-14 at 8 58 17 AM](https://user-images.githubusercontent.com/3790067/54362669-5c77a000-4637-11e9-833d-9f562c423673.png)

[2019-03-14 15:34] desigonz commented on #1430
@amenity re: "Styling of phone number within "over the phone" tab not correct"—what's incorrect about it? The parenthesis looks good to me; I'm thinking it should be linked though.

Do you need me to take any of these on?

[2019-03-14 15:46] annieszot commented on #1435
Final reviews returned. Editorial calendar updated
https://docs.google.com/spreadsheets/d/11ZhF5SLmLSeXR-uMHw0smCHVD8OVObPTd9IjVO3bK9M/edit#gid=0

[2019-03-14 16:54] #1187 closed

[2019-03-14 17:18] srigdon commented on #1367
[OPO_thanks-form_print_Spanish_needs-translation_3-14-19.docx](https://github.com/cityofaustin/techstack/files/2967641/OPO_thanks-form_print_Spanish_needs-translation_3-14-19.docx)
[OPO_thanks-form_print_English_3-14-19.docx](https://github.com/cityofaustin/techstack/files/2967643/OPO_thanks-form_print_English_3-14-19.docx)

@amenity ^ I deleted both the English and Spanish thanks docs that I post

[2019-03-14 17:33] easherma commented on #1158
@amenity if this is a priority before press push, I think may need to pair with @briaguya  or @sergiogcx

[2019-03-14 17:44] annieszot commented on #1449
Linked Catch-all and microsite research

[2019-03-14 17:44] #1449 closed

[2019-03-14 17:53] easherma commented on #1382
https://github.com/cityofaustin/officer-complaint-form/tree/1382-close-intro-accordians

[2019-03-14 17:53] amenity commented on #1430
@desigonz - those were copy pasted from another issue of Tori's, so probably a dupe.

[2019-03-14 17:54] easherma commented on #1431
@desigonz yes you should be able to add to translations.json

[2019-03-14 18:00] amenity opened #1480 "Police Oversight form: Update Spanish thanks paper form translations"
[OPO_thanks-form_print_Spanish_needs-translation_3-14-19.docx](https://github.com/cityofaustin/techstack/files/2967641/OPO_thanks-form_print_Spanish_needs-translation_3-14-19.docx)

[2019-03-14 18:17] amenity commented on #1439
@easherma - could you size, please?

[2019-03-14 18:18] #1355 closed

[2019-03-14 18:23] amenity opened #1481 "Police Oversight form: Make PDFs of paper form"
[OPO_thanks-form_print_Spanish_needs-translation_3-14-19-dg.docx](https://github.com/cityofaustin/techstack/files/2968735/1e01a1b5-d3bc-478a-8f1f-460f115767f9.docx)
[OPO_thanks-form_print_English_3-14-19.docx](https://github.com/cityofaustin/techstack/files/2967896/OPO_thanks-form_print_English_3-14-19.docx)
[OPO_complaint-form_print_English.docx](https://github.com/cityofaustin/techstack/files/29

[2019-03-14 18:32] amenity commented on #1480
@desigonz - please add to #1481 for @srigdon when you are done! Thanks.

[2019-03-14 18:34] #1367 closed

[2019-03-14 18:36] toribr commented on #1471
![Service - MVP - Web with targeted content](https://user-images.githubusercontent.com/3790067/54382534-30234a00-465e-11e9-9fe7-585b435d71c1.png)

[2019-03-14 18:37] amenity commented on #1438
@desigonz - was this in a PR? I am not seeing it reflected on the staging sites... 🤔

[2019-03-14 18:51] amenity commented on #1387
@easherma will you size and add an estimate, please?

[2019-03-14 19:09] amenity commented on #1362
I am seeing all the special characters coming through now.

[2019-03-14 19:10] amenity opened #1482 "Police Oversight confirmation emails: proofread and compile typos"
Was able to close #1362 , but looks like there are some lingering capitalization/standards typos in the OPO confirmation emails.

Check:
- [ ] Complaint confirmation - English
- [ ] Complaint confirmation - Spanish
- [ ] Thanks confirmation - English
- [x] [Thanks confirmation - Spanish corrections.pdf](https://github.com/cityofaustin/techstack/files/2968108/Thanks.Confirmation.-.Spanish.correctio

[2019-03-14 19:11] amenity commented on #1482
- [ ] [Thanks Confirmation - Spanish corrections.pdf](https://github.com/cityofaustin/techstack/files/2968108/Thanks.Confirmation.-.Spanish.corrections.pdf) - capitalization and "Ln." goes to "Lane"

[2019-03-14 19:21] easherma commented on #1382
live on staging: https://forms.austintexas.io/police-complain/introduction

[2019-03-14 19:22] easherma commented on #1387
Live on staging https://forms.austintexas.io/police-complain

[2019-03-14 19:25] amenity commented on #1432
Looked awkward at 90%, but extended the search bar on desktop.

[2019-03-14 19:25] #1432 closed

[2019-03-14 19:26] easherma commented on #1182
Should truly be fixed on staging https://forms.austintexas.io/police-complain

[2019-03-14 19:37] desigonz commented on #1438
@amenity pull request here: https://github.com/cityofaustin/officer-thank-form/pull/16

[2019-03-14 19:42] desigonz opened #1483 "Update translations.json for "algún detalle""
On officer detail pages, we've got a Spanish grammar issue. Need to update translations.json for both thank you and complaint forms: should be "algún detalle," not "algún detalles"

- [x] [Thank you form](https://forms.austintexas.io/policia-agradezca/detalles-oficial)
- [x] [Complaint form](https://forms.austintexas.io/policia-queja/detalles-oficial)

![image.png](https://images.zenhubusercontent

[2019-03-14 19:48] easherma commented on #1279
@toribr brought up that this is pretty terrible UX. However, in the meantime we could add an alert that at least lets a user know from data is lost if they switch languages.

[2019-03-14 19:50] desigonz commented on #1481
@amenity @srigdon

Spanish form with my new translations.
[OPO_thanks-form_print_Spanish_needs-translation_3-14-19-dg.docx](https://app.zenhub.com/files/118780243/1e01a1b5-d3bc-478a-8f1f-460f115767f9/download)

I found the smallest grammar issue in Spanish on the officer details section of the complaint and thank you forms (both on our site and on the paper form). I created issue [#1483](https://a

[2019-03-14 19:51] desigonz commented on #1480
uploaded new doc to [#1481](https://app.zenhub.com/workspace/o/cityofaustin/techstack/issues/1481)

[2019-03-14 20:01] desigonz commented on #1483
@amenity submitted two pull requests for these:
- https://github.com/cityofaustin/officer-thank-form/pull/17
- https://github.com/cityofaustin/officer-complaint-form/pull/67

[2019-03-14 20:07] easherma commented on #1430
i think these are all addressed

[2019-03-14 20:09] desigonz opened #1484 "Fix translation on complaint form "sobre usted" page"
On https://forms.austintexas.io/policia-queja/acerca-de-usted, "I am willing to be...2 to 4 business days" needs to be translated

![opo-queja-sobre-usted.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/d5556b89-7c67-4681-b749-d918c97f7cb9)

[2019-03-14 20:15] toribr opened #1485 "Create a confirmation modal for language switching during OPO form completion"
Draft copy for @chasechenevert

Title: Start over in Spanish?

Body: Switching to Spanish will erase all the information you have previously entered.

Are you sure you want to switch?

SECONDARY button label: Yes, start over.  PRIMARY: No, proceed in English.

[2019-03-14 20:29] toribr commented on #1485
https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/

[2019-03-14 20:40] desigonz commented on #1482
@amenity Also realizing we're using some wrong translations here (I don't believe we ever checked this against the official translations). Might be easiest if I go into the code and try to update as much as possible first, then do a review.

[2019-03-14 21:09] sergiogcx commented on #1363
I created a PR,
https://github.com/cityofaustin/form-service-api/pull/13

Waiting on build to test and merge to master.

[2019-03-14 21:18] desigonz commented on #1482
@amenity Created a [pull request](https://github.com/cityofaustin/form-service-api/pull/14) with my first pass of edits—once it's merged I'll give it a second pass.

[2019-03-14 21:28] #1347 closed

[2019-03-14 21:42] sergiogcx commented on #1363
![Screen Shot 2019-03-14 at 4.31.36 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/37f95a91-a6d2-4148-a028-09e599a83acf)

Fixed! :)

[2019-03-14 21:52] sergiogcx commented on #1363
Merged to master btw

[2019-03-14 21:53] #1373 closed

[2019-03-14 21:54] #1362 closed

[2019-03-14 21:55] amenity opened #1486 "Police Oversight form: Use single translations.json for both forms"
We should have one place where we maintain translations for both the complaint and thanks forms.

[2019-03-14 22:01] desigonz commented on #1431
- [ ] Add `<title>` translation to thank you form json
- [ ] Add `<title>` translation to complaint form json

[2019-03-14 22:10] #1382 closed

[2019-03-14 22:11] amenity opened #1487 "Police Oversight form: Close intro accordions by default on "Thanks" form"

[2019-03-14 22:13] #1333 closed

[2019-03-14 22:14] #1182 closed

[2019-03-14 22:18] desigonz commented on #1431
@amenity Moving to QA. I wasn't able to translate `<title>` via translations.json, should that be a new issue for devs?

[2019-03-14 22:26] amenity commented on #1431
@easherma can we just update the title here?
https://github.com/cityofaustin/officer-thank-form/blob/946aafa0adcb1ffa16e51537c8bcc78c77908671/package.json

[2019-03-14 22:31] #1363 closed

[2019-03-14 22:34] amenity commented on #1481
Thanks, @desigonz!

[2019-03-14 22:40] amenity commented on #1467
@sergiogcx - what was missing? Where was it fixed?

[2019-03-14 22:42] #1483 closed

[2019-03-14 22:42] #1480 closed

[2019-03-14 22:44] amenity commented on #1450
@pibemillo - is this in a PR or deployed somewhere?

[2019-03-14 22:50] amenity commented on #1303
Nope, still there:
<img width="1172" alt="Screen Shot 2019-03-14 at 5 48 30 PM" src="https://user-images.githubusercontent.com/1463708/54396580-85248780-4681-11e9-914a-9c3e962634f5.png">

[2019-03-14 22:51] amenity commented on #1474
@sergiogcx - what were these? Where are the fixes?

[2019-03-14 22:51] #1387 closed

[2019-03-14 22:54] #1378 closed

[2019-03-14 22:56] desigonz commented on #1159
My draft is here: https://docs.google.com/document/d/1Y1isYhlE3fSHSOkMfYO3DlGnSaCLmSlfRp-q_utt7QM/edit?usp=sharing

Assigning @JeffCopy to first review!

[2019-03-14 23:05] amenity commented on #1358
Currently, these links go to the English pages.

- [ ] On https://forms.austintexas.io/policia-queja/compartir-evidencia, "Cómo almacenamos y usamos su información" should link to https://alpha.austin.gov/es/police-oversight/how-we-store-and-use-your-data on
- [ ] On https://forms.austintexas.io/policia-queja/confirmation, "Qué sucederá ahora" should link to https://alpha.austin.gov/es/police-over

[2019-03-14 23:05] amenity commented on #1478
Duplicate of 1358

[2019-03-14 23:05] #1478 closed

[2019-03-14 23:06] easherma commented on #1487
https://github.com/cityofaustin/officer-thank-form/commit/586b1af222b6b3cc3111198a0eaa5fc32cfcd71d

[2019-03-14 23:11] desigonz commented on #1392
- Healthy Places Healthy People: ask Linda Cox for contact; if not, HPHP@austintexas.gov
- Austin Animal Center: @LauraTrujillo, do you have a good AAC contact?
- Austin Materials Marketplace: Daniel Kietzer

[2019-03-14 23:14] amenity commented on #1279
@toribr @easherma @sergiogcx @oliver2g - probably good to discuss this in the 3/19 dev/design sync! If a fix is not in scope for the OPO media push, what makes sense for an alert in the meantime?

[2019-03-14 23:14] easherma commented on #1384
should be done in both

[2019-03-14 23:15] amenity commented on #1487
🆒

[2019-03-14 23:15] #1487 closed

[2019-03-14 23:19] #1430 closed

[2019-03-14 23:23] pibemillo commented on #1450
Both!
https://github.com/cityofaustin/janis/pull/327
https://janis-staging-pr-327.herokuapp.com/

[2019-03-14 23:27] amenity opened #1488 "Police Oversight form: Phone numbers should be link"
`Call the Office of Police Oversight at (512) 972-2676.`

should be

[code]

- [x] English thanks
- [x] Spanish thanks
- [x] English complaint
- [x] Spanish complaint

[2019-03-14 23:40] amenity commented on #1290
@LauraTrujillo @oliver2g @wilhitem - It would be great to get someone from the content team to do another round of browser testing next week.

[2019-03-14 23:53] amenity commented on #1477
English fixed in https://github.com/cityofaustin/officer-thank-form/pull/18. That should take care of the Spanish link as well, right, @easherma?

[2019-03-15 00:06] amenity commented on #1450
Beautiful. ✨

[2019-03-15 13:20] toribr opened #1489 "Link which opens new tab needs icon to indicate that"
The link for "How my info is used" on the media page needs this icon immediately after the text.

https://material.io/tools/icons/?search=open%20in%20new%20&icon=open_in_new&style=baseline

[2019-03-15 13:33] toribr opened #1490 "Remake capital favicon used on OPO"

[2019-03-15 15:35] LauraTrujillo commented on #1290
We could assign it to Jeff- He'd have fresh eyes for it.

[2019-03-15 15:36] LauraTrujillo commented on #1392
@desigonz I'll do some digging to find out who we've worked with in the past at AAC.

[2019-03-15 15:42] desigonz commented on #1161
I think this is better as a service page! My draft lives here: https://docs.google.com/document/d/1N6y1lJv4HfyfOcc_l6kxZXBnda3v3gGQLg7zFDWQgPU/edit?usp=sharing

I have to fact check a few things and plan to do so when I'm back from vacation.

[2019-03-15 15:59] #1160 closed

[2019-03-15 17:12] desigonz commented on #1414
Draft lives here: https://docs.google.com/document/d/14GNobdf1nlWMVI5YSnXU5JZSn9TYfXZQ57L2qrlEs94/edit?usp=sharing

I just incorporated info on the Central Texas Diabetes Coalition onto a page I had drafted earlier. @srigdon, want to take first pass at the updated page?

[2019-03-15 17:56] desigonz commented on #1438
@amenity Made a pull request to update line 65-66: https://github.com/cityofaustin/officer-complaint-form/pull/68

[2019-03-15 19:02] toribr opened #1491 "Possible feature/component: X Department wants input on..."
There's an ongoing need of different departments which seek public input on various issues from time to time. How can we build in a mechanism that shows these notices on related pages, and thus (hopefully) drives more public input?

[2019-03-15 19:41] amenity opened #1492 "Update URLs on forms staging server"
Update the URLs at https://forms.austintexas.io/ to
- https://forms.austintexas.io/police-complain/
- https://forms.austintexas.io/police-thank/

Might be a good idea to add some text that this is our staging/testing instance and to link to the actual OPO page, just in case the URL gets out somehow?

[2019-03-15 19:58] desigonz opened #1493 "Bug: zoom buttons not centered"
Zoom + and - buttons should be centered within the frame

**URL tested:** https://forms.austintexas.io/police-complain/where-happened

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austintexas.io%2Fpolice-complain%2Fwhere-happened&speed=1&start_element=ClickedReproduceIssueF

[2019-03-15 20:06] desigonz opened #1494 "Bug: on review page, time appears even though I didn't choose a time"
Not sure if Nick is in the process of redoing the time picker, but on the review page, I get that the time was "12:00 PM" even though there is currently no time picker.

**URL tested:** https://forms.austintexas.io/police-complain/review-and-submit

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url

[2019-03-15 20:11] desigonz opened #1495 "Bug: map zoom buttons look different on review page"
On the review page, the zoom + and - buttons are side-by-side rather than one on top of the other. I expected them to be consistent to the screenshot in [#1493](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1493)

**URL tested:** https://forms.austintexas.io/police-complain/review-and-submit

Open [URL](https://live.browserst

[2019-03-15 20:11] #311 closed

[2019-03-15 20:12] LauraTrujillo opened #1496 "Translate alpha.austin.gov's privacy page"
Privacy page lives here: https://joplin.herokuapp.com/admin/pages/37/edit/

[2019-03-15 20:13] desigonz opened #1497 "Bug: map on review page X button"
On the review page map, the X button to clear the address field is misaligned (too far to the left).

**URL tested:** https://forms.austintexas.io/police-complain/review-and-submit

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austintexas.io%2Fpolice-complain%2Freview-and-s

[2019-03-15 20:23] #1466 closed

[2019-03-15 20:40] desigonz opened #1498 ""Date and time" translation on OPO form intro page"
Need to update complaint form translations.json to translate "Date and time"

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/4a7bf0be-6bad-461f-9295-c02d329dfba8)

[2019-03-15 20:46] desigonz commented on #1498
[submitted PR #69](https://github.com/cityofaustin/officer-complaint-form/pull/69)

[2019-03-15 20:47] easherma commented on #1303
Just kidding! fixed in https://github.com/cityofaustin/us-forms-system/commit/1c3667fc2b50c5d484a76651d6392c789e81e153

[2019-03-15 20:48] #1494 closed

[2019-03-15 20:54] easherma commented on #1488
https://github.com/cityofaustin/officer-complaint-form/commit/81d886b368416af7b94998121396980276f9ec86

not 100% sure how translations will handle this

[2019-03-15 21:09] amenity opened #1499 "Police Oversight review button tweaks"
Sentence case capitalization on the following buttons:
- [x] Add Another (button) → Add another (lowercase) (on [Tell us about the officer(s)](https://forms.austintexas.io/police-thank/officer-details)
- [x] Add another (button) -> Add another (lowercase) [Tell us about any witnesses](https://forms.austintexas.io/police-oversight/complaint/witness-details))
- [x] Update Page (button) → Update page

[2019-03-15 21:26] desigonz commented on #1484
@amenity [PR #71](https://github.com/cityofaustin/officer-complaint-form/pull/71)

[2019-03-15 21:31] sergiogcx commented on #1474
Ah my bad, you can close this. I forgot that the thank you form and complaint form share the same language translations strings.

You can test this by submitting a thank you form and then check your email.

[2019-03-15 21:32] Niicck commented on #1390
Additional things to look for in the datepicker:

- [ ] WCAG Compatiable https://github.com/cityofaustin/techstack/issues/1446
  - I took this to mean tabable input fields. I'm not sure what else goes into WCAG Compatibility
- [ ] Add Calendar Icon https://github.com/cityofaustin/techstack/issues/1057
- [ ] Date/Time should not be grayed out https://github.com/cityofaustin/techstack/issues/1259

[2019-03-15 21:37] amenity opened #1500 "Police Oversight form: Missing alt text on review page map"
![Screen Shot 2019-03-15 at 4.32.48 PM.png](https://images.zenhubusercontent.com/5a5f8dc94b5806bc2bc322a5/8e3ec8b6-b599-4f33-91b9-c7f4c8fcbe17)

[2019-03-15 21:40] #1438 closed

[2019-03-15 21:45] amenity opened #1501 "Police Oversight form: Review new date time picker!"
Before @Niicck implements the new WCAG-compliant date & time picker on the thanks form, we need design eyes on it:

https://forms.austintexas.io/police-complain/what-happened

![Screen Shot 2019-03-15 at 4.44.47 PM.png](https://images.zenhubusercontent.com/5a5f8dc94b5806bc2bc322a5/c9397756-2ec1-4139-91a9-c8a62328927e)

[2019-03-15 21:46] #1455 closed

[2019-03-15 21:47] desigonz opened #1502 "Complaint form translation fixes"
*Intro page*
"Call the Office of Police Oversight at (512) 972-2676. We’d be happy to speak with you." needs to be split into two entries on translations.json:
- [x] Call the Office of Police Oversight at
- [x] We’d be happy to speak with you.

*Share your photos page*
- [x] Upload any evidence that you have (video files, audio files, photos, police report, hospital record, etc.).

*Witnesses page

[2019-03-15 21:51] amenity commented on #1446
![image](https://user-images.githubusercontent.com/1463708/54463886-8a95d680-4742-11e9-87ea-ed048f144bfc.png)

[2019-03-15 21:52] amenity opened #1503 "Police Oversight form: Implement new date picker for thanks form"

[2019-03-15 21:56] amenity commented on #1437
@briaguya - is there a PR out for this guy?

[2019-03-15 21:56] #1057 closed

[2019-03-15 21:56] #1259 closed

[2019-03-15 21:57] amenity commented on #1303
https://media1.tenor.com/images/6e787cd3d24a79136578afbdcfc776b3/tenor.gif?itemid=3411621

[2019-03-15 21:57] #1303 closed

[2019-03-15 21:59] srigdon commented on #1456
[OPO_2019_complaint-form-print_English.pdf](https://github.com/cityofaustin/techstack/files/2973062/OPO_2019_complaint-form-print_English.pdf)
[OPO_2019_complaint-form-print_Spanish.pdf](https://github.com/cityofaustin/techstack/files/2973063/OPO_2019_complaint-form-print_Spanish.pdf)
[OPO_2019_thanks-form-print_English.pdf](https://github.com/cityofaustin/techstack/files/2973064/OPO_2019_thanks-f

[2019-03-15 22:00] srigdon commented on #1481
Created all four PDFs and added to #1456.

[2019-03-15 22:00] #1481 closed

[2019-03-15 22:04] amenity opened #1504 "Police Oversight form: Translate <title> on both forms"
Browser tab text should match page title.
<img width="790" alt="Screen Shot 2019-03-15 at 5 05 50 PM" src="https://user-images.githubusercontent.com/1463708/54464961-e2364100-4746-11e9-9450-106e3dc01981.png">

[2019-03-15 22:05] desigonz commented on #1502
@amenity [PR #72](https://github.com/cityofaustin/officer-complaint-form/pull/72) with a handful of complaint form translation fixes
https://github.com/cityofaustin/officer-complaint-form/pull/72

[2019-03-15 22:10] desigonz commented on #1469
@amenity I'm closing this particular epic, since I made it to tie a whole batch of changes to one pull request naming convention. (But of course I'll keep reporting any copy and translation mistakes I find as part of QA and might even assign myself to them!)

[2019-03-15 22:10] #1469 closed

[2019-03-15 22:10] amenity commented on #1431
Title issue here: https://github.com/cityofaustin/techstack/issues/1504

[2019-03-15 22:10] #1431 closed

[2019-03-15 22:11] amenity opened #1505 "Police Oversight form: Thank you form landing page title should be H1"
Fix the headings on the landing page on the thank you form so they are semantically correct and match the complaint form:

- [x] Title is h2, should be h1
- [x] "Select an option" is h4, should be h2
- [x] Headings in accordions, e.g. _Online_ --> "Required information" are h4s, should be h3s
- [x] "About us" is h3, should be h2

![Screen Shot 2019-03-15 at 5 07 41 PM](https://user-images.githubus

[2019-03-15 22:13] easherma commented on #1475
https://github.com/cityofaustin/us-forms-system/commit/0f6ed7e823688e0af230b9c0d9160ec31d5e05e6
 donezo

[2019-03-15 22:16] easherma commented on #1386
So accordions are closed by default now, but this other stuff is going to require some more thought/coding. Because what is showing are the titles, by default. I'm not sure that default behavior that is good to remove because there are a variety of contexts in which something may not make sense otherwise...

[2019-03-15 22:21] desigonz commented on #1086
@Niicck @amenity @toribr  I'm doing QA and had more of a UX question rather than a bug to report. Nick's implementation of not picking a date works beautifully on the calendar. If you type in "2020" into the field, it reverts to 2019, but we don't have any error messaging explaining why—should we?

[2019-03-15 22:23] #1467 closed

[2019-03-15 22:23] #1474 closed

[2019-03-15 22:24] #1440 closed

[2019-03-15 22:26] desigonz opened #1506 "Padding on body text"
See the paragraph starting "Do you have additional information" in the screenshot below. I expect this text to span across the whole width.

**URL tested:** https://forms.austintexas.io/police-complain/share-evidence

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austintexas

[2019-03-15 22:26] #1441 closed

[2019-03-15 22:33] desigonz opened #1507 ""Title" on review page"
1. Fill out the form
2. Add officer or witness details
3. Go to review page
4. Open witness or officer accordions

Current behavior: A placeholder word "title" is mysteriously appearing at the top of officer and witness detail sections.

- [ ] Change placeholder language for officers
- [ ] Change placeholder language for witnesses
- [ ] Add Spanish to translations.json

**URL tested:** https://for

[2019-03-15 22:35] amenity commented on #1475
@easherma - I am still seeing the bold "Tell us..." on https://forms.austintexas.io/police-complain/review-and-submit
<img width="880" alt="Screen Shot 2019-03-15 at 5 33 15 PM" src="https://user-images.githubusercontent.com/1463708/54465342-a7cda380-4748-11e9-9bf4-6b6c00e9d3fa.png">

[2019-03-15 22:39] desigonz opened #1508 "New copy for new date and time fields"
Looks like we have placeholder copy for the new date and time fields. (This might be multiple issues.)

- [x] Content point person to review language, and then...
- [x] Translate to Spanish
- [x] Update in date/time field code
- [x] Update in translations.json

**URL tested:** https://forms.austintexas.io/policia-queja/introduccion

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_ver

[2019-03-15 22:41] desigonz opened #1509 "Date field format for Spanish"
Dates in Spanish are formatted date, month, year (not month, date, year). 😬

**URL tested:** https://forms.austintexas.io/policia-queja/que-sucedio

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austintexas.io%2Fpolicia-queja%2Fque-sucedio&speed=1&start_element=ClickedReprod

[2019-03-15 22:43] desigonz opened #1510 "Translations for date/time fields"
Need to update translations.json for Spanish and English
- [ ] Month
- [ ] Date
- [ ] Year
- [ ] Hour
- [ ] Minute

Also see [#1508](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1508)

**URL tested:** https://forms.austintexas.io/policia-queja/que-sucedio

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version

[2019-03-15 22:44] desigonz opened #1511 "Lowercase AM and PM in date/time field"
Our editorial style is to lowercase AM and PM.

**URL tested:** https://forms.austintexas.io/policia-queja/que-sucedio

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austintexas.io%2Fpolicia-queja%2Fque-sucedio&speed=1&start_element=ClickedReproduceIssueFromgithub&start=true

[2019-03-15 22:45] easherma commented on #1278
I believe this is resolved by us moving the link out of that section

[2019-03-15 22:49] easherma commented on #1094
Should we close this for now? Seems like we've opted for 'blank' descriptions

[2019-03-15 22:50] desigonz opened #1512 "Bug: Date field lets me enter date in the future"
While the calendar picker doesn't let me choose a date in the future, I can write in a date in the future. (Not sure if that's actually a problem.)

**URL tested:** https://forms.austintexas.io/policia-queja/que-sucedio

Open [URL](https://live.browserstack.com/dashboard#os=OS+X&os_version=Mojave&browser=Chrome&browser_version=72.0&zoom_to_fit=true&full_screen=true&url=https%3A%2F%2Fforms.austinte

[2019-03-15 23:40] amenity commented on #1456
@sergiogcx - ready when you are!

[2019-03-16 01:41] desigonz commented on #1278
@easherma Yep, it's fixed. Closing this one.

[2019-03-16 01:41] #1278 closed

[2019-03-16 01:46] desigonz opened #1513 "Edit Spanish translation on officer details page"
- [ ] Copy edit: "¿Qué ropa tenía puesto el oficial?" ("puesto" instead of "puesta")
https://forms.austintexas.io/policia-queja/detalles-oficial

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/fd999396-1006-4963-93d9-621463604dbb)

[2019-03-16 01:50] #1513 closed

[2019-03-16 01:51] desigonz commented on #1513
Confirmed with my parents that "puesto" is grammatically correct :) I committed this change

[2019-03-16 02:11] desigonz opened #1514 "Race strings in OPO confirmation emails"
- [ ] match the same language we use for race on the form (ex. "Middle Eastern or Arab American", not "Arab")
- [ ] translate in the Spanish confirmation emails

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/9c4389fa-216f-426e-983a-e91dd7ac9f3c)

![opo-email-arab.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/fc531f5b-db65-401e-ae21-05ced609fec7)

[2019-03-16 02:22] desigonz opened #1515 "Complaint confirmation email edits"
- [x] capitalization thing happening despite copy edits in [language.yaml](https://github.com/cityofaustin/form-service-api/blob/master/templates/email/officepoliceoversight/language.yaml)
![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/c8cc4fe7-00e2-48d8-9480-35b60c60b965)

- [x] Change "Witness(es)" heading to "[Tell us about any witnesses](https://github.com/cityofaus

[2019-03-16 02:24] desigonz commented on #1482
@amenity I reviewed the English and Spanish confirmation emails and started issue [#1515](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1515) for the edits—they're looking slightly more programmatic than copy changes.

[2019-03-16 02:25] desigonz commented on #1482
Also, might be nice to have another set of eyes on these confirmation emails 😵

[2019-03-16 02:28] desigonz commented on #1390
I began to do QA in Chrome 72 on MacOS 10.14 and submitted issues for them. I did the whole complaint form in English + Spanish with a particular focus on the new date/time fields, map-only page, surly review page, and email submission on confirmation page.

[2019-03-17 19:17] Niicck opened #1516 "English/Espanol links at top of OPO form don't work"
They route to the path `/police-complain` rather than `/police-complain/`. The redirect to `/police-complain/introduction` never happens

[2019-03-18 15:39] JeffCopy opened #1517 "Page Owner Query Doc"
Generate a document for team discussion/review, for ODD content team to have available  as a starting point when we're reaching out to stakeholders/SMEs on pages we're revising/updating for alpha.

[2019-03-18 16:34] #1516 closed

[2019-03-18 16:53] #1435 closed

[2019-03-18 17:02] LauraTrujillo opened #1518 "Determine what content still needs to be translated"
Document here:
- [ ] Page name,
-- alpha link,
--google doc

[2019-03-18 17:11] chasechenevert commented on #1173
Ben took care of this last week.

[2019-03-18 17:11] #1173 closed

[2019-03-18 17:13] LauraTrujillo commented on #426
@srigdon can you link to your url doc?

[2019-03-18 17:34] chasechenevert commented on #1100
## Resources
- Doc: [404 Page research and discovery](https://docs.google.com/document/d/1keeUmd_EpJyV7X4uJ3MpT9JRuh7q0Ha2lRM-XuucTFs/edit#heading=h.20d1cmdmna2s)

## MVP
For MVP we're going to go with a general error for now since there is going to be a lot of experimentation on Alpha (pages moving, features being added, maintenance, etc.)
- Headline
- Subhead or body text
- Austin.gov search box

[2019-03-18 18:34] easherma commented on #1386
@briaguya i'd be interested in your take on this

[2019-03-18 18:48] LauraTrujillo commented on #555
Create issues out of this meeting

[2019-03-18 19:11] JeffCopy commented on #1159
look great! My suggestions now added.

[2019-03-18 20:57] LauraTrujillo opened #1519 "Break down Public Health programs"
- [ ] Use content inventory to break down the Public Health programs into groupings of pages
- [ ] Find out who "owns" program
- [ ] Assign one program or grouping to a content team member

[2019-03-18 20:58] annieszot opened #1520 "Add workflow and governance to Digital Services Style Guide"
Per https://gathercontent.com/blog/a-four-step-road-map-for-good-content-governance

[2019-03-18 21:36] LauraTrujillo opened #1521 "Schedule April Funshop and enter it into TRAIN"

[2019-03-19 13:00] #635 closed

[2019-03-19 13:01] #384 closed

[2019-03-19 13:02] #450 closed

[2019-03-19 16:22] sergiogcx commented on #1456
The files have been updated.

[2019-03-19 16:24] sergiogcx commented on #1083
This may no longer be necessary, we are now using localStorage to store the form submission to allow the user to enter the email at the confirmation page.

So there are now at least two uses for localStorage.

[2019-03-19 16:31] easherma commented on #1083
+ 1, don't see the downside to localStorage for this? Eventually we may even want the ability for someone to come back to a form to finish filling it out later

[2019-03-19 16:56] sergiogcx commented on #1456
These are the links:
https://forms.austin.gov/files/OPO_complaint-form_print_English.pdf
https://forms.austin.gov/files/OPO_complaint-form_print_Spanish.pdf
https://forms.austin.gov/files/OPO_thanks-form_print_English.pdf
https://forms.austin.gov/files/OPO_thanks-form_print_Spanish.pdf

Staging(master):
https://forms.austintexas.io/files/OPO_complaint-form_print_English.pdf
https://forms.austintex

[2019-03-19 16:59] LauraTrujillo commented on #1521
Scheduled for April 24th. Getting it entered into TRAIN now.

[2019-03-19 16:59] #1521 closed

[2019-03-19 17:45] sergiogcx commented on #1190
![Screen Shot 2019-03-19 at 12.33.23 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/8b6d2bb7-43db-4a97-aee5-5720c191e4e4)

![Screen_Shot_2019-03-19_at_12_34_34_PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/84965cad-4c25-47fc-b40f-8558b2fa4056)

![Screen_Shot_2019-03-19_at_12_35_53_PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/2

[2019-03-19 18:03] #1473 closed

[2019-03-19 18:11] kriskristin commented on #1392
@desigonz Sorry, I haven't seen this until now. My GitHub notifications are not working, I need to get that figured out.

Email looks great. I am assuming that you are going to link them to the exact site that we are going to be talking to them about. That way they have more context, they might not know that what they have is called a microsite.

[2019-03-19 18:22] srigdon commented on #1456
As of 3/18, the English and Spanish print/by mail complaint forms need to be updated to these links:

[Abbreviated Complaint Form-Span.pdf](https://github.com/cityofaustin/techstack/files/2984907/Abbreviated.Complaint.Form-Span.pdf)
[Abbreviated Complaint Form-Eng.pdf](https://github.com/cityofaustin/techstack/files/2984908/Abbreviated.Complaint.Form-Eng.pdf)

[2019-03-19 18:36] kriskristin commented on #1453
@desigonz
Beginning of some questions:

What is the primary goal of this [microsite] webpage?
Can you describe the type of person that this [microsite] is intended for?
Tell me about why [department] chose to make this [microsite] website?
Do you think this [microsite] is successful? Why or why not?

[2019-03-19 18:58] easherma commented on #1386
Good enough for now! @toribr approved!

[2019-03-19 18:58] #1386 closed

[2019-03-19 19:29] LauraTrujillo opened #1522 "Meet to discuss project site functionality/dev needs"
Meeting scheduled for April 8th at 12:30 pm (LT to reschedule)

[2019-03-19 19:46] easherma commented on #1105
@toribr this also might be related to redesign of the review page?

[2019-03-19 20:02] chasechenevert commented on #1142
- I lost some info across this sprint due to a save/override issue
- I'll be going back in and adding all of that back by tomorrow

[2019-03-19 20:02] #1142 closed

[2019-03-19 20:02] #1471 closed

[2019-03-19 20:08] toribr opened #1523 "Design Targeted Content paper prototype for senior and unemployed tests"
Quick testing prototypes for targeted content, ie, seniors and unemployed

[2019-03-19 21:30] sergiogcx commented on #1456
So the links will remain like these:

https://forms.austintexas.io/files/OPO_complaint-form_print_English.pdf
https://forms.austintexas.io/files/OPO_complaint-form_print_Spanish.pdf
https://forms.austintexas.io/files/OPO_thanks-form_print_English.pdf
https://forms.austintexas.io/files/OPO_thanks-form_print_Spanish.pdf

Our forms for the complaint form were simply deleted, and the files `Abbreviate

[2019-03-19 21:44] LauraTrujillo opened #1524 "Change numbers in copy to be digits not spelled out"
## File a complaint- digital form
*We have received your complaint*
- [x] Your case number should read "Your confirmation number"
- [x] Add parentheticals to phone number per our style: (512)...
- [x] Use numerals (aka digits) for two to four: 2 to 4
- [x] Update confirmation paragraph to read:
- You can email us at policeoversight@austintexas.gov or call us at (512) 972-2676 with your confirmatio

[2019-03-19 21:47] LauraTrujillo opened #1525 "## Confirmation email- Complaint"
## Confirmation email- Complaint
- [x] Add parentheticals to phone number per our style: (512)...
- [x] Use numerals (aka digits) for two to four: 2 to 4
- [x] "Complaint investigative process" should be in sentence case
- [x] "Complaint investigative process" should be "Complaint investigation process"

_Originally posted by @LauraTrujillo in https://github.com/cityofaustin/techstack/issues/1342#

[2019-03-19 21:48] #1408 closed

[2019-03-19 21:50] easherma opened #1526 "## Complaint investigation process"
## Complaint investigation process
- [x] Expand acronym: Learn about the Office of Police Oversight's complaint investigation process.
- Timeframe
- [x] User numerals (aka digits) "Investigations could take up to 6 months to complete and may require 1 to 4 hours of your time over the course of those months."
- [x] Revise next sentence to read: Our office will contact you with a monthly update.
-

[2019-03-19 22:10] annieszot opened #1527 "Medium Post one pager"
So, you wanna write a Medium Post?
https://docs.google.com/document/d/1KMFASGEiuEkWKdo4jeOmHZOfc02LKVsPiapxvD3IpkU/edit

- [x] drafted
- [x] shared with Laura
- [x] organized in folder
- [x] Link to folder location

[2019-03-19 22:20] Niicck commented on #1158
I'm working on aria stuff for date and time.

[2019-03-19 22:21] easherma commented on #1524
should be done, pushed to master

[2019-03-19 23:09] easherma commented on #1522
so @benguhin is going to help spin up a version of this using our existing tooling.

[2019-03-19 23:15] easherma commented on #1183
Re-sizing to XL; this is is still craved, but a new workflow will require some extensive testing, since we don't have many tests written it will need to be done 'by hand'.

[2019-03-19 23:56] easherma commented on #1485
@toribr read that article and yikes. so did we maybe rush into the idea of trying to implement this before press push?

[2019-03-20 04:33] briaguya opened #1528 "Moving from Microsite to Full site"
**What we need to do to get the microsite to where we want it to be:**
- [x] Fix social media urls https://github.com/cityofaustin/techstack/issues/1530 (or ideally https://github.com/cityofaustin/techstack/issues/1403)
- [x] Fix whatever is causing department page to not be bigger than full width on mobile https://github.com/cityofaustin/techstack/issues/1531
- [x] Make hours on contact informati

[2019-03-20 05:42] sergiogcx commented on #1485
I have a PR open, in case anyone would like to take a look:

https://github.com/cityofaustin/officer-complaint-form/pull/75

I only spent 2.5 hrs on this, so no big deal if we don't want to implement it after all.

[2019-03-20 05:54] sergiogcx commented on #1485
Here is a good animation clicking through the options:

![fgWKTVTpDK.gif](http://g.recordit.co/fgWKTVTpDK.gif)

[2019-03-20 05:56] sergiogcx commented on #1485
Here is a screenshot for desktop version (max-width: 600px)

![Screen Shot 2019-03-20 at 12.55.16 AM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/a7bb8fb9-fab9-43ba-9408-c349c82f7db0)

Screenshot Mobile:

![Screen Shot 2019-03-20 at 12.56.24 AM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/4c9d7062-4ca0-43c5-91df-b265ef4316ae)

[2019-03-20 06:09] briaguya opened #1529 "Create FullSiteMenu Component"

[2019-03-20 06:12] briaguya opened #1530 "Hardcode quick fix for OPO social media urls"
Right now they're all linking to austintexas.gov, let's fix that (hardcoded in janis for now, full fix in #1403)

Notes for QA:
This is obsolete, the full fix has been implemented.

[2019-03-20 06:15] briaguya opened #1531 "Fix whatever is causing department page to not be bigger than full width on mobile"
<img width="487" alt="Screen Shot 2019-03-20 at 1 14 47 AM" src="https://user-images.githubusercontent.com/6384156/54662911-97e9f280-4aad-11e9-94ab-9476a3164a82.png">

[2019-03-20 06:17] briaguya opened #1532 "Make hours on contacts look better"
<img width="421" alt="Screen Shot 2019-03-20 at 1 16 09 AM" src="https://user-images.githubusercontent.com/6384156/54662970-cbc51800-4aad-11e9-8097-fb57185cafa3.png">
<img width="722" alt="Screen Shot 2019-03-20 at 1 16 58 AM" src="https://user-images.githubusercontent.com/6384156/54663008-eac3aa00-4aad-11e9-9bed-b413c9bd8f79.png">
<img width="1152" alt="Screen Shot 2019-03-20 at 1 17 13 AM" src="

[2019-03-20 06:20] briaguya opened #1533 "Fix overlapping heading text on department page in Spanish on mobile"
<img width="518" alt="Screen Shot 2019-03-20 at 1 19 14 AM" src="https://user-images.githubusercontent.com/6384156/54663187-632a6b00-4aae-11e9-99f8-c1a1beb4df88.png">

[2019-03-20 06:24] briaguya opened #1534 "Ensure proper OPO menu behavior on mobile"
Right now it's pretty wonky.
![Mar-20-2019 01-23-14](https://user-images.githubusercontent.com/6384156/54663322-d59b4b00-4aae-11e9-9c03-5b99da05f1aa.gif)

Notes for QA:
This should just be a matter of checking out janis-staging.herokupapp.com on a mobile device and seeing if the hamburger menu button behaves as expected.

[2019-03-20 06:33] briaguya opened #1535 "Make mobile footer look better"
<img width="510" alt="Screen Shot 2019-03-20 at 1 32 31 AM" src="https://user-images.githubusercontent.com/6384156/54663684-1c3d7500-4ab0-11e9-8821-46cbdc438d70.png">

[2019-03-20 06:35] briaguya opened #1536 "Make information page heading match designs"
On mobile it seems to have a ton of padding:
<img width="478" alt="Screen Shot 2019-03-20 at 1 33 56 AM" src="https://user-images.githubusercontent.com/6384156/54663744-4e4ed700-4ab0-11e9-8512-12cdb7117465.png">

On desktop it seems to be really far to the left:
<img width="1264" alt="Screen Shot 2019-03-20 at 1 35 28 AM" src="https://user-images.githubusercontent.com/6384156/54663808-763e3a80-4ab

[2019-03-20 10:05] briaguya commented on #1533
it appears as if a previous heading fix took care of this

[2019-03-20 10:07] #1413 closed

[2019-03-20 10:16] briaguya opened #1537 "Fix OPO breadcrumb in Spanish, it's giant on mobile"
<img width="361" alt="Screen Shot 2019-03-20 at 5 16 05 AM" src="https://user-images.githubusercontent.com/6384156/54676706-481c2300-4acf-11e9-966b-a643479e1b19.png">

[2019-03-20 12:40] LauraTrujillo opened #1538 "## Complaint investigation process- check against Spanish translation"
@desigonz I made these changes in Joplin (in English.) Can you make sure that the Spanish translations are still true?

## Complaint investigation process
- [x] Expand acronym: Learn about the Office of Police Oversight's complaint investigation process.
- Timeframe
- [x] User numerals (aka digits) "Investigations could take up to 6 months to complete and may require 1 to 4 hours of your time over

[2019-03-20 12:42] #1526 closed

[2019-03-20 12:44] LauraTrujillo commented on #1342
Thank you @easherma and @sergiogcx for helping me figure this out!!! 🙏

[2019-03-20 12:44] #1342 closed

[2019-03-20 12:45] LauraTrujillo opened #1539 "## How we store and use your data- Check for Spanish translation"
@desigonz I made this change in Joplin (in English.) Can you make sure that the Spanish translations are still true?

## How we store and use your data
- [ ] Remove "department" in the first line, to read: "When you file a complaint against an Austin Police officer..."

_Originally posted by @LauraTrujillo in https://github.com/cityofaustin/techstack/issues/1342#issuecomment-470271353_

[2019-03-20 12:48] LauraTrujillo commented on #1522
I'm going to put this issue in the backlog and we can reschedule the meeting.

[2019-03-20 15:38] toribr commented on #1485
@easherma @sergiogcx One thing that we also didn't discuss is *where* the form is invoked. It doesn't make sense to invoke it from the page where @sergiogcx is showing it - it should only be invoked *after* the user is within the form, ie, at the point at which the user has already entered info.

[2019-03-20 15:55] toribr opened #1540 "Redesign Review page for forms (not opo specific)"
-[ ] consider edit flow
-[ ] consider "add" flow
-[ ] do more testing on 'review' and accordions
-[ ] improve visual design

[2019-03-20 16:00] toribr commented on #1503
Seems good for now - assigned @kriskristin to help with screenreader issues.

[2019-03-20 16:00] #1503 closed

[2019-03-20 17:07] chasechenevert commented on #1485
## Vis Design: modal for switching languages

Dev spec: https://xd.adobe.com/spec/b48d6db0-a7ad-4604-4ca6-7565eafd4758-c2bc/

Here's the MVP for the translation modal. Going to need to refine this later, but for MVP it works.

<img width="1734" alt="Screen Shot 2019-03-20 at 12 07 04 PM" src="https://user-images.githubusercontent.com/7027270/54704428-b4674880-4b08-11e9-8b64-255fb4e094f8.png">

[2019-03-20 17:38] pibemillo commented on #1450
@briaguya merge party took care of this, now in master

[2019-03-20 17:39] pibemillo commented on #876
Merged into master thanks to @briaguya merge party

[2019-03-20 17:39] #876 closed

[2019-03-20 17:42] pibemillo opened #1541 "Info Page Style Tweaks"
Following merge party, couple things to tightened up per: https://xd.adobe.com/spec/9770982d-46fa-472c-7726-37597101c397-e141/screen/2dab58ac-cec6-487f-9ea2-831954213943/OPO-Information-Investigation-Process-1/
• PageHeader spacing and font-weights for title + description
• H3 from HtmlFromAdmin sizing and margin-bottom

[2019-03-20 18:38] pibemillo opened #1542 ".row inside of wrapper on mobile padding bug"
See info + service page
![Screen Shot 2019-03-20 at 1.38.31 PM.png](https://images.zenhubusercontent.com/5c7ef4691e2f9d6caa214506/3380488a-e657-49fc-9516-b045447f66b4)

[2019-03-20 18:41] Niicck commented on #1512
Duplicated by https://github.com/cityofaustin/techstack/issues/1086

[2019-03-20 18:49] toribr commented on #1501
Need to research how screen reader handle am/pm but good for now.

[2019-03-20 18:49] #1501 closed

[2019-03-20 21:30] srigdon commented on #1456
@sergiogcx Thank you! Here are the thank-you forms, and I kept the file name format you spelled out above (good call on those, much better). Can you put them up?

[OPO_thank-you-form_print_English.pdf](https://github.com/cityofaustin/techstack/files/2990182/OPO_thank-you-form_print_English.pdf)
[OPO_thank-you-form_print_Spanish.pdf](https://github.com/cityofaustin/techstack/files/2990183/OPO_thank

[2019-03-20 22:12] annieszot opened #1543 "Flowcharts for github (Community Garden issues)"
One deliverable established in Service Design Lab for Community Garden
- [x] Create issues (other deliverables)
- [ ] Check deliverables with content team (content scope) and design team (UX/Content scope)
- [ ] Delete issues after agreement with Content and Design scope syncs
- [x] Finalize issues after Project Scope approved and agreed with Community Garden coordinator, Parks Dept.

Project Scop

[2019-03-20 22:14] annieszot commented on #1527
@LauraTrujillo Medium Post one pager
https://docs.google.com/document/d/1KMFASGEiuEkWKdo4jeOmHZOfc02LKVsPiapxvD3IpkU/edit
Low priority - requested deadline for feedback April 1

[2019-03-20 22:23] annieszot opened #1544 "Parks and Recreation department page"
Deliverable from Community Garden project scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

[2019-03-20 22:33] annieszot opened #1545 "Community Gardens information page"
Deliverable in Community Gardens Project Scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

- [x] IA linked (draft) (Plan)
- [x] Governance/Workflow established (Plan)
- [x] Draft (Create)
- [ ] Editors assigned (round 1) (Revise)
- [ ] Feedback received, incorporated
- [ ] Editors assigned final round
- [ ] Final revisions, approval from Service Desig

[2019-03-20 22:46] annieszot opened #1546 "Form to request more information (from interested gardeners)"
Deliverable in Community Garden project scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

-form - involve all teams?
Live on Community Gardens information page
-process for development tbd

[2019-03-20 22:50] annieszot opened #1547 "Engagement with City depts (community garden permit process)"
Deliverable for Community Garden project scope doc
"User research for department interviews"
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

[2019-03-20 22:53] Niicck opened #1548 "Implement custom 'ui:title' in us-form-system"
This is a feature that was documented, but never implemented, by the us-form-system:
[code]

This feature is important because our "ui:title"s default to `<label>`s, which is bad for the accessibility of our custom widgets, which are comprised of `<fieldset>`s that require `<legend>`s.
![Screen Shot 2019-03-20 at 5.11.42 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/a6c1312

[2019-03-20 23:09] annieszot opened #1549 "Service page to guide the user through the garden permit process (get a garden permit)"
Deliverable in Community Garden project scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#
 - [x] IA linked (draft) (Plan)
 - [x] Governance/Workflow established including weigh-in from Design,Dev (Plan)
 - [x] Draft (Create)
 - [ ] Editors assigned (round 1) (Revise)
 - [ ] Feedback received, incorporated
 - [ ] Editors assigned final round
 - [ ] Fina

[2019-03-20 23:18] annieszot opened #1550 "Form to lead user to right content CG (process page?)"
Deliverable in Community Garden project scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

-development process tbd

- [x] Copy drafted

[2019-03-20 23:20] annieszot opened #1551 "Project tracker "How's my garden?""
@annieszot commented on [Wed Mar 20 2019](https://github.com/cityofaustin/odd-process-workflow/issues/33)

Discuss with design team before labeling
Possible deliverable in Community Gardens project scope doc
https://docs.google.com/document/d/1NVNrS0FIfef1G5dxM8-u7Bvs7F_j3S5gQJjkcavpmWI/edit#

[2019-03-21 04:05] briaguya opened #1552 "Investigate/Implement SectionHeader logic for different page types"
See https://github.com/cityofaustin/janis/pull/339#discussion_r267620803

[2019-03-21 08:49] briaguya commented on #1403
Looks like FB is embracing the @ now, might as well put it in our links there too (like we're doing for twitter)

![Screen Shot 2019-03-21 at 2.50.34 AM.png](https://images.zenhubusercontent.com/5afb42ab4b5806bc2bd34c32/0046b5b5-180e-4b69-b806-e90f077ec6c1)

[2019-03-21 09:22] briaguya opened #1553 "Joplin Build - heroku cli install fails and breaks travis builds"
Sometimes in Travis we get an error:

```The command "curl https://cli-assets.heroku.com/install-ubuntu.sh | sh" failed and exited with 100 during .```

![Screen Shot 2019-03-21 at 4.19.24 AM.png](https://images.zenhubusercontent.com/5afb42ab4b5806bc2bd34c32/72fed420-f1b7-4abd-95fa-3a0c90d2a316)

It seems as though the heroku cli install script isn't quite that reliable, it'd be nice to make this

[2019-03-21 09:30] briaguya commented on #1553
looks like the problem might be happening in `apt-get update`

[code]

[2019-03-21 15:19] Niicck opened #1554 "Increase size of address field in LocationPicker"
We want a longer address field. The styling should be simple: `.mapboxgl-ctrl-top-left` needs `min-width:75%`.

[2019-03-21 15:20] Niicck opened #1555 "Add Material Icon on "Tell us about you" Page"
Make the little (i) icon a material icon.

[2019-03-21 15:24] Niicck opened #1556 "Review Page: improve styling on "Describe your Experience""
"Describe your Experience" should be a header, and the description should be fullwidth and not right-justified.

[2019-03-21 15:28] toribr commented on #1248
Closing this one, and will re-open new issue for latest version if necessary.

[2019-03-21 15:28] #1248 closed

[2019-03-21 15:30] Niicck opened #1557 "Review Page: Improve Officer Editing Experience"
Right now you have to press an "Edit" button to select "Yes/No" to edit officers, and only then can you add or remove an officer. It makes more sense to directly allow users to add or remove officers directly inside of the Review Page.

[2019-03-21 15:33] Niicck opened #1558 "Review Page: Improve styling on "Tell us about you" section"
Values that are True are displayed as "True. But values that are False are not explicitly displayed as "False", which causes confusion. Add "False" strings to every value that is False.

[2019-03-21 15:42] Niicck opened #1559 "Make a slacktbot to alert us when we're tagged in github"
In the last dev sync, @easherma mentioned that the team could get better at responding to tags in github. I was thinking that maybe we could implement a slackbot/channel to let us know when we're tagged in a comment/review on github. My last company used something similar to this.

Add comments in this thread to suggest features it should have. And also ideas for making this bot helpful and not an

[2019-03-21 15:50] Niicck commented on #1158
Blocked by https://github.com/cityofaustin/techstack/issues/1548 for 100% WAVE compliant accessibility.

[2019-03-21 15:56] pibemillo commented on #1346
I believe this issue was addressed by @Niicck when fixing contact hours table. If so, I think we can close this one.

[2019-03-21 15:58] Niicck commented on #1346
Yep. This got cleaned up by https://github.com/cityofaustin/techstack/issues/1461

[2019-03-21 15:58] #1346 closed

[2019-03-21 16:00] pibemillo commented on #872
I would narrow this issue to
- [ ] Removing legacy scss variables and replacing instances with janis 2.0 style variables. Clean up effort
- Fonts have been updated, need to decided if we removing Open Sans fallback google font

[2019-03-21 16:07] pibemillo opened #1560 "Implement 404 Page"

[2019-03-21 16:31] easherma commented on #1477
Yes, this is fixed.

[2019-03-21 16:31] #1477 closed

[2019-03-21 16:55] easherma commented on #1358
@sergiogcx can you check this/verify that it's addressed?

[2019-03-21 16:55] easherma commented on #1309
I don't see this recurring.

[2019-03-21 16:55] #1309 closed

[2019-03-21 16:56] easherma commented on #1357
This is done in staging.

[2019-03-21 16:56] #1357 closed

[2019-03-21 16:59] easherma commented on #1086
@Niicck wasn't this implemented in your component?

[2019-03-21 17:39] sergiogcx opened #1561 "Police Oversight: Spanish forms issues"
Both forms in Spanish present translation issues, and broken functionality.

[2019-03-21 18:04] pibemillo commented on #1528
https://github.com/cityofaustin/janis/pull/343 for https://github.com/cityofaustin/techstack/issues/1537

[2019-03-21 19:18] kriskristin opened #1562 "Spanish Language Testing of OPO Form"
Looking for 5-8 user tests

Let's focus on getting mobile tests if possible.

Be sure to take pictures!

We want to be sure we determine if a user starts the test in English, and then wants to switch to Spanish, should the warning be in English or Spanish.

@toribr We can gather notes here

[2019-03-21 19:27] toribr opened #1563 "Short term nav"
How does it work?

https://github.com/cityofaustin/techstack/issues/1528

[2019-03-21 20:20] #332 closed

[2019-03-21 20:20] easherma commented on #332
Being addressed in Janis 2.0

[2019-03-21 20:20] easherma commented on #328
Obsolete

[2019-03-21 20:20] #328 closed

[2019-03-21 20:21] easherma commented on #308
We did it

[2019-03-21 20:21] #308 closed

[2019-03-21 20:22] #1277 closed

[2019-03-21 20:23] Niicck commented on #1345
Duplicate of https://github.com/cityofaustin/techstack/issues/1511

[2019-03-21 20:23] #1345 closed

[2019-03-21 20:25] #1507 closed

[2019-03-21 20:25] easherma commented on #1507
fixed

[2019-03-21 20:29] easherma opened #1564 "Localization of date/time control"
ex #1509

[2019-03-21 20:36] easherma commented on #1553
known issue in travis

[2019-03-21 20:37] easherma commented on #1555
The demographic info icon

[2019-03-21 20:38] easherma commented on #1556
Might be related to the redesign of the review page

[2019-03-21 20:43] easherma opened #1565 "Janis deploy prod to s3 pipeline"
Right now this build is manual then stashed in s3. Let's be better.

[2019-03-21 20:46] easherma opened #1566 "Evaluate the state of us-forms-system, routing, dependency updates"
Look at the current state of us-forms-system and determine:
What does the project do for us?
Level of effort updating to react-router 4
Rolling w forms system vs backtracking to mozilla json-schema

[2019-03-21 20:47] easherma commented on #1566
This might be best to wait until we have to build another form.

[2019-03-21 20:49] easherma opened #1567 "OPO form current structure evaluation/improvements"
Lets look at webpack, performance stats, see what sort of redundancies we can address
Also:
refactor css
clean stuff up
update docs as needed
consolidate repos

[2019-03-21 20:50] easherma commented on #1567
We might split this up into individual issues l8R

[2019-03-21 20:56] easherma opened #1568 "Input broken on time en spanish"
Currently on staging, input is broken for time. This appears to be related to an issue with the translations process translating some words/phrases that effect the code.

[2019-03-21 22:34] easherma commented on #1094
I think this could tie into a redesign of the review page, but I'm going to close it for now.

[2019-03-21 22:34] #1094 closed

[2019-03-22 00:36] sergiogcx commented on #1358
Thanks @easherma, I will get working on this immediately.

[2019-03-22 00:46] sergiogcx commented on #1564
Why was this issue created again? Shoudn't we use #1509?

[2019-03-22 01:00] sergiogcx commented on #1509
Could we research more into this? Date format is not based on language, it is based by country.

"Two U.S. standards mandate the use of year-month-day formats: ANSI INCITS 30-1997 (R2008); and NIST FIPS PUB 4-2 (FIPS PUB 4-2 withdrawn in United States 2008-09-02[9]),"

https://en.wikipedia.org/wiki/Date_and_time_notation_in_the_United_States

Also, currently the backend does not parse dates, if we

[2019-03-22 01:03] sergiogcx commented on #1564
Dupe, closing...

[2019-03-22 01:03] #1564 closed

[2019-03-22 01:09] sergiogcx commented on #1568
This is a duplicate of #1561, closing.

[2019-03-22 01:09] #1568 closed

[2019-03-22 01:12] sergiogcx commented on #1561
I tested a way to make the form work by passing properties to the component specifically for the label. Webpack provides a clear pattern that can be safely altered.

![Screen Shot 2019-03-21 at 5.37.40 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/b765b074-5aa7-437a-acdc-67bdcfd9c64e)

![Screen Shot 2019-03-21 at 5.39.02 PM.png](https://images.zenhubusercontent.com/5b7edad7

[2019-03-22 02:00] easherma commented on #1564
Brian asked to open it has a pseudo epic to track all the various
localization issues?
On Thu, Mar 21, 2019 at 8:03 PM Sergio Garcia <notifications@github.com>
wrote:

[2019-03-22 03:44] briaguya opened #1569 "Bug with scrolling on mobile Safari with both menu and “how you know” gov menu open"
Just tested staging on my phone. Looks like opening the menu makes scrolling work correctly, but opening the “how you know” menu over it enables scrolling of body content. Probably not a super common use case or high priority fix, but worth reporting.

[2019-03-22 04:33] sergiogcx commented on #1561
This has been fixed and addressed in both forms now.

[2019-03-22 04:45] sergiogcx commented on #1508
All translated, pushed to master. Ready for review or QA

[2019-03-22 11:49] sergiogcx commented on #1358
Oy, addressed in this PR:

https://alpha.austin.gov/es/police-oversight/how-we-store-and-use-your-data

Merged to master.

[2019-03-22 11:53] sergiogcx commented on #1306
A PR has been created:
https://github.com/cityofaustin/officer-complaint-form/pull/82

[2019-03-22 12:12] sergiogcx commented on #1306
Robots updated, HTTP headers removed.

[2019-03-22 12:15] sergiogcx commented on #1306
To clarify, this has been done to the complaint form. Also removed from thank you form.

[2019-03-22 12:21] sergiogcx opened #1570 "Police Oversight: Change modal box to all English all spanish"
Currently the modal box will show a message in English if the user clicks the English link, or Spanish if the user clicks the Spanish link.

- [x] The user should see both dialogs in English if the user is in the English version of the form.
- [x] The user should see both dialogs in Spanish if the user is in the Spanish version of the form.
- [x] Both Complaint and Thank-you forms.
ALSO:
- [x] Imp

[2019-03-22 12:23] sergiogcx opened #1571 "Police Oversight: Create Modalbox"
Create a modal box to prevent the user from loosing his/her data.

[2019-03-22 12:23] sergiogcx commented on #1571
Created this issue to keep track of QA and/or other requests.

[2019-03-22 12:29] sergiogcx commented on #1570
Hmm, it doesn't work in the thank you form because of the string `'/police-complain/'`:

https://github.com/cityofaustin/officer-thank-form/blob/12a8f0a05bc570f100027bd327ed1cbb609e4dbb/app.js#L87

[code]

[2019-03-22 13:30] sergiogcx commented on #1570
Thank-you form, PR open:
https://github.com/cityofaustin/officer-thank-form/pull/24

[2019-03-22 13:38] sergiogcx commented on #1570
Complaint form, PR:
https://github.com/cityofaustin/officer-complaint-form/pull/83

[2019-03-22 14:45] Niicck commented on #1561
Cool, I'm glad that the label method worked! The only comment I have is that we should remember to update the lastest usfs-components version in its package.json

[2019-03-22 15:33] toribr opened #1572 "Round 2 OPO testing with "advanced" users"
Test with participants who were referred to us.

[2019-03-22 16:13] easherma commented on #1485
@toribr et al: doing some board cleaning and is this issue supposed to refer to the design of the modal only or also implementation? It appears both, and I want to re-size it to a L/XL accordingly (since it has taken a couple days with a couple people working on it). Ya'll ok with me re-sizing this?

[2019-03-22 16:15] easherma commented on #1475
donezo

[2019-03-22 16:16] easherma commented on #1505
Done

[2019-03-22 16:16] toribr commented on #1485
I'm not sure - there may or may not be an additional issue somewhere? Size accordingly.

[2019-03-22 16:22] easherma commented on #1118
@Niicck I forget if this came up for you at all, have you played with the validations inside us-forms-system? I remember trying to use them awhile back and they didn't seem to apply, and I seem to remember you having a similar issue. If not no worries.

[2019-03-22 18:23] annieszot commented on #1505
Following @easherma's "Done" comment and closing issue

[2019-03-22 18:23] #1505 closed

[2019-03-22 18:29] annieszot commented on #1484
Translated https://forms.austintexas.io/policia-queja/acerca-de-usted
![Screen Shot 2019-03-22 at 1 28 25 PM](https://user-images.githubusercontent.com/46934140/54845088-79028080-4ca6-11e9-9d18-8c61965734aa.png)
Closing issue

[2019-03-22 18:29] #1484 closed

[2019-03-22 18:30] annieszot commented on #1343
@chasechenevert ?

[2019-03-22 18:33] toribr opened #1573 "Remove all uses of "evidence" in labels and copy within form and email, English issue"
Form Review page header use : "Share your media" as header

Secondary copy under "yes":
Upload any evidence that you have (video files, audio files, photos, police report, hospital record, etc.).
Change to:
"Upload any media that you have..."

[2019-03-22 18:40] toribr opened #1574 "Location needs to be made required within form, and added to list of requirements on landing page"
![Screen Shot 2019-03-22 at 1.18.48 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/b66c2393-b338-4e6f-8c98-5871417094a0)

• What happened
• Date and time
• Location

[2019-03-22 18:45] annieszot commented on #1384
![Screen Shot 2019-03-22 at 1 44 20 PM](https://user-images.githubusercontent.com/46934140/54845949-be27b200-4ca8-11e9-9040-8de3aec97a1d.png)
![Screen Shot 2019-03-22 at 1 44 38 PM](https://user-images.githubusercontent.com/46934140/54845950-be27b200-4ca8-11e9-9afe-20347f24d085.png)

[2019-03-22 18:45] annieszot commented on #1384
Done and closing

[2019-03-22 18:45] #1384 closed

[2019-03-22 18:52] annieszot commented on #1366
@Niicck Requires browser testing referenced in #340 before closing?

[2019-03-22 19:02] toribr opened #1575 "Improvements to Review - placeholder"
![Screen Shot 2019-03-22 at 2.00.14 PM.png](https://images.zenhubusercontent.com/5a81e99a4b5806bc2bc6a146/83649f27-364b-4d85-9787-7b720745d76a)

-[ ] where is title coming from?

[2019-03-22 19:31] srigdon commented on #1573
![Screen Shot 2019-03-22 at 2 23 02 PM](https://user-images.githubusercontent.com/5445796/54848403-31342700-4caf-11e9-924e-f9b66be7a4d6.png)

[2019-03-22 20:05] toribr opened #1576 "Remove all uses of "evidence" in labels and copy within form and email, Spanish issue"
Form Review page header use TRANSLATION FOR: "Share your media" as header

Secondary copy under "yes":
Upload any evidence that you have (video files, audio files, photos, police report, hospital record, etc.).
TRANSLATE to:
"Upload any media that you have..."

[2019-03-22 20:16] amenity commented on #1511
LGTM

[2019-03-22 20:16] #1511 closed

[2019-03-22 20:39] easherma commented on #1573
@sergiogcx we also use the word evidence in chapters and in the URL file path. should we also change those to 'media' instead of 'evidence'? I'd say yes to be consistent. LMK if we should have that as a separate issue

[2019-03-22 20:41] srigdon commented on #1574
For the Spanish form, Location = Ubicación

[2019-03-22 21:39] annieszot opened #1577 "Document QA Testing and Criteria Plan"
https://docs.google.com/document/d/1QRu8o04CGXDg17x5cqv4NyTjJRe9U6TxnWjr4fJkwBM/edit

[2019-03-22 21:47] easherma commented on #1576
Should be fixed by
https://github.com/cityofaustin/officer-complaint-form/commit/9bf611f09c1cd92c4aa169ead45c1736135a13dc,
in staging
On Fri, Mar 22, 2019 at 3:05 PM Tori <notifications@github.com> wrote:

[2019-03-22 21:48] easherma commented on #1575
Odd, we had a previous issue for this and I thought it was addressed.

[2019-03-22 21:49] easherma commented on #1574
Should be fixed by
https://github.com/cityofaustin/officer-complaint-form/commit/9bf611f09c1cd92c4aa169ead45c1736135a13dc
in staging
On Fri, Mar 22, 2019 at 3:41 PM Sarah Rigdon <notifications@github.com>
wrote:

[2019-03-22 22:01] toribr commented on #1575
It's for my reference, only!

[2019-03-22 22:02] srigdon opened #1578 "Change "evidence" to "media" on "Share your photos or video" page of complaint form"
![Screen Shot 2019-03-22 at 4.53.00 PM.png](https://images.zenhubusercontent.com/5be0b7bea977220c77bd229b/34a656c7-c610-4a99-b03e-ad98fecf7d00)

In case it matters, I'm using Version 72.0.3626.121 of Chrome on a Macbook Air.

[2019-03-22 22:10] srigdon opened #1579 "OPO complaint form: "Where were you" page lets you continue if you clear the location, even though location is required"
![location-required-bug.gif](https://images.zenhubusercontent.com/5be0b7bea977220c77bd229b/c3c35f20-104c-495e-b09c-e58a1a06746c)

[2019-03-22 22:18] annieszot opened #1580 "Hours off when in different browsers"
QA in Browser Stack, discovered time zones off. And why list Friday first?
I found this while investigating #1366

Browser Stack testing for https://janis-staging.herokuapp.com/police-oversight

For Mobile:
iPhone: Safari 12.0
Time zone bug for iPhone XS and XS Max. Not XR (fine)
![Screen Shot 2019-03-22 at 4.46.19 PM.png](https://images.zenhubusercontent.com/5c4b52abd709c56fe9edad32/264c0d6a-a4d3

[2019-03-22 22:27] easherma commented on #1580
So the Friday is first cause it shows whatever day of the week it is.

The time zone may be off because the virtual machine is running in a
different time zone, though I thought we had discussed not having the time
zone change
On Fri, Mar 22, 2019 at 5:18 PM annieszot <notifications@github.com> wrote:

[2019-03-23 16:30] annieszot commented on #1533
Browser tested and good to go for all the following mobile platforms/devices:
iPhone XR, XS max, XS: Safari 12.0
Android Samsung Galaxy A8, Samsung Galaxy Note 8, Pixel XL and Pixel Chrome 71.0
![Screen Shot 2019-03-23 at 11 21 40 AM](https://user-images.githubusercontent.com/46934140/54868839-f4c00400-4d5e-11e9-95bf-dd866bd8bd86.png)
![Screen Shot 2019-03-23 at 11 24 19 AM](https://user-images.gi

[2019-03-23 16:30] #1533 closed

[2019-03-23 16:40] annieszot commented on #1531
Browser tested. All devices pass with department page full width of the screen
iPhone XR, XS max, XS: Safari 12.0
Android Samsung Galaxy A8, Samsung Galaxy Note 8, Pixel XL and Pixel: Chrome 71.0
![Screen Shot 2019-03-23 at 11 35 41 AM](https://user-images.githubusercontent.com/46934140/54868970-63ea2800-4d60-11e9-879c-0edba06d055d.png)
![Screen Shot 2019-03-23 at 11 36 53 AM](https://user-images.

[2019-03-23 16:40] #1531 closed

[2019-03-23 17:02] annieszot commented on #1536
Browser tested, progress made @briaguya
iPhone XR, XS max, XS: Safari 12.0
Android Samsung Galaxy A8, Samsung Galaxy Note 8, Pixel XL, Pixel: Chrome 71.0
![Screen Shot 2019-03-23 at 11 47 17 AM](https://user-images.githubusercontent.com/46934140/54869172-ed025e80-4d62-11e9-8c9e-747f8ed0df0e.png)
Desktop testing - all reformatted but bug in Windows 10
Tested/approved for Windows 7: Chrome 71.0, Mac

[2019-03-23 17:08] annieszot opened #1581 "Information Page centered, not left-indent while in Windows 10 Chrome 71.0"
**Formatting inconsistent with other design formats (left vs centered)**
<Browser tests showed windows 10 desktop (chrome 71.0)->

**https://janis-staging.herokuapp.com/police-oversight/how-we-store-and-use-your-data**

**To Reproduce**
<I found this while testing #1536>

![Screen Shot 2019-03-23 at 11.52.45 AM.png](https://images.zenhubusercontent.com/5c4b52abd709c56fe9edad32/2b5dbb58-212c-45d5-9

[2019-03-23 17:09] annieszot commented on #1536
Closing --> new bug #1581

[2019-03-23 17:09] #1536 closed

[2019-03-23 17:22] annieszot commented on #1532
Besides different hours listed (#1580) all contact hours "look better"
Browser testing complete
- [ ] iPhone XR, XS max, XS: Safari 12.0
- [ ] Android Samsung Galaxy A8, Samsung Galaxy Note 8, Pixel XL, and Pixel: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17
![Screen Shot 2019-03-23 at 12 12 53 PM](http

[2019-03-23 17:22] #1532 closed

[2019-03-23 17:31] annieszot commented on #1535
Mobile footer "looks better"
Browser testing complete on mobile:
- [ ] iPhone XR, XS Max, XS: Safari 12.0
- [ ] Android Samsung Galaxy A8, Samsung Galaxy Note 8, Picel XL, and Pixel: Chrome 71.0
![Screen Shot 2019-03-23 at 12 26 25 PM](https://user-images.githubusercontent.com/46934140/54869512-7fa4fc80-4d67-11e9-8344-c007538ce333.png)
Closing

[2019-03-23 17:31] #1535 closed

[2019-03-23 17:40] annieszot commented on #1489
Looks complete

[2019-03-23 17:40] #1489 closed

[2019-03-23 17:41] annieszot commented on #1489
Looks complete
![Screen Shot 2019-03-23 at 12 40 14 PM](https://user-images.githubusercontent.com/46934140/54869591-ebd43000-4d68-11e9-97d0-14e8a6ce5c40.png)
Closing

[2019-03-23 17:44] annieszot commented on #1524
![Screen Shot 2019-03-23 at 12 43 56 PM](https://user-images.githubusercontent.com/46934140/54869627-6604b480-4d69-11e9-8365-87e1026a9d04.png)

[2019-03-23 17:46] annieszot commented on #1524
- [x] Your case number should read "Your confirmation number"
 - [x] Add parentheticals to phone number per our style: (512)...
 - [x] Use numerals (aka digits) for two to four: 2 to 4
 - [x] Update confirmation paragraph to read:

You can email us at policeoversight@austintexas.gov or call us at (512) 972-2676 with your confirmation number to find where your complaint is in this process.
If you p

[2019-03-23 17:46] #1524 closed

[2019-03-23 17:48] annieszot commented on #1343
![Screen Shot 2019-03-23 at 12 48 30 PM](https://user-images.githubusercontent.com/46934140/54869665-ffcc6180-4d69-11e9-8b7a-9aebc6fe1969.png)
- Visited link is purple

[2019-03-23 17:53] annieszot commented on #1475
![Screen Shot 2019-03-23 at 12 53 03 PM](https://user-images.githubusercontent.com/46934140/54869704-a1ec4980-4d6a-11e9-86fa-1f2843db47bb.png)
Done and closing

[2019-03-23 17:53] #1475 closed

[2019-03-24 18:24] annieszot commented on #1344
Bug fixed on Samsung Galaxy S9 and all preferred IOS and Android platforms (Phone: Safari 12.0; Android: Chrome 71.0)
![Screen Shot 2019-03-24 at 1 20 38 PM](https://user-images.githubusercontent.com/46934140/54883845-25c03780-4e38-11e9-8cd3-56e61331efe4.png)
![Screen Shot 2019-03-24 at 1 21 13 PM](https://user-images.githubusercontent.com/46934140/54883846-2658ce00-4e38-11e9-8b16-fa8b7881bfc9.png

[2019-03-24 18:24] #1344 closed

[2019-03-24 18:42] annieszot opened #1582 "Browser test and QA Test for OPO dept page"
Browser test using Browser stack for url:
https://janis-staging.herokuapp.com/police-oversight
Checked English/Spanish
Mobile:
- [x] iPhone XR, XS Max, XS: Safari 12.0
	-XS Max, XS showing different contact times
- [x] Android Samsung Galaxy A8, Samsung Galaxy Note 8, Pixel XL, Pixel: Chrome 71.0
    - all showing different contact times
Desktop:
- [x] Windows 10: Chrome 71.0
- [x] Windows 7: Chro

[2019-03-24 18:47] annieszot opened #1583 "Line break OPO dept page in Microsoft Edge browser (Espanol)"
**Describe the bug**

**https://janis-staging.herokuapp.com/es/police-oversight**

**To Reproduce**

1. Go to browser stack
2. Click on Windows 10 then 17 under Edge)
3. Select "Espanol"
4. See right side of screen
5. See error

**Expected behavior**
<No line break>

**Screenshots**
![Screen Shot 2019-03-24 at 1.28.42 PM.png](https://images.zenhubusercontent.com/5c4b52abd709c56fe9edad32/2a7e495d-6

[2019-03-24 21:48] #754 closed

[2019-03-25 01:46] Niicck commented on #1556
Before:
<img width="721" alt="Screen Shot 2019-03-24 at 8 12 55 PM" src="https://user-images.githubusercontent.com/14187277/54890076-a3eeff00-4e75-11e9-9f55-a764f0072d45.png">

After:
<img width="662" alt="Screen Shot 2019-03-24 at 8 12 43 PM" src="https://user-images.githubusercontent.com/14187277/54890081-ab160d00-4e75-11e9-978e-27f0f639c5cc.png">

Ooo, ahh.

This requires changes in 4 repos.

[2019-03-25 02:44] annieszot opened #1584 "Browser test and QA test for OPO Thank you form"
Documentation for browser testing using browser stack for:
https://forms.austintexas.io/police-thank/introduction
English/Spanish
Mobile:
- [x] iPhone XR, XS Max, XS: Safari 12.0
-XR, XS max, XS Spanish - not translated;
![Screen Shot 2019-03-24 at 1.56.46 PM.png](https://images.zenhubusercontent.com/5c4b52abd709c56fe9edad32/dc1fdc72-a265-47a9-b1f1-623f189ee383)
Dangling chad on XS “Learn more abo

[2019-03-25 13:59] pibemillo commented on #1537
https://github.com/cityofaustin/janis/pull/343

URL for PR to QA: https://janis-staging-pr-343.herokuapp.com/police-oversight/complaint-investigation-process

[2019-03-25 14:31] oliver2g commented on #1492
@briaguya is this issue something you worked on in the last sprint?

[2019-03-25 14:36] pibemillo commented on #1334
https://github.com/cityofaustin/janis/pull/344
https://janis-staging-pr-344.herokuapp.com/police-oversight

[2019-03-25 14:36] oliver2g commented on #1504
@Niicck and @easherma any idea on who this should be assigned to?

[2019-03-25 15:14] amenity commented on #1000
Basically page-load-speed. You can use [this Google tool](https://developers.google.com/speed/pagespeed/insights/) to assess. More context on all of these in the [Testing and QA folder](https://drive.google.com/drive/folders/1KqmfEe7_WWwcVjY2HFm0nx-xzR_1_HyO).

[2019-03-25 16:59] JeffCopy commented on #1228
I've implemented a bunch of suggested edits and questions to consider in the odd website doc, here:
https://docs.google.com/document/d/1vnpChbachE_kUy9o4GdKVhd10La9RAaRoSAcF84sxFw/edit

[2019-03-25 17:13] Niicck commented on #1580
Related to last issue: https://github.com/cityofaustin/techstack/issues/1331

[2019-03-25 17:15] oliver2g commented on #1190
Verified that this fix looks good on Friday 3/22 on a windows machine in the Outlook client

[2019-03-25 17:20] Niicck commented on #1510
Duplicate of #1508

[2019-03-25 17:20] #1510 closed

[2019-03-25 17:21] #1512 closed

[2019-03-25 17:47] #1366 closed

[2019-03-25 17:50] #1488 closed

[2019-03-25 17:55] oliver2g commented on #1502
Done for complaint form. Needs to be done for thank-you form (new issue).

[2019-03-25 17:55] #1502 closed

[2019-03-25 17:57] Niicck commented on #1571
I'm doing QA on this.

[2019-03-25 17:57] sergiogcx opened #1585 "Police Oversight: Thank you form missing translations"
Thank you form is missing translations at the beginning of the page.

![Screen Shot 2019-03-25 at 12.57.27 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/137508f3-7eac-485d-adf1-fc12d137100c)

[2019-03-25 17:59] oliver2g commented on #1578
duplicate of #1576

[2019-03-25 17:59] #1578 closed

[2019-03-25 18:00] #1456 closed

[2019-03-25 18:00] #1190 closed

[2019-03-25 18:07] oliver2g commented on #1570
I'm doing QA on this.

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0;
  - [ ] Internet Explorer 11
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17;
  - [ ] Internet Explorer 11

[2019-03-25 18:08] sergiogcx commented on #1585
This issue has been addressed, code has been merged to master of the thank you form.

[2019-03-25 18:09] oliver2g commented on #1446
I'm doing QA on this.

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0;
  - [ ] Internet Explorer 11
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17;
  - [ ] Internet Explorer 11

[2019-03-25 18:10] oliver2g commented on #1561
I'm doing QA on this.

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0;
  - [ ] Internet Explorer 11
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17;
  - [ ] Internet Explorer 11

[2019-03-25 18:13] #1498 closed

[2019-03-25 18:13] oliver2g commented on #1508
I'm doing QA on this.

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0;
  - [ ] Internet Explorer 11
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17;
  - [ ] Internet Explorer 11

[2019-03-25 18:15] oliver2g commented on #1358
Eric's doing QA on this.

Mobile:
- [ ] iPhone: Safari 12.0
- [ ] Android: Chrome 71.0

Desktop:
- [ ] Windows 10: Chrome 71.0
- [ ] Windows 7: Chrome 71.0;
  - [ ] Internet Explorer 11
- [ ] MacOS 10.14: Chrome 71.0
- [ ] Windows 10: Edge 17.17;
  - [ ] Internet Explorer 11

[2019-03-25 18:17] annieszot commented on #1500
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12.0
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacOS 10.14: Chrome 71.0
  - [ ] English
  - [ ] Spa

[2019-03-25 18:18] #1585 closed

[2019-03-25 18:18] annieszot commented on #1499
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12.0
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacOS 10.14: Chrome 71.0
  - [ ] English
  - [ ] Spa

[2019-03-25 18:19] annieszot commented on #1493
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12.0
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacOS 10.14: Chrome 71.0
  - [ ] English
  - [ ] Spa

[2019-03-25 18:20] Niicck opened #1586 "DatePicker input is not numeric on some browsers"
Datepicker values are not restricted to numbers on mobile.

|Property | Value|
|------------ | -------------|
| Browser | Safari v11 |
| Device | iPhone 8 |
| Resolution | idk |

![Screen Shot 2019-03-25 at 1.15.35 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/c024595f-094e-4a75-bd6a-7eb90369a7c1)

[2019-03-25 18:32] annieszot commented on #1554
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12.0
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacOS 10.14: Chrome 71.0
  - [ ] English
  - [ ] Spa

[2019-03-25 18:38] Niicck opened #1587 "Spanish language typo in modal"
"No, proceda en Inglés" debe ser "No, proceda en Español."
Estás de acuerdo, @sergiogcx?

![Screen Shot 2019-03-25 at 1.07.45 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/ec32c9d6-ca34-43da-9eeb-eacca7b4ed38)

[2019-03-25 18:58] Niicck opened #1588 "Modal gets cut off in IE"
Modal should be centered instead of positioned off to the right.

|Property | Value|
|------------ | -------------|
| Browser | IE 11 |
| Operating System | Windows 10 |
| Resolution | 1078x734 |

![Screen Shot 2019-03-25 at 1.55.48 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/ffac81d4-1cc1-4a9b-ab94-9b37e1bb178f)

[2019-03-25 19:24] LauraTrujillo commented on #1228
Thanks! Sending to Ben to build now!

[2019-03-25 19:24] #1228 closed

[2019-03-25 19:26] easherma commented on #1506
I think this might be handled by other commits but I'll need to check.

[2019-03-25 19:27] easherma commented on #1495
Styling for buttons on review page is kinda hairy, probs needs refactoring in us-forms-system

[2019-03-25 19:31] easherma commented on #1361
@sergiogcx i think this may be done already? and/or is related to another issue we had in QA

[2019-03-25 19:43] JeffCopy commented on #1228
Great!

[2019-03-25 19:44] annieszot commented on #1499
@easherma Does "Update" need to be translated into Spanish?

[2019-03-25 19:51] easherma commented on #1504
@sergiogcx shouldn't translations.json translate these titles already? Maybe it's an issue with being case sensitive?
https://github.com/cityofaustin/officer-complaint-form/blob/16cdee9308b1d3fdeeb595cdc758bbe2bf68899d/locale/translations.json#L224

https://github.com/cityofaustin/officer-complaint-form/blob/16cdee9308b1d3fdeeb595cdc758bbe2bf68899d/js/config/form.js#L17

[2019-03-25 19:53] easherma commented on #1439
I'm not convinced this is an easy fix or even a good idea, I think it came up on another issue as well.

Either way it's a pretty big deviation from current spec and has implications across both forms. I'd call it out of spec/scope for this version.

[2019-03-25 19:55] easherma commented on #1291
Form validation would be nice for email, phone, zip, and maybe others.

[2019-03-25 19:57] easherma commented on #1492
These links are in a simple index.html that @sergiogcx put up on AWS. Related to https://github.com/cityofaustin/techstack/issues/1577

I'm going to close this for now, as the larger question is actually setting up consistent staging/QA/testing environments and we may not ever see these links again.

[2019-03-25 19:57] #1492 closed

[2019-03-25 20:00] easherma commented on #1499
Ahh good catch, I do think the translations needs to be tweaked.

[2019-03-25 20:01] easherma opened #1589 "Police Oversight: Complaint Form: Adjust translations for review page buttons."
@easherma Does "Update" need to be translated into Spanish?

_Originally posted by @annieszot in https://github.com/cityofaustin/techstack/issues/1499#issuecomment-476349303_

[2019-03-25 20:06] annieszot commented on #1499
@easherma Thanks! Nevermind on adding a button for "Add another witness". It's there :) I'll update the comment with a screenshot.

[2019-03-25 20:13] Niicck opened #1590 "Review Form Update Button not translated"
"Update" is not translated into Spanish.

|Property | Value|
|------------ | -------------|
| Browser | Chrome 71 |
| Operating System | Windows 10 |
| Resolution | 1365x734 |

![Screen Shot 2019-03-25 at 3.12.10 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/301bd653-b2c2-4724-838d-34f155f3753c)

[2019-03-25 20:40] sergiogcx commented on #1504
Well, the index.html file does not get translated at all. I will have to create a translations file for the index file and make index.html translation part of the pipeline in travis.

[2019-03-25 20:43] sergiogcx commented on #1504
I will take care of this, I will need 2-3 hours to make this happen for the two forms.

![Screen Shot 2019-03-25 at 3.42.14 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/9490923a-ace2-4b3f-9589-39742af1308c)

[2019-03-25 20:45] Niicck commented on #1554
@easherma Pushing back to Review; this design feature is still not implemented. You can see how it's supposed to work if you go into the inspector and manually enter `min-width: 75%` in the `mapboxgl-ctrl-top-left` class.

So working with mapbox is tricky. Adding `.mapboxgl-ctrl-top-left { min-width: 75%;}` explicitly to the usfs-components styling wouldn't resolve it. Because this class gets writ

[2019-03-25 20:49] easherma commented on #1590
I already made an issue for this
On Mon, Mar 25, 2019 at 3:14 PM Nick Ivons <notifications@github.com> wrote:

[2019-03-25 20:51] annieszot commented on #1589
Also "Add officer"

[2019-03-25 20:58] sergiogcx commented on #1525
This is the PR:
https://github.com/cityofaustin/form-service-api/pull/21

**THIS ISSUE CAN BE TESTED THROUGH THE STAGING FORM**

This can also be seen here:
English:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template
Spanish:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template?lang=es

[2019-03-25 20:58] sergiogcx commented on #1515
This is the PR:
https://github.com/cityofaustin/form-service-api/pull/21

**THIS ISSUE CAN BE TESTED THROUGH THE STAGING FORM**

This can also be seen here:
English:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template
Spanish:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template?lang=es

[2019-03-25 20:59] sergiogcx commented on #1514
This is the PR:
https://github.com/cityofaustin/form-service-api/pull/21

**THIS ISSUE CAN BE TESTED THROUGH THE STAGING FORM**

This can also be seen here:
English:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template
Spanish:
https://6jm8rnjkxf.execute-api.us-east-1.amazonaws.com/staging/email-template?lang=es

[2019-03-25 20:59] annieszot commented on #1499
Checks out except for #1589
Closing issue

[2019-03-25 20:59] #1499 closed

[2019-03-25 21:01] annieszot commented on #1493
All maps on "Where were you" vertical + and -. Still presented same as @desigonz's comment.
All maps on "review" Where you were have horizontal + and -

[2019-03-25 21:08] annieszot commented on #1493
@easherma Any concerns if "+" and "-" not centered or vertical vs horizontal?

[2019-03-25 21:13] Niicck commented on #1586
Hey it's also broke on Edge

|Property | Value|
|------------ | -------------|
| Browser | Edge of 17 |
| Operating System | Windows 10 |

[2019-03-25 21:42] sergiogcx commented on #1587
This has been addressed in commit:
https://github.com/cityofaustin/officer-complaint-form/commit/76ab68d319111bc4483c6e56d6c9d11a9de096a3

Give a few minutes to build, also be sure to clear your browser's cache.

[2019-03-25 21:43] sergiogcx commented on #1587
![Screen Shot 2019-03-25 at 4.43.04 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/4ad3c9eb-705b-459b-aac8-9615791b333a)

[2019-03-25 21:51] Niicck commented on #1571
Also checking the thank you form.

Mobile:
- [ ] iPhone: Safari 11
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacOS 10.14: Chrome 71.0
  - [ ]

[2019-03-25 21:54] Niicck commented on #1508
Copy looks good. Closing.

[2019-03-25 21:54] #1508 closed

[2019-03-25 21:55] Niicck commented on #1570
Verified. Closing.

[2019-03-25 21:55] #1570 closed

[2019-03-25 22:02] easherma commented on #1554
@Niicck hey this should be good to QA!

[2019-03-25 22:05] Niicck commented on #1587
QA'd. It looks good.

[2019-03-25 22:05] #1587 closed

[2019-03-25 22:22] easherma opened #1591 "Focus flatpicker zooms to fit entire screen on Iphone"
**Describe the bug**
When you tap on the calendar icon on mobile, it zooms to fit the whole screen, bad UX bad

**Device**
Iphone running Safari 12

[2019-03-25 22:22] Niicck opened #1592 "Staging Link hardcoded to production"
"<- Office of Police Oversight" link on staging still goes back to production.

https://forms.austintexas.io/police-complain/introduction

![Screen Shot 2019-03-25 at 5.14.36 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/18a9cbe5-5f27-4a56-a26b-9f03fc91faac)

[2019-03-25 22:24] easherma opened #1593 "Better handling if map component dosen't load"
If, for whatever reason, the Mapbox component doesn't load, the user can't use the map to select an address.

But address is required! We need some sort of fallback method, no?

[2019-03-25 22:26] easherma commented on #1446
LGTM! However, this did surface #1592 and #1593

[2019-03-25 22:26] #1446 closed

[2019-03-25 22:28] annieszot commented on #1573
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12 (Or test on 11 for greater device compatibility?)
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacO

[2019-03-25 22:28] annieszot commented on #1576
I'm doing QA:
Mobile:
- [ ] iPhone: Safari 12 (Or test on 11 for greater device compatibility?)
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] Mac

[2019-03-25 22:29] easherma commented on #1561
hey we checked this and it looks like a tasty tasty snack

[2019-03-25 22:29] #1561 closed

[2019-03-25 22:35] Niicck commented on #1500
alt-text is present. Not checking every browser, but I feel confident that it'll be there. Closing

[2019-03-25 22:35] #1500 closed

[2019-03-25 22:40] Niicck commented on #1571
Looks good.

[2019-03-25 22:40] #1571 closed

[2019-03-25 22:44] easherma commented on #1515
I'm doing QA:
Mobile:
- [ ] iPhone: Safari 12 (Or test on 11 for greater device compatibility?)
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] Mac

[2019-03-25 22:48] easherma commented on #1515
Tested IE 11 and mobile, sent myself an email...it all looks good. This is a very minor change, so I don't see a need for further QA. LGTM!

[2019-03-25 22:48] #1515 closed

[2019-03-25 22:51] Niicck commented on #1554
QA'd. Approved. Looks good.

[2019-03-25 22:51] #1554 closed

[2019-03-25 22:52] annieszot commented on #1576
Screenshots for iPhone:
![Screen Shot 2019-03-25 at 5 42 42 PM](https://user-images.githubusercontent.com/46934140/54959281-875ecf80-4f26-11e9-822d-7b3e03c8ac31.png)
for Android:

[2019-03-25 22:52] Niicck commented on #1571
The Modal is good. Closing QA.

[2019-03-25 22:53] annieszot commented on #1574
I'm doing QA
Mobile:
- [ ] iPhone: Safari 12 (Or test on 11 for greater device compatibility?)
  - [ ] English
  - [ ] Spanish
- [ ] Android: Chrome 71.0
  - [ ] English
  - [ ] Spanish

Desktop:
- [ ] Windows 10: Chrome 71.0
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Chrome 71.0;
  - [ ] English
  - [ ] Spanish
- [ ] Windows 7: Internet Explorer 11
  - [ ] English
  - [ ] Spanish
- [ ] MacO

[2019-03-25 22:53] annieszot commented on #1574
Screenshots for iPhone
![Screen Shot 2019-03-25 at 5 33 09 PM](https://user-images.githubusercontent.com/46934140/54959383-ea506680-4f26-11e9-9f9e-2bcdd6057935.png)
![Screen Shot 2019-03-25 at 5 33 24 PM](https://user-images.githubusercontent.com/46934140/54959384-ea506680-4f26-11e9-96b2-e8cb7647ddbb.png)
![Screen Shot 2019-03-25 at 5 36 07 PM](https://user-images.githubusercontent.com/46934140/54

[2019-03-25 22:54] annieszot commented on #1573
Screenshots for iPhone
![Screen Shot 2019-03-25 at 5 47 38 PM](https://user-images.githubusercontent.com/46934140/54959431-12d86080-4f27-11e9-826a-fcae98e32193.png)
![Screen Shot 2019-03-25 at 5 48 58 PM](https://user-images.githubusercontent.com/46934140/54959432-1370f700-4f27-11e9-8b9f-16bec0af41c5.png)
![Screen Shot 2019-03-25 at 5 49 09 PM](https://user-images.githubusercontent.com/46934140/54

[2019-03-25 22:58] sergiogcx commented on #1358
Ah, my bad about the PR. It was merged and this is the commit that fixed it:

https://github.com/cityofaustin/officer-complaint-form/commit/e54bde4498489dbbb551606f688a1dd9d556cfef#diff-4e91ba43e81e8bd966fb3b26900e1fde

[2019-03-25 23:02] easherma commented on #1556
yaaayyy

I like this, but any chance you could make it require changes in more than 5 repos? ;-p

[2019-03-25 23:17] easherma commented on #1358
Checked IE 11 and its good as well as Chrome on my browser; given that this change is just a link and nothing else I think this is sufficient QA.

[2019-03-25 23:17] #1358 closed

[2019-03-25 23:22] sergiogcx commented on #1588
Alright, it looks like I have found a solution:

Complaint form:
https://github.com/cityofaustin/officer-complaint-form/pull/84

Thank form:
https://github.com/cityofaustin/officer-thank-form/pull/26

Windows 10, IE 11, Full width:

![Screen Shot 2019-03-25 at 6.12.31 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/cf7bcd7a-d890-4f98-8135-d39b6ed36c8f)

Windows 10, IE 11, mob

[2019-03-25 23:24] sergiogcx commented on #1588
I am going to go ahead and merge the changes, it is a harmless change.

[2019-03-25 23:44] sergiogcx commented on #1506
Ah, yes I fixed this issue a few days back.

[2019-03-25 23:45] annieszot commented on #1574
Good job! Closing

[2019-03-25 23:45] #1574 closed

[2019-03-25 23:46] annieszot commented on #1573
Good job! Closing

[2019-03-25 23:46] #1573 closed

[2019-03-25 23:47] annieszot commented on #1576
Good job! Closing

[2019-03-25 23:47] #1576 closed

[2019-03-25 23:49] sergiogcx commented on #1589
Webpack should be renamed to web-wack:

![Screen Shot 2019-03-25 at 6.48.57 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/c7f8726f-73f5-4267-8a77-1ea4da6af9cb)

[2019-03-26 00:03] annieszot commented on #1493
Retested on all - "+" and "-" centered on map "Where were you?"
-iPhone and Android slow to load
Closing

[2019-03-26 00:03] #1493 closed

[2019-03-26 00:04] #1584 closed

[2019-03-26 00:04] #1582 closed

[2019-03-26 00:14] sergiogcx commented on #1506
Fixed in commit:

https://github.com/cityofaustin/officer-complaint-form/commit/e54bde4498489dbbb551606f688a1dd9d556cfef#diff-4e91ba43e81e8bd966fb3b26900e1fde

[2019-03-26 00:17] Niicck commented on #1590
Duplicated by #1589

[2019-03-26 00:17] #1590 closed

[2019-03-26 00:47] sergiogcx opened #1594 "Police Oversight: Thank-you form: Update button not translating"
Same issues from ticket #1589 but for thank you form.

[2019-03-26 00:47] sergiogcx commented on #1594
PR (merged):
  https://github.com/cityofaustin/officer-thank-form/tree/1589-sg-otf-fixbuttontranslations

[2019-03-26 00:48] sergiogcx commented on #1594
PR (merged):
  https://github.com/cityofaustin/officer-thank-form/tree/1589-sg-otf-fixbuttontranslations

[2019-03-26 00:49] sergiogcx commented on #1594
PR (merged):
  https://github.com/cityofaustin/officer-thank-form/tree/1589-sg-otf-fixbuttontranslations

[2019-03-26 01:08] sergiogcx commented on #1589
I've got it:

![Screen Shot 2019-03-25 at 8.05.13 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/278a4e44-1881-4484-91f0-b7a54ce1b078)

![Screen Shot 2019-03-25 at 8.05.18 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/a9ffbba2-bc63-460a-bda6-88abff643f1f)

![Screen Shot 2019-03-25 at 8.05.28 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac7

[2019-03-26 13:24] oliver2g opened #1595 "Able to enter future dates on OPO thank-you form"
On the "Tell us what happened" page, I was able to enter a future date. There should be an error message alerting the user that they must enter a past or present date.

[2019-03-26 13:33] oliver2g opened #1596 "When adding an officer, it looks like the 1st officer's details disappear"
On the "Tell us About the Officer(s)" page, adding an officer collapses the previous officers information and displays fields for another officer's details. When scrolling up to look at the previous officer's information, there is only an Edit button.

Their should be a label next to the Edit button indicating that the previous officer's information is there (e.g. "Officer #1 details," an expand (

[2019-03-26 13:41] oliver2g opened #1597 "Numbers scroll up and down in the Badge Number and other numeric fields"
On the "Tell us about the officer(s)" page, the badge number field scrolls up or down when two finger swiping or rolling the mouse wheel. This could cause users to mistakenly change the badge number when trying to scroll down the page.

To re-create, enter any number. Then scroll down by two-finger swiping or rolling the mouse wheel while the cursor is still in the field. The numbers go up or down

[2019-03-26 15:27] Niicck commented on #1597
@oliver2g Can you let us know which browsers you came across this issue?

[2019-03-26 15:38] Niicck commented on #1086
Additional bug. When filling in the month and day, the year will autofill to 2019... even if that date is in the future. The year should be autofilled to the most recent past date- whether in this year or last year.

[2019-03-26 16:02] LauraTrujillo opened #1598 "Draft General 404 page"
We'll draft more specific 404 pages (for depts, global, etc...) at a later date. Chase has research if you want to read up on it.

[2019-03-26 16:23] sergiogcx commented on #1361
This is done, closing.

[2019-03-26 16:23] #1361 closed

[2019-03-26 16:25] oliver2g commented on #1597
@Niicck Chrome browser on Mac OS High Sierra

[2019-03-26 17:17] pibemillo opened #1599 "Dept Page — Hide Meet Director if no Director in Joplin"
https://janis-staging.herokuapp.com/learn-more-about-austin-resource-recovery
![Screen Shot 2019-03-26 at 12.17.01 PM.png](https://images.zenhubusercontent.com/5c7ef4691e2f9d6caa214506/cda53d4e-78f3-4aaf-a58f-488c0be2e5c4)

[2019-03-26 17:27] LauraTrujillo commented on #1527
@annieszot- reviewed! Great work!

[2019-03-26 19:20] desigonz commented on #1507
I'm still seeing this happen in staging:
![image](https://user-images.githubusercontent.com/5839508/55027038-4cb27100-4fd2-11e9-92b9-720e8e3f83a9.png)

[2019-03-26 19:43] oliver2g opened #1600 "Add gender options to "Gender of the Officer" field"
Recommendation from the OPO Transition Advisory Committee – For the "Gender of the Officer" field, make the gender options match the options in Demographic info. I.e.
-Male
-Female
-Non Binary
-Prefer Not to Say

Applies to both English and Spanish forms

[2019-03-26 19:43] desigonz commented on #1477
It's linking to the English page from both the English and Spanish thank you forms. Shouldn't the Spanish thank you form link to https://alpha.austin.gov/es/police-oversight?

[2019-03-26 19:46] oliver2g opened #1601 "Enlarge the “What Happens Next” font size"
The OPO Advisory Committee is concerned that the “What Happens Next” link is not visible enough on the confirmation page. While user research shows that the link is getting seen (we know because they click on it), some users have said that that information would also be useful at the beginning of the flow.
![complaint confirmation issue-03-26 at 2.45.45 PM.png](https://images.zenhubusercontent.com

[2019-03-26 19:57] desigonz commented on #1485
Hey team—found some grammatical errors in the Spanish version of this and planning to create a new issue with edits. Is there a content point person on the modal language that I can direct questions to?

[2019-03-26 19:59] annieszot commented on #1527
@LauraTrujillo Thanks so much!
Here's the folder link https://drive.google.com/open?id=15hyuOVj6zjcF1F2TzHh0XtQ7oJsNhaxe
Closing

[2019-03-26 20:06] oliver2g commented on #1234
@amenity what is this issue?

[2019-03-26 20:07] #1429 closed

[2019-03-26 20:10] oliver2g commented on #1290
Thanks Annie!

[2019-03-26 20:10] #1290 closed

[2019-03-26 20:11] #1244 closed

[2019-03-26 20:16] oliver2g commented on #1595
duplicate of #1086

[2019-03-26 20:16] #1595 closed

[2019-03-26 20:26] desigonz opened #1602 "Spanish translation edits for language switch modal"
Note: In Spanish, names of languages are lowercased (so "ingles" and "español")

I'm not entirely sure about all of the translations, especially "Está seguro(a) que..."—getting a professional would be better. But in lieu of that I believe I've spruced some things up.

------

**¿Comenzar de nuevo en inglés?**

Cambiar a inglés borrará toda la información que ha ingresado.

¿Está seguro(a) que quie

[2019-03-26 20:27] desigonz commented on #1485
Submitted [#1602](https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1602) with translation edits. Are we planning to send these new texts out to a professional translator?

[2019-03-26 20:41] desigonz commented on #1159
Thanks @JeffCopy! Assigning to @LauraTrujillo for second review.

[2019-03-26 20:48] oliver2g commented on #1588
Confirmed with @Niicck that this fix is verified.

[2019-03-26 20:48] #1588 closed

[2019-03-26 21:09] desigonz commented on #1509
@sergiogcx @Niicck @kriskristin This is something we could test for in Spanish user testing. Spanish uses date-month-year format, but our user base might be accustomed to using month-date-year in online contexts.

Nielsen Norman Group on the matter: "If your site caters to international users, your date format should be clear and understandable. Date-entry fields are culture dependent, and can cau

[2019-03-26 21:13] desigonz commented on #1509
Another best practice: spelling out months (January, February; enero, febrero, etc.) rather than just using numbers ([long interesting thread here](https://ux.stackexchange.com/questions/16095/how-to-display-date-and-time)).

[2019-03-26 22:02] sergiogcx opened #1603 "Police Oversight: Enable GZIP compression in Production"
GZIP encryption allows for compressing text files into smaller files, helping performance. We need to have this featured enabled for the OPO form in Production, and also Staging.

[2019-03-26 22:03] sergiogcx commented on #1603
This has been implemented, you can test it like this via console:

[code]

Output:

[code]

Notice the response header: `content-encoding: gzip`

[2019-03-26 22:17] easherma commented on #1000
Testing on slow 3G is...not great:
https://www.webpagetest.org/result/190326_QG_2302e7a4c5c424b014906ac6ec67b3ff/

[2019-03-26 22:29] easherma commented on #1000
![google_audit](https://user-images.githubusercontent.com/10539855/55037734-af186b00-4fec-11e9-8b1e-dcedf1681caf.png)
Google audit simulating 3g

[2019-03-27 13:21] toribr opened #1604 "Content for Senior persona prototype"
Please rewrite this page to reflect our current standards (it's for use in a prototype, so doesn't have to be perfect - this won't be pushed to production)
http://www.austintexas.gov/department/architectural-barrier-removal-program

[2019-03-27 14:20] desigonz opened #1605 "Vertically center language switch modal"
On desktop, language switch modal floats to the bottom of the page; on mobile, it's buried beneath the fold.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/08c77ba5-810e-4c33-b071-a5852ed2f048)

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/b5ce77ce-3113-4c77-b816-f703457ba3f5)

[2019-03-27 14:21] oliver2g commented on #1509
Echoing a slack post from @Niicck
"According to Sergio’s comment on the issue, best practice is to have date format is specified by county, not by language. Desi’s quote from the Nielsen Norman Group says the same thing: “If your site caters to international users, your date format should be clear and understandable.” Our form does not cater to international users, our form caters to users in Aust

[2019-03-27 15:28] desigonz commented on #1390
@oliver2g, do you need me to work on more OPO QA, or is this one taken care of?

[2019-03-27 15:53] #1482 closed

[2019-03-27 15:53] LauraTrujillo commented on #1482
Handled!

[2019-03-27 16:51] oliver2g commented on #1390
I believe so, but I'm going to also ask @Niicck and @annieszot to glance at the checklists in this issue before closing. They did the lions share of QA earlier this week.

[2019-03-27 17:00] desigonz commented on #1539
@LauraTrujillo What's your rationale for taking out "Department"? Not sure it'll read correctly without it because "officer" goes first in Spanish, so I vote for keeping it en español.

"Cuando usted presenta una queja contra un oficial del Departamento de Policía de Austin"
vs
"Cuando usted presenta una queja contra un oficial de Policía de Austin"

[2019-03-27 17:01] LauraTrujillo commented on #1539
@desigonz that was a request from the OPO team for the English translation, so if it works better in Spanish, I say keep it!

[2019-03-27 17:08] desigonz commented on #1539
great, closing this one!

[2019-03-27 17:08] #1539 closed

[2019-03-27 17:09] desigonz commented on #1390
@oliver2g @Niicck @annieszot Great, happy to pitch in for any last-minute QA. I also noticed a few things yesterday/this morning and added new issues.

[2019-03-27 17:19] annieszot commented on #1390
@oliver2g, @desigonz pointed out a sweet feature "Report on Github" in browser stack. Yay, automation! Instead of taking note of each bug, taking manual screenshots and creating a new issue, check this out:
![Screen Shot 2019-03-27 at 12 16 22 PM](https://user-images.githubusercontent.com/46934140/55097710-657e5d80-508a-11e9-9e2d-bf35ad47b9c5.png)
![Screen Shot 2019-03-27 at 12 16 50 PM](https://u

[2019-03-27 17:20] annieszot commented on #1390
@Niicck I'll work on this QA this afternoon

[2019-03-27 17:23] #1538 closed

[2019-03-27 17:43] annieszot commented on #1390
Screenshots for "The new email submission sitch on the confirmation page"
![Screen Shot 2019-03-27 at 12 40 28 PM](https://user-images.githubusercontent.com/46934140/55099588-f3a81300-508d-11e9-9b52-7933e946468e.png)
![Screen Shot 2019-03-27 at 12 41 38 PM](https://user-images.githubusercontent.com/46934140/55099589-f3a81300-508d-11e9-828f-fdca293abad3.png)
![Uploading Screen Shot 2019-03-27 at 12

[2019-03-27 17:47] annieszot commented on #1390
Screenshots calendar icon for #1057
![Screen Shot 2019-03-27 at 12 47 21 PM](https://user-images.githubusercontent.com/46934140/55099869-821c9480-508e-11e9-9b3c-8baea2b3b66e.png)
![Screen Shot 2019-03-27 at 12 47 24 PM](https://user-images.githubusercontent.com/46934140/55099870-821c9480-508e-11e9-9c30-1399fd215386.png)

[2019-03-27 17:50] annieszot commented on #1390
Closing

[2019-03-27 17:50] #1390 closed

[2019-03-27 18:02] toribr opened #1606 "Content for Unemployed persona prototype"
http://www.austintexas.gov/department/career-center

Rewrite this according to new style guide for prototype. (doesn't have to be perfect.
This is also for the testing of persona prototypes.

[2019-03-27 18:03] oliver2g commented on #1580
@Niicck 1331 is closed, so is this something you're working on? what is the nature of the fix?

[2019-03-27 18:51] desigonz commented on #1453
@kriskristin Started an [interview protocol doc](https://docs.google.com/document/d/1BLWEm_1pTye9Lec0dDL1ef9huSXbsKV1lI3MFlh-Q-0/edit?usp=sharing)

[2019-03-27 19:26] easherma commented on #1229
![Screenshot from 2019-03-27 14-23-59](https://user-images.githubusercontent.com/10539855/55106048-f9a4f080-509b-11e9-89db-b2e2f04c1541.png)
looks addressed, I remember doing this, sorry for not noting on the issue.

[2019-03-27 19:26] #1229 closed

[2019-03-27 19:49] desigonz commented on #1527
I'm late to the game on this, but I love it. Added some edits.

Thoughts:
- Do we have a target reading level we'd like to achieve on Civiqueso?
- What kind of image guidelines can we provide to help authors select relevant and quality images?

[2019-03-27 19:50] desigonz commented on #1229
@easherma The issue is actually in English—should read "Phone number" on the witness details page, not "Phone," but I wasn't able to find where that label lives.

[2019-03-27 19:53] sergiogcx commented on #1567
We made some great progress with performance, we have reduced the size of the payload to 1/3rd of the original size.

Production Test:
https://www.webpagetest.org/result/190326_RC_0298c6cfba14c5ac6078a6c513c7c2f7/

Staging:
https://www.webpagetest.org/result/190326_26_f748ae067327b264414a1a9038ba5694/

Worst Performance:
https://www.webpagetest.org/result/190326_QG_2302e7a4c5c424b014906ac6ec67b3ff

[2019-03-27 20:02] #1393 closed

[2019-03-27 20:02] desigonz commented on #1393
Research plan outlined here: https://docs.google.com/document/d/1hi8VYR0sB1Of-CdVAMfFemh0pHtONjCVaxls-IGk7sk/edit?usp=sharing

[2019-03-27 20:09] easherma commented on #1567
@sergiogcx lets keep performance notes in this issue:
https://github.com/cityofaustin/techstack/issues/1000

[2019-03-27 20:53] annieszot commented on #1520
@LauraTrujillo How do I edit the Digital Services Style Guide?

[2019-03-27 21:22] LauraTrujillo commented on #1520
@annieszot, unfortunately, we can't have an account for everyone (based on the basic account we have) So I can either make the edits for you, or swap writer accounts with @srigdon. Let me know what works best for you!

[2019-03-27 21:28] annieszot commented on #1520
@LauraTrujillo Thanks and no problem! I'll prep the content and pass it off as we do in our review editorial process, then you can choose what to publish?

[2019-03-27 21:34] #1100 closed

[2019-03-27 21:35] LauraTrujillo opened #1607 "Community Youth Development Program content"
http://www.austintexas.gov/department/community-youth-development-program-dove-springs-78744

[2019-03-27 21:39] LauraTrujillo opened #1608 "Day Labor content"
This is potentially dependent on work with service design lab

http://www.austintexas.gov/daylabor

[2019-03-27 21:53] annieszot commented on #1527
Excellent thoughts @desigonz
I copy and pasted the community gardens and opo medium posts into the Hemingway app. Articles resulted in a grade 12 reading level. :/ @LauraTrujillo's latest civiqueso post was at a grade 8 reading level. Thanks for the reminder @desigonz to keep our reading level content creation consistent 👍

Let's aim for grade 8 reading level?

Image guidelines
Preferably inhouse,

[2019-03-27 21:56] LauraTrujillo opened #1609 "Draft Environmental and rodent vector control content"
We may work with Service Design Lab and the vector team

http://www.austintexas.gov/department/environmental-rodent-and-vector-control

[2019-03-27 21:56] desigonz commented on #1527
Ahhh caption styles! So important! Might also want to think about attribution and copyright (use public domain image, etc). Could be nice to try to go for active photos—things where people are interacting, etc. No stock imagery lol.

Reading level-wise—we could probably raise it to grade 9 or 10, considering our audience, but the more readable the better!

[2019-03-27 21:58] LauraTrujillo opened #1610 "Draft content for Epidemiology and disease surveillance"
http://www.austintexas.gov/department/epidemiology-and-disease-surveillance

It's probably all covered in this service page: https://docs.google.com/document/d/1Wnlkk88TREr3Ir3CYk_jFd-EeGmGItJgITmu9EBcx7M/edit?usp=sharing

[2019-03-27 22:05] LauraTrujillo opened #1611 "Draft fixed food establishment content"
http://www.austintexas.gov/department/fixed-food-establishments
Process "bucket" or template
Laws and codes- how do we handle those?
Are “guides” information pages?

[2019-03-27 22:06] LauraTrujillo opened #1612 "Draft food personnel requirements content"
This is a page tangentially to food handling licenses.

http://www.austintexas.gov/department/food-personnel-requirements

- Will need a form
- Unordered service page?

[2019-03-27 22:09] LauraTrujillo opened #1613 "Draft HIV content"
Your mission: make sure all of the HIV content that should be transitioned has been drafted; draft whatever haven't been, and review existing HIV-related drafts. You might want to start by checking against the notes in the content audit, and then review the drafts we have so far. A lot of these drafts are old and weren't written using our current templates, so please update the templates and make

[2019-03-27 22:12] annieszot commented on #1527
Gotchya! Captions, attributions, and copyright added to draft. Revisions welcomed

[2019-03-27 22:15] LauraTrujillo opened #1614 "Draft immunizations content"
http://www.austintexas.gov/immunizations

how does this work with other vaccine info?

[2019-03-27 22:17] LauraTrujillo opened #1615 "Draft injury prevention content"
http://www.austintexas.gov/department/injury-prevention

[2019-03-27 22:18] LauraTrujillo opened #1616 "Draft Maternal Infant Outreach Program"
http://www.austintexas.gov/department/maternal-infant-outreach-program

[2019-03-27 22:27] desigonz commented on #1527
Ohh oh another thing! We should make sure to author and add alt text for all images. (Haven't used Medium in a while so not sure if they support this. But it's a11y best practices.)

[2019-03-27 22:37] annieszot commented on #1527
Yes yes! Thank you! Will need a little more time to investigate/integrate.
Will re-open issue and unassign Laura.

[2019-03-27 22:40] LauraTrujillo opened #1617 "Draft mobile food vendors content"
Working with Service design lab

[2019-03-27 22:49] LauraTrujillo opened #1618 "Mom's place content"
http://www.austintexas.gov/momsplace

[2019-03-27 22:51] LauraTrujillo opened #1619 "Draft Neighborhood Centers Content"
- [x] [Free health services at neighborhood centers](https://docs.google.com/document/d/1v-1HhTp3lhSfHb88-0DMfRR5XyVgD4jEh-2NZVP6juk/edit#)
- [x] [Social services at neighborhood centers](https://docs.google.com/document/d/18ypjn59u1J2nQnVi5GH-7SWVIIbF0gPta9-P4t-nDco/edit)
- [x] [Get information and referrals at neighborhood centers](https://docs.google.com/document/d/1a9iaGEySGXIIGvjOjipKgFyt9f_0

[2019-03-27 22:52] LauraTrujillo opened #1620 "Draft Pools, spas, interactive water features, and fountains content"
Working with Service Design Lab

http://www.austintexas.gov/department/pools-spas-interactive-water-features-and-fountains

https://docs.google.com/document/d/1740yyv8M4hMlV-71SIDK2esKVMItEn1VvYw2s9wU8IE/edit#heading=h.b8wr4vlp40xr

[2019-03-27 22:53] LauraTrujillo opened #1621 "Draft Public Health Regulations content"
FYI- Major catch all page

http://www.austintexas.gov/department/public-health-regulations

[2019-03-27 23:11] LauraTrujillo opened #1622 "Draft refugee services content"
http://www.austintexas.gov/department/refugee-services

It's interesting how Boston organized their content- especially when it's not just city services available to new residents: https://www.boston.gov/departments/immigrant-advancement/immigrant-advancement-resources

Might all be covered in this draft—please review: https://docs.google.com/document/d/1HbA2qNf6X9XIjWOhP_kH1dpKy6epvvCG-fpdCnpypuU

[2019-03-27 23:13] LauraTrujillo opened #1623 "Draft STD content"
Should it be STI?

http://www.austintexas.gov/department/sexually-transmitted-diseases-stds

We have a draft of a service page for STD testing: https://docs.google.com/document/d/1IGhEBxFOXxWam7ghcmcP9bTvn-YXZF-mVyCEnwAr6gQ/edit?usp=sharing

Do we need anything else?

[2019-03-27 23:17] LauraTrujillo opened #1624 "Welcome to Mom’s Place lactation support center"
http://www.austintexas.gov/department/welcome-mom%E2%80%99s-place-lactation-support-center

[2019-03-27 23:18] LauraTrujillo opened #1625 "Draft Women, Infants and Children (WIC) content"
http://www.austintexas.gov/wic

draft: https://docs.google.com/document/d/1Cl7PHJ-jCDPX_ScoFxbweTEqrQ5JkG5MOsFJV7mIYcE/edit

[2019-03-27 23:20] LauraTrujillo opened #1626 "Draft Youth and family services/youth initiatives office content"
http://www.austintexas.gov/kids

combine with Youth development services?
http://www.austintexas.gov/department/youth-development-services

[2019-03-28 00:34] chasechenevert commented on #1203
## Navigational Elements MVP
### Dev Specs
- Component: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/ddc6cb4a-1e5b-4f53-b7f7-ac8626f720ce/Navigation-Footer-Mobile-1/

<img width="1456" alt="Screen Shot 2019-03-27 at 2 04 49 PM" src="https://user-images.githubusercontent.com/7027270/55121157-2b7f7c80-50c7-11e9-8415-d4df578c88e1.png">

**Example of navigational elements

[2019-03-28 00:41] #1203 closed

[2019-03-28 01:16] briaguya opened #1627 "Allow pages to have multiple topics/allow super admins to make new topics"
Multiple topics for pages and make sure super admins can make new topics

[2019-03-28 14:48] briaguya opened #1628 "Design System Super Issue"
Using this to braindump/prep for making a design system

First and foremost I think it makes sense to implement this as a storybook with stateless react components, as well as non-react html using the same styles.

For purely display components the big difference will be actually using properties on the react components, and instead putting placeholder text in the html.

For Example:

SCSS/CSS:
[c

[2019-03-28 17:07] desigonz commented on #1616
Duplicate of #1161 (which eerily is composed of the same digits as this issue!). I'm going to close this one and convert the other to an epic.

[2019-03-28 17:07] #1616 closed

[2019-03-28 17:20] kriskristin commented on #1453
interview protocol looks great @desigonz.

[2019-03-28 17:41] Niicck commented on #1580
1331 is closed, but it was not entirely fixed. I thought I fixed it, but I was wrong. There are additional code changes I need to make. This ticket is in progress.

[2019-03-28 17:48] desigonz commented on #1176
[Draft lives here](https://docs.google.com/document/d/1lvQczE59avNNcrL0VX_idMrA21OY0l4cq3_rXXpqgFw/edit?usp=sharing). Next step is to reach out re: fact checking.

[2019-03-28 19:44] JeffCopy commented on #1604
https://docs.google.com/document/d/1pafkV4I05wvBJ8RDykFzqwrYpTjiWMhJn33jj6E4iZQ/edit

[2019-03-28 19:45] JeffCopy commented on #1604
This is a rewrite of a page Tori wants to use for testing.  @desigonz can you take the first pass?

[2019-03-28 20:24] desigonz commented on #1604
@JeffCopy Just made some edits!

[2019-03-28 21:23] Niicck opened #1629 "Date ReviewWidget shows wrong day"
**Describe the bug**
The DatePicker ReviewWidget displays the day as the month

**URL**

**To Reproduce**
Enter a day in March that isn't the 3rd.
See the ReviewWidget display March 3rd anyway.

**Expected behavior**
Display the day that users entered.

**Screenshots**
![Screen Shot 2019-03-28 at 4.02.45 PM.png](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/1b883b02-0b69-4aec-bceb-

[2019-03-28 21:27] annieszot commented on #1520
@LauraTrujillo Draft additions:
In the Digital Styles Guide under "Create quality content":
Who's your content crew?
Documenting content governance clarifies accountability and responsibility but may involve a wide net of writers. Along with content owners and content managers, pinpoint someone who provides strategy, or who charts the course, for the content, someone who makes sure implementation

[2019-03-28 22:49] desigonz opened #1630 "Draft service page for smoke-free events toolkit"
http://austintexas.gov/sites/default/files/files/Health/Chronic_Disease/FINAL_Smokefree_Toolkit__003_.pdf

Use service page template

[2019-03-29 14:08] #1572 closed

[2019-03-29 14:09] #1140 closed

[2019-03-29 14:14] toribr opened #1631 "Adjust script for OPO to include task for language switching"
Write addition to script which explores user expectation around modal messaging when they change the language.

[2019-03-29 15:20] JeffCopy commented on #1604
@desigonz gracias!

[2019-03-29 15:28] toribr commented on #1604
Thanks, y'all.

[2019-03-29 15:38] JeffCopy commented on #1604
@LauraTrujillo per note above, this won't be pushed into production; it's for testing. This is my rewrite of the page with Desi's edits, and it may be good to go for these purposes, but if you want to take a look, it is here. Thanks!

[2019-03-29 16:59] JeffCopy commented on #1598
@srigdon will you be the first pair of eyes on this one?
btw, I WAY overthought this in an effort to be more clever than is called for. Opted for a more  straightforward specimen of the 404 genus.
Draft is here:
https://docs.google.com/document/d/1lqvXYh_Cfa1UtJtVShVBm2Ozl6eWbYfdqJ75VMQYu7M/edit

[2019-03-29 18:02] Niicck commented on #1086
Date selection should be constrained to the past. This has been bugging people for a little while, so I decided to fix it more thoroughly. I'd like Design's input/blessing on my approach.

Check it out. You plug it the month and day and it'll automatically plug in the nearest past year for you. A previous version autofilled the current year every time. But that led to bugs. Because if you plugged

[2019-03-29 18:03] Niicck commented on #1086
My current code display no validation errors, because it's impossible to enter an invalid future date. If you try to enter a year in the future (for whatever reason?) it will automatically revert back to the last valid date. Demo:

![autocorrect_date_2.gif](https://images.zenhubusercontent.com/5b9fcb6c68df0477b25368b3/440bc0a4-c6d2-4c7e-b97a-4a5b2c29ec44)

Question 2: Is the autocorrect on the yea

[2019-03-29 18:24] #1629 closed

[2019-03-29 18:41] Niicck opened #1632 "Consolidate us-form-system repo"
Move usds-components repo into us-forms-system repo.

Subissue of https://app.zenhub.com/workspaces/office-of-design-and-delivery-5a78b88e1ce69f3510b678ef/issues/cityofaustin/techstack/1567

This is already started in branch 1567-usds-components of our us-forms-system fork.
https://github.com/cityofaustin/us-forms-system/tree/1567-usds-components

The merger works. But there is a little work to do

[2019-03-29 20:09] easherma opened #1633 "Lint LocationWIdget"
Make sure our location widget passes the eslint rules established in us-forms system

[2019-03-29 20:12] easherma opened #1634 "Make linting pass for FileUploadWidget"
Related: https://github.com/cityofaustin/techstack/issues/1632
This is currently being ignore by eslint in order to make the build pass. Following some linting would be good for us to avoid tech debt/better future maintainability.

[2019-03-29 20:13] easherma opened #1635 "Make linting pass for date and time widgets"
Related: https://github.com/cityofaustin/techstack/issues/1632
This is currently being ignore by eslint in order to make the build pass. Following some linting would be good for us to avoid tech debt/better future maintainability.

[2019-03-29 20:58] desigonz commented on #1630
Draft lives here: https://docs.google.com/document/d/1kCU9JHW3R1PqEpH0wzj7Q0eeFQO6_EE0tF9mU2NrFaA/edit?usp=sharing

Will be meeting Ashley LeMaitre, the program coordinator, on April 12 and will run this content by her then!

[2019-03-29 21:01] #1453 closed

[2019-03-30 20:38] LauraTrujillo commented on #1604
@JeffCopy looks great! I don't have anything to add.

[2019-04-01 14:56] JeffCopy commented on #1604
@toribr
closing issue, next persona piece will go into review today.

[2019-04-01 14:56] #1604 closed

[2019-04-01 15:24] desigonz commented on #1161
Waiting to hear from Cynthia Washington to set up a fact-checking call.

[2019-04-01 15:37] #1624 closed

[2019-04-01 15:37] desigonz commented on #1624
Same content as #1618; closing

[2019-04-01 15:52] toribr commented on #1563
![image](https://user-images.githubusercontent.com/3790067/55341052-8caea380-546b-11e9-9861-37e34c7fa5c3.png)

Need to resolve:
-[ ] search
-[ ] department names
-[ ] Use "Healthcare & Prevention" as topic name for PH
-[ ] Change "Police reports & records" to "Police & law enforcement"?
-[ ] Some pages aren't directly parented by topics; discuss with dev if new UI is required for Joplin and/or how

[2019-04-01 16:18] pibemillo opened #1636 "Create TopServices component"
Currently hardcoded into dept page.

Component present in homepage as TileGroup. Needs styling updated

[2019-04-01 16:19] sergiogcx commented on #1565
The PR is ready to be reviewed:

https://github.com/cityofaustin/janis/pull/347

Currently the problem is that Janis does not build correctly:

From Travis (https://travis-ci.org/cityofaustin/janis):

[code]

[2019-04-01 16:20] oliver2g commented on #1460
@LauraTrujillo at content backlog grooming, the team decided that this should be a meeting between dev and content. Can you help schedule

[2019-04-01 16:28] #1631 closed

[2019-04-01 16:29] oliver2g commented on #426
related to #1178

[2019-04-01 16:29] srigdon commented on #426
I don't think it's a duplicate, it's still a to-do. Here's the draft URL standards doc: https://docs.google.com/document/d/1pI2vdbAC4gpupVU02GLo6qGr6nsEJGuEORnVHJqs6JM/edit

[2019-04-01 16:30] #1178 closed

[2019-04-01 16:31] oliver2g commented on #1178
This issued is covered by a previously closed issue.

[2019-04-01 16:33] LauraTrujillo commented on #798
@JeffCopy here's an example: https://alpha.austin.gov/themes/housing-utilities

[2019-04-01 16:34] oliver2g commented on #1519
@LauraTrujillo created some epics on this topic. This issue is no longer needed.

[2019-04-01 16:34] #1519 closed

[2019-04-01 16:56] oliver2g commented on #1405
Will be decided at design pin-up on 4/2

[2019-04-01 18:12] srigdon opened #1637 ""City of Austin" doesn't link to the home page from department, information, and service pages"
On all department, information, and service pages, the City of Austin title is clickable but linked to https://alpha.austin.gov/# and goes nowhere.

For the OPO department page, there's no way to click back to the home page other than the link in the footer: https://alpha.austin.gov/police-oversight/

[2019-04-01 18:22] srigdon commented on #1598
Looks good and I put a few questions in the doc. Want to weigh in @LauraTrujillo?

[2019-04-01 18:32] desigonz commented on #1602
Hi @sergiogcx— @kriskristin and I are doing Spanish OPO user testing on Spanish and would love to have this pushed to live by then. Do you think that's doable? Thank you thank you!

[2019-04-01 19:09] JeffCopy commented on #1606
Here's the first draft page. This content is for persona testing.
https://docs.google.com/document/d/1lP8yScepwDpN3k71dsLsYYA1kLsvVP7IzsHXJ2kfDnc/edit#

@annieszot you're first reviewer on this one, thanks!

[2019-04-01 20:52] sergiogcx commented on #1601
I can work on this today, but it would be nice to have a specification on the size:

This is it on *2.0 rem* (about 16 to 20 pixels (depending on the device):
![Screen Shot 2019-04-01 at 3.49.54 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/f933b421-c063-4bb2-bf9f-44ecab5b8b23)

This is the link on *1.5 rem* (about 14-15 pixels), bold:

![Screen Shot 2019-04-01 at 3.50.19 P

[2019-04-01 20:54] oliver2g commented on #1601
good question @sergiogcx. I would say make the font similar to the confirmation number. @toribr and @chasechenevert any thoughts on this from a ux perspective?

[2019-04-01 20:57] sergiogcx commented on #1601
The confirmation has size: 1.8 rem, bold: 700. If we make them the same, this is what it looks like:

![Screen Shot 2019-04-01 at 3.56.44 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/fdabddb2-8b0b-4982-abd2-d6d3285b47c4)

[2019-04-01 20:59] toribr commented on #1601
Please wait on implementing anything for this issue, until UX has a chance to correctly research.

[2019-04-01 21:11] LauraTrujillo commented on #1598
@jeffcopy looks good! Entered my questions and comments below Sarah's.

[2019-04-01 21:14] sergiogcx commented on #1601
Ok, I will put this back on deck.

[2019-04-01 21:30] sergiogcx opened #1638 "Police Oversight: PR in Spanish & Route Patching"
This issue is meant to address:
1. That spanish forms get deployed in a PR.
2. That form PRs routes get patched so they work automatically.

[2019-04-01 21:40] annieszot commented on #1544
draft started
https://docs.google.com/document/d/1l1cn8-DnTju7oK4hOM_10cNe0dE9eEH30Lf_xDNAdpU/edit

[2019-04-01 21:58] easherma commented on #1485
@sergiogcx @desigonz @toribr This has been in QA for a minute. There were some changes over made time, but we do have a working version in production right now that appears to implement this feature. Are we holding it open for additional QA or any other reason or should we mark it as resolved?

[2019-04-01 21:59] desigonz commented on #1485
from my perspective it's cool to close it, but I'd wait for @toribr to chime in. I believe @sergiogcx is working on #1602

[2019-04-01 22:03] toribr commented on #1485
How about we wait for the results of usability testing, which will happen on Wed?

[2019-04-01 22:17] easherma commented on #1485
Up to ya'll and @oliver2g . My two cents would be that if our board is crowded it would be good to close this (as the modal is 'created') and just open a  new issue for making improvements based on testing if those come up.

[2019-04-01 22:20] easherma commented on #1567
We are shortly going to merge in some changes that get us down this path a bit;

- [ ] moving usfs-components into appropriate folders in the us-forms-project:
  - [ ] proposed, tests pass
  - [ ] merged to staging
  - [ ] pushed to prod
- [ ] merged schema blocks repo with chapters repo
  - [ ] proposed, tests pass
  - [ ] merged to staging
  - [ ] pushed to prod
- [ ] publish this version of us-

[2019-04-01 22:28] toribr commented on #1485
That'd be ok, too.

[2019-04-01 23:13] annieszot commented on #1606
@JeffCopy Edits in! Feel free to kick back to me for another round of revision

[2019-04-01 23:24] JeffCopy commented on #1606
Thanks!

[2019-04-01 23:26] JeffCopy commented on #1598
Thanks!

[2019-04-02 01:22] desigonz commented on #1485
+1 @easherma—anything new will need its own issue(s)

[2019-04-02 13:45] LauraTrujillo opened #1639 "Interview Neighborhood Center Point of Contact"

[2019-04-02 14:40] sergiogcx commented on #1602
Merged to master.

[2019-04-02 14:46] LauraTrujillo commented on #1520
@annieszot I added your suggestions to the Style Guide. We can continue to refine them as we go along. Thanks!

[2019-04-02 14:46] #1520 closed

[2019-04-02 14:57] LauraTrujillo commented on #1159
@desigonz Reviewed and left my 2 cents. Great job!

[2019-04-02 14:59] annieszot commented on #1115
Re-assigning to @LauraTrujillo This is a catch-all page so really appreciating your capacity to help with deciding what to do with this. Let me know if you have questions :)

[2019-04-02 15:05] annieszot commented on #1117
Reassigning to @LauraTrujillo Draft should be ready for Joplin again. I dropped the draft in Joplin then deleted it. Let me know if edits need to be made before testing/publishing on Joplin.

[2019-04-02 15:51] JeffCopy commented on #1606
@annieszot thanks for the edits, very helpful! I took almost all of them. Moving on to Laura for a second read so we can move it on to Tori.

@LauraTrujillo, on to you.

[2019-04-02 15:58] chasechenevert commented on #1140
Visual design of this issue: #1203

[2019-04-02 16:03] #1598 closed

[2019-04-02 16:24] chasechenevert commented on #1204
## Service collection visual design
### Dev specs
- Desktop: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/6808c014-dbbe-4e50-94d4-b086604d3265/Topic-Landing-MVP-Desktop/
- Mobile: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/c38c2796-e87a-4a74-bb2d-2bf485f25c05/Topic-landing-MVP-Mobile-Closed/

### Notes
Mobile
- service collection turns

[2019-04-02 16:26] #1204 closed

[2019-04-02 16:42] LauraTrujillo opened #1640 "Review the History Center's archival system scope of work"

[2019-04-02 17:03] LauraTrujillo commented on #1606
@JeffCopy reviewed!

[2019-04-02 17:38] annieszot commented on #1527
@desigonz At your convenience, can you please take a look at my additions (re: alt text) before I close this?
@srigdon At your convenience, finish the section on publicizing?

Requested due date Friday, April 5.

[2019-04-02 17:55] JeffCopy commented on #1606
@LauraTrujillo thanks! Further revisions implemented. Wanna take another look? On the do-we-or-don't-we-include-indeed/monster? issue, I propose we leave them for now, and see if there's any feedback on it from testing.

[2019-04-02 18:06] LauraTrujillo commented on #1606
@JeffCopy looks good!

[2019-04-02 18:28] #1606 closed

[2019-04-02 18:29] JeffCopy commented on #1606
@toribr ready to roll

[2019-04-02 19:07] briaguya opened #1641 "Update data model for Janis 2.0"
![Image from iOS (1)](https://user-images.githubusercontent.com/6384156/55579172-42ccf400-56dd-11e9-8730-73378e9b2fd3.jpg)
## Joplin stuff
- [ ] Update topic and department pages to have a list of all pages that belong to them
- [ ] Update create content modal to skip topic selection

## Pre meeting stuff
In Joplin:
* Topic Pages
  * Topic Title
  * Topic Description
  * All service/information pa

[2019-04-02 19:10] toribr commented on #1529
![1529](https://user-images.githubusercontent.com/3790067/55429341-dd4bfc80-5550-11e9-93ef-d0d641f8da48.png)
Notes: this menu is displayed when *ANY* theme (top nav) element is clicked, ie, same for all.

[2019-04-02 20:07] oliver2g commented on #1405
The decision is to leave the day of week order as it is unless production or user testing proves otherwise

[2019-04-02 20:07] #1405 closed

[2019-04-02 20:09] toribr opened #1642 "Resolve navigation to info pages from OPO"
Short term solution

[2019-04-02 20:11] chasechenevert opened #1643 "Topic page without sub-topics"
Not all content within topic pages will need sub-topic content clusters.

[2019-04-02 20:21] oliver2g commented on #1601
I'll push this "why" question back to Farah and the OPO advisory committee

[2019-04-02 21:50] #1485 closed

[2019-04-02 22:06] easherma opened #1644 "Reverse geocoder fires even when user types in address"
**Describe the bug**
so i think what is happening is she is selecting that location, the map then pans and zooms over there, once that is down, the reverse geocoder fires and, in this case, returns a more vague address place than the one they entered

[2019-04-02 22:17] annieszot commented on #1116
I've decided to scratch this from ARR's content umbrella per Desi's notes https://docs.google.com/document/d/12SNG6-ErlmEBoug3j5VsuOjkdCb6Uj8r4x_pJGwtm4w/edit?usp=sharing
Will remove sprint and move to backlog: medium term

[2019-04-02 22:29] easherma opened #1645 "Evaluate and clean up dependencies for OPO repos"
**Objective**

Let's go through the dependencies on our repos and make sure we remove ones that are no longer being used.

**Participants**
@sergiogcx
@Niicck
@easherma

**Agenda**

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Create resulting issues

[2019-04-02 22:32] easherma opened #1646 "OPO form loads slow on 3g"
### As a user on slow internet I want the form to load quickly so that I can quickly move forward with a submission.

Related to #1000 , #1567

**Describe the solution you'd like**
Lets identify low-hanging fruit to trim our payload down as small as possible and list further steps needed beyond that.

[2019-04-02 22:35] desigonz commented on #1527
Hey @annieszot! Thanks for revising. Looks like you added instructions on how to add alt text to Google docs, but ultimately that won't end up on Medium. Just did some quick research and it looks like Medium doesn't have the capability (which is a huge huge shame! shaking my head about their shoddy accessibility efforts). They do have a caption field, however; I'd recommend adding something to the

[2019-04-02 23:06] easherma opened #1647 "Refactor forms build process/scripts"
**Objective**
Now that we have a version deployed to production and have more forms in the pipeline, it's a good idea to revisit our build process to make sure we can be flexible.

**Participants**
@sergiogcx
@easherma
Anyone else who wants to help

**Agenda**

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Create resulting issues

[2019-04-02 23:28] easherma commented on #1647
https://brettdewoody.com/secure-environment-variables-with-travis/

[2019-04-02 23:33] desigonz opened #1648 "Peer-2-Peer program service page with form"
Zana and Fernanda of the Austin Healthy Adolescent program shared [the Word doc application](https://drive.google.com/open?id=1A2w-oZc0fJQbBUiXD9zuMK79PObrN2gq) they send out to participants and said they think an online form would be great for this. The form should live on its own, new service page. Currently, info on the Peer-2-Peer page lives here: https://docs.google.com/document/d/1Y1isYhlE3f

[2019-04-02 23:35] briaguya opened #1649 "Janis - Service page links are broken when navigating from /en/ or /es/ instead of not having a language specifier"
There are some issues with how we're handling internationalized links in Janis. The links work fine on reload, but don't work when navigating.
http://g.recordit.co/FgDZc0UdkF.gif

I did a bit of investigating, and found that switching away from using internationalized links will still keep the language selection, while the address bar will lose it.

I did some investigating as to more comprehensiv

[2019-04-03 01:02] sergiogcx commented on #1649
It looks like this happens at the local level too:

[code]

<img width="1368" alt="Screen Shot 2019-04-02 at 8 02 00 PM" src="https://user-images.githubusercontent.com/5282430/55445698-354f2700-5582-11e9-9c0f-ae9c70c4792e.png">

[2019-04-03 09:51] briaguya opened #1650 "Upgrade to react-static 7"
PR: https://github.com/cityofaustin/janis/pull/585

## testing notes:
https://joplin-pr-brians-janis-testing.herokuapp.com/ is set up to build/preview with https://janis-1650-react-static-7.netlify.com/

## Bonus
I did some investigating as to more comprehensive solutions, and investigated upgrading from react-static 5 to react-static 7. It seems as though there have been quite a few improvements

[2019-04-03 15:33] toribr commented on #1563
![megaM](https://user-images.githubusercontent.com/3790067/55491917-f2ca3080-55fb-11e9-90bf-5118205db914.png)

[2019-04-03 15:41] toribr commented on #1563
![megaMenu](https://user-images.githubusercontent.com/3790067/55492546-ff9b5400-55fc-11e9-9397-28c00f1735b7.png)

[2019-04-03 16:54] toribr commented on #1203
1) Far left: parent topic title: travels up to immediate parent node (topic or dept)
2) Middle: related to: shows sister topics, if any (probably rare for a while)
3) Last: Offered by: department name goes here

[2019-04-03 16:59] toribr commented on #1563
![megaMenu](https://user-images.githubusercontent.com/3790067/55497857-d7fdb900-5607-11e9-9e2a-ed652f57842f.png)
Updated version which includes topic for OPO forms.

[2019-04-03 18:33] toribr opened #1651 "Design link module to non-topic pages from Department page"
Need a way to link to pages that aren't associated with any topic per se, but secondary information that probably is department-only related. (as far as we can tell).

[2019-04-03 19:04] LauraTrujillo commented on #1174
duplicate of #1615

[2019-04-03 19:04] #1174 closed

[2019-04-03 19:05] #1426 closed

[2019-04-03 19:11] LauraTrujillo commented on #1177
Duplicate of AHA page

[2019-04-03 19:11] #1177 closed

[2019-04-03 19:13] LauraTrujillo commented on #1162
The information on this page is covered in the epics for APH- with actionable information for residents.

[2019-04-03 19:13] #1162 closed

[2019-04-03 19:17] LauraTrujillo commented on #521
This page is out of date and does not need to be transitioned.

[2019-04-03 19:17] #521 closed

[2019-04-03 19:23] desigonz opened #1652 "Can't add additional officer or witness"
This is happening on staging for both the English and Spanish complaint forms. Not happening on the live site right now.

To replicate:
1. Fill out form
2. Add officer or witness details
3. Click "add another officer" or "add another witness"

What I expected: First officer details collapsed, with new blank section to enter 2nd officer details
What happened: The answers I had written were highligh

[2019-04-03 19:23] LauraTrujillo commented on #1621
Duplicate of #1175

[2019-04-03 19:23] #1621 closed

[2019-04-03 19:30] sergiogcx commented on #1504
This has now been addressed in these PRs:

Complaint:
https://github.com/cityofaustin/officer-complaint-form/pull/95
https://github.com/cityofaustin/officer-thank-form/pull/30

Working models:
https://opo.austintexas.io/policia-queja/
https://opo.austintexas.io/policia-agradezca/

[2019-04-03 19:36] sergiogcx commented on #1083
At first I was not comfortable using localStorage, but now we also use it for storing form data for 2nd submission at the confirmation page, making this issue irrelevant.

Best if closed in my opinion,

[2019-04-03 19:54] toribr commented on #1472
Closing this for now, as second type may be changed.

[2019-04-03 19:54] #1472 closed

[2019-04-03 19:57] toribr opened #1653 "Write test plan for persona tests"
Write a test plan/schedule with Kristin

[2019-04-03 20:01] toribr opened #1654 "Make prototype for screen so screen capture can be used"

[2019-04-03 21:07] sergiogcx commented on #1652
Production does not have the problem, it affects both English and Spanish, it affects only the complaint form.

[2019-04-03 21:08] sergiogcx commented on #1652
Console output:

![Screen Shot 2019-04-03 at 4.08.06 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/ebf7dce0-b99b-4b06-8b9c-57dedefed247)

[2019-04-03 21:41] easherma commented on #1652
https://github.com/cityofaustin/officer-form-chapters/commit/80cb8117598df6423f94560494abc739ee33d68e should fix it

[2019-04-03 22:57] desigonz opened #1655 "Fix Spanish "Qué sucederá ahora" link"
On Spanish OPO form (on both production and staging), "Qué sucederá ahora" links to the English "Complaint investigation process" page when it should link to Spanish.

[2019-04-03 23:10] desigonz opened #1656 "Changes made in Joplin aren't publishing out"
Laura made a number of changes (one or two weeks ago!) to the OPO pages in Joplin but they haven't published out. Sharing some screenshots that point out the content discrepancies.

During testing today, someone clicked through to the "Complaint investigation process" and said "What's OPO?"

![complaint-process-frontend.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/37549268-e2

[2019-04-03 23:10] sergiogcx commented on #1655
The PR is building, will merge as soon as you can I can test it:

https://github.com/cityofaustin/officer-complaint-form/pull/96

[2019-04-03 23:20] sergiogcx commented on #1655
@desigonz Could you take a look at this PR:

https://opo.austintexas.io/policia-queja

PRs are a work in progress, you will have to go through the form and submit to get to the confirmation page

[2019-04-03 23:26] desigonz opened #1657 "Write up date/time picker bugs"
Hey @kriskristin—making us an issue to review user testing data and flesh out all of the problems we see with the date and time picker.

As I doing QA on another thing, I noticed this discrepancy below, among all the other things we saw today 🙃

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/4e1fc7c8-e731-4145-8113-5d3e4048e3d6)

![image.png](https://images.zenhubuserco

[2019-04-03 23:29] desigonz opened #1658 "Update Joplin so that content publishes without having to rebuild manually"
The content team is getting to the point where we need to update content on the fly.

Make it so that we don't have to manually rebuild every time we make a content change? Or at least update the site once a day?

[2019-04-03 23:32] desigonz commented on #1652
thanks @easherma! confirmed this is working now. Closing this issue.

[2019-04-03 23:32] #1652 closed

[2019-04-03 23:35] desigonz opened #1659 "Fix "new official" and "new witness" translations"
![new-oficial.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/2a62425b-c90d-4fd2-8f43-b6ba1ac1586f)![new-testigo.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/3ab673b0-f190-40a3-8e07-44181b06dc3d)

[2019-04-03 23:38] sergiogcx commented on #1504
Both have been tested and merged to master.

[2019-04-03 23:38] sergiogcx commented on #1655
Tested, merged to master.

[2019-04-04 00:41] briaguya commented on #1569
addressed by #1534

[2019-04-04 00:41] #1569 closed

[2019-04-04 00:51] briaguya commented on #1637
This was intentional as per #1425

When we move away from the OPO microsite to the full site this should be addressed

[2019-04-04 04:05] briaguya commented on #1580
I'm very happy to know that whatever XR BrowserStack had on hand is in the central time zone somewhere.

[2019-04-04 12:14] briaguya opened #1660 "Investigate content-publisher (gov.uk)"
# Brain dump
## Getting it running
working on it: https://github.com/alphagov/content-publisher

[2019-04-04 14:24] JeffCopy commented on #1322
@LauraTrujillo minor tweaks implementicized, ready for your eyes.

[2019-04-04 14:41] pibemillo commented on #1560
https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/2693cc87-4067-4a60-8a4c-5b549f79825c/404-MVP-Desktop/

Awaiting final copy to accompany "404", using default. No search yet either

[2019-04-04 14:48] #1643 closed

[2019-04-04 15:03] chasechenevert commented on #1202
## Visual design: Topic Landing
- Without service collection [please see the sub-topic page](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/ba8a7770-c654-4128-a42a-b4f7b5e8f64d/Sub-topic-Landing-MVP-Desktop-1/) for how this is styled
- With service collection

### Dev specs
- [Desktop](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/6808c014-d

[2019-04-04 15:03] #1202 closed

[2019-04-04 15:10] LauraTrujillo commented on #1134
@jeffcopy is this done or should we move it to Sprint 28?

[2019-04-04 15:13] chasechenevert commented on #868
See this issue #1202 to see how service collections are styled and displayed on topic and sub-topic pages

[2019-04-04 15:13] #868 closed

[2019-04-04 15:18] chasechenevert commented on #851
## Visual design: Service pages

<img width="1334" alt="Screen Shot 2019-04-04 at 10 14 51 AM" src="https://user-images.githubusercontent.com/7027270/55567063-94b45080-56c2-11e9-9b2d-0cfdda54a0ba.png">

### Dev specs
- [Desktop](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/ce9e7492-b75b-472c-9dab-98d7bd1843ba/Service-MVP-Web/)
- [Tablet](https://xd.adobe.com/spec/3693

[2019-04-04 15:18] #851 closed

[2019-04-04 15:19] chasechenevert commented on #174
See issue: #1100

[2019-04-04 15:19] #174 closed

[2019-04-04 15:22] JeffCopy commented on #1134
It’s going to carry over. I had questions about Desi’s suggested edits, better done as a conversation than as in google doc comments and need to make time to follow up with her on that.

From: LauraTrujillo <notifications@github.com>
Reply-To: cityofaustin/techstack <reply@reply.github.com>
Date: Thursday, April 4, 2019 at 10:10 AM
To: cityofaustin/techstack <techstack@noreply.github.com>
Cc: "Kni

[2019-04-04 15:51] JeffCopy commented on #798
Ready for review.
Given brevity, maybe just one reviewer @LauraTrujillo ?
https://docs.google.com/document/d/1O3X-9bbutgB6cGgPSGytYCuoRmWQA0KJaZbsyhIZ5vM/edit

[2019-04-04 15:52] LauraTrujillo commented on #1134
Great! I'll move it to 28.

[2019-04-04 16:06] LauraTrujillo commented on #798
looks great!

[2019-04-04 16:06] #798 closed

[2019-04-04 16:07] chasechenevert commented on #1097
## Homepage MVP
- Not a real redesign, simply restyling existing data
- We will do a much bigger redesign of the homepage once we know what users want and need, and we have more information across the site

### Dev spec:
- [Desktop](https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/9489fed6-9eac-42a2-8516-af855c6e9042/Homepage-MVP-Desktop/)
- [Mobile](https://xd.adobe.com/

[2019-04-04 16:07] #1097 closed

[2019-04-04 16:08] pibemillo commented on #1451
This has not been merged into alpha (production) just yet. Most current implementation can be found here: https://janis-staging.herokuapp.com/ @chasechenevert

[2019-04-04 16:24] #1565 closed

[2019-04-04 16:24] #1159 closed

[2019-04-04 16:30] #1530 closed

[2019-04-04 16:30] #1437 closed

[2019-04-04 16:32] #1534 closed

[2019-04-04 16:32] #1403 closed

[2019-04-04 16:33] #1398 closed

[2019-04-04 16:33] #646 closed

[2019-04-04 16:33] #1407 closed

[2019-04-04 16:33] #1406 closed

[2019-04-04 16:33] #1649 closed

[2019-04-04 16:34] srigdon commented on #1527
@annieszot, I finished the section on publicizing. Thanks for creating this document!

[2019-04-04 16:35] Niicck commented on #1086
Tori's response on Slack:
To better understand this, I think we need to ask OPO what the average time frame for reporting is. Stand by.
I suspect that your implementation will work fine, but i'm assuming that the time frame for reporting is relatively short, ie, current year is a good default. But let's see what they say as one of my usability participants claimed that folks he knew waited a long

[2019-04-04 16:36] annieszot commented on #1527
@srigdon Woohoo! Thanks so much for your contributions. Closing!

[2019-04-04 16:36] #1527 closed

[2019-04-04 16:37] LauraTrujillo commented on #1525
Looks good!

[2019-04-04 16:37] #1525 closed

[2019-04-04 16:37] #1416 closed

[2019-04-04 16:38] chasechenevert commented on #1537
See #1203 for the larger sub-navigational elements that will apply to this as we merge OPO into Alpha. We can discuss this during design/dev sync or sooner--just let us know.

Differences between OPO banner and Janis 2 sub-nav:
- Title case
- Light-blue background

CC: @toribr

[2019-04-04 16:44] #1028 closed

[2019-04-04 16:44] #867 closed

[2019-04-04 16:44] #1227 closed

[2019-04-04 16:48] annieszot commented on #1175
@LauraTrujillo I'll assign myself, and take steps forward after we discuss catch-all pages at our inaugural content pin-up on Tuesday :)

[2019-04-04 16:50] LauraTrujillo commented on #1560
@pibemillo content lives here: https://docs.google.com/document/d/1lqvXYh_Cfa1UtJtVShVBm2Ozl6eWbYfdqJ75VMQYu7M/edit
Holler at @JeffCopy or myself with any questions. Thanks!

[2019-04-04 16:50] desigonz commented on #1504
@sergiogcx This looks great, closing it.

[2019-04-04 16:50] #1504 closed

[2019-04-04 16:53] annieszot commented on #1613
@LauraTrujillo Since I drafted the HIV planning council content, I'll assign myself to this content

[2019-04-04 16:56] toribr commented on #1439
This will be tracked in #1369

[2019-04-04 16:56] #1439 closed

[2019-04-04 17:44] desigonz opened #1661 "Change OPO thanks form title to H1"
Take a look at the screenshot below—the titles for the OPO complaint and thanks pages (in English & Spanish) are styling differently. The thank you form should be h1, not h2.

![image.png](https://images.zenhubusercontent.com/5a31a50b8a75884b908b0ea6/63af032c-81ae-4dec-b8db-fbbd3f1859b6)

[2019-04-04 19:36] LauraTrujillo commented on #1117
catch all page doc: https://docs.google.com/document/d/1-k60yWKNyvv9C9a-ZyZv0g2G5gl9uFi6zXAMqGkDkfw/edit?ts=5ca3e114#

[2019-04-04 19:37] LauraTrujillo commented on #1115
catch all doc: https://docs.google.com/document/d/1-k60yWKNyvv9C9a-ZyZv0g2G5gl9uFi6zXAMqGkDkfw/edit?ts=5ca3e114#

[2019-04-04 19:42] pibemillo opened #1662 "Replace external link SVG with material icon from font-set"
Use in ExternalLink component, replace SVG
<i class="material-icons">launch</i>

[2019-04-04 19:52] desigonz opened #1663 "Make a pre-launch checklist"

[2019-04-04 20:14] desigonz opened #1664 "Develop user stories and QA workflow"

[2019-04-04 20:20] #753 closed

[2019-04-04 20:21] desigonz opened #1665 "Release planning"

[2019-04-05 15:05] LauraTrujillo commented on #1619
Bring Andrew into this project

[2019-04-05 15:32] LauraTrujillo opened #1666 "Draft Austin Energy Final Report"
Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#heading=h.6lcq7jko6fwt

- [x] Executive summary (Taylor)
- [ ] Introduction
- [x] Background (project charter, the project came out of white paper, etc...)
- [x] Methodology
-- Governance and tech (internal stakeholders) Andrew and Michael
-- Content strategy (Laura and Andrew)
- [x] Rationale (Laura and Mi

[2019-04-05 15:46] LauraTrujillo opened #1667 "Review Austin Energy final report for unified voice and tone"
**Due on April 29th**

Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#

[2019-04-05 15:47] LauraTrujillo opened #1668 "Draft Methodology section of Austin Energy final report"
Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#

[2019-04-05 15:49] LauraTrujillo opened #1669 "Draft Rationale section of Austin Energy final report"
Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#

[2019-04-05 15:50] LauraTrujillo opened #1670 "Draft customer insights section for Austin Energy final report"
Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#

[2019-04-05 15:51] LauraTrujillo opened #1671 "Draft recommendations for Austin Energy final report"
Draft: https://docs.google.com/document/d/1kix-aX0I9fqM_f05-X3Wk1SREq1lFYzbERB3cTmQFc0/edit#

[2019-04-05 15:52] LauraTrujillo commented on #1666
@stephaniegates tagging you in this issue just so you know what's going on

[2019-04-05 21:45] desigonz commented on #1420
Meet with Taylor and Sarah Rodriguez on 4/4. Notes from meeting in the doc: https://docs.google.com/document/d/1ffA7cWBJNM_nSix3RTju6cLWuFZ4l61NTtak8VoM4aY/edit?usp=sharing

Next step is to draft as a process page.

[2019-04-05 21:51] desigonz opened #1672 "Draft outline for homelessness topic collection"

[2019-04-05 21:52] desigonz commented on #1414
Hey @srigdon, are you done reviewing this one?

[2019-04-08 10:27] sergiogcx opened #1673 "Police Oversight: Automate PR server deployment"
Currently the OPO pr viewer does not build automatically. That needs to be implemented.

https://github.com/cityofaustin/opo-pr-viewer

[2019-04-08 10:53] sergiogcx commented on #1673
Done! Merged to master:
https://github.com/cityofaustin/opo-pr-viewer/pull/1

[2019-04-08 11:01] sergiogcx commented on #1638
This is ready for review, you will notice that the PRs routes work in Spanish and you can reload the route in the browser without a hiccup:

English PR Builds:
https://opo.austintexas.io/police-complain-pr-97/what-happened
https://opo.austintexas.io/police-thank-pr-31/what-happened

Spanish PR Builds:
https://opo.austintexas.io/policia-queja-pr-97/que-sucedio
https://opo.austintexas.io/policia-agr

[2019-04-08 11:02] sergiogcx commented on #1638
Please Review:

Complaint Form:
https://github.com/cityofaustin/officer-complaint-form/pull/97

Thank you form:
https://github.com/cityofaustin/officer-thank-form/pull/31

[2019-04-08 13:32] #1563 closed

[2019-04-08 14:15] annieszot commented on #1116
Per meeting with Desi on 4/5, will develop content that links out to AMM.

[2019-04-08 15:01] srigdon commented on #1414
@desigonz Finished! See edits in the document.

[2019-04-08 17:18] pibemillo commented on #1529
@chasechenevert is there a mobile view of the full site menu that's ready-ish? No rush, just lmk when it's merged into XD

[2019-04-08 18:04] desigonz commented on #1414
Passing to @LauraTrujillo for 2nd review.

[2019-04-08 18:05] desigonz commented on #1414
@LauraTrujillo you've seen an early version of this draft (before incorporating Central Texas Diabetes Coalition) so should be a quick pass!

[2019-04-08 18:06] #1392 closed

[2019-04-08 19:38] toribr opened #1674 "User can unwittingly delete information via multiple "edit" buttons on Review, Officer and Witness sections"
video here: https://austininnovation.slack.com/archives/C8T4YD23T/p1554748563005400

The two 'edit' buttons on Review makes for a lousy UX experience, and also can remove any data if the user selects "no>update" from the top edit button.

1) there shouldn't be 2 "edit" buttons for the same section

2) if a user selects the top edit button, then selects "no> update" then any data present about an o

[2019-04-08 20:00] oliver2g commented on #1000
closing this issue since testing is complete and new issues have been created

[2019-04-08 20:00] #1000 closed

[2019-04-08 20:25] sergiogcx opened #1675 "Police Oversight: Notes for Monorepo"
Notes:

- I have been thinking about the comments I heard in DevSync. It wouldn't hurt to have a production replica branch. It would be treated like staging, but shares the code of prod.

- We will have to address deployments in the monorepo, the pipeline script will have to identify the environment (master, prod-replica, prod, or pr), then determine if all forms need to be deployed, or just one w

[2019-04-08 20:52] oliver2g commented on #1567
@easherma are you and @sergiogcx still working on this for Sprint 28?

[2019-04-08 20:57] oliver2g commented on #923
removed #1369 from this epic since it is an ongoing task for OPO user testing

[2019-04-08 20:57] #923 closed

[2019-04-08 21:09] oliver2g commented on #426
hey @srigdon where are we on this issue? do i need to adjust the milestone?

[2019-04-08 21:18] oliver2g commented on #1086
@Niicck is this fix in staging? can i verify it in QA?

[2019-04-08 21:22] oliver2g commented on #1306
@sergiogcx how do i test this, so that i can close the issue?

[2019-04-08 21:51] #1421 closed

[2019-04-08 21:51] #1404 closed

[2019-04-08 21:51] #1450 closed

[2019-04-08 21:52] #1409 closed

[2019-04-08 21:53] #1541 closed

[2019-04-09 00:53] srigdon commented on #426
@oliver2g In progress, just updated it to Sprint 28.

[2019-04-09 16:10] LauraTrujillo commented on #1322
@JeffCopy reviewed! Suggested some headings to increase "scanability." I suggest having Sara P. review it again just to make sure all is well w/ OPO content. Great job!

[2019-04-09 16:14] JeffCopy commented on #1322
Thanks much, and I will send on for Sara P to give it a read.

From: LauraTrujillo <notifications@github.com>
Reply-To: cityofaustin/techstack <reply@reply.github.com>
Date: Tuesday, April 9, 2019 at 11:10 AM
To: cityofaustin/techstack <techstack@noreply.github.com>
Cc: "Knight, Jeff" <Jeff.Knight@austintexas.gov>, Mention <mention@noreply.github.com>
Subject: Re: [cityofaustin/techstack] Medium p

[2019-04-09 16:27] toribr opened #1676 "OPO form: Date reporting and handling of date and minutes acting funny: STAGING"
Date is reporting incorrectly on review page; additionally user can enter more than two digits on minutes field; may also be similar problem with date field.

STAGING only, but needs to be fixed for reliable user testing.

[2019-04-09 16:39] oliver2g commented on #1591
@easherma is this an issue of it being ugly or an issue of the user getting blocked from continuing the process? If it's the latter, then I think this bug should be a P3.

[2019-04-09 16:56] desigonz commented on #1659
Submitted [PR 98](https://github.com/cityofaustin/officer-complaint-form/pull/98) to fix these

[2019-04-09 17:08] easherma commented on #1674
related to https://github.com/cityofaustin/techstack/issues/1094

[2019-04-09 17:11] easherma commented on #1591
Sorry I forgot about this one! I'd actually put it in even higher, it's pretty annoying on mobile.

[2019-04-09 17:25] srigdon opened #1677 "Research citing facts in content"
Conclusion: we probably shouldn't do it.

Research doc: https://docs.google.com/document/d/1XAEQbji3wdChzZREXXr18INWxjGOjmC_aARkBv6nqOI/edit#

[2019-04-09 17:25] #1677 closed

[2019-04-09 17:34] oliver2g commented on #1655
@desigonz will you have time to QA this issue for this sprint?

[2019-04-09 17:41] toribr opened #1678 "Draft UX for complicated content (process)"
- [x] Draft model
- [x] Refine model
- [x] Comp real content in model

[2019-04-09 18:28] srigdon opened #1679 "Write outline of mobile vending unit permitting process"
Modeling this outline on @toribr's concept for the permitting process, a re-imagining of the process page content type. See #1678.

Draft doc: https://docs.google.com/document/d/1ybk4SMFA34R4oyVZvYLq1QoUgrgkj1RvV4r5PGz6cj4/edit#heading=h.hhztokdyitf7

[2019-04-09 19:30] desigonz commented on #1655
Looks good! Closing this issue.

[2019-04-09 19:30] #1655 closed

[2019-04-09 19:47] #1461 closed

[2019-04-09 19:51] #1659 closed

[2019-04-09 19:53] sergiogcx commented on #1656
Janis now has a Travis build that can be triggered at any time.

[2019-04-09 20:00] Niicck opened #1680 "Strange 404 Page on staging form"
**Describe the bug**
404 page for staging forms looks weird.

https://forms.austintexas.io/officer-thank/review-and-submit

**To Reproduce**

1. Go to https://forms.austintexas.io/officer-thank/review-and-submit
2. Behold

**Current behavior**

We're taken to a strange purgatory of broken links.

**Expected behavior**

Reroute to an appropriate 404 page that isn't isolated from the rest of the sit

[2019-04-09 20:01] Niicck commented on #1680
In prod:
<img width="741" alt="Screen Shot 2019-04-09 at 3 01 05 PM" src="https://user-images.githubusercontent.com/14187277/55831274-56f76380-5ad8-11e9-9b8e-6ee8d6c6fd17.png">

[2019-04-09 20:12] Niicck commented on #1605
This is actually pretty serious if you can't reach the modal on mobile.

[2019-04-09 20:33] Niicck opened #1681 "Consolidate forms into a monorepo"

[2019-04-09 21:15] Niicck commented on #1676
Deployed into staging, should be good to test.

[2019-04-09 21:16] Niicck commented on #1086
Hi Gerald, it's now merged into staging and ready to test.

Test Criteria (that I can think of):
- [ ] You should not be able to enter any future date
- [ ] You should not be able to enter any invalid date (eg: February 31st, 2017)

[2019-04-10 15:27] pibemillo commented on #1560
404 content has been updated.

PR is ready for review/QA here: https://janis-staging-pr-351.herokuapp.com/404
@LauraTrujillo @chasechenevert

[2019-04-10 16:49] oliver2g commented on #1605
@Niicck pls estimate this bug

[2019-04-10 17:07] #1642 closed

[2019-04-10 17:09] oliver2g commented on #870
@chasechenevert and @pibemillo this is an old issue that sounds like it's being worked on now. Is it still current (i.e. are there newer issues that make this redundant)? If these items are in progress, can you estimate this issue and move it to the appropriate pipeline? For now, I'm putting it in the Short term backlog.

[2019-04-10 17:14] toribr commented on #1529
Re closing: Can we use both click-away and an X in the right upper corner?
![megaMenuClose](https://user-images.githubusercontent.com/3790067/55899327-2243e480-5b8a-11e9-98fb-feaccccefb02.png)

[2019-04-10 17:16] oliver2g commented on #1237
@briaguya this issue has been in the medium/long backlog for a while, but it sounds like yall might be addressing it now. I'm moving it to the short term backlog for now, but feel free to move it elsewhere as appropriate. If yall are knocking it out now, please add an estimate. Thanks!

[2019-04-10 17:21] toribr commented on #1676
Looks good.

[2019-04-10 17:21] oliver2g commented on #580
@briaguya this issue has been languishing in the backlog for a while. it appears small, so I'd like to get your thoughts on including it this sprint or next. Moving to the short term backlog for now, but let me know if it fits in the scope of yall's current work or not.

[2019-04-10 17:31] oliver2g commented on #1559
@Niicck is this an existing add-on app or something we have to build?

[2019-04-10 17:36] oliver2g commented on #859
@sergio pls estimate this

[2019-04-10 17:37] oliver2g commented on #1605
@Niicck pls estimate this

[2019-04-10 17:39] oliver2g commented on #1343
@chasechenevert can you verify this looks right?
@easherma can you put an estimate on this issue?

[2019-04-10 17:41] oliver2g commented on #1676
@Niicck can you add an estimate and then close this issue. Tori gave it the go ahead. Thanks!

[2019-04-10 17:42] chasechenevert commented on #1563
Adding this in here to round out deliverables.

## Visual design: Short-term global navigation (MVP)
- We'll eventually have to reevaluate this once Alpha is populated with more content,.

### Dev specs:
- Desktop: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/617c2999-53bd-43b6-baa8-28938737f83c/Navigation-Global-desktop/
- Mobile: https://xd.adobe.com/spec/3693e3d0-1

[2019-04-10 17:44] chasechenevert commented on #1529
Adding this in here to round out deliverables.

## Visual design: Short-term global navigation (MVP)
- We'll eventually have to reevaluate this once Alpha is populated with more content,.

### Dev specs:
- Desktop: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/617c2999-53bd-43b6-baa8-28938737f83c/Navigation-Global-desktop/
- Mobile: https://xd.adobe.com/spec/3693e3d0-1

[2019-04-10 17:44] oliver2g commented on #316
@kriskristin just making sure you're aware of this issue. It's an old one but probably relevant to the work you're doing

[2019-04-10 17:45] oliver2g commented on #359
@kriskristin FYI

[2019-04-10 17:49] oliver2g commented on #1377
adding @kriskristin

[2019-04-10 17:51] toribr commented on #187
Sunsetting.

[2019-04-10 17:51] #187 closed

[2019-04-10 18:17] sergiogcx commented on #1680
Not really a bug, since it does not pertain to the forms. Also, master is our dev environment.

[2019-04-10 18:20] sergiogcx commented on #1680
Created a 404 page anyway: https://forms.austintexas.io/404.html

Perhaps the real discussion be: what should the expected behavior be for a development environment?

Cheers,

[2019-04-10 18:22] sergiogcx commented on #1680
It seems to work: https://forms.austintexas.io/have-you-checked-me?

[2019-04-10 18:26] sergiogcx commented on #1634
Didn't implement the review widget; I do not know what is causing the problems with eslint. Also I spoke with @Niicck today and the component is being re-worked to avoid using environment variables. Not sure how this is going to affect the review widget.

[2019-04-10 18:29] sergiogcx opened #1682 "Redirect Digital Services Page"
All pages in the digital services style guide need to be redirected:

From:
https://github.com/cityofaustin/digital-services-style-guide/

To:
https://austin-gov.gitbook.io/digital-style-guide/)

[2019-04-10 18:31] sergiogcx commented on #1647
We used to have secure environment variables (https://github.com/cityofaustin/joplin/blob/3f023106603a682f13d3a9676bc57a2fac603e0e/.travis.yml#L36) I shortly found them to be a pain to work with and retracted to using environment variables in settings instead so they can be changed without having to change code.

[2019-04-10 18:32] sergiogcx commented on #1647
Also, @Niicck is re-writing the deployment pipeline. Closing this issue.

[2019-04-10 18:32] #1647 closed

[2019-04-10 19:00] pibemillo commented on #870
This issue is still relevant, although we may want to do an inventory of current/existing components and what will be needed for the Janis 2.0 release. I can connect with @chasechenevert to better identify this.

A good chunk of these items/components are available, but are not in storybook yet.

http://janis-staging.herokuapp.com/storybook/
alpha.austin.gov/storybook/

I'll need to cleanup and re

[2019-04-10 19:09] Niicck commented on #1559
The slack API exists already, but we'd have to build a bot/integration that uses it.

[2019-04-10 19:10] #1676 closed

[2019-04-10 19:16] chasechenevert commented on #1642
## Visual design: OPO information page links on Department pages

### Dev specs
- Desktop: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/dc01779e-7f91-4cc9-a216-9d6714ec8a40/Navigation-Page-links-MVP/

### Context
- Desktop: https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/9055635c-de21-497d-b8fb-631c3e39c802/Department-MVP-Desktop/
- Mobile:

[2019-04-10 19:17] Niicck commented on #1680
The production form is still acting weird. https://forms.austin.gov/officer-thank/review-and-submit

That is the question I'm asking. Should this issue be transformed into a feature request for a formal 404 page for our form microsite?

[2019-04-10 19:24] sergiogcx commented on #1680
I think so, my understanding is that all non-form links need to be redirected to the microsite.

The reason the redirect does not work is because of the relative paths of the javascript files. I can update that shortly.

[2019-04-10 19:31] sergiogcx commented on #1680
The redirect has been fixed. Once we determine the course of action, we can then create a ticket which I would be happy to take.

[2019-04-10 19:34] #1680 closed

[2019-04-10 19:51] sergiogcx commented on #1634
Closing #1632 should be the frame of reference for these issues.

[2019-04-10 19:51] #1634 closed

[2019-04-10 19:53] sergiogcx commented on #1088
This is being done by @Niicck and @easherma

[2019-04-10 19:53] #1088 closed

[2019-04-10 19:59] sergiogcx commented on #905
We will need to plan how to implement tests to begin with. Interrupted by the OPO form, closing for now until we have a new tests plan.

[2019-04-10 19:59] #905 closed

[2019-04-10 21:03] sergiogcx commented on #1682
Done in this commit:
https://github.com/cityofaustin/digital-services-style-guide/commit/5682414c9b8fd7f13e61e8dd3cbc78bab63a5940

[2019-04-10 21:11] LauraTrujillo commented on #1414
good to go, @desigonz!
Adding a note about email aliases to our pinup board for next week!

[2019-04-10 21:12] sergiogcx commented on #712
I can't think of amore indicated person to write about the CMS than @briaguya. He would know the lessons learned and the entire context behind Django/Wagtail.

I am also happy to write it if needed be :)

[2019-04-10 22:58] easherma commented on #1644
https://github.com/cityofaustin/us-forms-system/tree/gecode-results addresses this, but is introducing some even buggier behavior

[2019-04-10 23:36] easherma commented on #1589
@sergiogcx can you size this when you have a moment? also do you need a dev to review or should we move it to QA?

[2019-04-10 23:37] easherma commented on #1674
@oliver2g we should talk about this, I think P3 may be a bit too high

[2019-04-10 23:42] #1583 closed

[2019-04-10 23:43] easherma commented on #1661
Lets wait to do this as we're in the middle of consolidating form repos.

[2019-04-10 23:45] easherma commented on #1209
This seems redundant to everything else we have going, someone else feel free to re-open if you disagree

[2019-04-10 23:45] #1209 closed

[2019-04-10 23:48] easherma commented on #1674
Also related to https://github.com/cityofaustin/techstack/issues/1275

[2019-04-11 16:08] #1414 closed

[2019-04-11 16:08] desigonz commented on #1414
Great, closing this one.

[2019-04-11 17:28] pibemillo commented on #1399
This is a duplicate of https://github.com/cityofaustin/techstack/issues/1636.

There is a PR out for this https://github.com/cityofaustin/janis/pull/354

Preview link: https://janis-staging-pr-354.herokuapp.com/police-oversight

[2019-04-11 17:31] pibemillo commented on #1411
Dupe: https://github.com/cityofaustin/techstack/issues/1529

Currently in progress

[2019-04-11 17:32] pibemillo commented on #1412
Dupe: https://github.com/cityofaustin/techstack/issues/1529

Currently in progress. OPO to full site menu transition

[2019-04-11 17:37] pibemillo opened #1683 "Create/Storybook Contextual Navigation/Breadcrumb"
Author new component for Service page contextual nav, above page header/title

https://xd.adobe.com/spec/3693e3d0-1e3d-4c07-6555-b09fccd75568-40a2/screen/ddc6cb4a-1e5b-4f53-b7f7-ac8626f720ce/Navigation-Elements-/

Will be a placeholder till data is made available from Joplin (https://github.com/cityofaustin/techstack/issues/1641)

[2019-04-11 19:10] pibemillo commented on #1683
Preview link to review: https://janis-staging-pr-355.herokuapp.com/storybook/?selectedKind=ContextualNav&selectedStory=ContextualNav&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel